<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li><img class="img-thumbnail" src="{{ asset('img/logo_5.png') }}" alt="Ultra Ingeniería"/></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <!-- <li><h4 class="navbar-text">{{ app.request.requestUri }}</h4></li> -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Asignación de equipo"><i class="glyphicon glyphicon-hdd"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('AE') }}" title="Asignación">Asignación de equipos</a></li>
                    <li><a href="{{ path('AE_equipos') }}" title="Equipos">Equipos</a></li>
                    <li><a href="{{ path('AE_tipos') }}" title="Equipos">Tipos de equipos</a></li>
                    <li><a href="{{ path('AE_marcas') }}" title="Marcas">Marcas</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><span class="navbar-text">{{ app.user.username }} - {% for role in app.user.roles %} {{ role.interface }}{% endfor %}&nbsp;</span>
            </li>
            <li>
                <a href="#" title="Usuario"><span class="glyphicon glyphicon-user"></span></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Proyectos"><i class="glyphicon fa fa-users"></i></a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li><a href="{{ path('cdocpartidas') }}" title="Partidas 3681">Partidas 3681</a></li>
                    <li><a href="{{ path('cdocorden_trabajo') }}" title="Órdenes del 3681">Órdenes de trabajo 3681</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('partidas3697') }}" title="Partidas 3697">Partidas 3697</a></li>
                    <li><a href="{{ path('orden_trabajo3697') }}" title="Órdenes del 3697">Órdenes de trabajo 3697</a></li>
                </ul>
            </li>
            <li><a href="{{ path('ultra_controldocumento_default_index') }}" title="Inicio"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="{{ path('logout_area') }}"><i class="fa fa-power-off fa-lg" title="Salir"></i></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>