{% block content -%}
<title>{% block title %}Agenda{% endblock %}</title>
{% block stylesheets %}
    <link href="{{ asset('styles/bootstrap.css') }}" rel="stylesheet" />
    <style type="text/css">
        h1{
            text-align:center;
            width:100%;
            font-size:10px;
        }
        h2{
            text-align:left;
            width:100%;
            font-size:8px;
        }
        p{
            font-size:8px;
            color: #ffffff;
            background:#bb0010 ;
        }

        hr{
            border: 1.5px solid black;
            margin-top:0.5px;
            margin-bottom: 0.5px;
            width:700px;
        }

        .font{
            font-size:8px;
        }

        table{
            float: left;
            height: 80px;
            width: 705px;
            overflow:auto;
            font-size: 8px;
            border-left: 1px #000000;
            border-right: 1px #000000;
        }
        td{

            font-weight:normal;
            padding-top: 0px;
            font-size:8px;
        }

    </style>
{% endblock %}
<table>
    <tr>
        <td>
            <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_5.png') }}" width="100" height="40">
        </td>
        <td colspan="4">

        </td>
    </tr>
</table>
<br/><br/><br/>
        <h1>&nbsp;DOCUMENTOS VENCIDOS Y PRÓXIMOS A VENCER. (Antes del {{ lim |date('d-m-Y') }}.)</h1>
    <table  border="1">
        <thead>
        <tr>
            <th>Clave</th>
            <th>Rev.</th>
            <th>Título</th>
            <th>Aprobado</th>
            <th>Vigencia</th>
            <th>Alerta</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in documentos %}
            <tr>
                <td>{{ entity.clave }}</td>
                <td>{{ entity.revision }}</td>
                <td>{{ entity.titulo }}</td>
                <td>{% if entity.aprobado %}{{ entity.aprobado|date('d-m-Y') }}{% endif %}</td>
                <td>{% if (entity.vigencia|date('Y')> "now"|date('Y') and (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                    or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')> "now"|date('m') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                    or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')== "now"|date('m') and entity.vigencia|date('d')> "now"|date('d') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                    %}
                        {{ entity.vigencia|date('d-m-Y') }}
                    {% else %}
                        <p>{{ entity.vigencia|date('d-m-Y') }}</p>
                    {% endif %}
                </td>
                <td>{% if (entity.vigencia|date('Y')> "now"|date('Y') and (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                    or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')> "now"|date('m') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                    or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')== "now"|date('m') and entity.vigencia|date('d')> "now"|date('d') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                    %}
                        PRÓXIMO
                    {% else %}
                        <p>EXPIRADO</p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}