{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                Personal con comprobantes faltantes
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            {{ form(cform) }}
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-8">
            <br/>
            <p class="text-muted"><span class="glyphicon glyphicon-hand-left"></span>
                En esta sección se realiza la consulta de las personas con comprobantes faltantes de algún curso:<br/><br/>
                1.- Selecciona el curso.<br/>
                2.- Presionar el botón consultar.
            </p>
        </div>
    </div>
{% endblock %}