{% block content -%}
    <title>{% block title %}Personal con certificado{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('styles/bootstrap.css') }}" rel="stylesheet" />
        <style type="text/css">
            h1{
                text-align:center;
                width:100%;
                font-size:12px;
            }
            h2{
                text-align:left;
                width:100%;
                font-size:12px;
            }
            p{
                font-size:10px;
            }

            hr{
                border: 1.5px solid black;
                margin-top:0.5px;
                margin-bottom: 0.5px;
                width:700px;
            }

            .font{
                font-size:10px;
            }

            table{
                float: left;
                height: 80px;
                width: 705px;
                overflow:auto;
                font-size: 9px;
                border-left: 1px #000000;
                border-right: 1px #000000;
            }
            td{

                font-weight:normal;
                padding-top: 0px;
                font-size:9px;
            }

        </style>
    {% endblock %}

    <table>
        <tr>
            <td>
                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_5.png') }}" width="100" height="40">
            </td>
            <td colspan="4">

            </td>
        </tr>
    </table>
    <br/><br/><br/>
    <table border="1">
        <tr>
            <td colspan="7"><b>Personal con certificado de calificación.</b></td>
        </tr>
        <tr>
            <th>No. Control</th>
            <th>Ap. Paterno</th>
            <th>Ap. Materno</th>
            <th>Nombre</th>
            <th>Fecha alta</th>
            <th>Fecha baja</th>
            <th>Puesto (Certificado)</th>
        </tr>
        {% set cont=1 %}
        {% for cv in entities %}
            <tr>
                <td>{{ cv.numeroControl }}</td>
                <td>{{ cv.apellidoPaterno }}</td>
                <td>{{ cv.apellidoMaterno }}</td>
                <td>{{ cv.nombre }}</td>
                <td>{{ cv.fa|date('Y-m-d') }}</td>
                <td>{{ cv.fb|date('Y-m-d') }}</td>
                <td>{{ cv.clave }} {{ cv.tit }}-{{ cv.rev }}</td>
            </tr>
            {% set cont=cont+1 %}
        {% endfor %}
    </table>
{% endblock %}
