{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                {% if pdf==1 %}Personal CON certificado de calificación
                {% else %}Personal CON Calificación{% endif %}
            </div>
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('con_certificadopdf') }}" title="Exportar completo PDF">
                    <span class="glyphicon glyphicon-file"></span> Exportar completo a PDF
                </a>
            </ul>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                <tr>
                    <th>No. Control</th>
                    <th>Ap. Paterno</th>
                    <th>Ap. Materno</th>
                    <th>Nombre</th>
                    <th>Fecha alta</th>
                    <th>Fecha baja</th>
                    <th>Puesto (Certificado)</th>
                    <th>Evaluaciones</th>
                </tr>
                </thead>
                <tbody>
                {% set cont=1 %}
                {% for cv in entities %}
                    <tr>
                        <td>{{ cv.numeroControl }}</td>
                        <td>{{ cv.apellidoPaterno }}</td>
                        <td>{{ cv.apellidoMaterno }}</td>
                        <td>{{ cv.nombre }}</td>
                        <td>{{ cv.fa|date('Y-m-d') }}</td>
                        <td>{{ cv.fb|date('Y-m-d') }}</td>
                        <td>
                           <a href="{{ path('servir_certificado_puesto', { 'id': cv.idpdf }) }}" title="Ver">
                               <i class="fa fa-file-pdf-o"></i>
                           </a>
                           {{ cv.clave }} {{ cv.tit }}-{{ cv.rev }}
                        </td>
                        <td>
                            <a href="{{ path('curr_historial',{'id':cv.cid}) }}" title="Evaluaciones" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </a>
                        </td>
                    </tr>
                    {% set cont=cont+1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}