{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                Resultado de la Consulta de vigencia de cursos
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                <tr>
                    <th>Nombre del curso</th>
                    <th>No. Control</th>
                    <th>Ap. Paterno</th>
                    <th>Ap. Materno</th>
                    <th>Nombre</th>
                    <th>Fecha vigencia</th>
                </tr>
                </thead>
                <tbody>
                {% set cont=1 %}
                {% for cv in personas %}
                    <tr>
                        <td>{{ cv.des }}</td>
                        <td>{{ cv.nco }}</td>
                        <td>{{ cv.apa }}</td>
                        <td>{{ cv.ama }}</td>
                        <td>{{ cv.nom }}</td>
                        <td>{{ cv.fv|date('Y-m-d') }}</td>
                    </tr>
                    {% set cont=cont+1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('cdoc_vigencias') }}" title="Regresar">
                        <span class="glyphicon glyphicon-chevron-left"></span> Realizar otra consulta
                    </a>
                </li>

            </ul>
        </div>

    </div>
{% endblock %}