{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                Personal con documentación completa
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                <tr>
                    <th>No. Control</th>
                    <th>Nombre</th>
                    <th>Ap. Paterno</th>
                    <th>Ap. Materno</th>
                    <th>Evaluación</th>
                </tr>
                </thead>
                <tbody>
                {% set cont=1 %}
                {% for cv in personas %}
                    <tr>
                        <td>{{ cv[1] }}</td>
                        <td>{{ cv[2] }}</td>
                        <td>{{ cv[3] }}</td>
                        <td>{{ cv[4] }}</td>
                        <td>
                            <a href="{{ path('curr_evalua',{'id':cv[0],'p':cv[5]} ) }}" title="Evaluación" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </a>
                        </td>
                    </tr>
                    {% set cont=cont+1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div><br/>
{% endblock %}