{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                Resultado de la Consulta de cursos faltantes
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('faltacursopdf', { 'curso': curso }) }}" title="Exportar completo a PDF">
                    <span class="glyphicon glyphicon-file"></span> Cursos faltantes en PDF
                </a>
            </ul>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                <tr>
                    <th>Curso</th>
                    <th>No. Control</th>
                    <th>Ap. Paterno</th>
                    <th>Ap. Materno</th>
                    <th>Nombre</th>
                </tr>
                </thead>
                <tbody>
                {% set cont=1 %}
                {% for cv in personas %}
                    {% for c in cv %}
                        {% if c.nc!=0 %}
                            <tr>
                                <td>{% for d in dato %}{{ d.nombre }}{% endfor %}</td>
                                <td>{% if c.nc==0 %}
                                        -
                                    {% else %}
                                        {{ c.nc }}
                                    {% endif %}
                                </td>
                                <td>{{ c.apa }}</td>
                                <td>{{ c.ama }}</td>
                                <td>{{ c.nom }}</td>
                            </tr>
                            {% set cont=cont+1 %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('cdoc_fcursos') }}" title="Regresar">
                        <span class="glyphicon glyphicon-chevron-left"></span> Realizar otra consulta
                    </a>
                </li>

            </ul>
        </div>

    </div>
{% endblock %}