{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                Personal y la vigencia de sus cursos referentes a procedimientos
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            {{ form(vform) }}
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-8">
            <br/>
            <p class="text-muted"><span class="glyphicon glyphicon-hand-left"></span>
                En esta sección se realiza la consulta de las personas con un curso determinado, referente a procedimientos, que vence antes de la fecha límite. Para buscar debes:<br/><br/>
                1.- Seleccionar el curso.<br/>
                2.- Seleccionar la fecha límite para buscar la vigencia del curso.<br/>
                3.- Presionar el botón consultar.
            </p>
        </div>
    </div>
{% endblock %}