{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <br/>

            <div class="alert alert-info"><i class="fa fa-exchange"></i>
                Tus solicitudes de préstamo son las siguientes
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                <tr>
                    <th>Fecha Solicitud</th>
                    <th>Estado</th>
                    <th>Especificaciones de la RAP/RAC</th>
                    <th>Retorno</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{% if entity.fechaSolicitud %}{{ entity.fechaSolicitud|date('Y-m-d') }}{% endif %}</td>
                        <td>{% if entity.estado==1 %}
                                <span class="label label-warning">En proceso</span>
                            {% elseif entity.estado==2 %}
                                <span class="label label-success">Autorizado</span>
                            {% elseif entity.estado==3 %}
                                <span class="label label-danger">No Autorizado</span>
                            {% elseif entity.estado==4 %}
                                <span class="label label-warning">Prestado</span>
                            {% elseif entity.estado==5 %}
                                <span class="label label-danger">Cancelado</span>
                            {% elseif entity.estado==6 %}
                                <span class="label label-info">Devuelto</span>
                            {% endif %}
                        </td>
                        <td>{{ entity.recomendacion}} - {{ entity.nuHojas }}-{{ entity.especificaciones }}</td>
                        <td>{% if entity.estado==2 %}
                                Pendiente
                            {% endif %}
                            {% if entity.estado==3 or entity.estado==5 %}
                                No aplica
                            {% endif %}
                            {% if entity.fechaRetornoReal and entity.estado==6 %}
                                <span class="label label-info">{{ entity.fechaRetornoReal|date('Y-m-d') }}</span>
                            {% endif %}
                            {% if entity.fechaRetorno|date('Y-m-d') and entity.estado==4 %}
                                {% if entity.fechaRetorno>= "now"|date('Y-m-d') %}
                                    <span class="label label-warning">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                                {% else %}
                                    <span class="label label-danger">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('presta_recom_show', { 'id': entity.id }) }}" title="Detalle"><span class="glyphicon glyphicon-eye-open"></span></a>
                            {% if entity.estado<3 %}
                                |
                                <a href="{{ path('presta_recom_update', { 'id': entity.id , 't':5  }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}