{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-warning"> <span class="glyphicon glyphicon-trash"></span>
            &nbsp;Baja de perfiles activos<bold><hr/>
                {% for perfil in entity %}
                    {{ perfil.apellidoPaterno }} {{ e.apellidoMaterno }} {{ e.nombre }} <br/>
                    en perfil: {{ e.clave }} Rev. {{ e.revision }}-{{ e.titulo }} <br/>
                    activo desde: {{ e.fa|date('d-m-Y')}}
                {% endfor %}
            </bold><br/>
        </div>
        <br/>
        <br/>

    </div>
</div>
{% endblock %}