{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('curricula') }}" title="Ver Expediente">Expediente</a></li>
                <li class="active"><a href="#" title="Nueva Expediente">Nuevo Expediente</a></li>
            </ul>
        </div>
    </div><br/>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6">

            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_row(form.numeroControl) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_row(form.curp) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.nombre) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.apellidoPaterno) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.apellidoMaterno) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.genero) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.estadoCivil) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.fechaNacimiento) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.nacionalidad) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.imss) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.cartilla) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.telefono) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.celular) }}
            </div>
        </div>
    </div><hr>
    <div class="row">
        <div class="form-group">
            <fieldset>
                <legend>Competencias Adicionales</legend>
                <div class="container">
                    <div class="row" id="collection-skills" data-prototype="{{ form_widget(form.competencias.vars.prototype)|e }}">
                        {% for comp in form.competencias %}
                            <div class="col-sm-6">
                                {{ form_row(comp.curso) }}
                                {{ form_row(comp.fechaRealizacion) }}
                                {{ form_row(comp.fecha_vigencia) }}
                                {{ form_row(comp.tipoAdquisicion) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row top-buffer">
                        <div class="col-sm-12">
                            <a href="#" id="add-skill" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <legend>Competencias Internas (Procedimientos)</legend>
                <div class="container">
                    <div class="row" id="cursos-internos" data-prototype="{{ form_widget(form.cursosInternos.vars.prototype)|e }}">
                        {% for ci in form.cursosInternos %}
                            <div class="col-sm-6">
                                {{ form_row(ci.cursoInterno) }}
                                {{ form_row(ci.fechaRealizacion) }}
                                {{ form_row(ci.fechaVigencia) }}
                                {{ form_row(ci.tipoAdquisicion) }}
                                {#{{ form_row(ci.pdfCertificado) }}#}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row top-buffer">
                        <div class="col-sm-12">
                            <a href="#" id="curso-interno" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <legend>Competencias Externas</legend>
                <div class="container">
                    <div class="row" id="cursos-externos" data-prototype="{{ form_widget(form.cursosExternos.vars.prototype)|e }}">
                        {% for ce in form.cursosExternos %}
                            <div class="col-sm-6">
                                {{ form_row(ce.cursoExterno) }}
                                {{ form_row(ce.fechaRealizacion) }}
                                {{ form_row(ce.fechaVigencia) }}
                                {{ form_row(ce.tipoAdquisicion) }}
                                {#{{ form_row(ce.pdfCertificado) }}#}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row top-buffer">
                        <div class="col-sm-12">
                            <a href="#" id="curso-externo" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        {{ form_end(form) }}
        <hr>
        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('curricula') }}" title="Ver Expedientes Numéricos">
                    <span class="glyphicon glyphicon-chevron-left"></span> Expedientes Numéricos
                </a>
            </li>
            <li>
                   <a class="btn btn-primary" href="{{ path('curricula_alfa') }}" title="Ver Expedientes alfa">
                       <span class="glyphicon glyphicon-chevron-left"></span> Espedientes Alfa
                   </a>
               </li>

        </ul>
    </div>
    </div>
{% endblock %}