    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#datos_personales" data-toggle="pill">Datos Personales</a></li>
        <li><a href="#formacion_academica" data-toggle="pill">Formación académica</a></li>
        <li><a href="#experiencia_profesional" data-toggle="pill">Experiencia Profesional</a></li>
        <li><a href="#cursos_recibidos" data-toggle="pill">Cursos Recibidos</a></li>
        <li><a href="#cursos_adicionales" data-toggle="pill">Cursos Adicionales</a></li>
        <li><a href="#anexo" data-toggle="pill">Anexo</a></li>
    </ul>

    <!-- Tab panes -->
    {{ form_start(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="datos_personales">
<hr/>
            <div class="row">
                <div class="col-sm-12 top-buffer">
                    <div class="form-group">{{ form_row(form.type) }}</div>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-2">
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_row(form.numeroControl) }}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        {{ form_row(form.npcfe) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_row(form.rpecfe) }}
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            {{ form_row(form.cedula) }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            {{ form_row(form.ubicacion) }}
                        </div>
                    </div>
                </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        {{ form_row(form.rfc) }}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        {{ form_row(form.imss) }}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        {{ form_row(form.cartilla) }}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ form_row(form.curp) }}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ form_row(form.ife) }}
                    </div>
                </div>
            </div>
            <hr/>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_row(form.nombre) }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_row(form.apellidoPaterno) }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_row(form.apellidoMaterno) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_row(form.genero) }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_row(form.estadoCivil) }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            {{ form_row(form.fechaNacimiento) }}
                        </div>
                    </div>

                </div>
            <hr/>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ form_row(form.nacionalidad) }}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ form_row(form.lugarNacimiento) }}
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.domicilio) }}
                </div>
            </div>

            <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            {{ form_row(form.telefono) }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            {{ form_row(form.celular) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_row(form.email) }}
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ form_row(form.telefono1) }}
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        {{ form_row(form.extension) }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_row(form.emailultra) }}
                    </div>
                </div>
            </div>
            <!-- termina datos generales -->


        </div>
        <div class="tab-pane" id="formacion_academica">

        </div>
        <div class="tab-pane" id="experiencia_profesional">

        </div>
        <div class="tab-pane" id="cursos_recibidos">

            <fieldset>
                <legend>Competencias Internas (Procedimientos)</legend>
                <div class="container">
                    <div class="row" id="cursos-internos" data-prototype="{{ form_widget(form.cursosInternos.vars.prototype)|e }}">
                        {% for ci in form.cursosInternos %}
                            <div class="col-sm-4">
                                {{ form_row(ci.cursoInterno) }}
                                {{ form_row(ci.fechaRealizacion) }}
                                {{ form_row(ci.fechaVigencia) }}
                                {{ form_row(ci.tipoAdquisicion) }}
                                {{ form_row(ci.file) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row top-buffer">
                        <div class="col-sm-12">
                            <a href="#" id="curso-interno" class="btn btn-primary btn-sm btn-circle"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>
                        </div>
                    </div>
                </div>
            </fieldset><!-- Termina Competencia interna -->
            <fieldset>
                <legend>Competencias Externas</legend>
                <div class="container">
                    <div class="row" id="cursos-externos" data-prototype="{{ form_widget(form.cursosExternos.vars.prototype)|e }}">
                        {% for ce in form.cursosExternos %}
                            <div class="col-sm-4">
                                {{ form_row(ce.cursoExterno) }}
                                {{ form_row(ce.fechaRealizacion) }}
                                {{ form_row(ce.fechaVigencia) }}
                                {{ form_row(ce.tipoAdquisicion) }}
                                {{ form_row(ce.file) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row top-buffer">
                        <div class="col-sm-12">
                            <a href="#" id="curso-externo" class="btn btn-primary btn-sm btn-circle"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>
                        </div>
                    </div>
                </div>
            </fieldset><!-- Termina competencias externas -->

        </div>
        <div class="tab-pane" id="cursos_adicionales">

            <fieldset>
                <legend>Competencias Adicionales</legend>
                <div class="container">
                    <div class="row" id="cursos" data-prototype="{{ form_widget(form.competencias.vars.prototype)|e }}">
                        {% for comp in form.competencias %}
                            <div class="col-sm-4">
                                {{ form_row(comp.curso) }}
                                {{ form_row(comp.fechaRealizacion) }}
                                {{ form_row(comp.fecha_vigencia) }}
                                {{ form_row(comp.tipoAdquisicion) }}
                                {{ form_row(comp.file) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row top-buffer">
                        <div class="col-sm-12">
                            <a href="#" id="curso" class="btn btn-primary btn-sm btn-circle"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>
                        </div>
                    </div>
                </div>
            </fieldset> <!-- Termina competencias adicionales -->
        </div>
        <div class="tab-pane" id="anexo">
            <fieldset>
                <legend>Anexos</legend>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.file) }}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <hr>
            <div class="col-xs-12">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {#<div class="tab-pane" id="anexo">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ form_row(form.file) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-xs-12">
                    {{ form_row(form.submit) }}
                </div>
            </div>
        </div>#}
    </div>
    {{ form_end(form) }}