{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-skills').collectionform({'addlink':'#add-skill','column':'col-sm-6'});
        $('#cursos-internos').collectionform({'addlink':'#curso-interno','column':'col-sm-6'});
        $('#cursos-externos').collectionform({'addlink':'#curso-externo','column':'col-sm-6'});
    </script>
{% endblock javascripts %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .row-blue > div {
            background-color: #CEECF5;
            border-color: #0B3861;
            border-style: dotted;
            border-width: 1px;
        }

    </style>
{% endblock %}
{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('curricula') }}" title="Ver Expediente">Expedientes</a></li>
                <li class="active"><a href="#" title="Editar Expediente">Editar Expediente</a></li>
            </ul>
        </div>
    </div>
    <br/>
        {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-sm-12">
        <legend>Datos personales</legend>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">{{ form_row(edit_form.type) }}</div>
        </div>
    </div>

    <div class="row">
        {{ form_errors(edit_form) }}
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(edit_form.numeroControl) }}
            </div>
        </div>
        <div class="col-sm-2">
           <div class="form-group">
               {{ form_row(edit_form.npcfe) }}
           </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(edit_form.rpecfe) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(edit_form.cedula) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(edit_form.ubicacion) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(edit_form.rfc) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(edit_form.imss) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(edit_form.cartilla) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(edit_form.curp) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(edit_form.ife) }}
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(edit_form.nombre) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(edit_form.apellidoPaterno) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(edit_form.apellidoMaterno) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(edit_form.genero) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(edit_form.estadoCivil) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(edit_form.fechaNacimiento) }}
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(edit_form.nacionalidad) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(edit_form.lugarNacimiento) }}
            </div>
        </div>

    </div>
   <div class="row">
       <div class="col-sm-12">
           <div class="form-group">
               {{ form_row(edit_form.domicilio) }}
           </div>
       </div>
   </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(edit_form.telefono) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(edit_form.celular) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_row(edit_form.email) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(edit_form.telefono1) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(edit_form.extension) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_row(edit_form.emailultra) }}
            </div>
        </div>
    </div>
   <hr/>
   <div class="row">
       <div class="form-group">
           <fieldset>
               <legend>Competencias Adicionales</legend>
               <div class="container">

                   <div class="row" id="collection-skills" data-prototype="{{ form_widget(edit_form.competencias.vars.prototype)|e }}">
                       {% for comp in edit_form.competencias %}
                           <div class="col-sm-6">
                               {{ form_row(comp.curso) }}
                               {{ form_row(comp.fechaRealizacion) }}
                               {{ form_row(comp.fecha_vigencia) }}
                               {{ form_row(comp.tipoAdquisicion) }}
                               {{ form_row(comp.file) }}
                           </div>
                       {% endfor %}
                   </div>
                   <div class="row top-buffer">
                       <div class="col-sm-12">
                           <a href="#" id="add-skill" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>

                       </div>
                   </div>
               </div>
           </fieldset>
       </div>
   </div>
   <div class="row">
       <div class="form-group">
           <fieldset>
               <legend>Capacitación específica (Procedimientos)</legend>
                   <div class="row row-blue" id="cursos-internos" data-prototype="{{ form_widget(edit_form.cursosInternos.vars.prototype)|e }}">
                       {% for ci in edit_form.cursosInternos %}
                           <div class="col-sm-6">
                               {{ form_row(ci.cursoInterno) }}
                               {{ form_row(ci.fechaRealizacion) }}
                               {{ form_row(ci.fechaVigencia) }}
                               {{ form_row(ci.tipoAdquisicion) }}
                               {{ form_row(ci.file) }}
                           </div>
                       {% endfor %}
                   </div>
                   <div class="row top-buffer">
                       <div class="col-sm-12">
                           <a href="#" id="curso-interno" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>
                       </div>
                   </div>
           </fieldset>
       </div>
   </div>
   <div class="row">
        <div class="form-group">
           <fieldset>
               <legend>Conocimientos especiales (Cursos)</legend>
               <div class="container">
                   <div class="row row-blue" id="cursos-externos" data-prototype="{{ form_widget(edit_form.cursosExternos.vars.prototype)|e }}">
                       {% for ce in edit_form.cursosExternos %}
                           <div class="col-sm-6">
                               {{ form_row(ce.cursoExterno) }}
                               {{ form_row(ce.fechaRealizacion) }}
                               {{ form_row(ce.fechaVigencia) }}
                               {{ form_row(ce.tipoAdquisicion) }}
                               {{ form_row(ce.file) }}
                           </div>
                       {% endfor %}
                   </div>
                   <div class="row top-buffer">
                       <div class="col-sm-12">
                        <a href="#" id="curso-externo" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>
                       </div>
                   </div>
               </div>
           </fieldset>
       </div>
   </div>
       <div class="row">
          <div class="col-sm-12">
            <legend>Archivos</legend>
            <div class="alert alert-warning">Los archivos deben ser formato <strong>pdf</strong>, solamente la fotografía debe ser formato <strong>jpg.</strong></div>
            {{ form_row(edit_form.file) }}
          </div>
       </div>
    <hr/>
       <div class="row">
           <div class="col-sm-12">
       {{ form_end(edit_form) }}
           </div>
       </div>
       <hr/>
      <div class="row">
          <div class="col-sm-12">
           <ul class="list-inline">
               <li>
                   <a class="btn btn-primary" href="{{ path('curricula') }}" title="Ver Expedientes numéricos">
                       <span class="glyphicon glyphicon-chevron-left"></span> Espedientes Numéricos
                   </a>
               </li>
               {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CAPT') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_RH')or is_granted('ROLE_JEFE_PROY') %}
                   <li>
                       <a class="btn btn-primary" href="{{ path('curricula_alfa') }}" title="Ver Expedientes alfa">
                           <span class="glyphicon glyphicon-chevron-left"></span> Espedientes Alfa
                       </a>
                   </li>
               {% endif %}

           </ul>
          </div>
      </div>
{% endblock %}