{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                -Documentos comprobantes pendientes de <bold> {{ cv.apellidoPaterno }} {{ cv.apellidoMaterno }} {{ cv.nombre }}</bold><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Puesto <bold>
                {% for perfil in perfiles %}
                    {{ perfil.id }}
                    {{ perfil.clave }} Rev. {{ perfil.revision }}
                    {{ perfil.titulo }}
                {% endfor %}
                </bold>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="alert alert-success"><span class="glyphicon glyphicon-certificate"></span>
                <bold>&nbsp;Requisitos del perfil&nbsp; </bold>
            </div>
            <table class="table table-striped">
                <thead>
                <th>Clave</th>
                <th>Título</th>
                <th>Rev.</th>
                </thead>
                <tbody>
                <tr><th colspan="3">CAPACITACIÓN ESPECÍFICA (Procedimientos) </th></tr>
                {% for doc in capacitacion %}
                    <tr>
                        <td>{{ doc.clave }}</td>
                        <td>{{ doc.titulo }}</td>
                        <td>{{ doc.revision }}</td>
                    </tr>
                {% endfor %}
                <tr><th colspan="3">CONOCIMIENTOS ESPECIALES (Cursos) </th></tr>
                {% for cono in conocimientos %}
                    <tr>
                        <td><!--{{ cono.clave }}--></td>
                        <td>{{ cono.nombre }}</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-sm-6">
            <div class="alert alert-warning"><span class="glyphicon glyphicon-star"></span>
                <bold>&nbsp;Comprobantes de cursos</bold>
            </div>
            <table class="table table-striped">
                <thead>
                <th>Clave</th>
                <th>Título</th>
                <th>Rev./Vigencia</th>
                </thead>
                <tbody>
                <tr><th colspan="3">CAPACITACIÓN ESPECÍFICA (Procedimientos)</th></tr>
                {% for doc in cursos %}
                    <tr>
                        <td>{{ doc.clave }}</td>
                        <td>{{ doc.titulo }}</td>
                        <td>{{ doc.revision }}</td>
                    </tr>
                {% endfor %}
                <tr><th colspan="3">CONOCIMIENTOS ESPECIALES (Cursos)</th></tr>
                {% for doc in cursose %}
                    <tr>
                        <td><!--{{ doc.clave }}--></td>
                        <td>{{ doc.nombre }}</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
    <ul class="pull-right">
        <a class="btn btn-info btn-xs" href="{{ path('curr_evaluapdf', { 'id':cv.id,'p': perfil_id }) }}" title="Comprobantes Pendientes en PDF">
            <span class="glyphicon glyphicon-file"></span>Comprobantes Pendientes en PDF
        </a>
    </ul>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>
                <bold>&nbsp;Comprobantes Pendientes</bold>
            </div>
            <table class="table table-striped">
                <thead>
                <tr><th colspan="3">PROCEDIMIENTOS Y CURSOS</th></tr>
                <th>Clave</th>
                <th>Título</th>
                <th>Rev./Vigencia</th>
                </thead>
                <tbody>
                {% for curso in cursos_internos %}
                    <tr>
                        <td>{{ curso.clave }}</td>
                        <td>{{ curso.titulo}}</td>
                        <td>{{ curso.revision }}</td>
                    </tr>
                {% endfor %}
                {% for curso in cursos_externos %}
                    <tr>
                        <td><!--{{ curso.clave }}--></td>
                        <td>{{ curso.nombre}}</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                </tbody>
             </table>
            <div class="alert alert-danger"><i class="fa fa-history fa-lg"></i>
                <bold>&nbsp;Comprobantes no vigentes</bold>
            </div>
            <table class="table table-striped">
                <thead>
                <th>Clave</th>
                <th>Título</th>
                <th>Rev./Vigencia</th>
                </thead>
                <tbody>
                {% set indicador=0 %}
                    {% for cursoenv in cursos_externos_no_vigentes %}
                        <tr>
                            <td>--</td>
                            <td>{{ cursoenv.cursoExterno.nombre}}</td>
                            <td>{{ cursoenv.fechaVigencia|date('d-m-Y')}}</td>
                        </tr>
                        {% set indicador=1 %}
                    {% endfor %}
                        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') %}
                            {% for cursoinv in cursos_internos_no_vigentes %}
                                <tr>
                                    <td>{{ cursoinv.cursoInterno.clave }}</td>
                                    <td>{{ cursoinv.cursoInterno.titulo}}-Rev.{{ cursoinv.cursoInterno.revision }}</td>
                                    <td>{{ cursoinv.fechaVigencia|date('d-m-Y')}}</td>
                                </tr>
                                {% set indicador=1 %}
                            {% endfor %}
                        {% endif %}
                {% if indicador==0 %}
                    <tr><td colspan="3">No hay cursos con fecha de vigencia anterior al día de hoy.</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">

                    <li>
                    <a class="btn btn-primary" href="{{ path('curricula') }}" title="Ver Curriculas">
                        <span class="glyphicon glyphicon-step-backward"></span> Otra Curricula
                    </a></li>

            </ul>
        </div>
    </div>
{% endblock %}