{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
                <div class="alert alert-danger"><span class="glyphicon glyphicon-list-alt"></span>
                    &nbsp;Perfiles de:<bold> {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }} {{ entity.nombre }}
                </bold><br/>
                </div>
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('curr_historialpdf', { 'id':entity.id }) }}" title="Historial de la persona">
                    <span class="glyphicon glyphicon-file"></span> Historial de la persona
                </a>
            </ul>
            <br/>
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                <tr>
                    <th>Perfil</th>
                    <th>Alta</th>
                    <th>Baja</th>
                    <th>Evaluar</th>
                </tr>
                </thead>
                <tbody>
                {% for e in entities %}
                    <tr>
                        <td>{{ e.clave }} Rev. {{ e.revision }}-{{ e.titulo }}</td>
                        <td>{{ e.fa|date('d-m-Y')}}</td>
                        <td>{{ e.fb|date('d-m-Y')}}</td>
                        <td>
                            <a href="{{ path('curr_evalua',{'id': entity.id,'p': e.pe} ) }}" title="Evaluación" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning"><span class="glyphicon glyphicon-list-alt"></span>
                &nbsp;Evaluar a:<bold> {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }} {{ entity.nombre }} para otro perfil.
                </bold><br/>
            </div>
            {{ form(eform) }}
<hr/>


                <a class="btn btn-primary" href="{{ path('curricula') }}" title="Ver Expedientes numéricos">
                    <span class="glyphicon glyphicon-chevron-left"></span> Espedientes Numéricos
                </a>

                <a class="btn btn-primary" href="{{ path('curricula_alfa') }}" title="Ver Expedientes alfa">
                    <span class="glyphicon glyphicon-chevron-left"></span> Espedientes Alfa
                </a>


    </div>
    </div>
{% endblock %}