{% block content -%}
    <title>{% block title %}Historial{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('styles/bootstrap.css') }}" rel="stylesheet" />
        <style type="text/css">
            h1{
                text-align:center;
                width:100%;
                font-size:12px;
            }
            h2{
                text-align:left;
                width:100%;
                font-size:12px;
            }
            p{
                font-size:10px;
            }

            hr{
                border: 1.5px solid black;
                margin-top:0.5px;
                margin-bottom: 0.5px;
                width:700px;
            }

            .font{
                font-size:10px;
            }

            table{
                float: left;
                height: 80px;
                width: 705px;
                overflow:auto;
                font-size: 9px;
                border-left: 1px #000000;
                border-right: 1px #000000;
            }
            td{

                font-weight:normal;
                padding-top: 0px;
                font-size:9px;
            }

        </style>
    {% endblock %}

<table>
    <tr>
        <td>
            <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_5.png') }}" width="100" height="40">
        </td>
        <td colspan="4">

        </td>
    </tr>
</table>
<br/><br/><br/>
<table border="1">
    <thead>
    <tr>
        <th colspan="3">&nbsp;Historial de:<bold> {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }} {{ entity.nombre }}</th>
    </tr>
    <tr>
        <th>Perfil</th>
        <th>Alta</th>
        <th>Baja</th>
    </tr>
    </thead>
    <tbody>
    {% for e in entities %}
    <tr>
        <td>{{ e.clave }} {{ e.titulo }}</td>
        <td>{{ e.fa|date('d-m-Y')}}</td>
        <td>{{ e.fb|date('d-m-Y')}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}