{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
   <div class="row">
       <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li  class="active"><a href="{{ path('curricula') }}" title="Ver Expediente">Expedientes numéricos</a></li>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CAPT') or is_granted('ROLE_CONTROL_DOC') %}
                <li><a href="{{ path('curricula_new') }}" title="Nuevo expediente">Nuevo Expediente</a></li>
                {% endif %}
            </ul>
        </div>
   </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('curricula_emp_pdf') }}" title="Exportar completo a PDF">
                    <span class="glyphicon glyphicon-file"></span> Empleados en PDF
                </a>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
       <br/>
           <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>No. Control</th>
                <th>Ap. Paterno</th>
                <th>Ap. Materno</th>
                <th>Nombre</th>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC')  %}
                <th>Ubicación</th>
                {% endif %}
                {% if is_granted('ROLE_CAPT') %}
                {% else %}
                <th>Evaluaciones</th>
                {% endif %}
                <!--
                <th>Genero</th>
                <th>Ife</th>

                <th>Cedula</th>

                <th>Rfc</th>

                <th>CURP</th>

                <th>Imss</th>

                <th>Cartilla</th>

                <th>Lugarnacimiento</th>
                <th>Nacionalidad</th>
                <th>Fechanacimiento</th>

                <th>Domicilio</th>
                <th>Telefono</th>
                <th>Celular</th>
                <th>Pdfcurricula</th>
                -->
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}

            <tr {% if loop.index is odd %}class="color"{% endif %}>

                <td>
                    {{ entity.numeroControl }}
                    </td>
                <td>{{ entity.apellidoPaterno }}</td>
                <td>{{ entity.apellidoMaterno }}</td>
                <td>{{ entity.nombre }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') %}
                <td>{{ entity.ubicacion }}</td>
                {% endif %}

                {#<td>{{ entity.genero }}</td>
                <td>{{ entity.ife }}</td>
                <td>{{ entity.cedula }}</td>
                <td>{{ entity.rfc }}</td>
                <td>{{ entity.curp }}</td>
                <td>{{ entity.imss }}</td>
                <td>{{ entity.cartilla }}</td>
                <td>{{ entity.lugarNacimiento }}</td>
                <td>{{ entity.nacionalidad }}</td>
                <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.domicilio }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.celular }}</td>
                <td>{{ entity.pdfCurricula }}</td>#}
                {% if is_granted('ROLE_CAPT') %}
                {% else %}
                <td>
                    <a href="{{ path('curr_historial',{'id':entity.id}) }}" title="Evaluaciones" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </a>
                </td>
                {% endif %}
                <td>
                <ul class="list-inline">


                        <li>
                            <a href="{{ path('curricula_show', { 'id': entity.id }) }}" title="Ver">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_CAPT')  or is_granted('ROLE_RH') %}
                        <li>
                        <a href="{{ path('curricula_edit', { 'id': entity.id }) }}" title="Editar expediente">
                        <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        </li>
                    {% endif %}
                </ul>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
       <br/>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CAPT') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_RH')or is_granted('ROLE_JEFE_PROY') or is_granted('ROLE_LICITACION')  %}
        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('curricula') }}" title="Ver Expedientes numéricos">
                    <span class="glyphicon glyphicon-chevron-left"></span> Espedientes Numéricos
                </a>
            </li>
            <li>
                <a class="btn btn-primary" href="{{ path('curricula_alfa') }}" title="Ver Expedientes alfa">
                    <span class="glyphicon glyphicon-chevron-left"></span> Espedientes Alfa
                </a>
            </li>
    </ul>
       {% endif %}
   </div>
   </div>
    {% endblock %}
