{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#cursos').collectionform({'addlink':'#curso','column':'col-sm-4'});
        $('#cursos-internos').collectionform({'addlink':'#curso-interno'});
        $('#cursos-externos').collectionform({'addlink':'#curso-externo'});
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .btn-circle {
            -webkit-border-radius: 14px;
            -moz-border-radius: 14px;
            border-radius: 14px;
        }
    </style>
{% endblock %}

{% block content -%}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('curricula') }}" title="Ver Expedientes">Expedientes</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CAPT')   %}
                <li class="active"><a href="#" title="Nuevo Expediente">Nuevo Expediente</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    {% include 'ControlDocumentoBundle:Curricula:datos_personales.html.twig' %}
    </div>
    </div>
{% endblock %}
