{% include 'ControlDocumentoBundle:Default:dtindex.html.twig' %}

{% block stylesheet %}
<link href="{{ asset('bundles/alidatatable/css/demo_table.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('bundles/alidatatable/css/smoothness/jquery-ui-1.8.4.custom.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('css/offcanvas.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/alidatatable/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/alidatatable/js/jquery.datatable.inc.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/alidatatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/offcanvas.js') }}"></script>
{% endblock %}

{% block content -%}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Reporte de curricula.
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-9">
        <br/>
    {{ datatable({
    'edit_route' : 'curricula_edit',
    'delete_route' : 'curricula_delete',
    'js' : {
    'sAjaxSource' : path('curricula_gaction')
    }
    })
    }}
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}
<hr>

<footer>
    <p>&copy; Ultra Ingeniería 2013</p>
</footer>
