{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('curricula') }}" title="Ver expedientes">Expedientes</a></li>
                <li class="active"><a href="#" title="Detalle de expediente">Muestra Expediente</a></li>
            </ul>
        </div>
    </div>
   <br/>
        <div class="row">
            <div class="col-sm-3"><br/>
                <p align="center">
                    <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
                </p>
            </div>
            <div class="col-sm-9"><br/><br/>
                <h4>CURRICULA DE {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }} {{ entity.nombre }}</h4>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <legend>DATOS PERSONALES</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="background-color:#F2F2F2">
                <strong>Ubicación:</strong>
            </div>
            <div class="col-xs-11">
                {{ entity.ubicacion }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="background-color:#F2F2F2">
                <strong>No. Ctrl:</strong>
            </div>
            <div class="col-xs-11">
                {{ entity.numeroControl }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="background-color:#F2F2F2">
                <strong>Nombre:</strong>
            </div>
            <div class="col-xs-11">
                {{ entity.nombre }} {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }}
            </div>
        </div>
    <hr/>
        <div class="row">
            <div class="col-sm-1" style="background-color:#F2F2F2">
                <strong>Nip CFE</strong><br/>
                <strong>RPE CFE</strong><br/>
                <strong>RFC</strong><br/>
                <strong>Cédula</strong><br/>
                <strong>IFE</strong><br/>
                <strong>CURP</strong><br/>
                <strong>Cartilla</strong><br/>
                <strong>IMSS</strong><br/>
            </div>
            <div class="col-xs-11">
                {{ entity.npcfe }}<br/>
                {{ entity.rpecfe }}<br/>
                {{ entity.rfc }}<br/>
                {{ entity.cedula }}<br/>
                {{ entity.ife }}<br/>
                {{ entity.curp }}<br/>
                {{ entity.cartilla }}<br/>
                {{ entity.imss }}<br/>
            </div>
        </div>
    <hr/>
        <div class="row">
            <div class="col-xs-2" style="background-color:#F2F2F2">

                <strong>Género</strong><br/>
                <strong>Estado Civil</strong><br/>
                <strong>Fecha de nacimiento</strong><br/>
                <strong>Lugar de Nacimiento</strong><br/>
                <strong>Nacionalidad</strong><br/>
            </div>
            <div class="col-xs-2">
                {% if entity.genero=="H" %} Hombre {% else %} Mujer {% endif %} <br/>
                {{ entity.estadoCivil}}<br/>
                {{ entity.fechaNacimiento|date('d-m-Y') }} <br/>
                {{ entity.lugarNacimiento }}<br/>
                {{ entity.nacionalidad }}<br/>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-2" style="background-color:#F2F2F2">
                <strong>Teléfono</strong><br/>
                <strong>Celular</strong>
            </div>
            <div class="col-xs-6">
                {{ entity.telefono }}<br/>
                {{ entity.celular }}<br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="background-color:#F2F2F2">
                <strong>Correo:</strong>
            </div>
            <div class="col-xs-11">
                {{ entity.email }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="background-color:#F2F2F2">
               <strong>Domicilio:</strong>
            </div>
            <div class="col-xs-11">
                {{ entity.domicilio }}
            </div>
        </div><hr/>
        <div class="row">
            <div class="col-sm-12">
                <legend>COMPETENCIAS ADICIONALES</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for comp in entity.competencias %}
                    <span class="glyphicon glyphicon-ok btn-sm"></span> {{ comp.curso }} (por {{ comp.tipoAdquisicion }}), realización: {{ comp.fechaRealizacion|date('d-m-Y') }}, vigencia: {{ comp.fechaVigencia|date('d-m-Y') }}.
                    {% if comp.pdfCertificado==NULL %}
                        <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay PDF cargado.</span>
                    {% else %}
                        <a href="{{ path('servir_competencia', { 'id': comp.id }) }}" title="Ver">
                            <span class="label label-success"><span class="glyphicon glyphicon-saved"></span>PDF Cargado.</span>
                        </a>
                    {% endif %}<br/>
                {% endfor %}

            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <legend>CAPACITACIÓN ESPECÍFICA (Procedimientos)</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for  ci in entity.cursosInternos %}
                    <span class="glyphicon glyphicon-ok btn-sm"></span> {{ ci.cursoInterno }} (por {{ ci.tipoAdquisicion }}), realización: {{ ci.fechaRealizacion|date('d-m-Y') }}, vigencia: {{ ci.fechaVigencia|date('d-m-Y') }}.
                    {% if ci.pdfCertificado==NULL %}
                        <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay PDF cargado.</span>
                    {% else %}
                        <a href="{{ path('servir_cinterno', { 'id': ci.id }) }}" title="Ver">
                            <span class="label label-success"><span class="glyphicon glyphicon-saved"></span>PDF Cargado.</span>
                        </a>
                    {% endif %}
                    <br/>
                {% endfor %}
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <legend>CONOCIMIENTOS ESPECIALES (Cursos)</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for  ce in entity.cursosExternos %}
                    <span class="glyphicon glyphicon-ok btn-sm"></span> {{ ce.cursoExterno }}  (por {{ ce.tipoAdquisicion }}), realización: {{ ce.fechaRealizacion|date('d-m-Y') }}, vigencia: {{ ce.fechaVigencia|date('d-m-Y') }}.
                    {% if ce.pdfCertificado==NULL %}
                        <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay PDF cargado.</span>
                    {% else %}
                    <a href="{{ path('servir_cexterno', { 'id': ce.id }) }}" title="Ver">
                        <span class="label label-success"><span class="glyphicon glyphicon-saved"></span>PDF Cargado.</span>
                    </a>
                    {% endif %}
                    <br/>
                {% endfor %}
            </div>
        </div><br/>
    <div class="row">
        <div class="col-sm-12">
            <legend>Anexos</legend>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% for anex in entity.anexo %}
                {% if anex.name!=null %}
                    <a href="{{ path('servir_anexos', { 'id': anex.id }) }}" title="Ver">
                    <span class="label label-success"><span class="glyphicon glyphicon-saved"></span>
                        PDF {{ anex.typeName }}
                    </span>
                    </a>&nbsp;
                {% endif %}
            {% endfor %}
            <br/>
        </div>
    </div>
    <br/>
    <hr/>
        <ul class="list-inline">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CAPT') or is_granted('ROLE_CONTROL_DOC') %}
                <li>
                    <a class="btn btn-success" href="{{ path('curricula_edit', { 'id': entity.id }) }}" title="Editar Expediente">
                        <span class="glyphicon glyphicon-edit"></span> Editar
                    </a>
                </li>


            {% endif %}
             <li>
                   <a class="btn btn-primary" href="{{ path('curricula') }}" title="Ver Expedientes numéricos">
                       <span class="glyphicon glyphicon-chevron-left"></span> Espedientes Numéricos
                   </a>
               </li>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CAPT') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_RH')or is_granted('ROLE_JEFE_PROY') or is_granted('ROLE_LICITACION')  %}
               <li>
                   <a class="btn btn-primary" href="{{ path('curricula_alfa') }}" title="Ver Expedientes alfa">
                       <span class="glyphicon glyphicon-chevron-left"></span> Espedientes Alfa
                   </a>
               </li>
            {% endif %}
</ul>
   </div>
    </div>
{% endblock %}
