{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
        {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  class="active"><a href="{{ path('helpdesk_hardware') }}" title="Ver categorías de hardware">Categoría de hardware</a></li>
            <li><a href="{{ path('helpdesk_hardware_new') }}"  title="Nueva categoría de hardware">Nueva</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
            <tr>
                <th>Hardware</th>
                <th>Serial</th>
                <th>Tipo</th>
                <th>Necesidad</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.hardwareName }}</td>
                <td>{{ entity.hardwareSerial }}</td>
                <td>{{ entity.hardwareType }}</td>
                <td>{{ entity.hardwareNeed }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('helpdesk_hardware_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('helpdesk_hardware_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    {% endblock %}
