{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
         {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('helpdesk_hardware') }}" title="Ver categorías de hardware">Categoría de hardware</a></li>
            <li   class="active"><a href="#"  title="Nueva categoría de hardware">Nueva</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>

    {{ form(form) }}

</div>
</div>
{% endblock %}
