{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
        {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('helpdesk_hardware') }}" title="Ver categorías de hardware">Categoría de hardware</a></li>
            <li   class="active"><a href="#"  title="Ver categoría de hardware">Ver</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Hardwarename</th>
                <td>{{ entity.hardwareName }}</td>
            </tr>
            <tr>
                <th>Hardwareserial</th>
                <td>{{ entity.hardwareSerial }}</td>
            </tr>
            <tr>
                <th>Hardwaretype</th>
                <td>{{ entity.hardwareType }}</td>
            </tr>
            <tr>
                <th>Hardwareneed</th>
                <td>{{ entity.hardwareNeed }}</td>
            </tr>
        </tbody>
    </table>

</div>
</div>
{% endblock %}
