{% extends '::base.html.twig' %}
{% block body %}
    {% block header %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% include('ControlDocumentoBundle:SuperAdmin:superadmin.html.twig') %}
        {% elseif is_granted('ROLE_ADMIN') %}
            {% include('ControlDocumentoBundle:Adm:admin.html.twig') %}
        {% elseif is_granted('ROLE_GERENCIA') %}
            {% include('ControlDocumentoBundle:Gerencia:gerencia.html.twig') %}
        {% elseif is_granted('ROLE_JEFE_ADMON') %}
            {% include('ControlDocumentoBundle:Jadmin:jadmin.html.twig') %}
        {% elseif is_granted('ROLE_CONTROL_DOC') %}
            {% include('ControlDocumentoBundle:CDoc:cdoc.html.twig') %}
        {% elseif is_granted('ROLE_JEFE_PROY') %}
            {% include('ControlDocumentoBundle:JefeProy:jefeproy.html.twig') %}
        {% elseif is_granted('ROLE_JEFE_CALIDAD') %}
            {% include('ControlDocumentoBundle:Jcalidad:jcalidad.html.twig') %}
        {% elseif is_granted('ROLE_RH') %}
            {% include('RHBundle:Contratacion:rh.html.twig') %}
        {% elseif is_granted('ROLE_USER') %}
            {% include('ControlDocumentoBundle:Gral:gral.html.twig') %}
        {% elseif is_granted('ROLE_CAPT') %}
            {% include('ControlDocumentoBundle:Captura:captura.html.twig') %}
        {% elseif is_granted('ROLE_SISTEMAS') %}
            {% include('ControlDocumentoBundle:Sistemas:sistemas.html.twig') %}
        {% elseif is_granted('ROLE_LICITACION') %}
            {% include('ControlDocumentoBundle:Licitacion:licitacion.html.twig') %}
        {% endif %}
    {% endblock %}

    <div class="container">

        {% block content %}
            <br/>
            <p align="center">
                <img src="{{ asset('img/homePage.png') }}" title="Sistema de Administración Documental">
            </p>
            <br/>
        {% endblock %}
        <!--MOSTRAR PERFILES POR VENCER-->

    </div><!--/.container-->
{% endblock %}