{% block side %}
    <div class="well sidebar-nav">
        <ul class="nav nav-pills nav-stacked">
            <li>
                Usuario: <Strong><em>{{ app.user.username }}</em></Strong>
                <a href="{{ path('logout_area') }}" title="Salir">Salir</a>
            </li>
            {% if is_granted('ROLE_UGC') %}
                <li>Garantía de calidad</li>
                <li><a href="{{ path('cliente') }}" title="Procedimientos">Procedimientos</a></li>
                <li><a href="{{ path('procedimiento') }}" title="Procedimientos">Procedimientos Admin</a></li>
                <li><a href="{{ path('area') }}" title="Áreas">Areas</a></li>
            {% endif %}
            {% if is_granted('ROLE_UAD') %}
                <li>Administración</li>
                <li><a href="{{ path('cliente') }}" title="Cliente">Perfiles</a></li>
                <li><a href="{{ path('curricula') }}" title="Curricula">Curriculas</a></li>
                <li><a href="{{ path('perfil_curricula') }}" title="Perfil-Curricula">Perfil Curriculas</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li>Catálogos</li>
                <li><a href="{{ path('cliente') }}" title="Clientes">Clientes</a></li>
                <li><a href="{{ path('contrato') }}" title="Contratos">Contratos</a></li>
                <li><a href="{{ path('departamento') }}" title="Departamentos">Departamentos</a></li>
                <li><a href="{{ path('condicion') }}" title="Condiciones">Condiciones</a></li>
                <li><a href="{{ path('estadocivil') }}" title="Estado Civil">Estado Civil</a></li>
                <li><a href="{{ path('disciplina') }}" title="Disciplinas">Disciplinas</a></li>
                <li><a href="{{ path('nivelacademico') }}" title="Nivel Académico">Nivel académico</a></li>
                <li><a href="{{ path('tipodocumento') }}" title="Tipo de Documentos">Tipo de Documentos</a></li>
            {% endif %}
        </ul>
    </div><!--/.well -->
{% endblock %}