{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block content -%}

    <div class="row">
        <div class="col-sm-12">

            {% if status_code=="404" %}
                <div class="alert alert-danger">
                    <h1><span class="glyphicon glyphicon-exclamation-sign gl"></span></h1>
                    LA PÁGINA SOLICITADA NO EXISTE.<br/><br/>
                    Selecciona alguna opción de tu menú o el botón regresar de tu navegador.<br/><br/>
                </div>
            {%  elseif status_code=="500" %}
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    HA OCURRIDO ALGO INESPERADO. (ERROR 500) <br/><br/>
                    Selecciona alguna opción de tu menú o el botón regresar de tu navegador.<br/><br/>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    HA OCURRIDO ALGO INESPERADO. <br/><br/>
                    Selecciona alguna opción de tu menú o el botón regresar de tu navegador.<br/><br/>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}