{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ExperienciaProfesional</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Puesto</th>
                <td>{{ entity.puesto }}</td>
            </tr>
            <tr>
                <th>Inicio</th>
                <td>{{ entity.inicio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Termino</th>
                <td>{{ entity.termino|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Comprobante</th>
                <td>{{ entity.comprobante }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('experiencia_profesional') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('experiencia_profesional_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
