{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li  ><a href="{{ path('event') }}" title="Ver programación ">Programaciones Auditoría/Vigilancia</a></li>
                {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_JEFE_CALIDAD')) %}

                    <li class="active"><a href="#"  title="Editar programación de auditoría/vigilancia">Editar programación de Auditoría / Vigilancia</a></li>

                {% endif %}
            </ul>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-11">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.agenda) }}
            <div class="text-danger">{{ form_errors(edit_form.agenda) }} </div>
            {{ form_widget(edit_form.agenda) }}
        </div>
    </div>
    <br/>
    <hr/>
    <div class="row">
        <div class="col-sm-3">
            {{ form_label(edit_form.type) }}
            <div class="text-danger">{{ form_errors(edit_form.type) }} </div>
            {{ form_widget(edit_form.type) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(edit_form.status) }}
            <div class="text-danger">{{ form_errors(edit_form.status) }} </div>
            {{ form_widget(edit_form.status) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-2">
            {{ form_label(edit_form.code) }}
            <div class="text-danger">{{ form_errors(edit_form.code) }} </div>
            {{ form_widget(edit_form.code) }}
        </div>
        <div class="col-sm-4">
            {{ form_label(edit_form.auditor) }}
            <div class="text-danger">{{ form_errors(edit_form.auditor) }} </div>
            {{ form_widget(edit_form.auditor) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(edit_form.begin) }}
            <div class="text-danger">{{ form_errors(edit_form.begin) }} </div>
            {{ form_widget(edit_form.begin) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(edit_form.end) }}
            <div class="text-danger">{{ form_errors(edit_form.end) }} </div>
            {{ form_widget(edit_form.end) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            {{ form_label(edit_form.audit) }}
            <div class="text-danger">{{ form_errors(edit_form.audit) }} </div>
            {{ form_widget(edit_form.audit) }}
        </div>
        <div class="col-sm-4">
            {{ form_label(edit_form.document) }}
            <div class="text-danger">{{ form_errors(edit_form.document) }} </div>
            {{ form_widget(edit_form.document) }}
        </div>
        <div class="col-sm-5">
            {{ form_label(edit_form.comments) }}
            <div class="text-danger">{{ form_errors(edit_form.comments) }} </div>
            {{ form_widget(edit_form.comments) }}
        </div>
    </div>
    <br/><hr/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(edit_form.submit) }}
        </div>
    </div>
    <hr/>
    {{ form_end(edit_form) }}

    </div>
{% endblock %}
