{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  class="active"><a href="{{ path('event') }}" title="Ver programación ">Programaciones Auditoría/Vigilancia</a></li>
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_JEFE_CALIDAD')) %}

                    <li><a href="{{ path('event_new') }}"  title="Nueva programación de auditoría/vigilancia">Nueva programación de Auditoría / Vigilancia</a></li>

            {% endif %}
        </ul>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12">

    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Auditoria / Vigilancia</th>
                <th>Documentos</th>
                <th>Inicio</th>
                <th>Término</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.code }}</td>
                <td>{{ entity.audit }}</td>
                <td>{{ entity.document }}</td>
                <td>{% if entity.begin %}{{ entity.begin|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.end %}{{ entity.end|date('Y-m-d') }}{% endif %}</td>
                <td>
                        <a href="{{ path('event_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="{{ path('event_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</div>
    {% endblock %}
