{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li  ><a href="{{ path('event') }}" title="Ver programación ">Programaciones Auditoría/Vigilancia</a></li>
                {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_JEFE_CALIDAD')) %}

                    <li class="active"><a href="#"  title="Nueva programación de auditoría/vigilancia">Nueva programación de Auditoría / Vigilancia</a></li>

                {% endif %}
            </ul>
        </div>
    </div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-11">
        {{ form_start(form) }}
        {{ form_label(form.agenda) }}
        <div class="text-danger">{{ form_errors(form.agenda) }} </div>
        {{ form_widget(form.agenda) }}
    </div>
</div>
    <br/>
    <hr/>
    <div class="row">
        <div class="col-sm-3">
            {{ form_label(form.type) }}
            <div class="text-danger">{{ form_errors(form.type) }} </div>
            {{ form_widget(form.type) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(form.status) }}
            <div class="text-danger">{{ form_errors(form.status) }} </div>
            {{ form_widget(form.status) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-2">
            {{ form_label(form.code) }}
            <div class="text-danger">{{ form_errors(form.code) }} </div>
            {{ form_widget(form.code) }}
        </div>
        <div class="col-sm-4">
            {{ form_label(form.auditor) }}
            <div class="text-danger">{{ form_errors(form.auditor) }} </div>
            {{ form_widget(form.auditor) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(form.begin) }}
            <div class="text-danger">{{ form_errors(form.begin) }} </div>
            {{ form_widget(form.begin) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(form.end) }}
            <div class="text-danger">{{ form_errors(form.end) }} </div>
            {{ form_widget(form.end) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            {{ form_label(form.audit) }}
            <div class="text-danger">{{ form_errors(form.audit) }} </div>
            {{ form_widget(form.audit) }}
        </div>
        <div class="col-sm-4">
            {{ form_label(form.document) }}
            <div class="text-danger">{{ form_errors(form.document) }} </div>
            {{ form_widget(form.document) }}
        </div>
        <div class="col-sm-5">
            {{ form_label(form.comments) }}
            <div class="text-danger">{{ form_errors(form.comments) }} </div>
            {{ form_widget(form.comments) }}
        </div>
    </div>
    <br/><hr/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit) }}
        </div>
    </div>
    <hr/>
    {{ form_end(form) }}

</div>
{% endblock %}
