{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li  ><a href="{{ path('rh_agenda') }}" title="Ver programacion anual">Programa Anual</a></li>
                <li class="active"><a href="#"  title="Detalle programación">Detalle programación</a></li>
            </ul>
        </div>
    </div>
    <br/>
<div class="row">
    <div class="col-xs-12">

    <table>
        <tbody>
            <tr>
                <th>Código</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Auditoria / Vigilancia</th>
                <td>{{ entity.audit }}</td>
            </tr>
            <tr>
                <th>Documentos</th>
                <td>{{ entity.document }}</td>
            </tr>
            <tr>
                <th>Inicio</th>
                <td>{{ entity.begin|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ entity.end|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>
<br/>
        <a class="btn btn-primary btn-group" href="{{ path('event') }}" title="Ver programación">
            <span class="glyphicon glyphicon-chevron-left"></span> Regresar
        </a>
        {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC')) %}
            <a class="btn btn-primary btn-group" href="{{ path('event_edit', { 'id': entity.id }) }}" title="Editar programación">
                <span class="glyphicon glyphicon-edit"></span> Editar
            </a>
        {% endif %}
        </div>
    </div>
{% endblock %}
