{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  class="active"><a href="{{ path('agenda') }}" title="Ver programacion anual">Programa Anual</a></li>
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_JEFE_CALIDAD')or is_granted('ROLE_CONTROL_DOC')) %}
                    <li><a href="{{ path('agenda_new') }}"  title="Nuevo programa">Nuevo Programa</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-12">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Rev.</th>
                <th>Nombre</th>
                <th>Inicia</th>
                <th>Termina</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.revision }}</td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.begin %}{{ entity.begin|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.end %}{{ entity.end|date('Y-m-d') }}{% endif %}</td>
                <td>
                <ul class="list-inline">

                    {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_JEFE_CALIDAD') or is_granted('ROLE_CONTROL_DOC')) %}
                        <li>
                            <a href="{{ path('agenda_show', { 'id': entity.id }) }}" title="Ver"><span class="glyphicon glyphicon-eye-open"></span></a>
                        </li>
                        <li>
                            <a href="{{ path('agenda_edit', { 'id': entity.id }) }}" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
                        </li>
                        <li>
                        {% if entity.pdf==NULL %}
                            <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay pdf</span>
                        {% else %}
                            <a href="{{ path('servir_agenda', { 'id': entity.id }) }}" title="Agenda pdf"><i class="fa fa-file-pdf-o"></i></a>
                        {% endif %}
                        </li>

                    {% endif %}
                    {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_JEFE_CALIDAD')) %}
                    <li>
                        <a href="{{ path('event_new') }}" title="Agregar Auditoria/Vigilancia"><i class="fa fa-clock-o"></i></a>
                    </li>

                    <li>
                        <a href="{{ path('agenda_program', { 'id': entity.id }) }}" title="Calendario"><span class="glyphicon glyphicon-calendar"></span></a>
                    </li>
                    {% endif %}

                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
    {% endblock %}
