{% block content -%}

    <title>{% block title %}Programa Anual{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('styles/bootstrap.css') }}" rel="stylesheet" />
        <style type="text/css">
            h1{
                text-align:center;
                width:100%;
                font-size:12px;
            }
            h2{
                text-align:left;
                width:100%;
                font-size:12px;
            }
            p{
                font-size:10px;
            }

            hr{
                border: 1.5px solid black;
                margin-top:0.5px;
                margin-bottom: 0.5px;
                width:700px;
            }

            .font{
                font-size:10px;
            }

            table{
                font-size:9px;
                float: left;
                overflow:auto;
                border-collapse: collapse;
            }

            td{
                border: 1px solid black;
                font-weight:normal;
                padding-top: 0px;
            }
            th{
                border: 1px solid black;
                font-weight:bold;
                background-color: #d8d8d8;
                padding-top: 0px;
            }

        </style>
    {% endblock %}

    {# {{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/factura/css/all.css') }}" #}
    <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_5.png') }}"/>
            <h1>{{ entities.name }}<br/><br/>
                PROYECTO: {{ entities.projects }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FECHA: {{ entities.created|date('Y-m-d') }}
            </h1>
            <br>
            <br>
            <table width="875">
                <thead>
                <tr class="active">
                    <th>No.</th>
                    <th>Auditoria / Vigilancia</th>
                    <th>Auditor Lider</th>
                    <th>Doc.Apl.</th>
                    <th>Ene</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>Abr</th>
                    <th>May</th>
                    <th>Jun</th>
                    <th>Jul</th>
                    <th>Ago</th>
                    <th>Sep</th>
                    <th>Oct</th>
                    <th>Nov</th>
                    <th>Dic</th>
                </tr>
                </thead>
                <tbody>
                {% for event in entities.events %}
                    <tr>
                        <td>
                            {{ event.code }}
                        </td>
                        <td>
                            {{ event.audit }}
                        </td>
                        <td>
                            {{ event.auditor }}
                        </td>
                        <td>
                            {{ event.document }}
                        </td>
                        {% for month in range(1,12) %}
                            {% if event.begin|date('m') == month %}
                                <td width="35" height="35">
                                    {% if event.status.name=="PLANEADA" %}
                                        <img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/planeada.png') }}" alt="Planeada" title="Planeada" width="35" height="35" />
                                    {% endif %}
                                    {% if event.status.name=="DIFERIDA" %}
                                        <img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/diferida.png') }}" alt="Diferida" title="Diferida" width="35" height="35" />
                                    {% endif %}
                                    {% if event.status.name=="PROGRAMADA" %}
                                        <img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/programada.png') }}" alt="Programada" title="Programada" width="35" height="35" />
                                    {% endif %}
                                    {% if event.status.name=="REALIZADA" %}
                                        <img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/realizada.png') }}" alt="Realizada" title="Realizada" width="35" height="35" />
                                    {% endif %}
                                    {% if event.status.name=="REPORTADA" %}
                                        <img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/reportada.png') }}" alt="Reportada" title="Reportada" width="35" height="35" />
                                    {% endif %}
                                    {% if event.status.name=="CERRADA" %}
                                        <img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/cerrada.png') }}" alt="Cerrada" title="Cerrada" width="35" height="35" />
                                    {% endif %}
                                    {% if event.status.name=="CANCELADA" %}
                                        <img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/cancelada.png') }}" alt="Cancelada" title="Cancelada" width="35" height="35" />
                                    {% endif %}
                                </td>
                            {% else %}
                                <td width="35" height="35"> </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br><br><br>&nbsp;
            <table width="875">
                <thead>
                <tr>
                <th colspan="14">
                        SIMBOLOGÍA:
                </th>
                </tr>
                </thead>
            <tbody>
            <tr>
            <td width="90"> Planeada </td>
            <td width="35" height="35"><img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/planeada.png') }}" alt="Planeada" title="Planeada" width="35" height="35" /> </td>
            <td width="90"> Diferida </td>
            <td width="35" height="35"><img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/diferida.png') }}" alt="Diferida" title="Diferida" width="35" height="35" /></td>
            <td width="90">Realizada</td>
            <td width="35" height="35"><img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/realizada.png') }}" alt="Realizada" title="Realizada" width="35" height="35" /></td>
            <td width="90">Reportada</td>
            <td width="35" height="35"><img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/reportada.png') }}" alt="Reportada" title="Reportada" width="35" height="35" /></td>
            <td width="90">Cerrada</td>
            <td width="35" height="35"><img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/cerrada.png') }}" alt="Cerrada" title="Cerrada" width="35" height="35" /></td>
            <td width="90">Cancelada</td>
            <td width="35" height="35"><img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/cancelada.png') }}" alt="Cancelada" title="Cancelada" width="35" height="35" /></td>
            </table>
            <br><br><br>
        <table width="875">
            <thead>
                <tr><th>
                    REGISTRO DE REVISIONES
                </th></tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ entities.comments }}
                </td>
            </tr>
            </tbody>
            </table>

{% endblock %}