{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li ><a href="{{ path('agenda') }}" title="Ver programa anual">Programa Anual</a></li>
                    <li class="active"><a href="#"  title="Programación anual">Calendario de Programación Anual</a></li>
            </ul>
        </div>
    </div>
    <br/>
    {% if is_granted('ROLE_JEFE_CALIDAD') %}
        <ul class="pull-right">
            <a class="btn btn-info btn-xs" href="{{ path('agenda_programpdf', { 'id': entity.id }) }}" title="Genera archivo PDF">
                <span class="glyphicon glyphicon-file"></span> Generar PDF
            </a>
        </ul>
    {% endif %}
    <br/>
    <hr/>

<div class="row">
    <div class="col-sm-12">
        <b>{{ entity.name }}<br/>
        PROYECTO: {{ entity.projects }}  FECHA: {{ entity.created|date('Y-m-d') }}
        </b>
        <br/>
        <hr/>

<table  class="table table-bordered">
    <thead>
    <tr class="active">
        <th>No.</th>
        <th>Auditoria / Vigilancia</th>
        <th>Auditor Lider</th>
        <th>Doc.Apl.</th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
        <th>Modificar</th>
    </tr>
    </thead>
    <tbody>
    {% for event in entity.events %}
    <tr>
        <td>
            {{ event.code }}
        </td>
        <td>
            {{ event.audit }}
        </td>
        <td>
            {{ event.auditor }}
        </td>
        <td>
            {{ event.document }}
        </td>
        {% for month in range(1,12) %}
            {% if event.begin|date('m') == month %}
                <td>
                {% if event.status.name=="PLANEADA" %}
                    <img class="img-thumbnail" src="{{ asset('img/planeada.png') }}" alt="Planeada" title="Planeada" width="35" height="35" />
                {% endif %}
                {% if event.status.name=="DIFERIDA" %}
                    <img class="img-thumbnail" src="{{ asset('img/diferida.png') }}" alt="Diferida" title="Diferida" width="35" height="35" />
                {% endif %}
                {% if event.status.name=="PROGRAMADA" %}
                    <img class="img-thumbnail" src="{{ asset('img/programada.png') }}" alt="Programada" title="Programada" width="35" height="35" />
                {% endif %}
                {% if event.status.name=="REALIZADA" %}
                    <img class="img-thumbnail" src="{{ asset('img/realizada.png') }}" alt="Realizada" title="Realizada" width="35" height="35" />
                {% endif %}
                {% if event.status.name=="REPORTADA" %}
                    <img class="img-thumbnail" src="{{ asset('img/reportada.png') }}" alt="Reportada" title="Reportada" width="35" height="35" />
                {% endif %}
                {% if event.status.name=="CERRADA" %}
                    <img class="img-thumbnail" src="{{ asset('img/cerrada.png') }}" alt="Cerrada" title="Cerrada" width="35" height="35" />
                {% endif %}
                {% if event.status.name=="CANCELADA" %}
                    <img class="img-thumbnail" src="{{ asset('img/cancelada.png') }}" alt="Cancelada" title="Cancelada" width="35" height="35" />
                {% endif %}
                </td>
            {% else %}
                <td> </td>
            {% endif %}
        {% endfor %}
        <td>
            <a href="{{ path('event_edit', { 'id': event.id }) }}" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
        <br>
        <table  class="table table-bordered">
            <thead>
            <tr class="active">
                <th colspan="14">
                    SIMBOLOGÍA:
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="90"> Planeada </td>
                <td width="35" height="35"><img class="img-thumbnail" src="{{ asset('img/planeada.png') }}" alt="Planeada" title="Planeada" width="35" height="35" /> </td>
                <td width="90"> Diferida </td>
                <td width="35" height="35"><img class="img-thumbnail" src="{{ asset('img/diferida.png') }}" alt="Diferida" title="Diferida" width="35" height="35" /></td>
                <td width="90">Realizada</td>
                <td width="35" height="35"><img class="img-thumbnail" src="{{ asset('img/realizada.png') }}" alt="Realizada" title="Realizada" width="35" height="35" /></td>
                <td width="90">Reportada</td>
                <td width="35" height="35"><img class="img-thumbnail" src="{{ asset('img/reportada.png') }}" alt="Reportada" title="Reportada" width="35" height="35" /></td>
                <td width="90">Cerrada</td>
                <td width="35" height="35"><img class="img-thumbnail" src="{{ asset('img/cerrada.png') }}" alt="Cerrada" title="Cerrada" width="35" height="35" /></td>
                <td width="90">Cancelada</td>
                <td width="35" height="35"><img class="img-thumbnail" src="{{ asset('img/cancelada.png') }}" alt="Cancelada" title="Cancelada" width="35" height="35" /></td>
        </table>
        <br>
        <table  class="table table-bordered">
            <thead>
            <tr class="active"><th>
                    REGISTRO DE REVISIONES
                </th></tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ entity.comments }}
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}

