{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li ><a href="{{ path('agenda') }}" title="Ver programacion anual">Programa Anual</a></li>
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_JEFE_CALIDAD') or is_granted('ROLE_CONTROL_DOC')) %}
                <li class="active"><a href="#"  title="Detalle programa">Detalle Programa</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-12">

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.name }} Proyecto: {{ entity.projects }} Fecha: {{ entity.created|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Inicia periodo</th>
                <td>{{ entity.begin|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Termina periodo</th>
                <td>{{ entity.end|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Registro de revisiones</th>
                <td>{{ entity.comments }}</td>
            </tr>
        </tbody>
    </table>
<br/>
<br/>
        <a class="btn btn-primary btn-group" href="{{ path('agenda') }}" title="Ver auditorías/vigilancias">
            <span class="glyphicon glyphicon-chevron-left"></span> Regresar
        </a>
            <a class="btn btn-primary btn-group" href="{{ path('agenda_edit', { 'id': entity.id }) }}" title="Editar programa">
                <span class="glyphicon glyphicon-edit"></span> Editar
            </a>

        </div>
    </div>
{% endblock %}
