{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ranges</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Minimum</th>
                <td>{{ entity.minimum }}</td>
            </tr>
            <tr>
                <th>Maximum</th>
                <td>{{ entity.maximum }}</td>
            </tr>
            <tr>
                <th>Step</th>
                <td>{{ entity.step }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('categorization_range') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('categorization_range_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
