{% extends "ControlDocumentoBundle:Default:index.html.twig" %}



{% block content %}
    {#<h1>Editar Libro</h1>#}
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('libros') }}" title="Ver libros">Libros</a></li>
            <li class="active"><a href="#" title="Editar libro">Editar libro</a></li>
        </ul>
    </div>

    <br>

    {#{{ form(edit_form, { 'attr': {'novalidate':'novalidate'} }) }}#}
    <div class="row">

        <div class="col-xs-2">
            &nbsp;
        </div>

        <div class="col-xs-7">

            {#{{ form(form, { 'attr': {'novalidate':'novalidate'} }) }}#}

            {{ form_start(edit_form, { 'attr': {'novalidate':'novalidate'} }) }}

            {#  {{ form_errors(form) }}#}
            <br>
            {{ form_label(edit_form.file) }}
            <div class="text-danger">
                {{ form_errors(edit_form.file) }}
            </div>
            {{ form_widget(edit_form.file) }}

            <br>
            {{ form_label(edit_form.titulo) }}
            <div class="text-danger">
                {{ form_errors(edit_form.titulo) }}
            </div>
            {{ form_widget(edit_form.titulo) }}

            <br>
            {{ form_label(edit_form.autores_porlibro) }}
            <div class="text-danger">
                {#{{ form_errors(form.autores_porlibro) }}#}
                {{ form_errors(edit_form) }}
            </div>
            {{ form_widget(edit_form.autores_porlibro) }}

            <br><br>
            {{ form_label(edit_form.editorial_desdetablaEditoriales) }}
            <div class="text-danger">
                {{ form_errors(edit_form.editorial_desdetablaEditoriales) }}
            </div>
            {{ form_widget(edit_form.editorial_desdetablaEditoriales) }}

            <br><br>
            {{ form_label(edit_form.edicion) }}
            <div class="text-danger">
                {{ form_errors(edit_form.edicion) }}
            </div>
            {{ form_widget(edit_form.edicion) }}

            <br>
            {{ form_label(edit_form.noEdicion) }}
            <div class="text-danger">
                {{ form_errors(edit_form.noEdicion) }}
            </div>
            {{ form_widget(edit_form.noEdicion) }}


            <br>
            {{ form_label(edit_form.isbn) }}
            <div class="text-danger">
                {{ form_errors(edit_form.isbn) }}
            </div>
            {{ form_widget(edit_form.isbn) }}

            <br>
            {{ form_label(edit_form.totalPaginas) }}
            <div class="text-danger">
                {{ form_errors(edit_form.totalPaginas) }}
            </div>
            {{ form_widget(edit_form.totalPaginas) }}

            <br>
            {{ form_label(edit_form.tema) }}
            <div class="text-danger">
                {{ form_errors(edit_form.tema) }}
            </div>
            {{ form_widget(edit_form.tema) }}

            <br>

            {{ form_end(edit_form) }}

            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary btn-group" href="{{ path('libros') }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>

                </li>
                <li>
                    {{ form(delete_form) }}
                </li>

                <li>
                    {{ form_row(edit_form.submit) }}
                </li> 
                
                
             
                        
            </ul>   
        </div>
    </div>
{% endblock %}