{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{{ path('libros') }}" title="Ver Libros">Libros</a></li>
                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') %}
                    <li><a href="{{ path('libros_new') }}" title="Nuevo Libro">Nuevo Libro</a></li>
                    {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <div class="alert alert-danger"><span class="glyphicon glyphicon-copyright-mark"></span>
                <bold>Queda rigurosamente prohibida, sin autorización escrita de los titulares del Copyright, bajo las sanciones establecidas en las leyes, la reproducción total y/o parcial de estas obras por cualquier medio o procedimiento. Los recursos compartidos aquí son para consulta.</bold>
            </div>

            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('libros_pdf') }}" title="Exportar completo a PDF">
                    <span class="glyphicon glyphicon-file"></span> Libros en PDF
                </a>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="col-sm">
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">

                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>ISBN</th>
                        <th>Ver</th>
                        <th>Tipo</th>
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') %}
                            <th>Opciones</th>
                            {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.titulo }}</td>
                            <td>{{ entity.isbn }}</td>
                            <td><a href="{{ path('verlibro',{'id': entity.id}) }}" title="PDF"><span  class="glyphicon glyphicon-book"></span></a></td>
                            <td>{{ entity.types }}</td>


                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') %}

                                <td>
                                    <ul class="list-inline">
                                        <li>
                                            <a href="{{ path('libros_show', { 'id': entity.id }) }}" title="Ver libros">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ path('libros_edit', { 'id': entity.id }) }}" title="Editar libros">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br/>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-success" href="{{ path('libros_new') }}" title="Nuevo Libro">
                            <span class="glyphicon glyphicon-plus-sign"></span> Nuevo Libro
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}