{% extends "ControlDocumentoBundle:Default:index.html.twig" %}

{% block content %}


    {#<div class="col-xs-2">#}
    {#<ul class="list-inline text-center" >#}
    {#<li>#}
    {#&#123;&#35;     <a class="btn btn-primary" href="{{ path('libros') }}"> &#35;&#125;#}
    {#<a  href="{{ path('libros') }}">#}
    {#<span class="glyphicon glyphicon-chevron-left"></span>#}
    {#Listado de libros#}
    {#</a>#}
    {#</li>#}
    {#</ul>#}

    {#</div>#}

    {#<h1>Nuevo libro</h1>#}

    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('libros') }}" title="Ver libros">Libros</a></li>
            <li class="active"><a href="{{ path('libros_new') }}" title="Nuevo libro">Nuevo libro</a></li>
        </ul>
    </div>
    <br>
    <div class="row">

        <div class="col-xs-2">
            &nbsp;
        </div>

        <div class="col-xs-7">
            {#{{ form(form, { 'attr': {'novalidate':'novalidate'} }) }}#}

            {{ form_start(form, { 'attr': {'novalidate':'novalidate'} }) }}

            {#  {{ form_errors(form) }}#}
            <br>
            {{ form_label(form.file) }}
            <div class="text-danger">
                {{ form_errors(form.file) }}
            </div>
            {{ form_widget(form.file) }}

            <br>
            {{ form_label(form.titulo) }}
            <div class="text-danger">
                {{ form_errors(form.titulo) }}
            </div>
            {{ form_widget(form.titulo) }}

            <br>
            {{ form_label(form.autores_porlibro) }}
            <div class="text-danger">
                {#{{ form_errors(form.autores_porlibro) }}#}
                {{ form_errors(form) }}
                {#{{ form.vars.errors | ladybug_dump }}#}
            </div>
            {{ form_widget(form.autores_porlibro) }}

            <br><br>
            {{ form_label(form.editorial_desdetablaEditoriales) }}
            <div class="text-danger">
                {{ form_errors(form.editorial_desdetablaEditoriales) }}
            </div>
            {{ form_widget(form.editorial_desdetablaEditoriales) }}

            <br><br>
            {{ form_label(form.edicion) }}
            <div class="text-danger">
                {{ form_errors(form.edicion) }}
            </div>
            {{ form_widget(form.edicion) }}

            <br>
            {{ form_label(form.noEdicion) }}
            <div class="text-danger">
                {{ form_errors(form.noEdicion) }}
            </div>
            {{ form_widget(form.noEdicion) }}


            <br>
            {{ form_label(form.isbn) }}
            <div class="text-danger">
                {{ form_errors(form.isbn) }}
            </div>
            {{ form_widget(form.isbn) }}

            <br>
            {{ form_label(form.totalPaginas) }}
            <div class="text-danger">
                {{ form_errors(form.totalPaginas) }}
            </div>
            {{ form_widget(form.totalPaginas) }}

            <br>
            {{ form_label(form.tema) }}
            <div class="text-danger">
                {{ form_errors(form.tema) }}
            </div>
            {{ form_widget(form.tema) }}

            <br>

            {{ form_end(form) }}
            
            <ul class="list-inline">
                <li>
                    {{ form_row(form.submit) }}
                </li>



            </ul>


        </div>

        {#        <div class="col-xs-3 text-right">
                    <ul class="list-inline" >
                        <li>
                            &#123;&#35;     <a class="btn btn-primary" href="{{ path('libros') }}"> &#35;&#125;
                            <a  href="{{ path('libros') }}">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                Listado de libros
                            </a>
                        </li>
                    </ul>
                </div>#}


    </div>


{% endblock %}
