{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('libros') }}" title="Ver libros">Libros</a></li>
                <li class="active"><a href="#" title="Muesta libro">Muestra libro</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle del libro</h4>
        </div>
    </div><br/>

    <div class="row">
        <div class="col-sm-1">

        </div>

        {#<div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Id</strong><br/>
            <strong>Título</strong><br/>
            <strong>Editorial</strong><br/>
            <strong>Edición</strong><br/>
            <strong>Año de Edición</strong><br/>
            <strong>ISBN</strong><br/>
            <strong>Páginas Totales</strong><br/>
            <strong>Tema</strong><br/>
            <strong>Autor(es)</strong><br/>
            <strong>Tipo</strong>
            <strong>Tipo de Normativa<br/>
        </div>
        <div class="col-xs-9">
            {{ entity.id }}<br/>
            {{ entity.titulo }}<br/>
            {{ entity.editorialdesdetablaEditoriales.descripcion }}<br/>
            {{ entity.noEdicion }}<br/>
            {{  entity.edicion }}<br/>
            {{ entity.isbn }}<br/>
            {{ entity.totalPaginas }}<br/>
            {{ entity.tema }}<br/>
            {% for autor in entity.autoresporlibro %}- {{ autor.paterno }} {{ autor.materno }},{{ autor.nombre }} -  {% endfor %}<br/>
            {{ entity.type}}<br/>
            {{ entity.tipoNormativa}}
        </div>#}

        <div class="row">
            <table cellpadding="0" border="1" class="table table-striped" id="dtable">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td align="center">{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <td align="center">{{ entity.titulo }}</td>
                    </tr>
                    <tr>
                        <th>Editorial</th>
                        <td align="center">{{ entity.editorialdesdetablaEditoriales.descripcion }}</td>
                    </tr>
                    <tr>
                        <th>Edicion</th>
                        <td align="center">{{ entity.noEdicion }}</td>
                    </tr>
                    <tr>
                        <th>Año</th>
                        <td align="center">{{ entity.edicion }}</td>
                    </tr>
                    <tr>
                        <th>ISBN</th>
                        <td align="center">{{ entity.isbn }}</td>
                    </tr>
                    <tr>
                        <th>Paginas</th>
                        <td align="center">{{ entity.totalPaginas }}</td>
                    </tr>
                    <tr>
                        <th>Tema</th>
                        <td align="center">{{ entity.tema }}</td>
                    </tr>
                    <tr>
                        <th>Autor</th>
                        <td align="center">{% for autor in entity.autoresporlibro %}- {{ autor.paterno }} {{ autor.materno }},{{ autor.nombre }} -  {% endfor %}</td>
                    </tr>
                    <tr>
                        <th>Tipo</th>
                        <td align="center">{{ entity.types }}</td>
                    </tr>
                    <tr>
                        <th>Tipo de Normativa</th>
                        <td align="center">{{ entity.normativas }}</td>
                    </tr>
                    <tr>
                        <th>Visibilidad</th>
                        <td align="center">{{ entity.visibilidad }}</td>
                    </tr>
                </tbody>
            </table>
        </div>











    </div><br/><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary btn-group" href="{{ path('libros') }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Regresar
                    </a>


                    {% if is_granted('ROLE_GERENCIA') %}

                    {% else %}

                    <li>
                        <a class="btn btn-success btn-group" href="{{ path('libros_edit', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                            Editar
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>






                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}