<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li><img class="img-thumbnail" src="{{ asset('img/logo_5.png') }}" alt="Ultra Ingeniría" title="Ultra Ingeniería SA de CV"/></li>
        </ul>
        <ul class="nav navbar-nav navbar-text">
            {% if is_granted('ROLE_CAPT') %}
            <li>Captura</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" title="{{ app.user.username }}"><span class="glyphicon glyphicon-user"></span></a>
            </li>
            <li><span class="navbar-text">{{ app.user.username }}</span></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-th fa-lg"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('curricula') }}" title="Curriculas">Curriculas</a></li>
                    <li><a href="{{ path('calidad_auditoria', { 'e':1 }) }}" title="Auditorías/Vigilancias">Auditorías/Vigilancias vigentes</a></li>
                    <li><a href="{{ path('calidad_recomendaciones', { 'e':1 }) }}" title="RAP's/RAC's">RAP's/RAC's vigentes</a></li>
                   <!-- <li><a href="{{ path('procedimiento') }}" title="Documentos">Documentos</a></li> -->
                   <!-- <li><a href="{{ path('perfil') }}" title="Perfil">Perfil</a></li> -->
                </ul>
            </li>
            <li><a href="{{ path('ultra_controldocumento_default_index') }}" title="Inicio"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="{{ path('logout_area') }}"><i class="fa fa-power-off fa-lg" title="Salir"></i></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

    </nav>
{% endif %}