{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
     {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('helpdesk_category') }}" title="Ver categorías">Categorías</a></li>
            <li   class="active"><a href="#"  title="Editar categoría">Editar Categoría</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>

    {{ form(edit_form) }}

</div>
</div>
{% endblock %}
