{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-detalle').formproject({'addlink':'#add-detalle','column':'col-sm-2'});
    </script>
{% endblock %}

{% form_theme edit_form 'RHBundle:Form:form_extra_field.html.twig' %}

{% block content -%}

    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('calidad_recomendaciones', { 'e': 1 }) }}" title="Ver RAP's/RAC's">RAP's/RAC's</a></li>
                <li class="active"><a href="#"  title="Editar RAP/RAC">Edición</a></li>
            </ul>
        </div>
    </div>
    <br/>


    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(edit_form.clave) }}
            <div class="text-danger">{{ form_errors(edit_form.clave) }} </div>
            {{ form_widget(edit_form.clave) }}
        </div>
        {% if is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-1">
            {{ form_label(edit_form.conteo) }}
            <div class="text-danger">{{ form_errors(edit_form.conteo) }} </div>
            {{ form_widget(edit_form.conteo) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.localizacion) }}
            <div class="text-danger">{{ form_errors(edit_form.localizacion) }} </div>
            {{ form_widget(edit_form.localizacion) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.codigo) }}
            <div class="text-danger">{{ form_errors(edit_form.codigo) }} </div>
            {{ form_widget(edit_form.codigo) }}
        </div>
        {% endif %}
        <div class="col-xs-5">
            {{ form_label(edit_form.area) }}
            <div class="text-danger">{{ form_errors(edit_form.area) }} </div>
            {{ form_widget(edit_form.area) }}
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(edit_form.fechaApertura) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaApertura) }} </div>
            {{ form_widget(edit_form.fechaApertura) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.fechaCierre) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaCierre) }} </div>
            {{ form_widget(edit_form.fechaCierre) }}
        </div>
        {% if is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-2">
            {{ form_label(edit_form.fechaTransmision) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaTransmision) }} </div>
            {{ form_widget(edit_form.fechaTransmision) }}
        </div>
        {% endif %}
        <div class="col-xs-6">
            {{ form_label(edit_form.requirements) }}
            <div class="text-danger">{{ form_errors(edit_form.requirements) }} </div>
            {{ form_widget(edit_form.requirements) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(edit_form.descripcion) }}
            <div class="text-danger">{{ form_errors(edit_form.descripcion) }} </div>
            {{ form_widget(edit_form.descripcion) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(edit_form.referencia) }}
            <div class="text-danger">{{ form_errors(edit_form.referencia) }} </div>
            {{ form_widget(edit_form.referencia) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-10">
            {{ form_label(edit_form.file) }}
            <div class="text-danger">{{ form_errors(edit_form.file) }} </div>
            {{ form_widget(edit_form.file) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.estado) }}
            <div class="text-danger">{{ form_errors(edit_form.estado) }} </div>
            {{ form_widget(edit_form.estado) }}
        </div>
    </div>
    <div class="row row-blue" id="collection-detalle" data-prototype="{{ form_widget(edit_form.activities.vars.prototype)|e }}">
        {% for activity in edit_form.activities %}
        <div class="col-sm-12">
            <div class="row">
                {{ form_row(activity.name) }}
                {{ form_row(activity.complete) }}
                {{ form_row(activity.limitDate) }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row top-buffer">
        <div class="col-sm-12">
            <a href="#" id="add-detalle" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
        </div>
    </div>
    <br/><hr/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
