{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  class="active"><a href="{{ path('calidad_recomendaciones', { 'e': estado }) }}" title="Ver RAP's/RAC's">RAP's/RAC's</a></li>
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_CAPT') or is_granted('ROLE_JEFE_CALIDAD')) %}
            {% if estado==1 %}
                <li><a href="{{ path('calidad_recomendaciones_new') }}"  title="Nueva RAP's/RAC's">Nueva RAP/RAC</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
</div>
    <br/>
    {% if estado==1  %}
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-comment"></span><strong>&nbsp;RAP's/RAC's Abiertas.</strong>
        </div>
    {% endif %}
    {% if estado==4  %}
        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-comment"></span><strong>&nbsp;RAP's/RAC's Cerradas.</strong>
        </div>
    {% endif %}
    {% if estado==3  %}
        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-comment"></span><strong>&nbsp;RAP's/RAC's Canceladas.</strong>
        </div>
    {% endif %}
<div class="row">
    <div class="col-sm-12">
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Área(s)</th>
                <th>Descripción</th>
                {% if ((is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_CAPT')) and estado==1) %}
                <th>Transmisión</th>
                <th>Código</th>
                {% endif %}
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.clave }}</td>
                <td>{% for a in entity.area  %}{{ a }} {% endfor %}</td>
                <td>{{ entity.descripcion }}</td>
                {% if ((is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_CAPT')) and estado==1) %}
                <td>{% if entity.fechaTransmision %}{{ entity.fechaTransmision|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.codigo }}</td>
                {% endif %}
                <td>
                {% if estado == 1 %}
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('calidad_recomendaciones_show', { 'id': entity.id }) }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </li>

                        {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_CAPT') or is_granted('ROLE_JEFE_CALIDAD')) %}
                            <li>|</li>
                            <li>
                                <a href="{{ path('calidad_recomendaciones_edit', { 'id': entity.id }) }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </li>
                        {% endif %}

                        {% if entity.pdf == null %}
                            <li>|</li>
                            <li>
                                <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay PDF cargado.</span>
                            </li>
                        {% else %}
                            <li>|</li>
                            <li>
                                <a href="{{ path('servir_recomendacion', { 'id': entity.id } ) }}"><i class="fa fa-file-pdf-o"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

                {% if estado == 3 %}
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('calidad_recomendaciones_show', { 'id': entity.id }) }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </li>

                        {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') ) %}
                            <li>|</li>
                            <li>
                                <a href="{{ path('calidad_recomendaciones_edit', { 'id': entity.id }) }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </li>
                        {% endif %}

                        {% if entity.pdf == null %}
                            <li>|</li>
                            <li>
                                <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay PDF cargado.</span>
                            </li>
                        {% else %}
                            <li>|</li>
                            <li>
                                <a href="{{ path('servir_recomendacion', { 'id': entity.id } ) }}"><i class="fa fa-file-pdf-o"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

                {% if estado == 4 %}
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('calidad_recomendaciones_show', { 'id': entity.id }) }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </li>

                        {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC')) %}
                            <li>|</li>
                            <li>
                                <a href="{{ path('calidad_recomendaciones_edit', { 'id': entity.id }) }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </li>
                        {% endif %}

                        {% if entity.pdf == null %}
                            <li>|</li>
                            <li>
                                <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay PDF cargado.</span>
                            </li>
                        {% else %}
                            <li>|</li>
                            <li>
                                <a href="{{ path('servir_recomendacion', { 'id': entity.id } ) }}"><i class="fa fa-file-pdf-o"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    {% endblock %}
