{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-detalle').formproject({'addlink':'#add-detalle','column':'col-sm-2'});
    </script>
{% endblock %}

{% form_theme form 'RHBundle:Form:form_extra_field.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('calidad_recomendaciones', { 'e': 1 }) }}" title="Ver RAP's/RAC's">RAP's/RAC's</a></li>
                <li class="active"><a href="{{ path('calidad_recomendaciones_new') }}"  title="Nueva RAP/RAC">Nueva RAP/RAC</a></li>
            </ul>
        </div>
    </div>
    <br/>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(form.clave) }}
            <div class="text-danger">{{ form_errors(form.clave) }} </div>
            {{ form_widget(form.clave) }}
        </div>
        {% if is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CAPT') %}
        <div class="col-xs-1">
            {{ form_label(form.conteo) }}
            <div class="text-danger">{{ form_errors(form.conteo) }} </div>
            {{ form_widget(form.conteo) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.localizacion) }}
            <div class="text-danger">{{ form_errors(form.localizacion) }} </div>
            {{ form_widget(form.localizacion) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.codigo) }}
            <div class="text-danger">{{ form_errors(form.codigo) }} </div>
            {{ form_widget(form.codigo) }}
        </div>
            {% endif %}
        <div class="col-xs-5">
            {{ form_label(form.area) }}
            <div class="text-danger">{{ form_errors(form.area) }} </div>
            {{ form_widget(form.area) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(form.fechaApertura) }}
            <div class="text-danger">{{ form_errors(form.fechaApertura) }} </div>
            {{ form_widget(form.fechaApertura) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.fechaCierre) }}
            <div class="text-danger">{{ form_errors(form.fechaCierre) }} </div>
            {{ form_widget(form.fechaCierre) }}
        </div>
    {% if is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CAPT') %}
        <div class="col-xs-2">
            {{ form_label(form.fechaTransmision) }}
            <div class="text-danger">{{ form_errors(form.fechaTransmision) }} </div>
            {{ form_widget(form.fechaTransmision) }}
        </div>
     {% endif %}
        <div class="col-xs-6">
            {{ form_label(form.requirements) }}
            <div class="text-danger">{{ form_errors(form.requirements) }} </div>
            {{ form_widget(form.requirements) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(form.descripcion) }}
            <div class="text-danger">{{ form_errors(form.descripcion) }} </div>
            {{ form_widget(form.descripcion) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(form.referencia) }}
            <div class="text-danger">{{ form_errors(form.referencia) }} </div>
            {{ form_widget(form.referencia) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-10">
            {{ form_label(form.file) }}
            <div class="text-danger">{{ form_errors(form.file) }} </div>
            {{ form_widget(form.file) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.estado) }}
            <div class="text-danger">{{ form_errors(form.estado) }} </div>
            {{ form_widget(form.estado) }}
        </div>
    </div>
    <div class="row row-blue" id="collection-detalle" data-prototype="{{ form_widget(form.activities.vars.prototype)|e }}">
        <div class="col-sm-12">
            {% for activity in form.activities %}
                <div class="row">
                    {{ form_row(activity.name) }}
                    {{ form_row(activity.complete) }}
                    {{ form_row(activity.limitDate) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-12">
            <a href="#" id="add-detalle" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
        </div>
    </div>
    <br/><hr/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit) }}
        </div>
    </div>
    <hr/>
    {{ form_end(form) }}
{% endblock %}