{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('calidad_recomendaciones', { 'e': 1 }) }}" title="Ver RAP's/RAC's">RAP's/RAC's</a></li>
                <li  class="active"><a href="{{ path('calidad_recomendaciones_show', { 'id': entity.id }) }}"  title="Detalle RAP/RAC">Nueva RAP/RAC</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Clave</th>
                <td>{{ entity.clave }}</td>
            </tr>
            {#<tr>
                <th>Revisión</th>
                <td>{{ entity.area }}</td>
            </tr>#}
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Transmisión</th>
                <td>{{ entity.fechaTransmision|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Conteo</th>
                <td>{{ entity.conteo }}</td>
            </tr>
            <tr>
                <th>Localización</th>
                <td>{{ entity.localizacion }}</td>
            </tr>
            <tr>
                <th>Código</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Archivo</th>
                <td>{{ entity.pdf }}</td>
            </tr>
        </tbody>
    </table>
<br/>
            <a class="btn btn-primary btn-group" href="{{ path('calidad_recomendaciones', { 'e': 1 }) }}" title="Ver auditorías/vigilancias">
                <span class="glyphicon glyphicon-chevron-left"></span> Regresar
            </a>
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC')) %}
            <a class="btn btn-primary btn-group" href="{{ path('calidad_recomendaciones_edit', { 'id': entity.id }) }}" title="Editar auditorías/vigilancias">
                <span class="glyphicon glyphicon-edit"></span> Editar
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
