{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  class="active"><a href="{{ path('helpdesk_software') }}" title="Ver software">Categoría de Software</a></li>
            <li><a href="{{ path('helpdesk_software_new') }}"  title="Nueva categoría de software">Nueva</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
            <tr>
                <th>Software</th>
                <th>Version</th>
                <th>Capacidad</th>
                <th>Necesidad</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.softwareName }}</td>
                <td>{{ entity.softwareVersion }}</td>
                <td>{{ entity.softwareSize }}</td>
                <td>{{ entity.softwareNeed }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('helpdesk_software_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('helpdesk_software_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</div>
    {% endblock %}
