{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
        {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('helpdesk_software') }}" title="Ver software">Categoría de Software</a></li>
            <li  class="active"><a href="#"  title="Ver categoría de software">Detalle</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Softwarename</th>
                <td>{{ entity.softwareName }}</td>
            </tr>
            <tr>
                <th>Softwareversion</th>
                <td>{{ entity.softwareVersion }}</td>
            </tr>
            <tr>
                <th>Softwaresize</th>
                <td>{{ entity.softwareSize }}</td>
            </tr>
            <tr>
                <th>Softwareneed</th>
                <td>{{ entity.softwareNeed }}</td>
            </tr>
        </tbody>
    </table>

</div>
</div>
{% endblock %}
