{% extends '::base.html.twig' %}

{% block body %}
    {% block header %}
        {% include('ControlDocumentoBundle:Gral:gral.html.twig') %}
    {% endblock %}

    <div class="container">
        {% block content %}
            <p align="center">
                <img src="{{ asset('img/homePage.png') }}" title="Sistema de Administración Documental">
            </p>
        {% endblock %}
        <!--Cursos que se le vencen al usuario           -->
        <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>
            <bold>&nbsp;BIENVENIDO {% if app.user.curricula %} {{ user.curricula.nombre }} {{ user.curricula.apellidoPaterno}} {{ user.curricula.apellidoMaterno }}<br/><br/>
                     {% endif %}
                     {% if b==2 %}
                        &nbsp;TIENES LAS SIGUIENTES ACTUALIZACIONES Y/O LECTURAS PENDIENTES
                     {% elseif b==1 %}
                        &nbsp; NO TIENES PERFIL ASIGNADO
                     {% else %}
                         &nbsp;
                     {% endif %}
            </bold>
        </div>
        <!-- LISTA MAESTRA VIGENTE -->
        <div class="alert alert-success"><span class="glyphicon glyphicon-folder-open"></span>
            <bold>
                {% for lista in lm %}
                <a href="{{ path('servir',{'id': lista.id}) }}" title="Pdf"> Ver Lista Maestra en PDF <i class="fa fa-file-pdf-o"></i></a>
                {% endfor %}
                </br>
                <!-- DOCUMENTOS GENERALES -->
                {% for documento in doc %}
                    {% if documento.pdf==NULL %}
                        <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay archivo de {{ documento.title}}</span>
                    {% else %}
                        <a href="{{ path('servir_documento_general', { 'id': documento.id }) }}" title="{{ documento.title}}">Ver {{ documento.title}} <i class="fa fa-file-pdf-o"></i></a>
                    {% endif %}
                    </br>
                {% endfor %}
            </bold>
        </div>
        <table class="table table-striped">
            <tbody>
            {% if app.user.curricula %}
                {% for ext in faltanext %}
                    <tr>
                        <td>{{ ext.nom }}</td>
                    </tr>
                {% endfor %}
                {% for int in faltanint %}
                    <tr>
                        <td>{{ int.tit }}-Rev.{{ int.rev }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <!-- CALENDARIO CUMPLEAÑOS -->
        <div class="alert alert-info"><i class="fa fa-birthday-cake"></i>
            <bold>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>CUMPLEAÑOS DEL MES</th>
                            <th>Día</th>
                        </tr>
                        {% for c in cumple %}
                        <tr>
                            <td>{{ c.app }} {{ c.apm }} {{ c.nom }}</td>
                            <td>{{ c.fn|date('d') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </bold>
        </div>
    </div>
{% endblock %}
