<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<p>Existen Actividades proximas a vencer; revise en el Sistema de Administración de Documentos (SAD) </p>
{% for recommendation in recommendations %}
    <h2>{{ recomendation.clave }}</h2>
    <ul>
        {% for activity in recommendation.activities %}
            <li>{{ activity.name }}</li>
        {% endfor %}
    </ul>
{% endfor %}
</body>
</html>