{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('profesion') }}" title="Ver Profesiones">Profesiones</a></li>
                <li class="active"><a href="#}}" title="Editar Profesiones">Editar Profesion</a></li>
            </ul>
            <br/>
            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Edición de la profesión.
            </div>

        </div>
    </div>
    {{ form_start(edit_form) }}
    <div class="row">

        <div class="col-sm-4">
            {{ form_label(edit_form.institucion) }}
            <div class="text-danger">{{ form_errors(edit_form.institucion) }} </div>
            {{ form_widget(edit_form.institucion) }}
        </div>

        <div class="col-sm-4">

            {{ form_label(edit_form.nombre) }}
            <div class="text-danger">{{ form_errors(edit_form.nombre) }} </div>
            {{ form_widget(edit_form.nombre) }}
        </div>
        <div class="col-sm-1">
            {{ form_label(edit_form.clave) }}
            <div class="text-danger">{{ form_errors(edit_form.clave) }} </div>
            {{ form_widget(edit_form.clave) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(edit_form.nivel) }}
            <div class="text-danger">{{ form_errors(edit_form.nivel) }} </div>
            {{ form_widget(edit_form.nivel) }}
        </div>
    </div>
    <div class="row">

    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('profesion') }}" title="Ver Profesiones">
                        <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}