{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                    <li  class="active"><a href="{{ path('profesion') }}" title="Ver Profesiones">Profesiones</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CAPT')  %}
                    <li><a href="{{ path('profesion_new') }}" title="Nueva Profesión">Nueva Profesión</a></li>
                {% endif %}
            </ul>
         </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
                <br/>
                <ul class="pull-right">
                    <a class="btn btn-info btn-xs" href="{{ path('profesiones_pdf') }}" title="Exportar completo a PDF">
                        <span class="glyphicon glyphicon-file"></span> Profesiones en PDF
                    </a>
                </ul>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
    <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Clave</th>
        <th>Nivel</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.clave }}</td>
            <td>{{ entity.nivel }}</td>
            <td>
                <ul class="list-inline">


                        <li>
                            <a href="{{ path('profesion_show', { 'id': entity.id }) }}" title="Ver">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </li>

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CAPT')  %}

                        <li>
                            <a href="{{ path('profesion_edit', { 'id': entity.id }) }}" title="Editar">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </li>

                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}


        </tbody>
        </table>
        <br/>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CAPT')  %}
        <ul class="list-inline">
            <li>
                <a class="btn btn-success" href="{{ path('profesion_new') }}" title="Nueva Profesión">
                    <span class="glyphicon glyphicon-plus-sign"></span> Nueva Profesión
                </a>
            </li>
        </ul>

    {% endif %}
    </div>
    </div>
{% endblock %}
