
{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('profesion') }}" title="Ver Profesiones">Profesiones</a></li>
                <li class="active"><a href="{{ path('profesion_new') }}" title="Nueva Profesión">Nueva Profesión</a></li>
            </ul>
            <br/>
            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí los datos de la nueva profesión.
            </div>

        </div>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-4">
            {{ form_label(form.institucion) }}
            <div class="text-danger">{{ form_errors(form.institucion) }} </div>
            {{ form_widget(form.institucion) }}
        </div>

        <div class="col-sm-4">

                {{ form_label(form.nombre) }}
                <div class="text-danger">{{ form_errors(form.nombre) }} </div>
                {{ form_widget(form.nombre) }}
        </div>
        <div class="col-sm-1">
                {{ form_label(form.clave) }}
                <div class="text-danger">{{ form_errors(form.clave) }} </div>
                {{ form_widget(form.clave) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(form.nivel) }}
            <div class="text-danger">{{ form_errors(form.nivel) }} </div>
            {{ form_widget(form.nivel) }}
        </div>
    </div>
    <div class="row">

    </div>

    <div class="row">
        <div class="col-xs-12">
                {{ form_end(form) }}
        </div>
    </div>
{% endblock %}