{% extends '::base.html.twig' %}

{% block body -%}
    <h1>DetalleOrdenTrabajo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Fechaprogfin</th>
                <th>Fecharealfin</th>
                <th>Volumen</th>
                <th>Tipotarea</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('detalle_orden_trabajo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{% if entity.fechaprogfin %}{{ entity.fechaprogfin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fecharealfin %}{{ entity.fecharealfin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.volumen }}</td>
                <td>{{ entity.tipotarea }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('detalle_orden_trabajo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('detalle_orden_trabajo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('detalle_orden_trabajo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
