{% extends '::base.html.twig' %}

{% block body -%}
    <h1>DetalleOrdenTrabajo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Fechaprogfin</th>
                <td>{{ entity.fechaprogfin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecharealfin</th>
                <td>{{ entity.fecharealfin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Volumen</th>
                <td>{{ entity.volumen }}</td>
            </tr>
            <tr>
                <th>Tipotarea</th>
                <td>{{ entity.tipotarea }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('detalle_orden_trabajo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('detalle_orden_trabajo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
