{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Competencia</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecharealizacion</th>
                <td>{{ entity.fechaRealizacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Pdfcertificado</th>
                <td>{{ entity.pdfCertificado }}</td>
            </tr>
            <tr>
                <th>Tipoadquisicion</th>
                <td>{{ entity.tipoAdquisicion }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ entity.estatus }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('competencia') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('competencia_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
