<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li><img class="img-thumbnail" src="{{ asset('img/logo_5.png') }}" alt="Ultra Ingeniría SA de CV"/></li>
        </ul>
        <ul class="nav navbar-nav navbar-text">
            <li>Calidad</li>
        </ul>
         <ul class="nav navbar-nav navbar-left">
             {#<li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Prestamo de documentos"><i class="fa fa-exchange"></i></a>
                 <ul class="dropdown-menu">
                     <li><a href="{{ path('presta_auditoria') }}" title="Prestamo de auditorias/vigilancias">Mis Auditorias/Vigilancias prestados</a></li>
                     <li><a href="{{ path('archivos_calidad') }}" title="Prestamo de procedimientos">Mis Procedimientos prestados</a></li>
                     <li><a href="{{ path('archivo') }}" title="Prestamo de expediente">Mis Expedientes prestados</a></li>
                     <li><a href="{{ path('presta_perfil') }}" title="Prestamo de perfiles">Mis Perfiles prestados</a></li>
                     <li><a href="{{ path('presta_recom') }}" title="Prestamo de perfiles">Mis RAP's/RAC's prestados</a></li>
                     <li><a href="{{ path('sot_index') }}" title="Prestamo de Sot's">Mis Sot's prestadas</a></li>
                     <li class="divider"></li>
                     <li><a href="{{ path('presta_auditoria_new') }}" title="Solicitar">Solicitar Auditoria/Vigilancia</a></li>
                     <li><a href="{{ path('archivos_calidad_new') }}" title="Solicitar Procedimiento">Solicitar Procedimiento</a></li>
                     <li><a href="{{ path('archivo_new') }}" title="Solicitar Expediente">Solicitar Expediente</a></li>
                     <li><a href="{{ path('presta_perfil_new') }}" title="Solicitar">Solicitar Perfil</a></li>
                     <li><a href="{{ path('presta_recom_new') }}" title="Solicitar">Solicitar RAP/RAC</a></li>
                     <li><a href="{{ path('sot_new') }}" title="Solicitar SOT">Solicitar SOT</a></li>
                 </ul>
             </li>#}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Agendas"><i class="fa fa-phone-square"></i> </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('curricula_agenda', { 'c':3697 }) }}" title="Agenda">Agenda 3697-CFE</a></li>
                    <li><a href="{{ path('curricula_agenda', { 'c':3699 }) }}" title="Agenda">Agenda 3699-PEMEX</a></li>
                    <li><a href="{{ path('curricula_agenda', { 'c':1 }) }}" title="Agenda">Agenda Administrativo</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                {% if (app.user.username=="mmartinez") %}
                    <img class="img-thumbnail" src="{{ asset('img/fotos/mmartinez.jpg') }}" TITLE="{{ app.user.username }}" height="40" width="40"/>
                {% else %}
                    <a href="#"  title="{{ app.user.username }}"><span class="glyphicon glyphicon-user"></span></a>
                {% endif %}
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Histórico Auditorias"><i class="fa fa-file-text-o"></i> </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('agenda') }}" title="Programas anuales">Programas anuales</a></li>
                    <li><a href="{{ path('event') }}" title="Auditorias / Vigilancias programadas">Auditorias / Vigilancias programadas</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('calidad_auditoria', { 'e':1 }) }}" title="Auditorías">Auditorías Abiertas</a></li>
                    <li><a href="{{ path('calidad_vigilancia', { 'e':1 }) }}" title="Vigilancias">Vigilancias Abiertas</a></li>
                    <li><a href="{{ path('calidad_recomendaciones', { 'e':1 }) }}" title="RAP's/RAC's">RAP's/RAC's Abiertas</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('calidad_auditoria', { 'e':4 }) }}" title="Auditorías">Auditorías Cerradas</a></li>
                    <li><a href="{{ path('calidad_vigilancia', { 'e':4 }) }}" title="Vigilancias">Vigilancias Cerradas</a></li>
                    <li><a href="{{ path('calidad_recomendaciones', { 'e':4 }) }}" title="RAP's/RAC's">RAP's/RAC's Cerradas</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('calidad_auditoria', { 'e':3 }) }}" title="Auditorías">Auditorías Canceladas</a></li>
                    <li><a href="{{ path('calidad_vigilancia', { 'e':3 }) }}" title="Vigilancias">Vigilancias Canceladas</a></li>
                    <li><a href="{{ path('calidad_recomendaciones', { 'e':3 }) }}" title="RAP's/RAC's">RAP's/RAC's Canceladas</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('requirement') }}" title="Requerimiento">Requerimientos</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('documento_general') }}" title="Documentos generales">Documentos generales</a></li>
                </ul>
            </li>
            <li><span class="navbar-text">{{ app.user.username }}</span></li>
            <li><a href="{{ path('cdoc_todos',{type:1 }) }}" title="Lista Maestra"><i class="glyphicon glyphicon-file lg"></i></a></li>
            <li><a href="{{ path('jcalidad_index') }}" title="Inicio"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="{{ path('logout_area') }}" title="Salir"><i class="fa fa-power-off fa-lg"></i></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>