
{% extends "ControlDocumentoBundle:Default:index.html.twig" %}
{% block content %}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('CLV_catalogodosimetros') }}" title="Dosímetros">Dosímetros</a></li>
                                <li class="active"><a href="#" title="Editar">Editar</a></li>
                            </ul>
     </div>
</div><br/>
    <div class="row">
        <div class="col-sm-2">
             {{ form_start(edit_form, { 'attr': {'novalidate':'novalidate'} }) }}

                {{ form_label(edit_form.nISD) }}
             <div class="text-danger">
                {{ form_errors(edit_form.nISD) }}
             </div>
                {{ form_widget(edit_form.nISD) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            {{ form_row(edit_form.submit) }}
            {{ form_end(edit_form) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
            <li>
            <a class="btn btn-primary btn-group" href="{{ path('CLV_dosimetro') }}">
               <span class="glyphicon glyphicon-chevron-left"></span>Regresar
            </a>
            </li>
            <li>
                {{ form(delete_form) }}
            </li>
            </ul>
        </div>
    </div>



{% endblock %}
