{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}

    <div class="row">
    <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('CLV_dosimetro') }}" title="Asignación de dosímetros">Asignación</a></li>
                                <li><a href="{{ path('CLV_dosimetro_new') }}" title="Nueva asignación">Nueva asignación</a></li>
                                <li class="active"><a href="{{ path('CLV_catalogodosimetros') }}" title="Dosímetros">Dosímetros</a></li>
                                <li><a href="{{ path('CLV_catalogodosimetros_new') }}" title="Nuevo dosímetro">Nuevo dosímetro</a></li>
                            </ul>
     </div>
</div>

    <div class="row">
    <div class="col-sm-12">
    <br/><br/>

          <br/><br/>
    <table class="display" id="dtable">
        <thead>
            <tr>
                <th>Id</th>
                <th>NISD</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('CLV_catalogodosimetros_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nISD }}</td>
                <td>
                        <a href="{{ path('CLV_catalogodosimetros_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="{{ path('CLV_catalogodosimetros_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <br/>
        <ul class="list-inline">
            <li>
                <a class="btn btn-success" href="{{ path('CLV_catalogodosimetros_new') }}">
                     <span class="glyphicon glyphicon-plus-sign"></span> Nuevo dosímetro
                </a>
            </li>
        </ul>
    </div>
    </div>

    {% endblock %}
