{% extends "ControlDocumentoBundle:Default:index.html.twig" %}
{% block content %}
{% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

<div class="row">
    <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('CLV_dosimetro') }}" title="Asignación de dosímetros">Asignación</a></li>
                                <li><a href="{{ path('CLV_dosimetro_new') }}" title="Nueva asignación">Nueva asignación</a></li>
                                {#<li><a href="{{ path('CLV_catalogodosimetros') }}" title="Dosímetros">Dosímetros</a></li>#}
                                <li class="active"><a href="#" title="Nuevo dosímetro">Nuevo dosímetro</a></li>
                            </ul>
     </div>
</div>

    <br/>

<div class="row">
    <div class="col-sm-3">
               {{ form_start(form, { 'attr': {'novalidate':'novalidate'} }) }}
                {{ form_label(form.nISD) }}
             <div class="text-danger">
                {{ form_errors(form.nISD) }}
             </div>
                {{ form_widget(form.nISD) }}
     </div>
</div>
<div class="row">
    <div class="col-sm-2">
        {{ form_row(form.submit, { 'label': 'Guardar' }) }}

        {{ form_end(form) }}
    </div>
</div>




{% endblock %}
