{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}

<div class="row">
    <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="{{ path('AE_marcas') }}" title="Marcas">Marcas</a></li>
                                <li><a href="{{ path('AE_marcas_new') }}" title="Nueva marca">Nueva marca</a></li>
                            </ul>
     </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marca</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</a></td>
                <td>{{ entity.marca }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('AE_marcas_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </li>
                    <li>
                        <a href="{{ path('AE_marcas_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
    <br/>
<div class="row">
    <div class="col-sm-12">
        <ul class="list-inline">
        <li>
            <a class="btn btn-success" href="{{ path('AE_marcas_new') }}">
                 <span class="glyphicon glyphicon-plus-sign"></span> Nueva marca
            </a>
        </li>
    </ul>
</div>
</div>
    {% endblock %}
