{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}

     <div class="row">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('AE_marcas') }}" title="Marcas">Tipos</a></li>
                                <li class="active"><a href="{{ path('AE_marcas_new') }}" title="Nueva marca">Nueva marca</a></li>
                            </ul>
     </div>

<br>

    <div class="row">

 <div class="col-xs-2">
     &nbsp;
  </div>

        <div class="col-xs-7">
            {{ form(form, { 'attr': {'novalidate':'novalidate'} }) }}
        </div>

    </div>

{% endblock %}