{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('AE_marcas') }}" title="Ver Marcas">Marcas</a></li>
                <li class="active"><a href="#" title="Muesta libro">Muestra marca</a></li>
            </ul>
        </div>
    </div>
    <br>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ entity.id }}</td>
                <th>Marca:</th>
                <td>{{ entity.marca }}</td>
            </tr>
        </tbody>
    </table>


    <ul class="list-inline">
    <li>
                    <a class="btn btn-primary btn-group" href="{{ path('AE_marcas') }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Regresar
                    </a>
            </li>
       <li>
                    <a class="btn btn-success btn-group" href="{{ path('AE_marcas_edit', { 'id': entity.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                        Editar
                    </a>
</ul>


{% endblock %}
