{% extends "ControlDocumentoBundle:Default:index.html.twig" %}



 {% block content %}
{#    <h1>Listado de autores</h1>#}
    <div class="row">
                            <ul class="nav nav-tabs">
                                <li  class="active"><a href="{{ path('libros_autores') }}" title="Ver autores">Autores</a></li>
                                <li><a href="{{ path('libros_autores_new') }}" title="Nuevo autor">Nuevo autor</a></li>
                            </ul>
     </div>
<br/>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
               <th>Opciones</th>
             </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('libros_autores_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                {{ entity.paterno }}{% if entity.materno != '' %} {{ entity.materno }}{% endif %} {{ entity.nombre }}

                </td>


                <td>
                        <a href="{{ path('libros_autores_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    &nbsp;
                        <a href="{{ path('libros_autores_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br/>
        <a class="btn btn-success" href="{{ path('libros_autores_new') }}">
            <span class="glyphicon glyphicon-plus-sign"></span>   Nuevo autor
            </a>
    {% endblock %}
