{% extends "ControlDocumentoBundle:Default:index.html.twig" %}



 {% block content %}
    {#<h1>Nuevo autor</h1>#}
<div class="row">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('libros_autores') }}" title="Ver autores">Autores</a></li>
                                <li class="active"><a href="#" title="Nuevo autor">Nuevo autor</a></li>
                            </ul>
     </div>
     <br>

<div class="row">

 <div class="col-xs-2">
     &nbsp;
        </div>

        <div class="col-xs-7">
    {{ form(form, { 'attr': {'novalidate':'novalidate'} }) }}

{#        <ul class="list-inline">
    <li>
        <a class="btn btn-primary"  href="{{ path('libros_autores') }}">
               <span class="glyphicon glyphicon-chevron-left"></span>
            Regresar
        </a>
    </li>
</ul>#}


            </div>
    </div>
{% endblock %}
