{% extends "ControlDocumentoBundle:Default:index.html.twig" %}



 {% block content %}
 <div class="row">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('libros_autores') }}" title="Ver autores">Autores</a></li>
                                <li class="active"><a href="#" title="Muesta autor">Muestra autor</a></li>
                            </ul>
     </div>
<br>


    <table class="table-striped record_properties">
        <tbody>
            <tr>
                <th>Id {{ entity.id }} </th>
                <td> {{ entity.paterno }}{% if entity.materno != '' %} {{ entity.materno }}{% endif %}, {{ entity.nombre }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <th>Paterno:</th>
                <td>{{ entity.paterno }}</td>
            </tr>
            <tr>
                <th>Materno:</th>
                <td>{{ entity.materno }}</td>
            </tr>
          <tr>
                <th>Nombre:</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>



             <ul class="list-inline">
    <li>
        <a class="btn btn-primary btn-group" href="{{ path('libros_autores') }}">
          <span class="glyphicon glyphicon-chevron-left"></span>
           Regresar
        </a>
    </li>


    <li>
        <a class="btn btn-success btn-group" href="{{ path('libros_autores_edit', { 'id': entity.id }) }}">
           <span class="glyphicon glyphicon-edit"></span>
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>



{% endblock %}
