{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
                <div class="alert alert-info"><span class="glyphicon glyphicon-thumbs-up"></span>
                    <bold>&nbsp; Lista de documentos capturados en el sistema a la fecha</bold>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="label label-default"><i class="fa fa-terminal"></i>&nbsp;Documentos</span><br/>
           {{ vigentes.num }} documentos vigentes   <br/>
           {{ todos.num }} documentos vigentes, obsoletos, expirados y cancelados <br/>
            <br/>
            <span class="label label-default"><i class="fa fa-terminal"></i>&nbsp;Auditorias</span><br/>
           {{ auditorias.num }} auditorias abiertas <br/>
           {{ auditoriasc.num }} auditorias cerradas  <br/>
            <br/>
            <span class="label label-default"><i class="fa fa-terminal"></i>&nbsp;Perfiles</span><br/>
           {{ perfiles.num }} perfiles capturados - completos e incompletos <br/>
            <br/>
            <span class="label label-default"><i class="fa fa-terminal"></i>&nbsp;Personal</span><br/>
           {{ curriculas.num }} curriculas capturadas- completas e incompletas <br/>
           <br/>
           <span class="label label-default"><i class="fa fa-terminal"></i>&nbsp;Proyectos</span><br/>
           {{ partidas97.num }} partidas capturadas del proyecto 3697 <br/>
           {{ ordentrabajo97.num }} órdenes de trabajo del 3697 <br/>
           {{ partidas81.num }} partidas capturadas del proyecto 3681<br/>
           {{ ordentrabajo81.num }} órdenes de trabajo del proyecto 3681 <br/>
        </div>
    </div>
{% endblock %}

