<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li><img class="img-thumbnail" src="{{ asset('img/logo_5.png') }}" alt="Ultra Ingeniría"/></li>
        </ul>
        <ul class="nav navbar-nav navbar-text">
            <li>Gerencia</li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Libros"><i class="glyphicon glyphicon-book"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('libros') }}" title="Libros">Libros</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Agendas"><i class="fa fa-phone-square"></i> </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('curricula_agenda', { 'c':3697 }) }}" title="Agenda">Agenda 3697-CFE</a></li>
                            <li><a href="{{ path('curricula_agenda', { 'c':3699 }) }}" title="Agenda">Agenda 3699-PEMEX</a></li>
                            <li><a href="{{ path('curricula_agenda', { 'c':1 }) }}" title="Agenda">Agenda Administrativo</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    {% if (app.user.username=="gerencia") %}
                    <img class="img-thumbnail" src="{{ asset('img/fotos/gerencia.JPG') }}" TITLE="{{ app.user.username }}" height="40" width="40"/>
                    {% endif %}
                    </li>
                    <li><span class="navbar-text">{{ app.user.username }}</span></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-th fa-lg"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('cliente') }}" title="Clientes">Clientes</a></li>
                            <li><a href="{{ path('contrato') }}" title="Contratos">Contratos</a></li>
                            <li><a href="{{ path('area') }}" title="Áreas">Áreas</a></li>
                            <li><a href="{{ path('disciplina') }}" title="Disciplinas">Disciplinas</a></li>
                            <li><a href="{{ path('perfil') }}" title="Perfiles">Perfiles</a></li>
                            <li><a href="{{ path('curricula') }}" title="Curriculas">Curriculas</a></li>
                            <li><a href="{{ path('procedimiento') }}" title="Documentos">Documentos</a></li>
                            <li><a href="{{ path('agenda') }}" title="Programas anuales">Programas anuales</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Proyectos"><i class="glyphicon fa fa-users"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('cdocpartidas') }}" title="Partidas 3681">Partidas 3681</a></li>
                            <li><a href="{{ path('cdocorden_trabajo') }}" title="Órdenes del 3681">Órdenes de trabajo 3681</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('partidas3697') }}" title="Partidas 3697">Partidas 3697</a></li>
                            <li><a href="{{ path('orden_trabajo3697') }}" title="Órdenes del 3697">Órdenes de trabajo 3697</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Gráficas"><i class="glyphicon fa fa-bar-chart-o"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('gerencia_grafica') }}" title="Gráfica">Procedimientos por vencer</a></li>
                            <li><a href="{{ path('gerencia_dsad') }}" title="Gráfica">Estado de documentación en sistema</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Reportes"><i class="glyphicon glyphicon-print"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('curricula_puestos', { 'c':3697 }) }}" title="Puestos">Puestos del 3697-CFE</a></li>
                            <li><a href="{{ path('curricula_agenda', { 'c':3697 }) }}" title="Agenda">Agenda 3697-CFE</a></li>
                            <li><a href="{{ path('curricula_personal', { 'c':3697 }) }}" title="Personal">Personal en 3697-CFE</a></li>
                            <li><a href="{{ path('curricula_puestosxperfil', { 'c':3697 }) }}" title="Personal por perfil">Personal por perfil 3697-CFE</a></li>
                            <li><a href="{{ path('curr_personalinac', { 'c':3697 }) }}" title="Personal Inactivo">Personal inactivo 3697-CFE</a></li>
                            <li><a href="{{ path('curr_personalact', { 'c':3697 }) }}" title="Personal Activo">Personal activo 3697-CFE</a></li>
                            <li><a href="{{ path('cdoc_vigencias') }}" title="Vigencia">Vigencia de cursos</a></li>
                            <li><a href="{{ path('cdoc_vigenciasprod') }}" title="Vigencia">Vigencia de cursos de procedimientos </a></li>
                            <li><a href="{{ path('cdoc_calificado') }}" title="Calificado">Personal Actualizado (cursos)</a></li>
                            <li><a href="{{ path('cdoc_nocalificado') }}" title="No Calificado">Personal No Actualizado</a></li>
                            <li><a href="{{ path('cdoc_comprobantes') }}" title="Comprobantes Faltantes">Personal con comprobantes faltantes</a></li>
                            <li><a href="{{ path('cdoc_fcursos') }}" title="Cursos Faltantes">Personal con cursos faltantes</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('cdoc_todos',{type: 1}) }}" title="Lista Maestra"><i class="glyphicon glyphicon-file lg"></i></a></li>
                    <li><a href="{{ path('ultra_controldocumento_default_index') }}" title="Inicio"><i class="fa fa-home fa-lg"></i></a></li>
                    <li><a href="{{ path('logout_area') }}"><i class="fa fa-power-off fa-lg" title="Salir"></i></a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
</nav>

