{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $(function () {
         $('.container').highcharts({
         lang:{
               downloadJPEG: 'Descarga JPEG',
               downloadPDF: 'Descargar PDF',
               downloadPNG: 'Descargar PNG',
               downloadSVG: 'Descargar SVG',
               printChart: 'Imprimir'
         },
         credits: {
                 enabled: true,
                 text: 'FUENTE: Sistema de Administración Documental'
         },
         chart: {
         type: 'column'
         },
         title: {
         text: 'Vencimiento de documentos en el sistema. {{ "now"|date("d/m/Y") }}'
         },
         subtitle: {
         text: 'Ultra Ingeniería SA de CV'
         },
         xAxis: {
         categories: [
         'Vencidos',
         'Actualizados',
         'Por vencer (antes de 2 meses)'
         ]
         },
         yAxis: {
         min: 0,
         title: {
         text: 'Num. de documentos con estado vigente'
         }
         },
         tooltip: {
         headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
         pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
         '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
         footerFormat: '</table>',
         shared: true,
         useHTML: true
         },
         plotOptions: {
                 column: {
                     allowPointSelect: true,
                     cursor: 'pointer',
                     dataLabels: {
                         enabled: true,
                         color: '#000000',
                         connectorColor: '#000000'
                     }
                 }
             },
         series: [{
         name: 'en sistema',
         data: [{{ docven.num }}, {{ docact.num }},{{ docxvencer.num }}]
         }]
         });
         });
    </script>
{% endblock %}
{% block content %}
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endblock %}

