{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('tipodocumento') }}" title="Tipos de Documentos">Tipos de Documento</a></li>
                <li class="active"><a href="#" title="Editar Tipos">Editar Tipo</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí los datos del tipo de documento.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.titulo) }}
            <div class="text-danger">{{ form_errors(edit_form.titulo) }} </div>
            {{ form_widget(edit_form.titulo) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.vigencia) }}
            <div class="text-danger">{{ form_errors(edit_form.vigencia) }}</div>
            {{ form_widget(edit_form.vigencia) }}
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('tipodocumento') }}" title="Tipos de Documentos">
                        <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>

    </div>

{% endblock %}
