{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{{ path('tipodocumento') }}" title="Tipos de Documentos">Tipos de Documento</a></li>
                <li><a href="{{ path('tipodocumento_new') }}" title="Nuevo Tipo">Nuevo Tipo</a></li>
            </ul>
   <div class="col-sm-12">
       <br/>
       <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Vigencia</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ entity.id }}</td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.vigencia }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('tipodocumento_show', { 'id': entity.id }) }}" title="Ver">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('tipodocumento_edit', { 'id': entity.id }) }}" title="Editar">
                        <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
        <ul class="list-inline">
            <li>
                <a class="btn btn-success" href="{{ path('tipodocumento_new') }}" title="Nuevo Tipo">
                    <span class="glyphicon glyphicon-plus-sign"></span> Nuevo Tipo de Documento
                </a>
            </li>
        </ul>
     </div>
    {% endblock %}
