{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('tipodocumento') }}" title="Tipos de Documentos">Tipos de Documento</a></li>
                <li class="active"><a href="{{ path('tipodocumento_new') }}" title="Nuevo Tipo">Nuevo Tipo</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí los datos del tipo de documento.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            {{ form_start(form) }}
            {{ form_label(form.titulo) }}
            <div class="text-danger">{{ form_errors(form.titulo) }} </div>
            {{ form_widget(form.titulo) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.vigencia) }}
            <div class="text-danger">{{ form_errors(form.vigencia) }}</div>
            {{ form_widget(form.vigencia) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit, { 'label': 'Guardar' }) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
