{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('tipodocumento') }}" title="Tipos de Documento">Tipos de Documento</a></li>
                <li class="active"><a href="#" title="Detalle del tipo">Muestra Tipo</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle del tipo de documento</h4>
        </div>
    </div><br/>

    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Id</strong><br/>
            <strong>Título</strong><br/>
            <strong>Vigencia</strong>
        </div>
        <div class="col-xs-9">
            {{ entity.id }}<br/>
            {{ entity.titulo }}<br/>
            {{ entity.vigencia }}
        </div>
    </div><br/><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary btn-group" href="{{ path('tipodocumento') }}" title="Tipos de Documentos">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
                {% if is_granted('ROLE_GERENCIA') %}

                {% else %}

                    <li>
                        <a class="btn btn-success btn-group" href="{{ path('tipodocumento_edit', { 'id': entity.id }) }}" title="Editar tipo">
                            <span class="glyphicon glyphicon-edit"></span>Editar
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}
