{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('category_provider') }}" title="Ver Categorias">Ver Categorias</a></li>
                <li class="active"><a href="#" title="Editar Categoria">Editar Categoria</a></li>
            </ul>
        </div>
    </div>
    <br/>

    {{ form(edit_form) }}

     <ul class="list-inline">
        <li>
            <a class="btn btn-primary btn-group" href="{{ path('category_provider') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>Regresar
            </a>
        </li>
        <li>
            {{ form(delete_form) }}
        </li>
    </ul>
{% endblock %}
