{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li  class="active"><a href="{{ path('category_provider') }}" title="Categoria">Categorias</a></li>
                {#<li><a href="{{ path('category_provider_new') }}"  title="Nueva Categoria">Nueva Categoria</a></li>#}
            </ul>
        </div>
    </div>  
    <br/>

    <div class="row">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>
                            <ul class="list-inline">
                                {#<li>
                                    <a href="{{ path('category_provider_show', { 'id': entity.id }) }}" title="Ver Categoria"> 
                                        <span class="glyphicon glyphicon-eye-open"></span></a>
                                </li>#}
                                <a data-toggle="modal" data-target="#{{entity.id}}"><span class="glyphicon glyphicon-eye-open boton1"></span></a>

                                <li>
                                    <a href="{{ path('category_provider_edit', { 'id': entity.id }) }}"title="Editar Categoria">
                                        <span class="glyphicon glyphicon-edit"></span></a>
                                </li>
                            </ul>
                        </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
         {#  Modal Para Mostrar #}
    {% for entity in entities %}
        <div id="{{entity.id}}" class="modal fade">        
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 align="center" class="modal-title">Ver Categoria</h4>
                    </div>   
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-3"><br/>
                                <p align="center">
                                    <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
                                </p>
                            </div>
                            <div class="col-sm-9"><br/><br/>
                                <center><h4>Detalle de Categoria</h4></center>
                            </div>
                        </div><br/>

                        <div class="row">
                            <div class="col-sm-1">

                            </div>
                            <div class="col-xs-2" style="background-color:#F2F2F2">
                                <strong>Id</strong><br/>
                                <strong>Nombre</strong><br/>
                                <strong>Descripcion</strong><br/>                                                                        
                            </div>
                            <div class="col-xs-9">                                            
                                {{ entity.id }}<br/>
                                {{ entity.name }}<br/>                                                                 
                            </div>
                        </div> 

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {# Modal Mostrar #}

       {#<div class="resize">

        <a class="btn btn-success" href="{{ path('category_provider_new') }}" title="Nueva Categoria">
            <span class="glyphicon glyphicon-plus-sign"></span> Nueva Categoria
        </a>

    </div>#}
       
       <a type="button" class="btn btn-success boton" title="Nuevo Cliente"><span class="glyphicon glyphicon-plus-sign"></span> Nueva Categoria</a>

    <div id="modal" class="modal fade">        
        <div class="modal-dialog">
            <div class="modal-content">                    
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 align="center" class="modal-title">Agregar Nueva Categoria</h4>
                </div>                    
                <div class="modal-body">
                    {{ render(controller('AcquisitionBundle:CategoryProvider:new')) }}                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>  

    {% block javascripts %}
        {%for entity in entities%}
            <script>
                $("#{{entity.id}}").modal('hide');
                $(document).ready(function () {
                    $('.boton1').click(function () {
                        $("#{{entity.id}}").modal('hide');
                    });
                });
            </script>  
        {%endfor%}
        <script>
            $('#modal').modal('hide');
            $(document).ready(function () {
                $('.boton').click(function () {
                    $('#modal').modal('show');
                });
            });
        </script>

    {% endblock %}
    {% endblock %}
