{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block body -%}
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                {{ form(form) }}      
            </ul>                
        </div>                
    </div>
{% endblock %}
