{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('category_provider') }}" title="Ver Categorias">Ver Categorias</a></li>
                <li class="active"><a href="#" title="Datos de la Categoria">Muestra Datos de la Categoria</a></li>
            </ul>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <font face="Agency FB" size=6 color=#0B137A>Datos De La Categoria</font>
        </div>
    </div><br/>
    
    <div class="row">
        <table cellpadding="0" border="1" class="table table-striped" id="dtable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

       
   <br/>
    <br/>
    <ul class="list-inline">
        <li>
            <a class="btn btn-primary btn-group" href="{{ path('category_provider') }}"><span class="glyphicon glyphicon-chevron-left"></span>Regresar
            </a>
        </li>
        <li>
            {#{{ form(delete_form) }}#}
        </li>
    </ul>
{% endblock %}
