<!DOCTYPE html >
<html>
    <head>

        <meta charset="UTF-8" />
        <title>{% block title %}Ultra{% endblock %}</title>
        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap -->
            <!-- <link href="{{ asset('jquery-ui/development-bundle/themes/cupertino/jquery-ui.css') }}" rel="stylesheet"> -->
            <link href="{{ asset('js/select2/select2.css') }}" rel="stylesheet" media="all">
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
            <!-- Custom styles for this template -->
            <link href="{{ asset('font-awesome-4.1.0/css/font-awesome.css') }}" rel="stylesheet">
            <link href="{{ asset('css/offcanvas.css') }}" rel="stylesheet">
            <link href="{{ asset('css/bootstrap-select.css') }}" rel="stylesheet">
            <link href="{{ asset('css/bootstrap-datetimepicker.css') }}" rel="stylesheet" media="all">
            <link href="{{ asset('css/jquery.inputfile.css') }}" rel="stylesheet" >
            <link href="{{ asset('bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css') }}" rel="stylesheet" >
            <link href="{{ asset('css/dataTables.tableTools.css') }}" rel="stylesheet" >
            <link href="{{ asset('css/dataTables.ana.css') }}" rel="stylesheet" >
            <style>
                .top-buffer { margin-top: 10px; }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <!-- <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/file-input.js') }}"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/offcanvas.js') }}"></script>
            <script src="{{ asset('js/collectionform.js') }}"></script>
            <script src="{{ asset('js/collectionformproject.js') }}"></script>
            <script src="{{ asset('moment/min/moment.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('js/locales/bootstrap-datetimepicker.es.js') }}"></script>
            <script src="{{ asset('js/bootstrap-select.js') }}"></script>
            {#<script src="{{ asset('js/jquery.inputfile.js') }}"></script>#}
            <!-- <script src="{{ asset('js/dataTables.bootstrap.js') }}"></script> -->
            <script src="{{ asset('js/DataTables-1.10.2/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('js/DataTables-1.10.2/dataTables.tableTools.js') }}"></script>
            <!-- <script src="{{ asset('js/DataTables-1.10.2/dataTables.editor.min.js') }}"></script> -->
            <script src="{{ asset('js/Highcharts-4.0.1/js/highcharts.js') }}"></script>
            <script src="{{ asset('js/Highcharts-4.0.1/js/modules/exporting.js') }}"></script>
            <script src="{{ asset('js/form_collection.js') }}"></script>
            <script src="{{ asset('js/jquery.sfprototypeman.js') }}"></script>
            <script src="{{ asset('js/angular.min.js') }}"></script>
            <script src="{{ asset('js/ng-table/dist/ng-table.js') }}"></script>

            <script>


                //---------------------------------
                $('.selectpicker').selectpicker();

                $('.datepicker').datetimepicker({
                    pickTime: false,
                    language: 'es',
                    format: 'YYYY-MM-DD',
                    startDate: new Date('1-1-1930'),
                    endDate: 'Infinite',
                    defaultDate: ''
                });

                $(".alert").alert();

                //Datatable sencilla que permite encabezados con rowspan
                $(document).ready(function() {
                    $('#dtable').DataTable({
                        "dom": 'T<"clear">lfrtip',
                        "tableTools": {
                            "sRowSelect": "multi",
                            "aButtons": [
                                {
                                    "sExtends": "select_none",
                                    "sButtonText": "Borrar selección"
                                }]
                        },
                        "pagingType": "simple_numbers",
                        "language": {
                            "lengthMenu": "Mostrar _MENU_ registros por página.",
                            "zeroRecords": "No se encontró registro.",
                            "info": "  _START_ de _END_ (_TOTAL_ registros totales).",
                            "infoEmpty": "0 de 0 de 0 registros",
                            "infoFiltered": "(Encontrado de _MAX_ registros)",
                            "search": "Buscar: ",
                            "processing": "Procesando la información",
                            "paginate": {
                                "first": " |< ",
                                "previous": "Ant.",
                                "next": "Sig.",
                                "last": " >| "
                            }
                        }
                    });
                } );

                //Datatable que permite agrupar datos 6 campos
                $(document).ready(function() {
                    var table= $('#maestra').DataTable({
                        "columnDefs": [
                            { "visible": false, "targets": 0}
                        ],
                        "order": [[ 0, 'asc' ]],
                        "displayLength": 10,
                        "drawCallback": function ( settings ) {
                            var api = this.api();
                            var rows = api.rows( {page:'current'} ).nodes();
                            var last=null;

                            api.column(0, {page:'current'} ).data().each( function ( group, i ) {
                                if ( last !== group ) {
                                    $(rows).eq( i ).before(
                                            '<tr class="group"><td colspan="8">'+group+'</td></tr>'
                                    );
                                    last = group;
                                }
                            } );
                        },
                        "pagingType": "simple_numbers",
                        "language": {
                            "lengthMenu": "Mostrar _MENU_ registros por página.",
                            "zeroRecords": "No se encontró registro.",
                            "info": "  _START_ de _END_ (_TOTAL_ registros totales).",
                            "infoEmpty": "0 de 0 de 0 registros",
                            "infoFiltered": "(Encontrado de _MAX_ registros)",
                            "search": "Buscar: ",
                            "processing": "Procesando la información",
                            "paginate": {
                                "first": " |< ",
                                "previous": "Ant.",
                                "next": "Sig.",
                                "last": " >| "
                            }
                        },
                        "dom": 'T<"clear">lfrtip',
                        "tableTools": {
                            "sRowSelect": "multi",
                            "aButtons": [
                                {
                                    "sExtends": "select_none",
                                    "sButtonText": "Borrar selección"
                                }]
                        }
                    });
                    // Order by the grouping
                    $('#example tbody').on( 'click', 'tr.group', function () {
                        var currentOrder = table.order()[0];
                        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
                            table.order( [ 0, 'desc' ] ).draw();
                        }
                        else {
                            table.order( [ 0, 'asc' ] ).draw();
                        }
                    });
                });

                //Datatable que permite agrupar datos 5 campos
                $(document).ready(function() {
                    var table= $('#example').DataTable({
                        "columnDefs": [
                            { "visible": false, "targets": 0}
                        ],
                        "order": [[ 0, 'asc' ]],
                        "displayLength": 10,
                        "drawCallback": function ( settings ) {
                            var api = this.api();
                            var rows = api.rows( {page:'current'} ).nodes();
                            var last=null;

                            api.column(0, {page:'current'} ).data().each( function ( group, i ) {
                                if ( last !== group ) {
                                    $(rows).eq( i ).before(
                                            '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                                    );
                                    last = group;
                                }
                            } );
                        },
                        "pagingType": "simple_numbers",
                        "language": {
                            "lengthMenu": "Mostrar _MENU_ registros por página.",
                            "zeroRecords": "No se encontró registro.",
                            "info": "  _START_ de _END_ (_TOTAL_ registros totales).",
                            "infoEmpty": "0 de 0 de 0 registros",
                            "infoFiltered": "(Encontrado de _MAX_ registros)",
                            "search": "Buscar: ",
                            "processing": "Procesando la información",
                            "paginate": {
                                "first": " |< ",
                                "previous": "Ant.",
                                "next": "Sig.",
                                "last": " >| "
                            }
                        },
                        "dom": 'T<"clear">lfrtip',
                        "tableTools": {
                            "sRowSelect": "multi",
                            "aButtons": [
                                {
                                    "sExtends": "select_none",
                                    "sButtonText": "Borrar selección"
                                }]
                        }
                    });
                    // Order by the grouping
                    $('#example tbody').on( 'click', 'tr.group', function () {
                        var currentOrder = table.order()[0];
                        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
                            table.order( [ 0, 'desc' ] ).draw();
                        }
                        else {
                            table.order( [ 0, 'asc' ] ).draw();
                        }
                    });
                });

                //Datatable que permite agrupar datos 5 campos
                $(document).ready(function() {
                    var table= $('#example1').DataTable({
                        "columnDefs": [
                            { "visible": false, "targets": 0}
                        ],
                        "order": [[ 0, 'asc' ]],
                        "displayLength": 10,
                        "drawCallback": function ( settings ) {
                            var api = this.api();
                            var rows = api.rows( {page:'current'} ).nodes();
                            var last=null;

                            api.column(0, {page:'current'} ).data().each( function ( group, i ) {
                                if ( last !== group ) {
                                    $(rows).eq( i ).before(
                                            '<tr class="group"><td colspan="6">'+group+'</td></tr>'
                                    );
                                    last = group;
                                }
                            } );
                        },
                        "pagingType": "simple_numbers",
                        "language": {
                            "lengthMenu": "Mostrar _MENU_ registros por página.",
                            "zeroRecords": "No se encontró registro.",
                            "info": "  _START_ de _END_ (_TOTAL_ registros totales).",
                            "infoEmpty": "0 de 0 de 0 registros",
                            "infoFiltered": "(Encontrado de _MAX_ registros)",
                            "search": "Buscar: ",
                            "processing": "Procesando la información",
                            "paginate": {
                                "first": " |< ",
                                "previous": "Ant.",
                                "next": "Sig.",
                                "last": " >| "
                            }
                        },
                        "dom": 'T<"clear">lfrtip',
                        "tableTools": {
                            "sRowSelect": "multi",
                            "aButtons": [
                                {
                                    "sExtends": "select_none",
                                    "sButtonText": "Borrar selección"
                                }]
                        }
                    });
                    // Order by the grouping
                    $('#example tbody').on( 'click', 'tr.group', function () {
                        var currentOrder = table.order()[0];
                        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
                            table.order( [ 0, 'desc' ] ).draw();
                        }
                        else {
                            table.order( [ 0, 'asc' ] ).draw();
                        }
                    });
                });

                //Gráficas colores en gradiente
                $(document).ready(function () {
                    // Radialize the colors
                    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
                        return {
                            radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                            stops: [
                                [0, color],
                                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                            ]
                        };
                    });

                });

                $('.modal').modal({
                    keyboard: false
                });

                //$('.file-inputs').bootstrapFileInput();
                //$('input[type=file]').bootstrapFileInput();

            </script>

        {% endblock %}
        <hr>

        <footer>
            <p>&copy; Ultra Ingeniería 2016</p>
        </footer>
    </body>
</html>
