{% block form_widget_compound %}
    {% spaceless %}
        {% if form.parent is empty %}
           <div class="text-danger">{{ form_errors(form) }} </div>
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group" {{ block('widget_container_attributes') }}>
            {{ form_label(form) }}
            <div class="text-danger">{{ form_errors(form) }}</div>
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_row_custom %}
    {% spaceless %}
        <div class="col-sm-2">
            <div class="form-group" {{ block('widget_container_attributes') }}>
                {{ form_label(form) }}
                <div class="text-danger">{{ form_errors(form) }}</div>
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row_custom %}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            <div class='input-group datepicker' id='datetimepicker1' data-date-format="YYYY-MM-DD">
                <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        {% else %}
            <div {{ block('widget_container_attributes') }} class="form-group">
                {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
                })|raw }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="list-unstyled">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}