{% extends "ControlDocumentoBundle:Default:index.html.twig" %}
{% block content %}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
 <div class="row">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('CLV_conteo') }}" title="Conteo">Conteo</a></li>
                                <li class="active"><a href="#" title="Editar conteo">Editar conteo</a></li>
                            </ul>
     </div>
<br>
    <div class="row">

        <div class="col-xs-1">
          &nbsp;
        </div>

        <div class="col-xs-3">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.dosimetroId) }}
            <div class="text-danger">{{ form_errors(edit_form.dosimetroId) }} </div>
            {{ form_widget(edit_form.dosimetroId) }}
        </div>
        <div class="col-xs-2">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.fechaConteo) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaConteo) }} </div>
            {{ form_widget(edit_form.fechaConteo) }}
        </div>
        <div class="col-xs-2">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.fechaVigencia) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaVigencia) }} </div>
            {{ form_widget(edit_form.fechaVigencia) }}
        </div>
        <div class="col-xs-2">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.dosis) }}
            <div class="text-danger">{{ form_errors(edit_form.dosis) }} </div>
            {{ form_widget(edit_form.dosis) }}
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-2">
            {{ form_end(edit_form) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-2">
            <ul class="list-inline">
                <a class="btn btn-primary btn-group" href="{{ path('CLV_conteo') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span> Inicio
                </a>
            </ul>
        </div>

    </div>
{% endblock %}
