{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}

<div class="row">
    <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="{{ path('CLV_conteo') }}" title="Conteo">Conteo</a></li>
                                <li><a href="{{ path('CLV_conteo_new') }}" title="Nuevo conteo">Nuevo conteo</a></li>
                            </ul>
     </div>
</div>
<div class="row">
    <div class="col-sm-12">
    <br/><br/>
        <!--<p><a href="javascript:void(0);" onclick="fnClickAddRow();">Click to add a new row</a></p>-->
    <br/><br/>
    <table class="display" id="dtable">
        <thead>
            <tr>
                <th>NISD-Nombre</th>
                <th>Dósis</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
       {% for entity in result %}
           <tr id="1">
               <td>{{ entity.nISD }} - {{ entity.nombre }} {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }}</td>
               <td>{{ entity.dosis }}</td>
               <td><a href="{{ path('CLV_showc', { 'id': entity.id1 }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                   </td>
           </tr>
       {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/><br/>
    <ul class="list-inline">
        <li>
            <a class="btn btn-success" href="{{ path('CLV_conteo_new') }}">
                 <span class="glyphicon glyphicon-plus-sign"></span> Nuevo conteo
            </a>
        </li>
    </ul>
</div>
</div>
    {% endblock %}
