{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('CLV_conteo') }}" title="Conteo">Conteo</a></li>
            <li class="active"><a href="#" title="Nuevo conteo">Nuevo conteo</a></li>
        </ul>
        <br/>
        <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
            Ingresa aquí los datos del conteo.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        {{ form_start(form) }}
        {{ form_label(form.dosimetroId) }}
        <div class="text-danger">{{ form_errors(form.dosimetroId) }}</div>
        {{ form_widget(form.dosimetroId) }}
    </div>
    <div class="col-xs-3">
        {{ form_label(form.dosis) }}
        <div class="text-danger">{{ form_errors(form.dosis) }}</div>
        {{ form_widget(form.dosis) }}
    </div>
    <div class="col-xs-6">
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        {{ form_label(form.fechaConteo) }}
        <div class="text-danger">{{ form_errors(form.fechaConteo) }}</div>
        {{ form_widget(form.fechaConteo) }}
    </div>
    <div class="col-xs-3">
        {{ form_label(form.fechaVigencia) }}
        <div class="text-danger">{{ form_errors(form) }}</div>
        <div class="text-danger">{{ form_errors(form.fechaVigencia) }}</div>
        {{ form_widget(form.fechaVigencia) }}
    </div>
    <div class="col-xs-6">
    </div>
</div>
    <br>
    {{ form_end(form) }}
{% endblock %}


