{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}

     <div class="row">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="{{ path('CLV_dosimetro_conteo_personal', { 'ida': ida }) }}" title="Conteo">Conteo</a></li>
                                <li><a href="{{ path('CLV_dosimetro_conteo_new', { 'ida': ida } ) }}" title="Nuevo conteo">Nuevo conteo</a></li>
                            </ul>
     </div>


    <table class="display">
        <thead>
        <tr>
            <th colspan="4">
               {#Dosímetro: {{ - {{ datoscurricula.apellidopaterno }}{% if datoscurricula.apellidomaterno %} {{ datoscurricula.apellidomaterno }}{% endif %}, {{ datoscurricula.nombre }}#}
                Dosímetro: {{ dosimetro }}
            </th>
        </tr>
            <tr>
                <th>Fecha</th>
                <th>Dosis mRem</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.fechaConteo %}{{ entity.fechaConteo|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.dosis }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('CLV_dosimetro_conteo_show', { 'id': entity.id , 'ida': ida } ) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </li>
                    <li>
                        <a href="{{ path('CLV_dosimetro_conteo_edit', { 'id': entity.id , 'ida': ida } ) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-success" href="{{ path('CLV_dosimetro_conteo_new', { 'ida': ida }) }}">
                 <span class="glyphicon glyphicon-plus-sign"></span> Nuevo conteo
            </a>
        </li>
    </ul>

    {% endblock %}
