{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('CLV_conteo') }}" title="Conteo">Conteo</a></li>
            <li class="active"><a href="#" title="Mostrar conteo">Mostrar conteo</a></li>
        </ul>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle del conteo</h4>
        </div>
    </div><br/>
    <div class="row">
    <div class="col-sm-1">

    </div>
    <div class="col-xs-2" style="background-color:#F2F2F2">
        <strong>Nombre</strong><br/>
        <strong>Fecha de Conteo</strong><br/>
        <strong>Fecha de Vigencia</strong><br/>
        <strong>Dósis</strong>
    </div>
    <div class="col-xs-9"> {% for entity in result %}
        {{ entity.nombre }} {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }} (NISD:{{ entity.nISD }})<br>
        {{ entity.fechaConteo|date('d-m-Y') }}<br>
        {% if entity.fechaVigencia|date('m')<= "now"|date("m") %}<span class="label label-danger">{{ entity.fechaVigencia|date('d-m-Y') }}</span><br>
            {% else %}
            {{ entity.fechaVigencia|date('d-m-Y')}}<br>
        {% endif %}
        {{ entity.dosis }}<br>
        {% endfor %}
    </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                        <a class="btn btn-primary btn-group" href="{{ path('CLV_conteo') }}">
                            <span class="glyphicon glyphicon-chevron-left"></span> Inicio
                        </a>
                </li>
                    <li>{% for entity in result %}
                        <a class="btn btn-success btn-group" href="{{ path('CLV_conteo_edit', { 'id': entity.id }) }}" title="Editar Conteo">
                            <span class="glyphicon glyphicon-edit"></span>Editar
                        </a>
                        {% endfor %}
                    </li>
            </ul>
        </div>
    </div>

{% endblock %}