{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('CLV_conteo') }}" title="Conteo">Conteo</a></li>
            <li class="active"><a href="#" title="Mostrar conteo">Mostrar conteo</a></li>
        </ul>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle del conteo</h4>
        </div>
    </div><br/>
    <div class="row">
    <div class="col-sm-12">
        <table class="display" id="example">
            <thead>
            <tr>
            <th>Nombre</th>
            <th>Dósis</th>
            <th>Fecha de Conteo</th>
            <th>Fecha de Vigencia</th>
            <th>Opciones</th>
            </tr>
            </thead>
        <tbody>
        {% for entity in result %}
            <tr>
        <td>{{ entity.nombre }} {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }} (NISD:{{ entity.nISD }})</td>
        <td>{{ entity.dosis }}</td>
        <td>{{ entity.fechaConteo|date('d-m-Y') }}</td>
        <td>{% if entity.fechaVigencia|date('Y-m-d')<= fecha|date('Y-m-d') %}<span class="label label-danger">{{ entity.fechaVigencia|date('d-m-Y') }}</span>
            {% else %}
            {{ entity.fechaVigencia|date('d-m-Y')}}<br>
        {% endif %}
        </td>
        <td><a href="{{ path('CLV_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
        {% endfor %}
        </tr>
        </tbody>
    </table>
    </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                        <a class="btn btn-primary btn-group" href="{{ path('CLV_conteo') }}">
                            <span class="glyphicon glyphicon-chevron-left"></span> Inicio
                        </a>
                </li>

            </ul>
        </div>
    </div>

{% endblock %}