{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-detalle').formproject({'addlink':'#add-detalle','column':'col-sm-2'});
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .row-blue > div {
            background-color: #CEECF5;
            border-color: #0B3861;
            border-style: dotted;
            border-width: 1px;
        }
    </style>
{% endblock %}

{% form_theme edit_form 'RHBundle:Form:form_extra_field.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <p class="text-muted">
                <i class="fa fa-archive fa-2x"></i> <strong> &nbsp;&nbsp; Proyecto cerrado CFE-GCN-2-045-10 (3681)</strong>
            </p>
            <hr/>
            <ul class="nav nav-tabs">
                <li><a href="{{ path('orden_trabajo') }}" title="Órdenes de trabajo">Órdenes de trabajo</a></li>
                <li class="active"><a href="#" title="Editar orden">Editar Órdenes de trabajo</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Editar los datos de la orden de trabajo.
            </div>

        </div>
    </div>
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(edit_form.codigo) }}
            <div class="text-danger">{{ form_errors(edit_form.codigo) }} </div>
            {{ form_widget(edit_form.codigo) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(edit_form.clave) }}
            <div class="text-danger">{{ form_errors(edit_form.clave) }} </div>
            {{ form_widget(edit_form.clave) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(edit_form.disciplina) }}
            <div class="text-danger">{{ form_errors(edit_form.disciplina) }} </div>
            {{ form_widget(edit_form.disciplina) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.tipotarea) }}
            <div class="text-danger">{{ form_errors(edit_form.tipotarea) }}</div>
            {{ form_widget(edit_form.tipotarea) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.estado) }}
            <div class="text-danger">{{ form_errors(edit_form.estado) }} </div>
            {{ form_widget(edit_form.estado) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.unidadesTotales) }}
            <div class="text-danger">{{ form_errors(edit_form.unidadesTotales) }}</div>
            {{ form_widget(edit_form.unidadesTotales) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(edit_form.fechaProgInicio) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaProgInicio) }}</div>
            {{ form_widget(edit_form.fechaProgInicio) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.fechaProgFin) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaProgFin) }}</div>
            {{ form_widget(edit_form.fechaProgFin) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.fechaRealFin) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaRealFin) }}</div>
            {{ form_widget(edit_form.fechaRealFin) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.planGc) }}
            <div class="text-danger">{{ form_errors(edit_form.planGc) }} </div>
            {{ form_widget(edit_form.planGc) }}
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-6">
            {{ form_label(edit_form.descripcion) }}
            <div class="text-danger">{{ form_errors(edit_form.descripcion) }}</div>
            {{ form_widget(edit_form.descripcion) }}
        </div>
        <div class="col-sm-6">
            {{ form_label(edit_form.file) }}
            <div class="text-danger">{{ form_errors(edit_form.file) }}</div>
            {{ form_widget(edit_form.file) }}
        </div>
    </div>
    <br/>
    <h6>CARTA DE TRANSMISIÓN</h6>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(edit_form.nocartatransmision) }}
            <div class="text-danger">{{ form_errors(edit_form.nocartatransmision) }}</div>
            {{ form_widget(edit_form.nocartatransmision) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.fechaTransmision) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaTransmision) }}</div>
            {{ form_widget(edit_form.fechaTransmision) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.conteoSot) }}
            <div class="text-danger">{{ form_errors(edit_form.conteoSot) }} </div>
            {{ form_widget(edit_form.conteoSot) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.conteoEvidencias) }}
            <div class="text-danger">{{ form_errors(edit_form.conteoEvidencias) }} </div>
            {{ form_widget(edit_form.conteoEvidencias) }}
        </div>
    </div>
    <br/>
    <h6>RESPALDO DIGITAL</h6>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(edit_form.nocd) }}
            <div class="text-danger">{{ form_errors(edit_form.nocd) }} </div>
            {{ form_widget(edit_form.nocd) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.fechaCartaTransmision) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaCartaTransmision) }} </div>
            {{ form_widget(edit_form.fechaCartaTransmision) }}
        </div>
    </div>
    <br/>
    <h6>OBSERVACIONES</h6>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(edit_form.comentarios) }}
            <div class="text-danger">{{ form_errors(edit_form.comentarios) }}</div>
            {{ form_widget(edit_form.comentarios) }}
        </div>
    </div>
    <br/>
    <h6>ACTIVIDADES / TAREAS</h6>
    <br/>
    <div class="row row-blue" id="collection-detalle" data-prototype="{{ form_widget(edit_form.detalles.vars.prototype)|e }}">
        {% for detalle in edit_form.detalles %}
            <div class="col-sm-12">
                <div class="row">
                    {{ form_row(detalle.partida) }}
                    {{ form_row(detalle.descripcion) }}
                    {{ form_row(detalle.categoriaseguridad) }}
                    {{ form_row(detalle.volumen) }}
                    {{ form_row(detalle.fechaprogfin) }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row top-buffer">
        <div class="col-sm-12">
            <a href="#" id="add-detalle" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
        </div>
    </div>
    <br/><hr/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(edit_form.submit) }}
        </div>
    </div>
    <hr/>
    {{ form_end(edit_form) }}
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="javascript:window.history.back();" title="Órdenes de trabajo">
                        <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    
    
    
    
    
{% endblock %}
