{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li  class="active"><a href="{{ path('orden_trabajo') }}" title="Ver órdenes de trabajo">Órdenes de trabajo</a></li>
                <li><a href="{{ path('orden_trabajo_new') }}"  title="Nueva orden de trabajo">Nueva SOT</a></li>
            </ul>
        </div>
    </div>
    <br/>
    <div align="right">
        <form method="get" action="" class="form-inline" role="search">
            <div class="form-group">
                <input type="text" name="query" value="{{ app.request.get('query') }}" class="form-control" placeholder="{{'Search OrdenTrabajo'|trans}}" required />
            </div>
            <input type="submit" value="{{ 'Search'|trans }}" class="btn btn-default">
        </form>
    </div>

    <div class="row">        
        <div class="col-sm-12">
            <br/>
            <table class="display" cellspacing="0" width="100%" id="dtable">
                <thead>
                    <tr>
                        <th>No. SOT</th>
                        <th>Descripción</th>
                        <th>Comentarios</th>
                        <th>Unid.</th>
                        <th>Fecha Programada Inicio</th>
                        <th>Fecha Programada Fin</th>
                        <th>Fecha Real Fin</th>
                        <th>Pdf</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}

                        <tr>
                            <td>{{ entity.clave }}</td>
                            <td>{{ entity.descripcion }}</td>
                            <td>{{ entity.comentarios }}</td>
                            <td>{{ entity.unidadesTotales }}</td>
                            <td>{% if entity.fechaProgInicio %}{{ entity.fechaProgInicio|date('d-m-Y') }}{% endif %}</td>
                            <td>{% if entity.fechaProgFin %}{{ entity.fechaProgFin|date('d-m-Y') }}{% endif %}</td>
                            <td>{% if entity.fechaProgFin %}{{ entity.fechaRealFin|date('d-m-Y') }}{% endif %}</td>
                            <td>{% if entity.pdf==NULL %}
                                <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay cargado.</span>
                            {% else %}
                                <a href="{{ path('servir_orden_trabajo', { 'id': entity.id }) }}" title="Ver">
                                    <i class="fa fa-file-pdf-o"></i>
                                </a>
                                {% endif %} 
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li>
                                            <a href="{{ path('orden_trabajo_show', { 'id': entity.id }) }}" title="Ver SOT">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a>
                                        </li>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <li>
                                                <a href="{{ path('orden_trabajo_edit', { 'id': entity.id }) }}" title="Editar SOT">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>                       
                    </div>
                </div>
                {% block javascripts %}                    
                    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
                    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
                    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
                    <script>

                        $(document).ready(function () {
                            $('#dtable').dataTable({
                                "bPaginate": false,
                                "bFilter": false,
                                "bInfo": false,
                                "destroy": true
                            });
                        });
                    </script>
                {% endblock %}

                <ul id="paginacion">
                    {{pagination(entities)}}
                </ul>
                <style>

                    #paginacion  {
                        text-align: right;
                        font-size: 15px; 
                    }
                    #paginacion ul>li {
                        display: inline-block;
                        float: left;
                    }


                </style>


                <div class="row">

                    <div class="col-sm-12">
                        <br/>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <ul class="list-inline">
                                <li>
                                    <a class="btn btn-success" href="{{ path('orden_trabajo_new') }}" title="Nueva orden de trabajo">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nueva SOT
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
                {% endblock %}














