{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-detalle').formproject({'addlink':'#add-detalle','column':'col-sm-2'});
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .row-blue > div {
            background-color: #CEECF5;
            border-color: #0B3861;
            border-style: dotted;
            border-width: 1px;
        }
    </style>
{% endblock %}
{% form_theme form 'ProyectoBundle:Form:fieldrow.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('orden_trabajo') }}" title="Órdenes de trabajo">Órdenes de trabajo</a></li>
                <li class="active"><a href="#" title="Nueva orden">Nueva Orden de trabajo</a></li>
            </ul>
            <br/>
            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Nueva orden de trabajo.
            </div>

        </div>
    </div>
    <h6>PAQUETE SOT <small> (Datos generales de la SOT)</small></h6>
    <br/>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(form.codigo) }}
            <div class="text-danger">{{ form_errors(form.codigo) }} </div>
            {{ form_widget(form.codigo) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(form.clave) }}
            <div class="text-danger">{{ form_errors(form.clave) }} </div>
            {{ form_widget(form.clave) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(form.disciplina) }}
            <div class="text-danger">{{ form_errors(form.disciplina) }} </div>
            {{ form_widget(form.disciplina) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.tipotarea) }}
            <div class="text-danger">{{ form_errors(form.tipotarea) }}</div>
            {{ form_widget(form.tipotarea) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.estado) }}
            <div class="text-danger">{{ form_errors(form.estado) }} </div>
            {{ form_widget(form.estado) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.unidadesTotales) }}
            <div class="text-danger">{{ form_errors(form.unidadesTotales) }}</div>
            {{ form_widget(form.unidadesTotales) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.fechaProgInicio) }}
            <div class="text-danger">{{ form_errors(form.fechaProgInicio) }}</div>
            {{ form_widget(form.fechaProgInicio) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.fechaProgFin) }}
            <div class="text-danger">{{ form_errors(form.fechaProgFin) }}</div>
            {{ form_widget(form.fechaProgFin) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.fechaRealFin) }}
            <div class="text-danger">{{ form_errors(form.fechaRealFin) }}</div>
            {{ form_widget(form.fechaRealFin) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.planGc) }}
            <div class="text-danger">{{ form_errors(form.planGc) }} </div>
            {{ form_widget(form.planGc) }}
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-6">
            {{ form_label(form.descripcion) }}
            <div class="text-danger">{{ form_errors(form.descripcion) }}</div>
            {{ form_widget(form.descripcion) }}
        </div>
        <div class="col-sm-6">
            {{ form_label(form.file) }}
            <div class="text-danger">{{ form_errors(form.file) }}</div>
            {{ form_widget(form.file) }}
        </div>
    </div>
    <br/>
    <h6>CARTA DE TRANSMISIÓN</h6>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.nocartatransmision) }}
            <div class="text-danger">{{ form_errors(form.nocartatransmision) }}</div>
            {{ form_widget(form.nocartatransmision) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.fechaTransmision) }}
            <div class="text-danger">{{ form_errors(form.fechaTransmision) }}</div>
            {{ form_widget(form.fechaTransmision) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.conteoSot) }}
            <div class="text-danger">{{ form_errors(form.conteoSot) }} </div>
            {{ form_widget(form.conteoSot) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.conteoEvidencias) }}
            <div class="text-danger">{{ form_errors(form.conteoEvidencias) }} </div>
            {{ form_widget(form.conteoEvidencias) }}
        </div>
    </div>
    <br/>
    <h6>RESPALDO DIGITAL</h6>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.nocd) }}
            <div class="text-danger">{{ form_errors(form.nocd) }} </div>
            {{ form_widget(form.nocd) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.fechaCartaTransmision) }}
            <div class="text-danger">{{ form_errors(form.fechaCartaTransmision) }} </div>
            {{ form_widget(form.fechaCartaTransmision) }}
        </div>
    </div>
    <br/>
    <h6>OBSERVACIONES</h6>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(form.comentarios) }}
            <div class="text-danger">{{ form_errors(form.comentarios) }}</div>
            {{ form_widget(form.comentarios) }}
        </div>
    </div>
    <br/>
    <h6>ACTIVIDADES / TAREAS</h6>
    <br/>
    <div class="row row-blue" id="collection-detalle" data-prototype="{{ form_widget(form.detalles.vars.prototype)|e }}">
        {% for detalle in form.detalles %}
            <div class="col-sm-12">
                <div class="row">
                    {{ form_row(detalle.partida) }}
                    {{ form_row(detalle.descripcion) }}
                    {{ form_row(detalle.categoriaseguridad) }}
                    {{ form_row(detalle.volumen) }}
                    {{ form_row(detalle.fechaprogfin) }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row top-buffer">
        <div class="col-sm-12">
            <a href="#" id="add-detalle" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
        </div>
    </div>
    <br/><hr/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit) }}
        </div>
    </div>
    <hr/>
    {{ form_end(form) }}
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="#" title="Órdenes de trabajo">
                        <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
