{% extends "@ControlDocumento/Default/index.html.twig" %}

{% block content -%}
    <h1>FormatoAsociado edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('formato_asociado') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
