{% extends "@ControlDocumento/Default/index.html.twig" %}
{% block content -%}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="{{ path('formato_asociado') }}" title="Ver Documentos">Formatos</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>
        <br/>
        <br/>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Procedimiento</th>
                <th>Revisión</th>
                <th>Nombre</th>
                <th>Descargar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.documento.clave}}</td>
                <td>{{ entity.documento.revision}}</td>
                <td>{{ entity.formatName }}</td>
                <td><a href="{{ path('servir_formato_asociado',{'id': entity.id}) }}" title="Pdf"><i class="fa fa-file-pdf-o"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </div>
</div>
    {% endblock %}
