{% extends "@ControlDocumento/Default/index.html.twig" %}

{% block content -%}
    <h1>FormatoAsociado creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('formato_asociado') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
