{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Captura de datos del empleado.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                <tr>
                    <th>No. Control</th>
                    <th>NIP-CFE</th>
                    <th>RPE-CFE</th>
                    <th>Ap. Paterno</th>
                    <th>Ap. Materno</th>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>

                        <td>{{ entity.numeroControl }}</td>
                        <td>{{ entity.npcfe }}</td>
                        <td>{{ entity.rpecfe }}</td>
                        <td>{{ entity.apellidoPaterno }}</td>
                        <td>{{ entity.apellidoMaterno }}</td>
                        <td>{{ entity.nombre }}</td>
                        <td>
                            <ul class="list-inline">
                                <li>
                                    <a href="{{ path('ctrlcfe_edit', { 'id': entity.id }) }}" title="Editar">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('ctrlcfe_show', { 'id': entity.id }) }}" title="Ver">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </li>

                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>

        </div>
    </div>
{% endblock %}
