<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li><img class="img-thumbnail" src="{{ asset('img/logo_5.png') }}" alt="Ultra Ingeniría"/></li>
        </ul>
        <ul class="nav navbar-nav navbar-text">
            <li>Control Externo-CFE</li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Dosificadores"><i class="glyphicon glyphicon-warning-sign lg"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('CLV_conteo') }}" title="Conteo">Conteo</a></li>
                    <li><a href="{{ path('CLV_dosimetro') }}" title="Dosímetro">Dosímetro</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Asignación de equipo"><i class="glyphicon glyphicon-hdd"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('AE') }}" title="Asignación">Asignación de equipos</a></li>
                    <li><a href="{{ path('AE_equipos') }}" title="Equipos">Equipos</a></li>
                    <li><a href="{{ path('AE_tipos') }}" title="Equipos">Tipos de equipos</a></li>
                    <li><a href="{{ path('AE_marcas') }}" title="Marcas">Marcas</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="{{ path('logout_area') }}" data-toggle="dropdown"><img src="{{ asset('img/cfeGRIS.png') }}" alt="{{ app.user.username }}"/></a>
            </li>
            <li>
                {% if (app.user.username=="gmalpica") %}
                    <img class="img-thumbnail" src="{{ asset('img/fotos/gmalpica.jpg') }}" TITLE="{{ app.user.username }}" height="40" width="40"/>
                {% else %}
                    <a href="#"  title="{{ app.user.username }}"><span class="glyphicon glyphicon-user"></span></a>
                {% endif %}
            </li>
            <li><span class="navbar-text">{{ app.user.username }}</span></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Selecciona"><i class="fa fa-th fa-lg"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('ctrlcfe_captura') }}" title="Curriculas">Curriculas</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Reportes"><i class="glyphicon glyphicon-print"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('curr_personalinac', { 'c':3697 }) }}" title="Personal Inactivo">Personal inactivo 3697-CFE</a></li>
                    <li><a href="{{ path('curr_personalact', { 'c':3697 }) }}" title="Personal Activo">Personal activo 3697-CFE</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('curr_POExvencer', { 'c':3697 }) }}" title="POE por vencer">POE por vencer 3697-CFE</a></li>
                    <li><a href="{{ path('curr_POEEExvencer', { 'c':3697 }) }}" title="POE Examen Espirométrico">POE Examen Espirométrico por vencer 3697-CFE</a></li>
                    <li><a href="{{ path('curr_POEE3xvencer', { 'c':3697 }) }}" title="POE Evaluación de Equilibrio Emocional por vencer">POE Ev. de Equilibrio Emocional por vencer 3697-CFE</a></li>
                    <li><a href="{{ path('curr_POEEMxvencer', { 'c':3697 }) }}" title="POE Examen Médico por vencer">POE Examen Médico por vencer 3697-CFE</a></li>
                    <li><a href="{{ path('curr_PNOExvencer', { 'c':3697 }) }}" title="PNOE por vencer">PNOE por vencer 3697-CFE</a></li>
                    <li><a href="{{ path('curr_PNOEE3xvencer', { 'c':3697 }) }}" title="PNOE Evaluación de Equilibrio Emocional por vencer">PNOE Ev. de Equilibrio Emocional por vencer 3697-CFE</a></li>
                    <li><a href="{{ path('curr_PNOEEMxvencer', { 'c':3697 }) }}" title="PNOE Examen Médico por vencer">PNOE Examen Médico por vencer 3697-CFE</a></li>
                </ul>
            </li>
            <li><a href="{{ path('cdoc_todos',{type:1 }) }}" title="Lista Maestra"><i class="glyphicon glyphicon-file lg"></i></a></li>
            <li><a href="{{ path('ultra_controldocumento_default_index') }}" title="Inicio"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="{{ path('logout_area') }}" title="Salir"><i class="fa fa-power-off fa-lg"></i></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>