{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-skills').collectionform({'addlink':'#add-skill','column':'col-sm-6'});
        $('#cursos-internos').collectionform({'addlink':'#curso-interno','column':'col-sm-6'});
        $('#cursos-externos').collectionform({'addlink':'#curso-externo','column':'col-sm-6'});
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .row-blue > div {
            background-color: #CEECF5;
            border-color: #0B3861;
            border-style: dotted;
            border-width: 1px;
        }

    </style>
{% endblock %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success">
            <span class="glyphicon glyphicon-comment"></span>
                Captura de datos del empleado.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-info">
                <span class="label label-info">No. de Control:</span> {{ entity.numeroControl }} <br/>
                <span class="label label-info">Nombre:</span> {{ entity.nombre }} {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="alert alert-info">
                <span class="label label-info">RPE CFE:</span> {{ entity.rpecfe }}<br/>
                <span class="label label-info">NIP CFE:</span> {{ entity.npcfe }}
            </div>
        </div>
    </div>
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
        <div class="row">
        <div class="form-group">
            <fieldset>
                <legend>Habilidades/Conocimientos Específicos</legend>
                <div class="container">
                    <div class="row row-blue" id="cursos-externos" data-prototype="{{ form_widget(edit_form.cursosExternos.vars.prototype)|e }}">
                        {% for ce in edit_form.cursosExternos %}
                            <div class="col-sm-6">
                                {{ form_row(ce.cursoExterno) }}
                                {{ form_row(ce.fechaRealizacion) }}
                                {{ form_row(ce.fechaVigencia) }}
                                {{ form_row(ce.tipoAdquisicion) }}
                                {{ form_row(ce.file) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row top-buffer">
                        <div class="col-sm-12">
                            <a href="#" id="curso-externo" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
            {{ form_errors(edit_form) }}
            {{ form_end(edit_form) }}
            <hr>
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('ctrlcfe_captura') }}" title="Ver Curriculas">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}
