{% extends '::base.html.twig' %}

{% block body %}
    {% block header %}
        {% include('ControlDocumentoBundle:ControlCfe:ControlCfe.html.twig') %}
    {% endblock %}

    <div class="container">
        {% block content %}
            <p align="center">
                <img src="{{ asset('img/homePage.png') }}" title="Sistema de Administración Documental">
            </p>
        {% endblock %}
        <!--MOSTRAR PERFILES POR VENCER           -->
        <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>
            <bold>&nbsp;CONTEOS PRÓXIMOS A VENCER. (Antes del {{ lim |date('d-m-Y') }}.)</bold>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Dosímetro (NISD) - Asigación </th>
                <th>Fecha</th>
                <th>Vigencia</th>
                <th>Dosis</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in result %}
                <tr id="1">
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.nombre }} {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }}</td>
                    <td>{{ entity.fechaConteo|date('d-m-Y') }}</td>
                    <td>{% if entity.fechaVigencia|date('m')<= "now"|date("m") %}<span class="label label-danger">{{ entity.fechaVigencia|date('d-m-Y') }}</span>
                        {% else %}
                            {{ entity.fechaVigencia|date('d-m-Y')}}
                        {% endif %}
                    </td>
                    <td>{{ entity.dosis }}</td>
                    <td><a href="{{ path('CLV_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="{{ path('CLV_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!--MOSTRAR PERFILES POR VENCER           -->
        <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>
            <bold>&nbsp;DOCUMENTOS VENCIDOS Y PRÓXIMOS A VENCER. (Antes del {{ lim |date('d-m-Y') }}.)</bold>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Clave</th>
                <th>Rev.</th>
                <th>Título</th>
                <th>Aprobado</th>
                <th>Vigencia</th>
                <th>Pdf</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in documentos %}
                <tr>
                    <td>{{ entity.clave }}</td>
                    <td>{{ entity.revision }}</td>
                    <td>{{ entity.titulo }}</td>
                    <td>{% if entity.aprobado %}{{ entity.aprobado|date('d-m-Y') }}{% endif %}</td>
                    <td>{% if entity.vigencia|date('m')<= "now"|date("m") %}
                            <span class="label label-danger">{{ entity.vigencia|date('d-m-Y') }}</span>
                        {% else %}
                            {{ entity.vigencia|date('d-m-Y')}}
                        {% endif %}
                    </td>
                    <td><a href="{{ path('servir',{'id': entity.id}) }}" title="PDF"><span  class="glyphicon glyphicon-book"></span></a></td>
                    <td>{% if entity.vigencia|date('m')<= "now"|date("m") %}
                            <span class="label label-danger">OBSOLETO</span>
                        {% else %}
                            {{ entity.condicion }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><!--/.container-->
{% endblock %}