{% extends '::base.html.twig' %}

{% block body %}
    {% block header %}
        {% include('ControlDocumentoBundle:SuperAdmin:superadmin.html.twig') %}
    {% endblock %}

    <div class="container">
        {% block content %}
            <p align="center">
                <img src="{{ asset('img/homePage.png') }}" title="Sistema de Administración Documental">
            </p>
        {% endblock %}
        <!-- LISTA MAESTRA VIGENTE -->
        <div class="alert alert-success"><span class="glyphicon glyphicon-folder-open"></span>
            <bold>
                {% for lista in lm %}
                    <a href="{{ path('servir',{'id': lista.id}) }}" title="Pdf"> Ver Lista Maestra en PDF <i class="fa fa-file-pdf-o"></i></a>
                {% endfor %}
                </br>
                <!-- DOCUMENTOS GENERALES -->
                {% for documento in doc %}
                    {% if documento.pdf==NULL %}
                        <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay archivo de {{ documento.title}}</span>
                    {% else %}
                        <a href="{{ path('servir_documento_general', { 'id': documento.id }) }}" title="{{ documento.title}}">Ver {{ documento.title}} <i class="fa fa-file-pdf-o"></i></a>
                    {% endif %}
                    </br>
                {% endfor %}
            </bold>
        </div>
        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_RH') or is_granted('ROLE_JEFE_CALIDAD') %}
        <div class="alert alert-success">
        <a href="http://setoa02.dev/" title="Sistema de Encuestas" target="_blank"> Sistema de encuestas <i class="fa fa-pie-chart"></i>
        </a>
        </div>
        {% endif %}
        <!-- CALENDARIO CUMPLEAÑOS -->
        <div class="alert alert-info"><i class="fa fa-birthday-cake"></i>
            <bold>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>CUMPLEAÑOS DEL MES</th>
                        <th>Día</th>
                    </tr>

                    {% for c in cumple %}
                        <tr>
                            <td>{{ c.app }} {{ c.apm }} {{ c.nom }}</td>
                            <td>{{ c.fn|date('d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </bold>
        </div>
        <!--MOSTRAR PERFILES POR VENCER           -->
        <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>
            <bold>&nbsp;DOCUMENTOS VENCIDOS Y PRÓXIMOS A VENCER. (Antes del {{ lim |date('d-m-Y') }}.)</bold>
        </div>

        <ul class="pull-right">
            <a class="btn btn-info btn-xs" href="{{ path('alertaspdf') }}" title="Imprimir alertas del sistema">
                <span class="glyphicon glyphicon-file"></span> Imprimir
            </a>
        </ul>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Clave</th>
                <th>Rev.</th>
                <th>Título</th>
                <th>Vigencia</th>
                <th>Pdf</th>
                <th>Alerta</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in documentos %}
                <tr>
                    <td>{{ entity.clave }}</td>
                    <td>{{ entity.revision }}</td>
                    <td>{{ entity.titulo }}</td>
                    <td>{% if (entity.vigencia|date('Y')> "now"|date('Y') and (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                        or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')> "now"|date('m') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                        or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')== "now"|date('m') and entity.vigencia|date('d')> "now"|date('d') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                        %}
                            <span class="label label-success">{{ entity.vigencia|date('d-m-Y') }}</span>
                        {% else %}
                            <span class="label label-danger">{{ entity.vigencia|date('d-m-Y') }}</span>
                        {% endif %}
                    </td>
                    <td><a href="{{ path('servir',{'id': entity.id}) }}" title="PDF"><span  class="glyphicon glyphicon-book"></span></a></td>
                    <td>{% if (entity.vigencia|date('Y')> "now"|date('Y') and (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                        or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')> "now"|date('m') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                        or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')== "now"|date('m') and entity.vigencia|date('d')> "now"|date('d') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                        %}
                            <span class="label label-success">PRÓXIMO</span>
                        {% else %}
                            <span class="label label-danger">EXPIRADO</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
