{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info"><span class="glyphicon glyphicon-print"></span>
            &nbsp; Concentrado de reportes del sistema.
        </div>
    </div>
</div>
<br/>
<div class="row">
 <div class="col-sm-4">
     <p class="text-muted"><span class="glyphicon glyphicon-hand-down"></span>
         Consultas generales del sistema.
     </p>
    <div class="btn-group">
             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                 Generales
                 <span class="caret"></span>
             </button>
             <ul class="dropdown-menu">
                 <li><a href="{{ path('con_certificado', { 'pdf':1 }) }}" title="Personal con certificado">Personal con Certificado de calificación</a></li>
                 <li><a href="{{ path('con_certificado', { 'pdf':2 }) }}" title="Personal con calificación">Personal con Evaluación</a></li>
                 <li><a href="{{ path('sin_certificado') }}" title="Personal Sin Certificado">Personal sin Certificado de calificación</a></li>
                 <li><a href="{{ path('cdoc_vigencias') }}" title="Vigencia de conocimientos especiales">Vigencia de cursos de conocimientos especiales</a></li>
                 <li><a href="{{ path('cdoc_vigenciasprod') }}" title="Vigencia de capacitación específica">Vigencia de cursos de capacitación específica</a></li>
                 <li><a href="{{ path('cdoc_calificado') }}" title="Personal Actualizado">Personal Actualizado (con cursos completos)</a></li>
                 <li><a href="{{ path('cdoc_nocalificado') }}" title="Personal no Actualizado">Personal No Actualizado (cursos faltantes)</a></li>
                 <li><a href="{{ path('cdoc_doccomp') }}" title="Personal con comprobantes completos">Personal con comprobantes de cursos completos</a></li>
                 <li><a href="{{ path('cdoc_comprobantes') }}" title="Personal con comprobantes faltantes">Personal con comprobantes de cursos faltantes</a></li>
                 <li><a href="{{ path('cdoc_fcursos') }}" title="Necesidades de capacitación">Necesidades de capacitación por curso</a></li>
                 <li><a href="{{ path('repgeneral') }}" title="Reporte mensual SOT's 3697">Reporte mensual de órdenes de trabajo-Proyecto 3697</a></li>
             </ul>
    </div>
</div>
<div class="col-sm-4">
    <p class="text-muted"><span class="glyphicon glyphicon-hand-down"></span>
        Consultas al POE y PNOE.
    </p>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            CFE - 3697. POE y PNOE
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('curr_POExvencer', { 'c':3697 }) }}" title="POE por vencer">POE por vencer</a></li>
            <li><a href="{{ path('curr_POEEExvencer', { 'c':3697 }) }}" title="POE Examen Espirométrico">POE Examen Espirométrico por vencer</a></li>
            <li><a href="{{ path('curr_POEE3xvencer', { 'c':3697 }) }}" title="POE Evaluación de Equilibrio Emocional por vencer">POE Ev. de Equilibrio Emocional por vencer</a></li>
            <li><a href="{{ path('curr_POEEMxvencer', { 'c':3697 }) }}" title="POE Examen Médico por vencer">POE Examen Médico por vencer</a></li>
            <li><a href="{{ path('curr_PNOExvencer', { 'c':3697 }) }}" title="PNOE por vencer">PNOE por vencer</a></li>
            <li><a href="{{ path('curr_PNOEE3xvencer', { 'c':3697 }) }}" title="PNOE Evaluación de Equilibrio Emocional por vencer">PNOE Ev. de Equilibrio Emocional por vencer</a></li>
            <li><a href="{{ path('curr_PNOEEMxvencer', { 'c':3697 }) }}" title="PNOE Examen Médico por vencer">PNOE Examen Médico por vencer </a></li>
        </ul>
    </div>
</div>

<div class="col-sm-4">
    <p class="text-muted"><span class="glyphicon glyphicon-hand-down"></span>
        Consultas para el área de Recursos Humanos.
    </p>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            CFE - 3697. Reportes de personal
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('curricula_puestos', { 'c':3697 }) }}" title="Puestos">Puestos</a></li>
            <li><a href="{{ path('curricula_personal', { 'c':3697 }) }}" title="Personal">Personal</a></li>
            <li><a href="{{ path('curricula_puestosxperfil', { 'c':3697 }) }}" title="Personal por perfil">Personal por perfil</a></li>
            <li><a href="{{ path('curr_personalinac', { 'c':3697 }) }}" title="Personal Inactivo">Personal inactivo</a></li>
            <li><a href="{{ path('curr_personalact', { 'c':3697 }) }}" title="Personal Activo">Personal activo</a></li>

        </ul>
    </div>
</div>
</div>
{% endblock %}
