<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li><img class="img-thumbnail" src="{{ asset('img/logo_5.png') }}" alt="Ultra Ingeniería"/></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
           <!-- <li><h4 class="navbar-text">{{ app.request.requestUri }}</h4></li> -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Selecciona documentos"><i class="glyphicon glyphicon-file lg"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('cdoc_todos',{type:1 }) }}" title="Lista Maestra">Vigentes</a></li>
                    <li><a href="{{ path('cdoc_todos_c',{type:1 }) }}" title="Cancelados">Cancelados</a></li>
                    <li><a href="{{ path('cdoc_todos_o',{type:1 }) }}" title="Obsoletos">Obsoletos</a></li>
                    <li><a href="{{ path('cdoc_todos_cm',{type:1 }) }}" title="Con comentarios">Con comentarios</a></li>
                </ul>
            </li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Libros"><i class="glyphicon glyphicon-book"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('libros') }}" title="Libros">Libros</a></li>
                    <li><a href="{{ path('libros_autores') }}" title="Autores">Autores</a></li>
                    <li><a href="{{ path('libros_editoriales') }}" title="Editoriales">Editoriales</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Dosificadores"><i class="glyphicon glyphicon-warning-sign lg"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('CLV_conteo') }}" title="Conteo">Conteo</a></li>
                    <li><a href="{{ path('CLV_dosimetro') }}" title="Dosímetro">Dosímetro</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Asignación de equipo"><i class="glyphicon glyphicon-hdd"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('AE') }}" title="Asignación">Asignación de equipos</a></li>
                    <li><a href="{{ path('AE_equipos') }}" title="Equipos">Equipos</a></li>
                    <li><a href="{{ path('AE_tipos') }}" title="Equipos">Tipos de equipos</a></li>
                    <li><a href="{{ path('AE_marcas') }}" title="Marcas">Marcas</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Prestamo de documentos"><i class="fa fa-exchange"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('presta_auditoria') }}" title="Prestamo de auditorias/vigilancias">Mis Auditorias/Vigilancias prestados</a></li>
                    <li><a href="{{ path('archivos_calidad') }}" title="Prestamo de procedimientos">Mis procedimientos prestados</a></li>
                    <li><a href="{{ path('archivo') }}" title="Prestamo de expedientes">Mis Expedientes prestados</a></li>
                    <li><a href="{{ path('presta_perfil') }}" title="Prestamo de perfiles">Mis Perfiles prestados</a></li>
                    <li><a href="{{ path('presta_recom') }}" title="Prestamo de RAP's/RAC's">Mis RAP's/RAC's prestados</a></li>
                    <li><a href="{{ path('sot_index') }}" title="Prestamo de Sot's">Mis Sot's prestadas</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('presta_auditoria_new') }}" title="Solicitar">Solicitar Auditoria/Vigilancia</a></li>
                    <li><a href="{{ path('archivos_calidad_new') }}" title="Solicitar">Solicitar Procedimiento</a></li>
                    <li><a href="{{ path('archivo_new') }}" title="Solicitar">Solicitar Expediente</a></li>
                    <li><a href="{{ path('presta_perfil_new') }}" title="Solicitar">Solicitar Perfil</a></li>
                    <li><a href="{{ path('presta_recom_new') }}" title="Solicitar">Solicitar RAP/RAC</a></li>
                    <li><a href="{{ path('sot_new') }}" title="Solicitar">Solicitar SOT</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('archivo_plist', { 't':1 }) }}" title="Autorizar">Autorizar</a></li>
                    <li><a href="{{ path('archivo_plist', { 't':2 }) }}" title="Prestar">Prestar</a></li>
                    <li><a href="{{ path('archivo_plist', { 't':4 }) }}" title="Prestados">Prestados</a></li>
                    <li><a href="{{ path('archivo_plist', { 't':5 }) }}" title="Cancelados">Cancelados</a></li>
                    <li><a href="{{ path('archivo_plist', { 't':6 }) }}" title="Devueltos">Devueltos</a></li>
                    <li><a href="{{ path('archivo_plist', { 't':3 }) }}" title="No Autorizados">No Autorizados</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Agendas"><i class="fa fa-phone-square"></i> </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('curricula_agenda', { 'c':3697 }) }}" title="Agenda">Agenda 3697-CFE</a></li>
                    <li><a href="{{ path('curricula_agenda', { 'c':3699 }) }}" title="Agenda">Agenda 3699-PEMEX</a></li>
                    <li><a href="{{ path('curricula_agenda', { 'c':1 }) }}" title="Agenda">Agenda Administrativo</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Auditorias"><i class="fa fa-file-text-o"></i> </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('calidad_auditoria', { 'e':1 }) }}" title="Auditorías/Vigilancias">Auditorías/Vigilancias vigentes</a></li>
                    <li><a href="{{ path('calidad_recomendaciones', { 'e':1 }) }}" title="RAP's/RAC's">RAP's/RAC's vigentes</a></li>
                    <li><a href="{{ path('calidad_auditoria', { 'e':4 }) }}" title="Auditorías/Vigilancias">Auditorías/Vigilancias cerradas</a></li>
                    <li><a href="{{ path('calidad_recomendaciones', { 'e':4 }) }}" title="RAP's/RAC's">RAP's/RAC's cerradas</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('agenda') }}" title="Programas anuales">Programas anuales</a></li>
                    <li><a href="{{ path('event') }}" title="Auditorias / Vigilancias programadas">Auditorias / Vigilancias programadas</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('requirement') }}" title="Requerimiento">Requerimientos</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
         <li><span class="navbar-text">{{ app.user.username }} - {% for role in app.user.roles %} {{ role.interface }}{% endfor %}&nbsp;</span>
            </li>
            <li>
                <a href="#" title="Usuario"><span class="glyphicon glyphicon-user"></span></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Menú"><i class="fa fa-th fa-lg"></i></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">-Documentación-</li>
                    <li><a href="{{ path('procedimiento') }}" title="Documentos">Documentos</a></li>
                    <li><a href="{{ path('perfil') }}" title="Perfiles">Perfiles</a></li>
                    <li><a href="{{ path('curricula') }}" title="Expedientes">Expedientes Numéricos</a></li>
                    <li><a href="{{ path('curricula_alfa') }}" title="Expedientes Alfa">Expedientes Alfa</a></li>
                    <li><a href="{{ path('perfil_curricula') }}" title="Perfil-Currícula">Perfil-Currícula</a></li>
                    <li><a href="{{ path('formato_asociado') }}" title="Formatos">Formatos</a></li>
                    <li><a href="{{ path('documento_general') }}" title="Documentos Generales">Generales</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">-Contratos-</li>
                    <li><a href="{{ path('cliente') }}" title="Clientes">Clientes</a></li>
                    <li><a href="{{ path('contrato') }}" title="Contratos">Contratos</a></li>
                    <li><a href="{{ path('area') }}" title="Áreas">Áreas</a></li>
                    <li><a href="{{ path('disciplina') }}" title="Disciplinas">Disciplinas</a></li>
                    <li><a href="{{ path('contratacion') }}" title="Contratación">Contratación</a></li>
                    <li><a href="{{ path('rh_agenda') }}" title="Programas de Capacitación">Programas de Capacitación</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">-Catálogos-</li>
                    <li><a href="{{ path('institucion') }}" title="Instituciones">Instituciones</a></li>
                    <li><a href="{{ path('curso') }}" title="Cursos">Cursos</a></li>
                    <li><a href="{{ path('profesion') }}" title="Profesiones">Profesiones</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">-Administración-</li>
                    <li><a href="{{ path('users') }}" title="Usuarios">Usuarios</a></li>
                    <li><a href="{{ path('roles') }}" title="Roles">Roles</a></li>
                    <li><a href="{{ path('etapa_proyecto') }}" title="Etapas">Etapas</a></li>
                    <li><a href="{{ path('condicion') }}" title="Condiciones">Condiciones</a></li>
                    <li><a href="{{ path('tipodocumento') }}" title="Tipos de Documento">Tipos de Documentos</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Proyectos"><i class="glyphicon fa fa-users"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('partida') }}" title="Partidas">Partidas (General)</a></li>
                    <li><a href="{{ path('orden_trabajo') }}" title="Orden de Trabajo">Órdenes de trabajo (General)</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('cdocpartidas') }}" title="Partidas 3681">Partidas 3681</a></li>
                    <li><a href="{{ path('cdocorden_trabajo') }}" title="Órdenes del 3681">Órdenes de trabajo 3681</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('partidas3697') }}" title="Partidas 3697">Partidas 3697</a></li>
                    <li><a href="{{ path('orden_trabajo3697') }}" title="Órdenes del 3697">Órdenes de trabajo 3697</a></li>
                 </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Gráficas"><i class="glyphicon fa fa-bar-chart-o"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('gerencia_grafica') }}" title="Gráfica">Documentos por vencer</a></li>
                </ul>
            </li>
            <li><a href="{{ path('reporteador') }}" title="Reporteador"><i class="glyphicon glyphicon-print"></i></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Help Desk"><i class="fa fa-heartbeat"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('helpdesk_history') }}" title="Historial">Historial</a></li>
                    <li><a href="{{ path('helpdesk_issue') }}" title="Incidencia">Incidencia</a></li>
                    <li><a href="{{ path('helpdesk_category') }}" title="Categoría">Categoría</a></li>
                    <li><a href="{{ path('helpdesk_escalation') }}" title="Escala">Escala</a></li>
                    <li><a href="{{ path('helpdesk_software') }}" title="Software">Software</a></li>
                    <li><a href="{{ path('helpdesk_hardware') }}" title="Hardware">Hardware</a></li>
                    <li><a href="{{ path('helpdesk_technician') }}" title="Técnicos">Técnicos</a></li>
                </ul>
            </li>
            <li><a href="{{ path('ultra_controldocumento_default_index') }}" title="Inicio"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="{{ path('logout_area') }}"><i class="fa fa-power-off fa-lg" title="Salir"></i></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>