{#     {% extends '::base.html.twig' %}   #}
{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
{# {% block body -%}    #}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('roles') }}" title="Ver Roles">Roles</a></li>
            <li class="active"><a href="#" title="Editar Rol">Editar Rol</a></li>
        </ul>
        <br/>

        <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
            Edición de datos roles.
        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        {{ form_start(edit_form) }}
        {{ form_label(edit_form.name) }}
        <div class="text-danger">{{ form_errors(edit_form.name) }} </div>
        {{ form_widget(edit_form.name) }}
    </div>
    <div class="col-xs-2">
        {{ form_label(edit_form.role) }}
        <div class="text-danger">{{ form_errors(edit_form.role) }}</div>
        {{ form_widget(edit_form.role) }}
    </div>
    <div class="col-xs-3">
        {{ form_label(edit_form.interface) }}
        <div class="text-danger">{{ form_errors(edit_form.interface) }}</div>
        {{ form_widget(edit_form.interface) }}
    </div>
    <div class="col-xs-3">
        {{ form_label(edit_form.users) }}
        <div class="text-danger">{{ form_errors(edit_form.users) }}</div>
        {{ form_widget(edit_form.users) }}
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-12">
        {{ form_end(edit_form) }}
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-inline">
    <li>
        <a class="btn btn-primary" href="{{ path('roles') }}" title="Ver Roles">
           <span class="glyphicon glyphicon-chevron-left"></span>  Regresar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

</div>
</div>
{% endblock %}
