{#     {% extends '::base.html.twig' %}   #}
{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
{# {% block body -%}    #}

     <div class="row">
         <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li  class="active"><a href="{{ path('roles') }}" title="Ver Roles">Roles</a></li>
                                <li><a href="{{ path('roles_new') }}" title="Nuevo Rol">Nuevo Rol</a></li>
                            </ul>

                  <br/>
            </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('roles_pdf') }}" title="Exportar completo a PDF">
                    <span class="glyphicon glyphicon-file"></span> Roles en PDF
                </a>
            </ul>
        </div>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Interfaz</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.role }}</td>
                <td>{{ entity.interface }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('roles_show', { 'id': entity.id }) }}" title="Ver Detalle"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </li>
                    <li>
                        <a href="{{ path('roles_edit', { 'id': entity.id }) }}" title="Editar"> <span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 <div class="row">
            <div class="col-sm-12">
                  <br/>


        <!-- ul>
        <li -->
            <a  class="btn btn-success" href="{{ path('roles_new') }}" title="Nuevo Rol">
                <span class="glyphicon glyphicon-plus-sign"></span> Nuevo Rol
            </a>
        <!-- /li>
    </ul -->
            </div>
 </div>
    {% endblock %}
