{#     {% extends '::base.html.twig' %}   #}
{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
{# {% block body -%}    #}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('roles') }}" title="Ver Roles">Roles</a></li>
                <li class="active"><a href="{{ path('roles_new') }}" title="Nuevo Rol">Nuevo Rol</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí los datos del nuevo rol.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            {{ form_start(form) }}
            {{ form_label(form.name) }}
            <div class="text-danger">{{ form_errors(form.name) }} </div>
            {{ form_widget(form.name) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.role) }}
            <div class="text-danger">{{ form_errors(form.role) }}</div>
            {{ form_widget(form.role) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.interface) }}
            <div class="text-danger">{{ form_errors(form.interface) }}</div>
            {{ form_widget(form.interface) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.users) }}
            <div class="text-danger">{{ form_errors(form.users) }}</div>
            {{ form_widget(form.users) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit, { 'label': 'Guardar' }) }}
            {{ form_end(form) }}
        </div>
    </div>

{#
        <ul class="record_actions">
    <li>
        <a class="btn btn-primary pull-left" href="{{ path('roles') }}">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Lista de roles
        </a>
    </li>
</ul>
#}
{% endblock %}
