{#     {% extends '::base.html.twig' %}   #}
{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block content -%}
{% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
{# {% block body -%}    #}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('roles') }}" title="Ver Roles">Roles</a></li>
                <li class="active"><a href="#" title="Detalle de Rol">Muestra Rol</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle del rol</h4>
        </div>
    </div><br/>

    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Id</strong><br/>
            <strong>Nombre</strong><br/>
            <strong>Rol</strong><br/>
            <strong>Interface</strong></br>
            <strong>Usuarios</strong>
        </div>
        <div class="col-xs-9">
            {{ entity.id }}<br/>
            {{ entity.name }}<br/>
            {{ entity.role }}<br/>
            {{ entity.interface }}<br/>
            {% for usrs in entity.users %}
                <span class="glyphicon glyphicon-ok btn-sm"></span>{{ usrs.username }}<br/>
            {% endfor %}
        </div>
    </div><br/><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary btn-group" href="{{ path('roles') }}" title="Ver Roles">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
                {% if is_granted('ROLE_GERENCIA') %}

                {% else %}

                    <li>
                        <a class="btn btn-success btn-group" href="{{ path('roles_edit', { 'id': entity.id }) }}" title="Editar Rol">
                            <span class="glyphicon glyphicon-edit"></span>Editar
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}
