{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('perfil_curricula') }}" title="Ver Contratos">Contratos</a></li>
                <li><a href="{{ path('perfil_curricula_list_discipline',{'id': disciplina.area.contrato.id}) }}" title="Ver Disciplinas">Disciplinas</a></li>
                <li><a href="{{ path('perfil_curricula_list_job_profile',{'id': disciplina.id, 'con':3697}) }}" title="Ver Currículas">Curriculas</a></li>
                <li class="active">Editar</li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Perfil - Curricula en el contrato {{  disciplina.area.contrato.numeroInterno }} de la disciplina {{ disciplina.titulo }}
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.numeroCredencial) }}
            <div class="text-danger">{{ form_errors(edit_form.numeroCredencial) }} </div>
            {{ form_widget(edit_form.numeroCredencial) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.fechaAlta) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaAlta) }}</div>
            {{ form_widget(edit_form.fechaAlta) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.fechaBaja) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaBaja) }}</div>
            {{ form_widget(edit_form.fechaBaja) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.ubicacion) }}
            <div class="text-danger">{{ form_errors(edit_form.ubicacion) }}</div>
            {{ form_widget(edit_form.ubicacion) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(edit_form.contrato) }}
            <div class="text-danger">{{ form_errors(edit_form.contrato) }}</div>
            {{ form_widget(edit_form.contrato) }}
        </div>
        <div class="col-xs-5">
            {{ form_label(edit_form.perfil) }}
            <div class="text-danger">{{ form_errors(edit_form.perfil) }}</div>
            {{ form_widget(edit_form.perfil) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(edit_form.curricula) }}
            <div class="text-danger">{{ form_errors(edit_form.curricula) }}</div>
            {{ form_widget(edit_form.curricula) }}
        </div>
    </div>
    <br/><hr/>
    <div class="row">
        <div class="col-xs-4">
            {{ form_row(edit_form.files) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(edit_form.submit) }}

            {{ form_end(edit_form) }}
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('perfil_curricula_list_job_profile',{'id': disciplina.id, 'con':3697}) }}" title="Currículas">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
