{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
        <h2>Contratos</h2>
        <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
            Contratos con sus respectivos trabajadores por disciplina.
        </div>
    <br/>
        <div class="col-sm-12">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
            <thead>
            <tr>
                <th>Cliente</th>
                <th>Contrato</th>
                <th>Título</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ entity.cliente.siglas }}</td>
                    <td>{{ entity.numeroInterno }}</td>
                    <td>{{ entity.titulo }}</td>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="{{ path('perfil_curricula_list_discipline', { 'id': entity.id }) }}" title="Ver las disciplinas de este contrato">Disciplinas</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}