{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
<div class="col-sm-12">
    <ul class="breadcrumb">
        <li><a href="{{ path('perfil_curricula') }}" title="Ver Contratos">Contratos</a></li>
        <li><a href="{{ path('perfil_curricula_list_discipline',{'id': disciplina.area.contrato.id}) }}" title="Ver Disciplinas">Disciplinas</a></li>
        <li>Currículas</li>
    </ul>
    <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
        Curriculas de la disciplina: <strong>{{ disciplina.titulo }} </strong>  del contrato.
    </div>
</div>
</div>
   <br/>
<div class="row">
<div class="col-sm-12">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
        <tr>
            <th>Disciplina</th>
            <th>Perfil</th>
            <th>Curricula</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ disciplina.titulo }}</td>
                <td>{{ entity.clave }} {{ entity.titulo }} Rev.{{ entity.revision }}</td>
                <td>{{ entity.nombre }} {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('perfil_curricula_show', { 'id': entity.id,'dis':disciplina.id }) }}" title="Ver detalle">
                                 <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </li>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') %}

                        <li>
                            <a href="{{ path('perfil_curricula_edit', { 'id': entity.id,'dis': disciplina.id }) }}" title="Editar">
                               <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </li>
            {% else %}
             {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
<div class="row">
<div class="col-sm-12">
    <br/>
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') %}
    <ul class="list-inline">
        <li>
            <a class="btn btn-success" href="{{ path('perfil_curricula_new',{'id': disciplina.id}) }}" title="Agregar Currícula">
               <span class="glyphicon glyphicon-plus-sign"></span> Agregar Curricula
            </a>
        </li>
    </ul>
</div>
</div>
    {% endif %}
{% endblock %}