{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('perfil_curricula') }}" title="Ver Contratos">Contratos</a></li>
        <li class="active">Disciplinas</li>
    </ul>
    <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
        Disciplinas en el contrato: <strong>{{ contrato.numeroInterno }} </strong>
    </div>
        <br/>

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
        <tr>
            <th>Contrato</th>
            <th>Disciplina</th>
            <th>Curriculas de esta disciplina</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>Contrato: {{ contrato.numeroInterno }}</td>
                <td>{{ entity.titulo }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('perfil_curricula_list_job_profile', { 'id': entity.id, 'con':contrato.numeroInterno    }) }}" title="Ver currículas de la disciplina">Currículas</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}