{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('perfil_curricula') }}" title="Contratos">Contratos</a></li>
                <li><a href="{{ path('perfil_curricula_list_discipline',{'id': disciplina.area.contrato.id}) }}" title="Disciplinas">Disciplinas</a></li>
                <li><a href="{{ path('perfil_curricula_list_job_profile',{'id': disciplina.id, 'con':3697}) }}" title="Curriculas">Curriculas</a></li>
                <li class="active">Relacionar Curricula</li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Nueva relación Perfil - Curricula en el contrato {{  disciplina.area.contrato.numeroInterno }} de la disciplina {{ disciplina.titulo }}
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            {{ form_start(form) }}
            {{ form_label(form.numeroCredencial) }}
            <div class="text-danger">{{ form_errors(form.numeroCredencial) }} </div>
            {{ form_widget(form.numeroCredencial) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.fechaAlta) }}
            <div class="text-danger">{{ form_errors(form.fechaAlta) }}</div>
            {{ form_widget(form.fechaAlta) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.fechaBaja) }}
            <div class="text-danger">{{ form_errors(form.fechaBaja) }}</div>
            {{ form_widget(form.fechaBaja) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.ubicacion) }}
            <div class="text-danger">{{ form_errors(form.ubicacion) }}</div>
            {{ form_widget(form.ubicacion) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.contrato) }}
            <div class="text-danger">{{ form_errors(form.contrato) }}</div>
            {{ form_widget(form.contrato) }}
        </div>
        <div class="col-xs-5">
            {{ form_label(form.perfil) }}
            <div class="text-danger">{{ form_errors(form.perfil) }}</div>
            {{ form_widget(form.perfil) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(form.curricula) }}
            <div class="text-danger">{{ form_errors(form.curricula) }}</div>
            {{ form_widget(form.curricula) }}
        </div>
    </div>
    <br/><hr/>
    <div class="row">
        <div class="col-xs-4">
            {{ form_row(form.files) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(form) }}
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-xs-12">
           <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('perfil_curricula_list_job_profile',{'id': disciplina.id, 'con':3697}) }}" title="Currículas">
                      <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
           </ul>
        </div>
    </div>
{% endblock %}
