{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('perfil_curricula') }}" title="Ver Contratos">Contratos</a></li>
                <li><a href="{{ path('perfil_curricula_list_discipline',{'id': disciplina.area.contrato.id}) }}" title="Ver Disciplinas">Disciplinas</a></li>
                <li><a href="{{ path('perfil_curricula_list_job_profile',{'id': disciplina.id, 'con':3697}) }}" title="Ver Curriculas">Curriculas</a></li>
                <li class="active">Detalle</li>
            </ul>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle de relación perfil-curricula</h4>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Id</strong><br/>
            <strong>Num. Credencial</strong><br/>
            <strong>Fecha Alta</strong><br/>
            <strong>Fecha Baja</strong><br/>
            <strong>No. de Contrato</strong><br/>
            <strong>Ubicación</strong>
        </div>
        <div class="col-xs-9">
            {{ entity.id }}<br/>
            {{ entity.numeroCredencial }}<br/>
            {{ entity.fechaAlta|date('d-m-Y') }}<br/>
            {{ entity.fechaBaja|date('d-m-Y') }}<br/>
            {{ entity.contrato }}<br/>
            {{ entity.ubicacion }}
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Perfil</strong><br/>
        </div>
        <div class="col-xs-9">
            {{ entity.perfil }}<br/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Curricula</strong><br/>
        </div>
        <div class="col-xs-9">
            {{ entity.curricula }}<br/>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-1">
        </div>
    <div class="col-sm-11">
      {% for cert in entity.evaluaciones %}
            {% if cert.name!=null %}
                <a href="{{ path('servir_certificado_puesto', { 'id': cert.id }) }}" title="Ver">
                    <span class="label label-default"><span class="glyphicon glyphicon-saved"></span>
                       PDF cargado
                    </span>
                </a>&nbsp;
            {% endif %}
        {% endfor %}
    <br/>
    </div>
    </div>
    <br/><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('perfil_curricula_list_job_profile',{'id': disciplina.id, 'con':3697}) }}" title="Disciplinas">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
                {% if is_granted('ROLE_GERENCIA') %}

                {% else %}

                    <li>
                        <a class="btn btn-success" href="{{ path('perfil_curricula_edit', { 'id': entity.id, 'dis': disciplina.id }) }}" title="Editar">
                            <span class="glyphicon glyphicon-edit"></span> Editar
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}
