{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-items').form_project({addlink:'#add-item', column:'col-sm-2', trash:'Quitar'});

        $(document).ready(function(){

            var $verificar = $("#verificar");
            var $liberado = $('#liberado');
            //var attr = $("#liberado").attr("value");
            //console.log($('#liberado').attr('value'));

            if ( typeof $liberado.attr('value') === 'undefined' ) {

                $verificar.prop("checked",false);
                $liberado.prop('disabled',true);
            }



            $verificar.change(function() {


                if(!this.checked) {
                    $('#liberado').prop("disabled",true);
                }else{
                    $('#liberado').prop("disabled",false);
                }
            });
        });

    </script>
{% endblock %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('procedimiento') }}" title="Documentos/Procedimientos">Documentos/Procedimientos</a></li>
            <li class="active"><a href="#}}" title="Editar Documento/Procedimiento">Editar Documento/Procedimiento</a></li>
        </ul>
        <br/>

        <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
            Ingresa aquí los datos del nuevo documento y los correspondientes formatos relacionados.
        </div>

    </div>
</div>
{{ form_start(edit_form) }}
{{ form_errors(edit_form) }}
<div class="row">
    <div class="col-xs-2">
        {{ form_label(edit_form.clave) }}
        <div class="text-danger">{{ form_errors(edit_form.clave) }} </div>
        {{ form_widget(edit_form.clave) }}
    </div>
    <div class="col-xs-1">
        {{ form_label(edit_form.revision) }}
        <div class="text-danger">{{ form_errors(edit_form.revision) }}</div>
        {{ form_widget(edit_form.revision) }}
    </div>
    <div class="col-xs-2">
        {{ form_label(edit_form.redistribution) }}
        <div class="text-danger">{{ form_errors(edit_form.redistribution) }}</div>
        {{ form_widget(edit_form.redistribution) }}
    </div>
    <div class="col-xs-7">
        {{ form_label(edit_form.titulo) }}
        <div class="text-danger">{{ form_errors(edit_form.titulo) }}</div>
        {{ form_widget(edit_form.titulo) }}
    </div>
</div><br/>
    <div class="row">
        <div class="col-xs-4">
            {{ form_label(edit_form.emdrac) }}
            <div class="text-danger">{{ form_errors(edit_form.emdrac) }} </div>
            {{ form_widget(edit_form.emdrac) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(edit_form.revisionEmdrac) }}
            <div class="text-danger">{{ form_errors(edit_form.revisionEmdrac) }} </div>
            {{ form_widget(edit_form.revisionEmdrac) }}
        </div>
    </div>
    <br/>
<div class="row">
    <div class="col-xs-2">
        {{ form_label(edit_form.aprobado) }}
        <div class="text-danger">{{ form_errors(edit_form.aprobado) }}</div>
        {{ form_widget(edit_form.aprobado) }}
    </div>
    <div class="col-xs-2">
        {{ form_label(edit_form.vigencia) }}
        <div class="text-danger">{{ form_errors(edit_form.vigencia) }}</div>
        {{ form_widget(edit_form.vigencia) }}
    </div>
    <div class="col-xs-1">
        <div class="text-danger">{{ form_errors(edit_form.verificar) }}</div>
        {{ form_label(edit_form.verificar) }}
        {{ form_widget(edit_form.verificar,{'id':'verificar'}) }}
    </div>
    <div class="col-xs-2">
        <div class="text-danger">{{ form_errors(edit_form.liberado) }}</div>
        {{ form_label(edit_form.liberado) }}
        {{ form_widget(edit_form.liberado,{'id':'liberado'}) }}
    </div>
    <div class="col-xs-2">
        {{ form_label(edit_form.transmitido) }}
        <div class="text-danger">{{ form_errors(edit_form.transmitido) }}</div>
        {{ form_widget(edit_form.transmitido) }}
    </div>
    <div class="col-xs-2">
        {{ form_label(edit_form.tipoDocumento) }}
        <div class="text-danger">{{ form_errors(edit_form.tipoDocumento) }}</div>
        {{ form_widget(edit_form.tipoDocumento) }}
    </div>
</div><br/><br/>
    <div class="row">
    <div class="col-xs-2">
        {{ form_label(edit_form.condicion) }}
        <div class="text-danger">{{ form_errors(edit_form.condicion) }}</div>
        {{ form_widget(edit_form.condicion) }}
    </div>
    <div class="col-xs-5">
        {{ form_label(edit_form.disciplina) }}
        <div class="text-danger">{{ form_errors(edit_form.disciplina) }}</div>
        {{ form_widget(edit_form.disciplina) }}
    </div>
    <div class="col-xs-5">
        {{ form_row(edit_form.file) }}
    </div>
</div>
    <div class="row">
        <div class="col-xs-12">
            <br/><hr/>
            <h5><strong>Formatos</strong><small> (Sección para cargar formatos asociados al documento.)</small></h5>
            <hr/>
        </div>
    </div>
    {%  form_theme edit_form '@ControlDocumento/Form/extra_field.html.twig' %}
    <div class="row" id="collection-items" data-prototype="{{ form_widget(edit_form.formats.vars.prototype)|e }}">
        <div class="col-sm-12">
            {% for detalle in edit_form.formats %}
                <div class="row">
                    {{ form_row(detalle.formatName) }}
                    {{ form_row(detalle.file) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-8">
            <a href="#" id="add-item" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
        </div>
    </div>
<br/>
<div class="row">
    <div class="col-xs-12">
        <hr/>
        {{ form_row(edit_form.submit) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ form_end(edit_form) }}
   </div>
</div>
{% endblock %}
