{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
        
    <div class="row">
        <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="{{ path('procedimiento') }}" title="Documentos/Procedimientos">Documentos/Procedimientos</a></li>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_CAPT') %}
            <li><a href="{{ path('procedimiento_new') }}" title="Nuevo Documento/Procedimiento">Nuevo Documento/Procedimiento</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
                <br/>
                <ul class="pull-right">
                    <a class="btn btn-info btn-xs" href="{{ path('procedimientos_pdf') }}" title="Exportar completo a PDF">
                        <span class="glyphicon glyphicon-file"></span> Documentos en PDF
                    </a>
                </ul>
        </div>
    </div>
<div class="row">
    <div class="col-sm-12">
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                <tr>
                    <th>Contrato</th>
                    <th>Clave</th>
                    <th>Rev.</th>
                    <th>Título</th>
                    <th>Aprobado</th>
                    <th>Vigencia</th>
                    <th>Liberado</th>
                    <th>Distribuido</th>
                    <th>Pdf</th>
                    <th>Estado</th>
                    <th>Opciones</th>

                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.contrato }}</td>
                        <td>{{ entity.clave }}</td>
                        <td>{% if (entity.clave=="IRGC" or entity.clave=="LPC") %} N/A
                            {% else %}
                            {{ entity.revision }}
                            {% endif %}
                        </td>
                        <td>{{ entity.titulo }}</td>
                        <td>{{ entity.aprobado|date('Y-m-d') }}</td>
                        <td>{% if (entity.vigencia|date('Y')> "now"|date('Y') and (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                            or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')> "now"|date('m') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                            or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')== "now"|date('m') and entity.vigencia|date('d')> "now"|date('d') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                            %}
                                {{ entity.vigencia|date('Y-m-d') }}
                            {% else %}
                                {% if entity.condicion=="Expirado" or entity.condicion=="Cancelado" %}
                                    <span class="label label-danger">{{ entity.vigencia|date('Y-m-d') }}</span>
                                {% else %}
                                    <span class="label label-warning">{{ entity.vigencia|date('Y-m-d') }}</span>
                                {% endif %}
                            {% endif %}

                        <td>{% if (entity.clave=="P-3697" or entity.clave=="RIFA" or entity.clave=="UPC-16"
                            or entity.clave=="LPC" or entity.clave=="IRGC" or entity.clave=="LMDC" or entity.clave=="LM"
                            or entity.clave=="MDDC" or entity.clave=="UMC-01" or entity.clave=="UMSSPA"
                            or entity.clave=="UMI-01" or entity.clave=="UIN-19" or entity.clave=="UIN-70"
                            or entity.clave=="UIN-71" or entity.clave=="UIN-72" or entity.clave=="UIN-73"
                            or entity.clave=="UIN-74" or entity.clave=="UIN-75" or entity.clave=="UIN-76"
                            or entity.clave=="UIN-77" or entity.clave=="UGC-15" or entity.clave=="UGC-20"
                            or entity.clave=="UGP-02" or entity.clave=="UGP-03" or entity.clave=="UGP-04"
                            or entity.clave=="UGP-05" or entity.clave=="UGP-06" or entity.clave=="UGP-07"
                            or entity.clave=="UGP-08" or entity.clave=="UGP-09" or entity.clave=="UAD-05"
                            or entity.clave=="UAD-06" or entity.clave=="UAD-11" or entity.clave=="USST-01"
                            or entity.clave=="USST-02" or entity.clave=="USST-03" or entity.clave=="USST-05"
                            or entity.clave=="USST-06" or entity.clave=="USST-07" or entity.clave=="USST-08"
                            or entity.clave=="USST-09" or entity.clave=="USST-10" or entity.clave=="USST-11"
                            or entity.clave=="USST-15" or entity.clave=="USST-16" or entity.clave=="UPA-01"
                            or entity.clave=="REG-AD-01") %}
                                N/A
                            {% else %}
                                {{ entity.liberado|date('Y-m-d') }}
                            {% endif %}
                           </td>
                        <td>{% if (entity.clave=="RIFA" or entity.clave=="UMI-01" ) %}
                                N/A
                            {% else %}
                                {{ entity.transmitido|date('Y-m-d') }}
                            {% endif %}
                        </td>
                        <td><a href="{{ path('servir',{'id': entity.id}) }}" title="Pdf"><i class="fa fa-file-pdf-o"></i></a></td>
                        <td>{% if entity.condicion=="Obsoleto" %}
                                <span class="label label-warning">{{ entity.condicion }}</span>
                        {% elseif entity.condicion=="Cancelado" %}
                            <span class="label label-danger">{{ entity.condicion }}</span>
                        {% elseif entity.condicion=="Expirado" %}
                                <span class="label label-success">{{ entity.condicion }}</span>
                        {% else %}
                            {{ entity.condicion }}
                        {% endif %}
                        </td>
                        <td>
                        <ul class="list-inline">
                            <li>
                                <a href="{{ path('procedimiento_show', { 'id': entity.id }) }}" title="Ver Documentos">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </li>
                            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC')) and (entity.condicion=="Vigente" or entity.condicion=="Cancelado" or entity.condicion=="Expirado" or entity.condicion=="Obsoleto") %}
                            <li>
                                <a href="{{ path('procedimiento_edit', { 'id': entity.id }) }}" title="Editar Documentos">
                                <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </li>
                            {% if (entity.condicion=="Vigente") and (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC')) %}
                            <li>
                                <a href="{{ path('procedimiento_nueva_revision', { 'id': entity.id }) }}" title="Nueva Revisión">
                                    <i class="fa fa-copy"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% endif %}
                        </ul>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <ul class="list-inline">
            <li>
                <a class="btn btn-success" href="{{ path('procedimiento_new') }}" title="Nuevo Documento">
                   <span class="glyphicon glyphicon-plus-sign"></span> Nuevo Documento
                </a>
            </li>
        </ul>
            {% endif %}
        </div>
    </div>

    {% endblock %}