{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        //$('#collection-items').form_project({addlink:'#add-item', column:'col-sm-2', trash:'Quitar'});
        $(document).ready(function(){

            var $verificar = $("#verificar");
            var $liberado = $('#liberado');
            //var attr = $("#liberado").attr("value");
            //console.log($('#liberado').attr('value'));

            if ( typeof $liberado.attr('value') === 'undefined' ) {

                $verificar.prop("checked",false);
                $liberado.prop('disabled',true);
            }

            $verificar.change(function() {


                if(!this.checked) {
                    $('#liberado').prop("disabled",true);
                }else{
                    $('#liberado').prop("disabled",false);
                }
            });
        });
    </script>
{% endblock %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('procedimiento') }}" title="Documentos/Procedimientos">Documentos/Procedimientos</a></li>
                <li class="active"><a href="{{ path('procedimiento_new') }}" title="Nuevo Documento/Procedimiento">Nuevo Documento/Procedimiento</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí los datos del nuevo documento y los correspondientes formatos relacionados.
            </div>

        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-2">
            {{ form_start(form) }}
            {{ form_label(form.clave) }}
            <div class="text-danger">{{ form_errors(form.clave) }} </div>
            {{ form_widget(form.clave) }}
        </div>
        <div class="col-xs-1">
            {{ form_label(form.revision) }}
            <div class="text-danger">{{ form_errors(form.revision) }}</div>
            {{ form_widget(form.revision) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.redistribution) }}
            <div class="text-danger">{{ form_errors(form.redistribution) }}</div>
            {{ form_widget(form.redistribution) }}
        </div>
        <div class="col-xs-7">
            {{ form_label(form.titulo) }}
            <div class="text-danger">{{ form_errors(form.titulo) }}</div>
            {{ form_widget(form.titulo) }}
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-4">
            {{ form_label(form.emdrac) }}
            <div class="text-danger">{{ form_errors(form.emdrac) }} </div>
            {{ form_widget(form.emdrac) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(form.revisionEmdrac) }}
            <div class="text-danger">{{ form_errors(form.revisionEmdrac) }} </div>
            {{ form_widget(form.revisionEmdrac) }}
        </div>
    </div>
    <br/><br/>
        <div class="row">
            <div class="col-xs-2">
                {{ form_label(form.aprobado) }}
                <div class="text-danger">{{ form_errors(form.aprobado) }}</div>
                {{ form_widget(form.aprobado) }}
            </div>
            <div class="col-xs-2">
                {{ form_label(form.vigencia) }}
                <div class="text-danger">{{ form_errors(form.vigencia) }}</div>
                {{ form_widget(form.vigencia) }}
            </div>
            <div class="col-xs-1">
                <div class="text-danger">{{ form_errors(form.verificar) }}</div>
                {{ form_label(form.verificar) }}
                {{ form_widget(form.verificar,{'id':'verificar'}) }}
            </div>
            <div class="col-xs-2">
                <div class="text-danger">{{ form_errors(form.liberado) }}</div>
                {{ form_label(form.liberado) }}
                {{ form_widget(form.liberado,{'id':'liberado'}) }}
            </div>
            <div class="col-xs-2">
                {{ form_label(form.transmitido) }}
                <div class="text-danger">{{ form_errors(form.transmitido) }}</div>
                {{ form_widget(form.transmitido) }}
            </div>
            <div class="col-xs-2">
                {{ form_label(form.tipoDocumento) }}
                <div class="text-danger">{{ form_errors(form.tipoDocumento) }}</div>
                {{ form_widget(form.tipoDocumento) }}
            </div>

        </div><br/><br/>
        <div class="row">
            <div class="col-xs-2">
                {{ form_label(form.condicion) }}
                <div class="text-danger">{{ form_errors(form.condicion) }}</div>
                {{ form_widget(form.condicion) }}
            </div>
            <div class="col-xs-5">
                {{ form_label(form.disciplina) }}
                <div class="text-danger">{{ form_errors(form.disciplina) }}</div>
                {{ form_widget(form.disciplina) }}
            </div>
            <div class="col-xs-5">
                {{ form_row(form.file) }}
            </div>
        </div>
        {#<div class="row">
            <div class="col-xs-12">
                <br/><hr/>
                <h5><strong>Formatos</strong><small> (Sección para cargar formatos asociados al documento.)</small></h5>
                <hr/>
            </div>
        </div>
    {%  form_theme form '@ControlDocumento/Form/extra_field.html.twig' %}
    <div class="row" id="collection-items" data-prototype="{{ form_widget(form.formats.vars.prototype)|e }}">
        <div class="col-sm-12">
            {% for detalle in form.formats %}
                <div class="row">
                    {{ form_row(detalle.formatName) }}
                    {{ form_row(detalle.file) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-8">
            <a href="#" id="add-item" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
        </div>
    </div>#}
    <br/><hr/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit, { 'label': 'Guardar' }) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
