{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $("#verificar").change(function() {
                if(!this.checked) {
                    $('#liberado').prop("disabled",true);
                }else{
                    $('#liberado').prop("disabled",false);
                }
            });
        });

    </script>
{% endblock %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('procedimiento') }}" title="Ver Documentos">Lista de Documentos</a></li>
                <li class="active"><a href="#}}" title="Editar Documentos">Nueva Revisión</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí los datos del nuevo documento.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.clave) }}
            <div class="text-danger">{{ form_errors(edit_form.clave) }} </div>
            {{ form_widget(edit_form.clave) }}
        </div>
        <div class="col-xs-10">
            {{ form_label(edit_form.titulo) }}
            <div class="text-danger">{{ form_errors(edit_form.titulo) }}</div>
            {{ form_widget(edit_form.titulo) }}
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-1">
            {{ form_label(edit_form.revision) }}
            <div class="text-danger">{{ form_errors(edit_form.revision) }}</div>
            {{ form_widget(edit_form.revision) }}
        </div>
        <div class="col-xs-1">
            {{ form_label(edit_form.redistribution) }}
            <div class="text-danger">{{ form_errors(edit_form.redistribution) }}</div>
            {{ form_widget(edit_form.redistribution) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.aprobado) }}
            <div class="text-danger">{{ form_errors(edit_form.aprobado) }}</div>
            {{ form_widget(edit_form.aprobado) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.vigencia) }}
            <div class="text-danger">{{ form_errors(edit_form.vigencia) }}</div>
            {{ form_widget(edit_form.vigencia) }}
        </div>
        <div class="col-xs-1">
            <div class="text-danger">{{ form_errors(edit_form.verificar) }}</div>
            {{ form_label(edit_form.verificar) }}
            {{ form_widget(edit_form.verificar,{'id':'verificar'}) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.liberado) }}
            <div class="text-danger">{{ form_errors(edit_form.liberado) }}</div>
            {{ form_widget(edit_form.liberado, {'id':'liberado'}) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.transmitido) }}
            <div class="text-danger">{{ form_errors(edit_form.transmitido) }}</div>
            {{ form_widget(edit_form.transmitido) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.tipoDocumento) }}
            <div class="text-danger">{{ form_errors(edit_form.tipoDocumento) }}</div>
            {{ form_widget(edit_form.tipoDocumento) }}
        </div>

    </div><br/>
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(edit_form.condicion) }}
            <div class="text-danger">{{ form_errors(edit_form.condicion) }}</div>
            {{ form_widget(edit_form.condicion) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(edit_form.disciplina) }}
            <div class="text-danger">{{ form_errors(edit_form.disciplina) }}</div>
            {{ form_widget(edit_form.disciplina) }}
        </div>

        <div class="col-xs-6">
            {{ form_row(edit_form.file) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(edit_form.submit) }}

            {{ form_end(edit_form) }}
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('procedimiento') }}" title="Ver Documentos">
                        <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}