{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('procedimiento') }}" title="Documentos/Procedimientos">Documentos/Procedimientos</a></li>
                <li class="active"><a href="{{ path('procedimiento_show', { 'id': entity.id }) }}" title="Detalle de Documento/Procedimiento">Muestra Documento/Procedimiento</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle del documento</h4>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-1" style="background-color:#F2F2F2">
            <strong>Id</strong><br/>
        </div>
        <div class="col-xs-1">
            {{ entity.id }}<br/>
        </div>
        <div class="col-xs-1" style="background-color:#F2F2F2">
            <strong>Revisión</strong><br/>
        </div>
        <div class="col-xs-1">
            {{ entity.revision }}<br/>
        </div>
        <div class="col-xs-1" style="background-color:#F2F2F2">
            <strong>Condición</strong><br/>
        </div>
        <div class="col-xs-1">
            {{ entity.condicion }}<br/>
        </div>
        <div class="col-xs-1" style="background-color:#F2F2F2">
            <strong>Pdf</strong>
        </div>
        <div class="col-xs-4">
            {{ entity.pdf }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1" style="background-color:#F2F2F2">
            <strong>Título</strong><br/>
        </div>
        <div class="col-xs-11">
            {{ entity.titulo }}<br/>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Tipo de documento</strong><br/>
            <strong>Disciplina</strong><br/>
         </div>
        <div class="col-xs-4">
           {{ entity.tipo }}<br/>
           {{ entity.disciplina }}<br/>
        </div>
        <div class="col-xs-1" style="background-color:#F2F2F2">
            <strong>Aprobado</strong><br/>
            <strong>Vigencia</strong><br/>

        </div>
        <div class="col-xs-5">
            {{ entity.aprobado|date('d-m-Y') }}<br/>
            {{ entity.vigencia|date('d-m-Y') }}<br/>

        </div>
    </div>
    <br/><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary btn-group" href="{{ path('procedimiento') }}" title="Ver Documentos">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
                {% if ((is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC')) and entity.condicion=='Vigente') %}
                    <li>
                        <a class="btn btn-success btn-group" href="{{ path('procedimiento_edit', { 'id': entity.id }) }}" title="Editar Documentos">
                            <span class="glyphicon glyphicon-edit"></span>Editar
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
