{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
            {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  class="active"><a href="{{ path('helpdesk_history') }}" title="Ver historial">Históricos</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
            <tr>
                <th>Creado el</th>
                <th>Última actualización</th>
                <th>Cerrado el</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.creationDate %}{{ entity.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastUpdate %}{{ entity.lastUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.solvingDate %}{{ entity.solvingDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('helpdesk_history_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('helpdesk_history_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    {% endblock %}
