{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('helpdesk_history') }}" title="Ver historicos">Históricos</a></li>
            <li  class="active"><a href="#" title="Ver historial">Ver detalle</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ entity.creationDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lastupdate</th>
                <td>{{ entity.lastUpdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Solvingdate</th>
                <td>{{ entity.solvingDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('helpdesk_history') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('helpdesk_history_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
