{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}


     <div class="row">
         <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="{{ path('CLV_dosimetro') }}" title="Asignación de dosímetros">Asignación</a></li>
                                <li><a href="{{ path('CLV_dosimetro_new') }}" title="Nueva asignación">Nueva asignación</a></li>
                                <li><a href="{{ path('CLV_catalogodosimetros_new') }}" title="Nuevo dosímetro">Nuevo dosímetro</a></li>
                            </ul>
                            <br/>
         </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dosímetro (NISD)</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.curriculaId }}</td>
                <td>{{ entity.DosimetroId }}</td>
                <td><a href="{{ path('CLV_dosimetro_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="{{ path('CLV_dosimetro_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    <!--<a href="{{ path('CLV_conteo') }}">[<span class="glyphicon  glyphicon-stats"></span>conteo]</a>-->
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <br/>
        <ul class="list-inline">
            <li>
                <a class="btn btn-success" href="{{ path('CLV_dosimetro_new') }}">
                     <span class="glyphicon glyphicon-plus-sign"></span> Nueva asignación
                </a>
            </li>
        </ul>
    </div>
    </div>
    {% endblock %}
