{% extends "ControlDocumentoBundle:Default:index.html.twig" %}
{% block content %}
{% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

<div class="row">
    <div class="col-sm-12">
         <ul class="nav nav-tabs">
             <li><a href="{{ path('CLV_dosimetro') }}" title="Asignación de dosímetros">Asignación</a></li>
             <li class="active"><a href="{{ path('CLV_dosimetro_new') }}" title="Nueva asignación">Nueva asignación</a></li>
             <li><a href="{{ path('CLV_catalogodosimetros_new') }}" title="Nuevo dosímetro">Nuevo dosímetro</a></li>
         </ul>
     </div>
</div>


    <br/>
      {{ form_start(form, { 'attr': {'novalidate':'novalidate'} }) }}
<div class="row">
    <div class="col-sm-2">
                {{ form_label(form.dosimetroId) }}
             <div class="text-danger">
                {{ form_errors(form.dosimetroId) }}
             </div>
                {{ form_widget(form.dosimetroId) }}
     </div>
     <div class="col-sm-2">
         &nbsp;
     </div>
     <div class="col-sm-2">
                {{ form_label(form.CurriculaId) }}
             <div class="text-danger">
                {{ form_errors(form.CurriculaId) }}
                 {{ form_errors(form) }}
             </div>
                {{ form_widget(form.CurriculaId) }}
     </div>
</div>
<div class="row">
    <div class="col-sm-2">
        {{ form_row(form.submit, { 'label': 'Guardar' }) }}

        {{ form_end(form) }}
    </div>
</div>


{% endblock %}
