{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('CLV_dosimetro') }}" title="Asignación de dosímetros">Asignación</a></li>
                                <li class="active"><a href="#" title="Mostrar">Mostrar</a></li>
                            </ul>
     </div>
    <br>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id: {{ entity.id }}</th>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Dosímetro (NISD):</th>
                <td>{{ entity.DosimetroID.NISD }}</td>
            </tr>
            <tr>
                <th>Asignado a:</th>
                <td>ID: {{ datoscurricula.apellidopaterno }}{% if datoscurricula.apellidomaterno %} {{ datoscurricula.apellidomaterno }}{% endif %}, {{ datoscurricula.nombre }} - {{ entity.curriculaid }}</td>
            </tr>
        </tbody>
    </table>



    <ul class="list-inline">
    <li>
                    <a class="btn btn-primary btn-group" href="{{ path('CLV_dosimetro') }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Regresar
                    </a>
            </li>
       <li>
                    <a class="btn btn-success btn-group" href="{{ path('CLV_dosimetro_edit', { 'id': entity.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                        Editar
                    </a>
    <li>{{ form(delete_form) }}</li>
        <li>
            <a class="btn btn-success" href="{{ path('CLV_dosimetro_new') }}">
                 <span class="glyphicon glyphicon-plus-sign"></span> Nueva asignación
            </a>
        </li>
</ul>
{% endblock %}
