{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('area') }}" title="Ver áreas">Áreas</a></li>
                <li class="active"><a href="#}}" title="Editar área">Editar Área</a></li>
            </ul>
            <br/>
            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Edita el área.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.titulo) }}
            <div class="text-danger">{{ form_errors(edit_form.titulo) }} </div>
            {{ form_widget(edit_form.titulo) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(edit_form.tituloCorto) }}
            <div class="text-danger">{{ form_errors(edit_form.tituloCorto) }}</div>
            {{ form_widget(edit_form.tituloCorto) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.claveArea) }}
            <div class="text-danger">{{ form_errors(edit_form.claveArea) }}</div>
            {{ form_widget(edit_form.claveArea) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.contrato) }}
            <div class="text-danger">{{ form_errors(edit_form.contrato) }}</div>
            {{ form_widget(edit_form.contrato) }}
            <a class="btn btn-info btn-xs" href="{{ path('contrato_new') }}" title="Agregar Contrato">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
        <div class="col-xs-4">
            {{ form_label(edit_form.curricula) }}
            <div class="text-danger">{{ form_errors(edit_form.curricula) }}</div>
            {{ form_widget(edit_form.curricula) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('area') }}" title="Ver áreas">
                        <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
            </ul>
        </div>

    </div>

{% endblock %}
