{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                {% if is_granted('ROLE_GERENCIA') %}
                <li  class="active"><a href="{{ path('area') }}" title="Ver áreas">Áreas</a></li>
                {% else %}
                <li  class="active"><a href="{{ path('area') }}" title="Ver áreas">Áreas</a></li>
                <li><a href="{{ path('area_new') }}"  title="Nueva área">Nueva Área</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
  <div class="row">
   <div class="col-sm-12">
       <br/>
       <ul class="pull-right">
           <a class="btn btn-info btn-xs" href="{{ path('areas_pdf') }}" title="Exportar completo a PDF">
               <span class="glyphicon glyphicon-file"></span> Áreas en PDF
           </a>
       </ul>
   </div>
   </div>
<div class="row">
    <div class="col-sm-12">
   <br/>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
            <tr>
                <th>Contrato</th>
                <th>Id</th>
                <th>Título</th>
                <th>Clave Área</th>
                <th>Responsable</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.contrato }}</td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.claveArea }}</td>
                <td>{{ entity.curricula }}</td>
                <td>
                    <ul class="list-inline">
                    <li>
                        <a href="{{ path('area_show', { 'id': entity.id }) }}" title="Ver área">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path('area_edit', { 'id': entity.id }) }}" title="Editar área">
                        <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </li>

                    {% endif %}
                     </ul>
                </td>
            </tr>
        {% endfor %}
            </tbody>
            </table>
</div>
</div>
    <div class="row">
    <div class="col-sm-12">
       <br/>
       {% if is_granted('ROLE_SUPER_ADMIN') %}
            <ul class="list-inline">
                <li>
                    <a class="btn btn-success" href="{{ path('area_new') }}" title="Nueva área">
                        <span class="glyphicon glyphicon-plus-sign"></span> Nueva Área
                    </a>
                </li>
            </ul>
        </div>
    </div>
        {% endif %}
    {% endblock %}
