{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('area') }}" title="Ver áreas">Áreas</a></li>
                <li class="active"><a href="{{ path('area_new') }}" title="Nueva área">Nueva Área</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí los datos de la nueva área.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form) }}
            {{ form_label(form.titulo) }}
            <div class="text-danger">{{ form_errors(form.titulo) }} </div>
            {{ form_widget(form.titulo) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.tituloCorto) }}
            <div class="text-danger">{{ form_errors(form.tituloCorto) }}</div>
            {{ form_widget(form.tituloCorto) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.claveArea) }}
            <div class="text-danger">{{ form_errors(form.claveArea) }}</div>
            {{ form_widget(form.claveArea) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.contrato) }}
            <div class="text-danger">{{ form_errors(form.contrato) }}</div>
            {{ form_widget(form.contrato) }}
            <a class="btn btn-info btn-xs" href="{{ path('contrato_new') }}" title="Agregar Contrato">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
        <div class="col-xs-4">
            {{ form_label(form.curricula) }}
            <div class="text-danger">{{ form_errors(form.curricula) }}</div>
            {{ form_widget(form.curricula) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit, { 'label': 'Guardar' }) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
