
     <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contrato</th>
                <th>Titulo</th>
                <th>Titulo Corto</th>
                <th>Clave Área</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ entity.id }}</td>
                <td>{{ entity.contrato.numeroInterno }}</td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.tituloCorto }}</td>
                <td>{{ entity.claveArea }}</td>
            </tr>
        {% endfor %}
        </tbody>
   