{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('area') }}" title="Ver áreas">Áreas</a></li>
                <li class="active"><a href="#" title="Detalle de área">Muestra Área</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle del área</h4>
        </div>
    </div><br/>

    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Id</strong><br/>
            <strong>Clave del área</strong><br/>
            <strong>Título Corto</strong><br/>
            <strong>Título</strong><br/>
            <strong>Responsable</strong>
        </div>
        <div class="col-xs-9">
            {{ entity.id }}<br/>
            {{ entity.claveArea }}<br/>
            {{ entity.tituloCorto }}<br/>
            {{ entity.titulo }}<br/>
            {{ entity.curricula }}
        </div>
    </div><br/><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary btn-group" href="{{ path('area') }}" title="Ver áreas">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
                {% if is_granted('ROLE_GERENCIA') %}
                {% else %}
                    <li>
                        <a class="btn btn-success btn-group" href="{{ path('area_edit', { 'id': entity.id }) }}" title="Editar esta área">
                            <span class="glyphicon glyphicon-edit"></span>Editar
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
