{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
        {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  class="active"><a href="{{ path('helpdesk_escalation') }}" title="Ver escalas">Escalas</a></li>
            <li><a href="{{ path('helpdesk_escalation_new') }}"  title="Nueva escala">Nueva Escala</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
            <tr>
                <th>Nivel</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.level }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('helpdesk_escalation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('helpdesk_escalation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
