{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TipoAdquisicion creation</h1>

    {{ form(form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('adquisicion') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
