{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <p class="text-primary">
                <i class="fa fa-folder-open fa-2x"></i> <strong> &nbsp;&nbsp; Proyecto CFE-GCN-2-039-13 (3697)</strong>
            </p>
            <hr/>
            <ul class="nav nav-tabs">
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_PROY')  or is_granted('ROLE_CONTROL_DOC')  %}
                    <li  class="active"><a href="{{ path('orden_trabajo3697') }}" title="Ver órdenes de trabajo">Órdenes de trabajo</a></li>
                    <li><a href="{{ path('orden_trabajo_new3697') }}"  title="Nueva orden de trabajo">Nueva SOT</a></li>
                {% else %}
                    <li  class="active"><a href="{{ path('orden_trabajo3697') }}" title="Ver órdenes de trabajo">Órdenes de trabajo</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <table class="display" cellspacing="0" width="100%" id="dtable">
                <thead>
                <tr>
                    <th>No. SOT</th>
                    <th>Tarea tipo</th>
                    <th>Descripción</th>
                    <th>Comentarios</th>
                    <th>Unid.</th>
                    <th>Fecha Inicio (Programada)</th>
                    <th>Pdf</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.clave }}</td>
                        <td>{{ entity.tipotarea }}</td>
                        <td>{{ entity.descripcion }}</td>
                        <td>{{ entity.comentarios }}</td>
                        <td>{{ entity.unidadesTotales }}</td>
                        <td>{% if entity.fechaProgInicio %}{{ entity.fechaProgInicio|date('d-m-Y') }}{% endif %}</td>
                        <td>{% if entity.pdf==NULL %}
                                <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay cargado.</span>
                            {% else %}
                                <a href="{{ path('servir_orden_trabajo', { 'id': entity.id }) }}" title="Ver">
                                    <i class="fa fa-file-pdf-o"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li>
                                    <a href="{{ path('orden_trabajo_show3697', { 'id': entity.id }) }}" title="Ver SOT">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </li>
                                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_PROY') or is_granted('ROLE_CONTROL_DOC')  %}
                                    <li>
                                        <a href="{{ path('orden_trabajo_edit3697', { 'id': entity.id }) }}" title="Editar SOT">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_PROY')  %}
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-success" href="{{ path('orden_trabajo_new3697') }}" title="Nueva orden de trabajo">
                            <span class="glyphicon glyphicon-plus-sign"></span> Nueva SOT
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}