{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <p class="text-primary">
                <i class="fa fa-folder-open fa-2x"></i> <strong> &nbsp;&nbsp; Proyecto CFE-GCN-2-039-13 (3697)</strong>
            </p>
            <hr/>
            <ul class="nav nav-tabs">
                <li><a href="{{ path('partidas3697') }}" title="Ver partidas">Partida</a></li>
                <li class="active"><a href="#" title="Detalle de partida">Muestra partida</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle de la partida</h4>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Id</strong><br/>
            <strong>Clave</strong><br/>
            <strong>Título</strong><br/>
            <strong>Unidad</strong><br/>
            <strong>Cantidad</strong><br/>
            <strong>Precio Unitario</strong><br/>
            <strong>Importe Total</strong><br/>
            <strong>Disciplina</strong>
        </div>
        <div class="col-xs-9">
            {{ entity.id }}<br/>
            {{ entity.clavePartida }}<br/>
            {{ entity.tituloPartida }}<br/>
            {{ entity.unidad }}<br/>
            {{ entity.cantidad }}<br/>
            <span class="glyphicon glyphicon-usd"></span>{{ entity.precioUnitario|number_format(2, '.', ',') }}<br/>
            <span class="glyphicon glyphicon-usd"></span>{{ entity.importeTotal|number_format(2, '.', ',') }}<br/>
            {{ entity.disciplinas }}
        </div>
    </div><br/><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary btn-group" href="{{ path('partidas3697') }}" title="Ver partidas">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_PROY') %}
                    <li>
                        <a class="btn btn-success btn-group" href="{{ path('partida_edit3697', { 'id': entity.id }) }}" title="Editar partida">
                            <span class="glyphicon glyphicon-edit"></span>Editar
                        </a>
                    </li>
                {% else %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
