{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <p class="text-primary">
                <i class="fa fa-folder-open fa-2x"></i> <strong> &nbsp;&nbsp; Proyecto CFE-GCN-2-039-13 (3697)</strong>
            </p>
            <hr/>
            <ul class="nav nav-tabs">
                <li><a href="{{ path('partidas3697') }}" title="Ver partidas">Partidas</a></li>
                <li class="active"><a href="#" title="Editar partida">Editar Partida</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Editar los datos de la partida.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.clavePartida) }}
            <div class="text-danger">{{ form_errors(edit_form.clavePartida) }} </div>
            {{ form_widget(edit_form.clavePartida) }}
        </div>
        <div class="col-xs-5">
            {{ form_label(edit_form.tituloPartida) }}
            <div class="text-danger">{{ form_errors(edit_form.tituloPartida) }}</div>
            {{ form_widget(edit_form.tituloPartida) }}
        </div>
        <div class="col-xs-5">
            {{ form_label(edit_form.disciplinas) }}
            <div class="text-danger">{{ form_errors(edit_form.disciplinas) }}</div>
            {{ form_widget(edit_form.disciplinas) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(edit_form.unidad) }}
            <div class="text-danger">{{ form_errors(edit_form.unidad) }}</div>
            {{ form_widget(edit_form.unidad) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.cantidad) }}
            <div class="text-danger">{{ form_errors(edit_form.cantidad) }}</div>
            {{ form_widget(edit_form.cantidad) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.precioUnitario) }}
            <div class="text-danger">{{ form_errors(edit_form.precioUnitario) }}</div>
            {{ form_widget(edit_form.precioUnitario) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.importeTotal) }}
            <div class="text-danger">{{ form_errors(edit_form.importeTotal) }}</div>
            {{ form_widget(edit_form.importeTotal) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('partidas3697') }}" title="Partidas">
                        <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
