{% block body %}
    <title>{% block title %}Lista Maestra Ultra Ingeniería{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('styles/bootstrap.css') }}" rel="stylesheet" />
        <style type="text/css">
            h1{
                text-align:left;
                width:100%;
                font-size:10px;
            }
            h2{
                text-align:left;
                width:100%;
                font-size:13px;
            }
            p{
                color:red;
                font-size:10px;
            }
            hr{
                border: 0.2px solid black;
                margin-top:14px;
                width:700px;
                margin:0 40px;
            }
            #companycountry{
                text-align:left;
                font-size:13px;
            }
            .font{
                font-size:10px;
            }
            thead{
                color:white;
                background-color:#9BA3AB;
                font-weight:normal;
                padding-top: 0px;
                font-size:12px;
            }
            #table{
                float: left;
                height: 200px;
                margin: 24px 38px 0;
                width: 705px;
                overflow:auto;
            }
            tbody{
                font-weight:normal;
                padding-top: 0px;
                font-size:11px;
            }
            th{
                color:white;
                background-color:#9BA3AB;
                font-weight:normal;
                padding-top: 0px;
                font-size:12px;
            }
            td{

                font-weight:normal;
                padding-top: 0px;
                font-size:9px;
            }

        </style>
    {% endblock %}

    <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_5.png') }}"/>
    <h2>Anexo 2. Lista Maestra de Documentos Controlados- PEMEX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; UTC-01 REV 18</h2>
    <h1>Consultado el {{ "now"|date("d/m/Y") }}</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="6" class="text-center">PERFILES</th>
        </tr>
        <tr>
            <th>Clave</th>
            <th>Rev.</th>
            <th>Título</th>
            <th>Disciplina</th>
            <th>Aprobado  </th>
            <th>Estado    </th>
        </tr>
        </thead>
        <tbody>
        {% for doc in perfiles %}
            <tr>
                <td>{{ doc.clave }}</td>
                <td>{{ doc.revision }}</td>
                <td>{{ doc.titulo }}</td>
                <td>
                    {% for disciplina in doc.disciplinas %}
                        {{ disciplina.tituloCorto }}
                    {% endfor %}
                </td>

                <td>{{ doc.aprobado|date('Y-m-d') }}</td>
                <td>{{ doc.estado.descripcion }}</td>
                <td><a href="{{ path('display_pdf',{'id': doc.id}) }}"><span  class="glyphicon glyphicon-book"></span></a></td>
            </tr>

        {% endfor %}
        <tr><th colspan="6" class="text-center"> </th></tr>
        <tr>
            <th colspan="6" class="text-center">MANUALES</th>
        </tr>
        {% for docu in manuales %}
            <tr>{% if (docu.id==107) or (docu.id==108) or (docu.id==109) %}
                    <td><p>*{{ docu.clave }}</p></td>
                {% else %}
                    <td>{{ docu.clave }}</td>
                {% endif %}
                <td>{{ docu.revision }}</td>
                <td>{{ docu.titulo }}</td>
                <td>{{ docu.disciplina.tituloCorto }} </td>
                <td> &nbsp;{{ docu.aprobado|date('d-m-Y') }} &nbsp;</td>
                <td> &nbsp;{{ docu.condicion.descripcion }} </td>
            </tr>
        {% endfor %}

        <tr><th colspan="6" class="text-center"> </th></tr>
        <tr>
            <th colspan="6" class="text-center">DOCUMENTOS</th>
        </tr>
        {% for doco in documentos %}
            <tr>{% if (doco.id==107) or (doco.id==108) or (doco.id==109) %}
                    <td><p>*{{ doco.clave }}</td>
                {% else %}
                    <td>{{ doco.clave }}</td>
                    <td>{{ doco.revision }}</td>
                    <td>{{ doco.titulo }}</td>
                {% endif %}
                <td>{{ doco.disciplina.tituloCorto }} </td>
                <td> &nbsp;{{ doco.aprobado|date('d-m-Y') }} &nbsp;</td>
                <td> &nbsp;{{ doco.condicion.descripcion }} </td>
            </tr>
        {% endfor %}

        <tr><th colspan="6" class="text-center"> </th></tr>
        <tr>
            <th colspan="6" class="text-center">PROCEDIMIENTOS</th>
        </tr>
        {% for docs in procedimientos %}
            <tr>
                {% if (docs.clave=='UGC-03') or (docs.clave=='UAD-02')  %}
                {% elseif (docs.id==107) or (docs.id==108) or (docs.id==109) %}
                    <td><p>*{{ docs.clave }}</p></td>
                    <td>{{ docs.revision }}</td>
                    <td>{{ docs.titulo }}</td>
                    <td>{{ docs.disciplina.tituloCorto }} </td>
                    <td> &nbsp;{{ docs.aprobado|date('d-m-Y') }} &nbsp;</td>
                    <td> &nbsp;{{ docs.condicion.descripcion }} </td>
                {% else %}
                    <td>{{ docs.clave }}</td>
                    <td>{{ docs.revision }}</td>
                    <td>{{ docs.titulo }}</td>
                    <td>{{ docs.disciplina.tituloCorto }} </td>
                    <td> &nbsp;{{ docs.aprobado|date('d-m-Y') }} &nbsp;</td>
                    <td> &nbsp;{{ docs.condicion.descripcion }} </td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr><th colspan="6" class="text-center"> </th></tr>
        <tr>
            <th colspan="6" class="text-center">REGLAMENTOS</th>
        </tr>

        {% for dcs in reglamentos %}
            <tr>{% if (dcs.clave=='UGC-03') or (dcs.clave=='UAD-02')  %}
                {% elseif (dcs.id==107) or (dcs.id==108) or (dcs.id==109) %}
                    <td><p>*{{ dcs.clave }}</p></td>
                    <td>{{ dcs.revision }}</td>
                    <td>{{ dcs.titulo }}</td>
                    <td>{{ dcs.aprobado|date('Y-m-d') }}</td>
                    <td>{{ dcs.condicion.descripcion }}</td>
                    <td><a href="{{ path('servir',{'id': doc.id}) }}"><span  class="glyphicon glyphicon-book"></span></a></td>
                {% else %}
                    <td>{{ dcs.clave }}</td>
                    <td>{{ dcs.revision }}</td>
                    <td>{{ dcs.titulo }}</td>
                    <td>{{ dcs.disciplina.tituloCorto }} </td>
                    <td> &nbsp;{{ dcs.aprobado|date('d-m-Y') }} &nbsp;</td>
                    <td> &nbsp;{{ dcs.condicion.descripcion }} </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <p>* En rojo se muestran las últimas modificaciones</p>
{% endblock %}
{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->
    <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/knockout-3.0.0.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/offcanvas.js') }}"></script>
    <script src="{{ asset('js/bootstrap-select.js') }}"></script>
    <script>
        $('.selectpicker').selectpicker();

        $(document).ready(function(){
            var $rows = $('#mytable tbody tr');
            $('#search').keyup(function() {
                var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

                $rows.show().filter(function() {
                    var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                    return !~text.indexOf(val);
                }).hide();
            });
        });

        $('#reset').click(function() {
            $('#mytable tbody tr').show();
        });

    </script>
{% endblock %}