{% extends "ControlDocumentoBundle:Default:index.html.twig" %}
 {% block content %}
 <div class="row">
     <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('AE') }}" title="Equipos asignados">Equipos asignados</a></li>
                                <li class="active"><a href="#" title="Editar">Editar</a></li>
                            </ul>
     </div>
 </div>
     <br/>
     <div class="row">
         <div class="col-sm-6">
         {{ form_start(edit_form, { 'attr': {'novalidate':'novalidate'} }) }}
                 {{ form_label(edit_form.equipoId) }}
             <div class="text-danger">
                {{ form_errors(edit_form.equipoId) }}
             </div>
                {{ form_widget(edit_form.equipoId) }}
        </div>
         <div class="col-sm-6">
                {{ form_label(edit_form.CurriculaId) }}
             <div class="text-danger">
                {{ form_errors(edit_form.CurriculaId) }}
                 {{ form_errors(edit_form) }}
             </div>
                {{ form_widget(edit_form.CurriculaId) }}
         </div>
     </div>
     <div class="row">
         <div class="col-sm-6">
                {{ form_label(edit_form.areasAutorizadas) }}
             <div class="text-danger">
                {{ form_errors(edit_form.areasAutorizadas) }}
             </div>
                {{ form_widget(edit_form.areasAutorizadas) }}
         </div>
     </div>
     <div class="row">
         <div class="col-sm-12">
                {{ form_label(edit_form.vigencia) }}
             <div class="text-danger">
                {{ form_errors(edit_form.vigencia) }}
             </div>
                {{ form_widget(edit_form.vigencia) }}
         </div>
      </div>
     <br/>
     <div class="row">
         <div class="col-sm-12">
        {{ form_row(edit_form.submit) }}
        {{ form_end(edit_form) }}
        </div>
     </div>
     <br/><hr/>
     <div class="row">
         <div class="col-sm-12">
         <ul class="list-inline">
        <li>
        <a class="btn btn-primary btn-group" href="{{ path('AE') }}">
           <span class="glyphicon glyphicon-chevron-left"></span>Regresar
        </a>
        </li>
        </ul>
  </div>
        </div>


{% endblock %}
