{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}

     <div class="row">
         <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="{{ path('AE') }}" title="Equipos asignados">Equipos asignados</a></li>
                                <li><a href="{{ path('AE_new') }}" title="Nueva asignación">Nueva asignación</a></li>
                            </ul>
     </div>
     </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
            <tr>
                <th>Responsable:</th>
                <th>Detalle</th>
                <th>Áreas</th>
                <th>Vigencia</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if entity.areasAutorizadas!="Paraíso" %}
                <tr>
                    <td>{{ entity.curriculaId }}</td>
                    <td><pre> {{ entity.equipoId }} </pre></td>
                    <td>{{ entity.areasAutorizadas }}</td>
                    <td>{% if entity.vigencia %}{{ entity.vigencia|date('d-m-Y') }}{% endif %}</td>
                    <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('AE_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        </li>
                        <li>
                            <a href="{{ path('AE_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
    </br>
<div class="row">
    <div class="col-sm-12">
    <ul class="list-inline">
        <li>
            <a class="btn btn-success" href="{{ path('AE_new') }}">
                 <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
            </a>
        </li>
    </ul>
        </div>
    </div>
    {% endblock %}