{% extends "ControlDocumentoBundle:Default:index.html.twig" %}

 {% block content %}
 {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
              <li><a href="{{ path('AE') }}" title="Equipos asignados">Equipos asignados</a></li>
              <li class="active"><a href="{{ path('AE_new') }}" title="Nueva asignación">Nueva asignación</a></li>
        </ul>
    </div>
</div>
  <br/>
     <div class="row">
         <div class="col-sm-6">
            {{ form_start(form, { 'attr': {'novalidate':'novalidate'} }) }}

            {{ form_label(form.equipoId) }}
             <div class="text-danger">
                {{ form_errors(form.equipoId) }}
             </div>
                {{ form_widget(form.equipoId) }}
         </div>
         <div class="col-sm-6">
                {{ form_label(form.CurriculaId) }}
             <div class="text-danger">
                {{ form_errors(form.CurriculaId) }}
                 {{ form_errors(form) }}
             </div>
                {{ form_widget(form.CurriculaId) }}
         </div>
     </div>
     <div class="row">
         <div class="col-sm-6">
                {{ form_label(form.areasAutorizadas) }}
             <div class="text-danger">
                {{ form_errors(form.areasAutorizadas) }}
             </div>
                {{ form_widget(form.areasAutorizadas) }}
         </div>
         <div class="col-sm-6">
                {{ form_label(form.vigencia) }}
             <div class="text-danger">
                {{ form_errors(form.vigencia) }}
             </div>
                {{ form_widget(form.vigencia) }}
         </div>
    </div>
     <div class="row">
         <div class="col-sm-12">
         <br/>
         {{ form_row(form.submit, { 'label': 'Guardar' }) }}

         {{ form_end(form) }}
         </div>
     </div>
     <br/>
     <hr/>
<div class="row">
    <div class="col-sm-12">
     <ul class="list-inline">
         <li>
             <a class="btn btn-primary btn-group" href="{{ path('AE') }}">
                 <span class="glyphicon glyphicon-chevron-left"></span>Regresar
             </a>
         </li>
     </ul>
    </div>
</div>

{% endblock %}
