{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('AE') }}" title="Ver equipos asignados">Equipos asignados</a></li>
                <li class="active"><a href="#" title="Muestra">Muestra</a></li>
            </ul>
        </div>
    </div>
    <br>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id: {{ entity.id }} </th>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Responsable:</th>
                <td> {{ entity.curriculaid }} <br> {{ datoscurricula.apellidopaterno }}{% if datoscurricula.apellidomaterno %} {{ datoscurricula.apellidomaterno }}{% endif %}, {{ datoscurricula.nombre }}  </td>
            </tr>
            <tr>
                <th>Equipo:</th>
                <td> <pre> {{ entity.equipoId }}  </pre></td>
            </tr>
            <tr>
                <th>Áreas autorizadas:</th>
                <td>{{ entity.areasAutorizadas }}</td>
            </tr>
            <tr>
                <th>Vigencia:</th>
                <td>{{ entity.vigencia|date('d-m-Y') }}     {#, {{ entity.vigencia|date('d F Y') }} #}   </td>
            </tr>
        </tbody>
    </table>


        <ul class="list-inline">
    <li>
                    <a class="btn btn-primary btn-group" href="{{ path('AE') }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Regresar
                    </a>
            </li>
       <li>
                    <a class="btn btn-success btn-group" href="{{ path('AE_edit', { 'id': entity.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                        Editar
                    </a>
</ul>


{% endblock %}
