{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-sm-12">
            <br/>

            <div class="alert alert-info"><i class="fa fa-exchange"></i>
                Solicitud de préstamo de perfiles.
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form) }}
            {{ form_label(form.perfil) }}
            <div class="text-danger">{{ form_errors(form.perfil) }} </div>
            {{ form_widget(form.perfil) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(form.nuHojas) }}
            <div class="text-danger">{{ form_errors(form.nuHojas) }} </div>
            {{ form_widget(form.nuHojas) }}
        </div>
        <div class="col-xs-10">
            {{ form_label(form.especificaciones) }}
            <div class="text-danger">{{ form_errors(form.especificaciones) }} </div>
            {{ form_widget(form.especificaciones) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit, { 'label': 'Guardar' }) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
