{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <br/>

            <div class="alert alert-info"><i class="fa fa-exchange"></i>
                Los datos de la solicitud son:
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="record_properties">
                <tbody>
                <tr>
                    <th>Estado</th>
                    <td>{% if entity.estado==1 %}
                            <span class="label label-warning">En proceso</span>
                        {% elseif entity.estado==2 %}
                            <span class="label label-success">Autorizado</span>
                        {% elseif entity.estado==3 %}
                            <span class="label label-danger">No Autorizado</span>
                        {% elseif entity.estado==4 %}
                            <span class="label label-info">Prestado</span>
                        {% elseif entity.estado==5 %}
                            <span class="label label-info">Cancelado</span>
                        {% elseif entity.estado==6 %}
                            <span class="label label-info">Devuelto</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% if entity.estado==3 %}
                            Fecha de Retorno
                        {% endif %}
                    </th>
                    <td>{% if entity.estado==3 %}
                            {{ entity.fechaRetorno|date('d-m-Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Fecha de Solicitud</th>
                    <td>{{ entity.fechaSolicitud|date('d-m-Y') }}</td>
                </tr>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_JEFE_ADMON') %}
                    <tr>
                        <th>Nombre</th>
                        <td>{{ entity.solicitante }}</td>
                    </tr>

                {% endif %}
                <tr>
                    <th>Especificaciones</th>
                    <td>{{ entity.perfil }}-No. de hojas {{ entity.nuHojas }}-{{ entity.especificaciones }}</td>
                </tr>
                {% if entity.estado==3  or entity.estado==6 or entity.estado==5 %}
                    <tr>
                        <th>Entrega Programada</th>
                        <td>{{ entity.FechaRetorno|date('d-m-Y')  }}</td>
                    </tr>
                    <tr>
                        <th>Devolución Real</th>
                        <td>{{ entity.FechaRetornoReal|date('d-m-Y')  }}</td>
                    </tr>
                {% endif %}
                {% if entity.estado==4 %}
                    <tr>
                        <th>Entrega Programada</th>
                        <td>{% if entity.fechaRetorno>= "now"|date('Y') %}
                                <span class="label label-warning">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% else %}
                                <span class="label label-danger">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <br/>
            <br/>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_JEFE_ADMON') %}
            {% else %}
                <a href="{{ path('presta_perfil') }}">
                    Todas mis solicitudes
                </a>
            {% endif %}

        </div>
    </div>
{% endblock %}
