{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('curso') }}" title="Ver Cursos">Cursos</a></li>
                <li class="active"><a href="{{ path('curso_edit',{'id': entity.id}) }}" title="Editar Cursos">Editar Curso</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí los datos del nuevo curso.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.clave) }}
            <div class="text-danger">{{ form_errors(edit_form.clave) }}</div>
            {{ form_widget(edit_form.clave) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.nombre) }}
            <div class="text-danger">{{ form_errors(edit_form.nombre) }} </div>
            {{ form_widget(edit_form.nombre) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.tipo) }}
            <div class="text-danger">{{ form_errors(edit_form.tipo) }}</div>
            {{ form_widget(edit_form.tipo) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(edit_form.institucion) }}
            <div class="text-danger">{{ form_errors(edit_form.institucion) }}</div>
            {{ form_widget(edit_form.institucion) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
       {{ form_end(edit_form) }}
        </div>
    </div><br/><hr/>

    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('curso') }}" title="Ver Cursos">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}
