{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
    <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('curso') }}" title="Ver Cursos">Curso</a></li>
                <li class="active"><a href="{{ path('curso_new') }}" title="Nuevo Curso">Nuevo Curso</a></li>
            </ul>
    <br/>

       <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
           Ingresa aquí los datos del nuevo curso.
       </div>

    </div>
    </div>
        <div class="row">
            <div class="col-xs-2">
                {{ form_start(form) }}
                {{ form_label(form.clave) }}
                <div class="text-danger">{{ form_errors(form.clave) }}</div>
                {{ form_widget(form.clave) }}
            </div>
            <div class="col-xs-3">
                {{ form_label(form.nombre) }}
                <div class="text-danger">{{ form_errors(form.nombre) }} </div>
               {{ form_widget(form.nombre) }}
            </div>
          <div class="col-xs-3">
                {{ form_label(form.tipo) }}
                <div class="text-danger">{{ form_errors(form.tipo) }}</div>
               {{ form_widget(form.tipo) }}
            </div>
            <div class="col-xs-4">
                {{ form_label(form.institucion) }}
                <div class="text-danger">{{ form_errors(form.institucion) }}</div>
                {{ form_widget(form.institucion) }}
            </div>
        </div>
            <br/>
        <div class="row">
            <div class="col-xs-12">


                {{ form_end(form) }}
            </div>
        </div>

{% endblock %}