{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
    <ul class="nav nav-tabs">
        <li><a href="{{ path('curso') }}" title="Ver Cursos">Curso</a></li>
        <li class="active"><a href="#" title="Detalle de Curso">Muestra Curso</a></li>
    </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle de curso.</h4>
        </div>
    </div><br/>
    <div class="row">

            <div class="col-xs-2" style="background-color:#F2F2F2">
                <strong>Clave</strong><br/>
                <strong>Nombre</strong><br/>
                <strong>Descripción</strong><br/>
                <strong>Tipo</strong><br/>
                <strong>Institución</strong>
            </div>
            <div class="col-xs-10">
                {{ entity.clave }}<br/>
                {{ entity.nombre }}<br/>
                {{ entity.descripcion }}<br/>
                {{ entity.tipo }}<br/>
                {{ entity.Institucion.nombre }}<br/>
            </div>
    </div><br/><hr/>
    <div class="row">
        <div class="col-sm-12">
        <ul class="list-inline">
            <li>
                <a class="btn btn-primary btn-group" href="{{ path('curso') }}" title="Ver Cursos">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>
            </li>
            {% if is_granted('ROLE_GERENCIA') %}

            {% else %}

                <li>
                    <a class="btn btn-success btn-group" href="{{ path('curso_edit', { 'id': entity.id }) }}" title="Editar Curso">
                        <span class="glyphicon glyphicon-edit"></span>Editar
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            {% endif %}
        </ul>
    </div>
    </div>
{% endblock %}
