{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block side %}
    {% include 'ControlDocumentoBundle:Default:sidenav.html.twig' %}
{% endblock %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('cliente') }}" title="Ver Clientes">Clientes</a></li>
                <li class="active"><a href="#" title="Editar Cliente">Editar Cliente</a></li>
            </ul>
            <br/>
            
            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Edición de los datos del cliente.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.nombre) }}
            <div class="text-danger">{{ form_errors(edit_form.nombre) }} </div>
            {{ form_widget(edit_form.nombre) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(edit_form.siglas) }}
            <div class="text-danger">{{ form_errors(edit_form.siglas) }}</div>
            {{ form_widget(edit_form.siglas) }}
        </div>
        <div class="col-xs-1">
            {{ form_label(edit_form.esSocio) }}
            <div class="text-danger">{{ form_errors(edit_form.esSocio) }}</div>
            {{ form_widget(edit_form.esSocio) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div>
        
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('cliente') }}" title="Ver Clientes">
                        <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
                <li>{{ form(delete_form) }}
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
