{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block content %}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{{ path('cliente') }}" title="Ver Clientes">Clientes</a></li>
                    {% if is_granted('ROLE_GERENCIA') %}
                    {% else %}
                    <li><a href="{{ path('cliente_new') }}" title="Nuevo Cliente">Nuevo Cliente</a></li>
                    {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('clientes_pdf') }}" title="Exportar completo a PDF">
                    <span class="glyphicon glyphicon-file"></span> Clientes en PDF
                </a>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Siglas</th>
                        <th>Es socio</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for entity in entities %}
                        <tr {% if loop.index is odd %} class="color" {% endif %}>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.nombre }}</td>
                            <td>{{ entity.siglas }}</td>
                            <td>{{ entity.esSocio ? 'si': 'no' }}</td>
                            <td>
                                <ul class="list-inline">
                                    {#<li>
                                        <a href="{{ path('cliente_show', { 'id': entity.id }) }}" title="Ver">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                    </li>#}

                                    {# -------------------------------------------- BOTON PARA ABRIR MODAL SHOW -------------------------------------------------------- #}
                                    <a data-toggle="modal" data-target="#{{entity.id}}" title="Mostrar Cliente"><span class="glyphicon glyphicon-eye-open boton1"></span></a>
                                        {# -------------------------------------------- BOTON PARA ABRIR MODAL SHOW -------------------------------------------------------- #}

                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li>
                                            <a href="{{ path('cliente_edit', { 'id': entity.id }) }}" title="Editar Cliente">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>

                    {% endfor %} 

                    {# --------------------------------------------------- Modal Para Boton Show ----------------------------------------------------------- #}                    
                    {% for entity in entities %}
                    <div id="{{entity.id}}" class="modal fade">        
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 align="center" class="modal-title">Ver Cliente</h4>
                                </div>   
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-3"><br/>
                                            <p align="center">
                                                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
                                            </p>
                                        </div>
                                        <div class="col-sm-9"><br/><br/>
                                            <center><h4>Detalle del cliente</h4></center>
                                        </div>
                                    </div><br/>
                                    <div class="row">
                                        <div class="col-sm-1">

                                        </div>
                                        <div class="col-xs-2" style="background-color:#F2F2F2">
                                            <strong>Id</strong><br/>
                                            <strong>Nombre</strong><br/>
                                            <strong>Siglas</strong><br/>
                                            <strong>Es socio</strong>
                                        </div>
                                        <div class="col-xs-9">
                                            {{ entity.id }}<br/>
                                            {{ entity.nombre }}<br/>
                                            {{ entity.siglas }}<br/>
                                            {{ entity.esSocio ? 'Si': 'No' }}
                                        </div>
                                    </div><br/><br/>                                                                                  
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                {%endfor%}
                {# ------------------------------------------------------------------ Fin Modal Para Boton Show--------------------------------------------- #}             

                </tbody>
            </table>
            <br/>
        </div>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}

        {#<ul class="list-inline">
            <li>
                <a class="btn btn-success" href="{{ path('cliente_new') }}" title="Nuevo Cliente">
                    <span class="glyphicon glyphicon-plus-sign"></span> Nuevo Cliente
                </a>
            </li>
        </ul>#} 
        {# -----------------------------------------------Boton Modal Para Boton Nuevo -------------------------------------------------------------- #}
        <a type="button" class="btn btn-success boton" title="Nuevo Cliente"><span class="glyphicon glyphicon-plus-sign"></span> Nuevo Cliente</a>                    
        {# -----------------------------------------------Boton Fin Modal Para Boton Nuevo ------------------------------------------------------------ #}
    {%endif%}

    <div id="modal" class="modal fade">        
        <div class="modal-dialog">
            <div class="modal-content">                    
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 align="center" class="modal-title">Agregar Nuevo Cliente</h4>
                </div>                    
                <div class="modal-body">
                    {{ render(controller('ControlDocumentoBundle:Cliente:new')) }}                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <style>
        @media screen and (min-width: 10px) {

            #modal .modal-dialog  {width:990px;}
        }
        #modal {
            top:10%;
            right:0%;
            outline: none;
        }
    </style> 

    {% block javascripts %}                    
        {% for entity in entities %}
            <script>
                $("#{{entity.id}}").modal('hide');
                $(document).ready(function () {
                    $('.boton1').click(function () {
                        $("#{{entity.id}}").modal('hide');
                    });
                });
            </script>
        {% endfor %}
        <script>
            $('#modal').modal('hide');
            $(document).ready(function () {
                $('.boton').click(function () {
                    $('#modal').modal('show');
                });
            });
        </script>
    {% endblock %}
{%endblock%}
