{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block body -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            {#<ul class="nav nav-tabs">
                <li><a href="{{ path('cliente') }}" title="Ver Clientes">Clientes</a></li>
                <li class="active"><a href="{{ path('cliente_new') }}" title="Nuevo Cliente">Nuevo Cliente</a></li>
            </ul>#}
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí los datos del cliente.
            </div>

        </div>
    </div>
            
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form) }}
            {{ form_label(form.nombre) }}
            <div class="text-danger">{{ form_errors(form.nombre) }} </div>
            {{ form_widget(form.nombre) }}
        </div>
    </div>
        
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.siglas) }}
            <div class="text-danger">{{ form_errors(form.siglas) }}</div>
            {{ form_widget(form.siglas) }}
        </div>
        
        <div class="col-xs-1">
            {{ form_label(form.esSocio) }}
            <div class="text-danger">{{ form_errors(form.esSocio) }}</div>
            {{ form_widget(form.esSocio) }}
        </div>
    </div>
        
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit, { 'label': 'Guardar'}) }}

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
