{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    {#<div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('cliente') }}" title="Ver Clientes">Clientes</a></li>
                <li class="active"><a href="#" title="Detalle de Cliente">Muestra Cliente</a></li>
            </ul>
        </div>
    </div>#}
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle del cliente</h4>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Id</strong><br/>
            <strong>Nombre</strong><br/>
            <strong>Siglas</strong><br/>
            <strong>Es socio</strong>
        </div>
        <div class="col-xs-9">
            {{ entity.id }}<br/>
            {{ entity.nombre }}<br/>
            {{ entity.siglas }}<br/>
            {{ entity.esSocio ? 'Si': 'No' }}
        </div>
    </div><br/><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary btn-group" href="{{ path('cliente') }}" title="Ver Clientes">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}

                {% else %}

                    <li>
                        <a class="btn btn-success btn-group" href="{{ path('cliente_edit', { 'id': entity.id }) }}" title="Editar Conteo">
                            <span class="glyphicon glyphicon-edit"></span>Editar
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
