{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li  class="active"><a href="{{ path('partida') }}" title="Ver partidas">Partidas</a></li>
                <li><a href="{{ path('partida_new') }}"  title="Nueva partida">Nueva Partida</a></li>
            {% else %}
                <li  class="active"><a href="{{ path('partida') }}" title="Ver partidas">Partidas</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>
        <table class="display" cellspacing="0" width="100%" id="dtable">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Titulo</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Importe Total</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.clavePartida }}</td>
                <td>{{ entity.tituloPartida }}</td>
                <td>{{ entity.unidad }}</td>
                <td>{{ entity.cantidad }}</td>
                <td>$ {{ entity.precioUnitario|number_format(2, '.', ',') }}</td>
                <td>$ {{ entity.importeTotal|number_format(2, '.', ',') }}</td>
                <td>
                    <ul class="list-inline">
                            <li>
                                <a href="{{ path('partida_show', { 'id': entity.id }) }}" title="Ver partida">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li>
                                <a href="{{ path('partida_edit', { 'id': entity.id }) }}" title="Editar partida">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <ul class="list-inline">
            <li>
                <a class="btn btn-success" href="{{ path('partida_new') }}" title="Nueva partida">
                    <span class="glyphicon glyphicon-plus-sign"></span> Nueva Partida
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
    {% endblock %}
