{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('partida') }}" title="Ver partidas">Partidas</a></li>
            <li class="active"><a href="{{ path('partida_new') }}" title="Nueva partida">Nueva Partida</a></li>
        </ul>
        <br/>

        <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
            Ingresa aquí los datos de la nueva partida.
        </div>

    </div>
</div>
    <div class="row">
        <div class="col-xs-2">
            {{ form_start(form) }}
            {{ form_label(form.clavePartida) }}
            <div class="text-danger">{{ form_errors(form.clavePartida) }} </div>
            {{ form_widget(form.clavePartida) }}
        </div>
        <div class="col-xs-5">
            {{ form_label(form.tituloPartida) }}
            <div class="text-danger">{{ form_errors(form.tituloPartida) }}</div>
            {{ form_widget(form.tituloPartida) }}
        </div>
        <div class="col-xs-5">
            {{ form_label(form.disciplinas) }}
            <div class="text-danger">{{ form_errors(form.disciplinas) }}</div>
            {{ form_widget(form.disciplinas) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.unidad) }}
            <div class="text-danger">{{ form_errors(form.unidad) }}</div>
            {{ form_widget(form.unidad) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.cantidad) }}
            <div class="text-danger">{{ form_errors(form.cantidad) }}</div>
            {{ form_widget(form.cantidad) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.precioUnitario) }}
            <div class="text-danger">{{ form_errors(form.precioUnitario) }}</div>
            {{ form_widget(form.precioUnitario) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.importeTotal) }}
            <div class="text-danger">{{ form_errors(form.importeTotal) }}</div>
            {{ form_widget(form.importeTotal) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit, { 'label': 'Guardar' }) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
