{% extends "ControlDocumentoBundle:Default:index.html.twig" %}



 {% block content %}

 <div class="row">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('AE_tipos') }}" title="Ver tipos">Tipos</a></li>
                                <li class="active"><a href="#" title="Editar tipo">Editar tipo</a></li>
                            </ul>
     </div>

<br>
    {{ form(edit_form, { 'attr': {'novalidate':'novalidate'} }) }}

    <ul class="list-inline">
        <li>
        <a class="btn btn-primary btn-group" href="{{ path('AE_tipos') }}">
           <span class="glyphicon glyphicon-chevron-left"></span>Regresar
        </a>
        </li>
        <li>

        </li>
        </ul>


{% endblock %}
