{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('AE_tipos') }}" title="Ver tipos">Tipos</a></li>
                <li class="active"><a href="#" title="Muesta libro">Muestra tipo</a></li>
            </ul>
        </div>
    </div>
    <br>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ entity.id }}</td>
                <th>Equipo (tipo) :</th>
                <td>{{ entity.tipo}}</td>
            </tr>
        </tbody>
    </table>

        <ul class="list-inline">
    <li>
                    <a class="btn btn-primary btn-group" href="{{ path('AE_tipos') }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Regresar
                    </a>
            </li>
       <li>
                    <a class="btn btn-success btn-group" href="{{ path('AE_tipos_edit', { 'id': entity.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                        Editar
                    </a>
</ul>
{% endblock %}
