{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <p class="text-muted">
                <i class="fa fa-archive fa-2x"></i> <strong> &nbsp;&nbsp; Proyecto cerrado CFE-GCN-2-045-10 (3681)</strong>
            </p>
            <hr/>
            <ul class="nav nav-tabs">
                <li><a href="{{ path('cdocorden_trabajo') }}" title="Ver Órdenes de trabajo">Órdenes de trabajo</a></li>
                <li class="active"><a href="#" title="Detalle de partida">Muestra orden de trabajo</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle de la orden de trabajo</h4>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-xs-3" style="background-color:#F2F2F2">
            <strong>Clave</strong><br/>
            <strong>Descripción</strong><br/>
            <strong>Comentarios</strong><br/>
            <strong>Tareas</strong><br/>
            <strong>Unidades totales</strong><br/>
            <strong>Fecha Programada Inicio</strong><br/>
            <strong>Fecha Programada Fin</strong><br/>
            <strong>Fecha Real Fin</strong><br/>
            <strong>Detalle</strong>
        </div>
        <div class="col-xs-8">
            {{ entity.clave }}<br/>
            {{ entity.descripcion }}<br/>
            {{ entity.comentarios }}<br/>
            {{ entity.tipotarea }}<br/>
            {{ entity.unidadesTotales }}<br/>
            {{ entity.fechaProgInicio|date('d-m-Y') }}<br/>
            {{ entity.fechaProgFin|date('d-m-Y') }}<br/>
            {{ entity.fechaRealFin|date('d-m-Y') }}<br/>
            {% for detalle in entity.detalles %}
            -<strong>Partida:</strong> {{ detalle.partida }},
            <strong>descripción:</strong>{{ detalle.descripcion }}.({{ detalle.categoriaseguridad }}),
            <strong>vol.:</strong> {{ detalle.volumen }},
            <strong>fecha:</strong> {{ detalle.fechaprogfin|date('d-m-Y') }}<br/>
            {% endfor %}
        </div>
    </div><br/><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary btn-group" href="{{ path('cdocorden_trabajo') }}" title="Órdenes de trabajo">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_PROY') %}
                    <li>
                        <a class="btn btn-success btn-group" href="{{ path('cdocorden_trabajo_edit', { 'id': entity.id}) }}" title="Editar orden de trabajo">
                            <span class="glyphicon glyphicon-edit"></span>Editar
                        </a>
                    </li>
                {% else %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
