{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <p class="text-muted">
                <i class="fa fa-archive fa-2x"></i> <strong> &nbsp;&nbsp; Proyecto cerrado CFE-GCN-2-045-10 (3681)</strong>
            </p>
            <hr/>
            <ul class="nav nav-tabs">
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_PROY') or is_granted('ROLE_CONTROL_DOC')  %}
                    <li  class="active"><a href="{{ path('cdocpartidas') }}" title="Ver partidas">Partidas</a></li>
                    <li><a href="{{ path('cdocpartida_new') }}"  title="Nueva partida">Nueva Partida</a></li>
                {% else %}
                    <li  class="active"><a href="{{ path('cdocpartidas') }}" title="Ver partidas">Partidas</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <table class="display" cellspacing="0" width="100%" id="dtable">
                <thead>
                <tr>
                    <th>Clave</th>
                    <th>Titulo</th>
                    <th>Unidad</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Importe Total</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.clavePartida }}</td>
                        <td>{{ entity.tituloPartida }}</td>
                        <td>{{ entity.unidad }}</td>
                        <td>{{ entity.cantidad }}</td>
                        <td>$ {{ entity.precioUnitario|number_format(2, '.', ',') }}</td>
                        <td>$ {{ entity.importeTotal|number_format(2, '.', ',') }}</td>
                        <td>
                            <ul class="list-inline">
                                <li>
                                    <a href="{{ path('cdocpartida_show', { 'id': entity.id }) }}" title="Ver partida">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </li>
                                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_PROY') or is_granted('ROLE_CONTROL_DOC') %}
                                    <li>
                                        <a href="{{ path('cdocpartida_edit', { 'id': entity.id }) }}" title="Editar partida">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_PROY') %}
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-success" href="{{ path('cdocpartida_new') }}" title="Nueva partida">
                            <span class="glyphicon glyphicon-plus-sign"></span> Nueva Partida
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
