{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li  class="active"><a href="{{ path('product-service') }}" title="Productos o Servicios">Productos o Servicios</a></li>
                    {#<li><a href="{{ path('product-service_new') }}"  title="Nuevo Producto o Servico">Nuevos Producto o Servicio</a></li>#}
            </ul>
        </div>
    </div>  
    <br/>

    <div class="row">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.description }}</td>
                        <td>
                            <ul class="list-inline">
                                {#<li>
                                    <a href="{{ path('product-service_show', { 'id': entity.id }) }}" title="Ver Provedor"> 
                                        <span class="glyphicon glyphicon-eye-open"></span></a>
                                </li>#}

                                <a data-toggle="modal" data-target="#{{entity.id}}"><span class="glyphicon glyphicon-eye-open boton1"></span></a>

                                <li>
                                    <a href="{{ path('product-service_edit', { 'id': entity.id }) }}"title="Editar Proveedor">
                                        <span class="glyphicon glyphicon-edit"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    {#  Modal Para Mostrar #}
    {% for entity in entities %}
        <div id="{{entity.id}}" class="modal fade">        
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 align="center" class="modal-title">Ver Producto o Servicio</h4>
                    </div>   
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-3"><br/>
                                <p align="center">
                                    <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
                                </p>
                            </div>
                            <div class="col-sm-9"><br/><br/>
                                <center><h4>Detalle del Producto o Servicio</h4></center>
                            </div>
                        </div><br/>

                        <div class="row">
                            <div class="col-sm-1">

                            </div>
                            <div class="col-xs-2" style="background-color:#F2F2F2">
                                <strong>Id</strong><br/>
                                <strong>Nombre</strong><br/>
                                <strong>Descripcion</strong><br/>                                                                        
                            </div>
                            <div class="col-xs-9">                                            
                                {{ entity.id }}<br/>
                                {{ entity.name }}<br/>
                                {{ entity.description }}                                    
                            </div>
                        </div> 

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {# Modal Mostrar #}
    {# <div class="resize">
         <a class="btn btn-success" href="{{ path('product-service_new') }}" title="Nuevo Producto o Servicio">
             <span class="glyphicon glyphicon-plus-sign"></span> Nuevo Producto o Servicio
         </a>     
     </div>#}
    <br/>

    <a type="button" class="btn btn-success boton" title="Nuevo Cliente"><span class="glyphicon glyphicon-plus-sign"></span> Nuevo Producto o Servicio</a>

    <div id="modal" class="modal fade">        
        <div class="modal-dialog">
            <div class="modal-content">                    
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 align="center" class="modal-title">Agregar Nuevo Producto o Servicio</h4>
                </div>                    
                <div class="modal-body">
                    {{ render(controller('AcquisitionBundle:ProductService:new')) }}                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>  

    {% block javascripts %}
        {%for entity in entities%}
            <script>
                $("#{{entity.id}}").modal('hide');
                $(document).ready(function () {
                    $('.boton1').click(function () {
                        $("#{{entity.id}}").modal('hide');
                    });
                });
            </script>  
        {%endfor%}
        <script>
            $('#modal').modal('hide');
            $(document).ready(function () {
                $('.boton').click(function () {
                    $('#modal').modal('show');
                });
            });
        </script>

    {% endblock %}
{%endblock%}
