{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block body -%}
     {#<div class="row">
        <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('product-service') }}" title="Ver Productos o Servicios">Ver Productos o Servicios</a></li>
            <li class="active"><a href="{{ path('product-service_new') }}" title="Nuevo Producto o Servicio">Nuevo Producto o Servicio</a></li>
        </ul>
    </div>
    </div>#}   
<div class="row">
    <div class="col-sm-12">
     <ul class="list-inline">
         {{ form(form) }}
         {#<li>             
             <a class="btn btn-primary btn-group" href="{{ path('product-service') }}">                 
                 <span class="glyphicon glyphicon-chevron-left"></span>Regresar                
             </a>                
         </li> #}       
     </ul>                
    </div>                
</div>
{% endblock %}
