{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('institucion') }}" title="Ver Institución">Institución</a></li>
                <li class="active"><a href="{{ path('institucion_edit',{'id':entity.id}) }}" title="Edición de Institución">Editar Institución</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Edición de los datos de la institución.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">

            {{ form_start(edit_form) }}

            {{ form_label(edit_form.nombre) }}
            <div class="text-danger">{{ form_errors(edit_form.nombre) }} </div>
            {{ form_widget(edit_form.nombre) }}
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('institucion') }}" title="Ver Institución">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}