{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
{% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li  class="active"><a href="{{ path('institucion') }}" title="Ver Institución">Institución</a></li>
                <li><a href="{{ path('institucion_new') }}" title="Nueva Institución">Nueva Institución</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
                <br/>
                <ul class="pull-right">
                    <a class="btn btn-info btn-xs" href="{{ path('instituciones_pdf') }}" title="Exportar completo a PDF">
                        <span class="glyphicon glyphicon-file"></span> Instituciones en PDF
                    </a>
                </ul>
        </div>
    </div>
   <div class="row">
   <div class="col-sm-12">
    <br/>
       <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Centro de Estudio</th>
                <th>Tipo</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.tipo }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('institucion_show', { 'id': entity.id }) }}" title="Ver">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('institucion_edit', { 'id': entity.id }) }}" title="Editar">
                        <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
        <ul class="list-inline">
            <li>
                <a class="btn btn-success" href="{{ path('institucion_new') }}" title="Nueva Institución">
                   <span class="glyphicon glyphicon-plus-sign"></span> Nueva institución
                </a>
            </li>
        </ul>
    </div>
    </div>
    {% endblock %}
