{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('institucion') }}" title="Ver institución">Institución</a></li>
                <li class="active"><a href="{{ path('institucion_new') }}" title="Nueva de institución">Nueva Institución</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí los datos de la institución.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
        <br/>
            {{ form_start(form) }}

            {{ form_label(form.nombre) }}
            <div class="text-danger">{{ form_errors(form.nombre) }} </div>
            {{ form_widget(form.nombre) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">

            {{ form_label(form.direccion) }}
            <div class="text-danger">{{ form_errors(form.direccion) }} </div>
            {{ form_widget(form.direccion) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <br/>
            {{ form_label(form.tipo) }}
            <div class="text-danger">{{ form_errors(form.tipo) }} </div>
            {{ form_widget(form.tipo) }}
        </div>
    </div><br/>
    <div class="row">
       <div class="col-xs-12">
        {{ form_end(form) }}
       </div>
    </div>
{% endblock %}
