{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('institucion') }}" title="Ver institución">Institución</a></li>
            <li class="active"><a href="#" title="Muestra Institución">Muestra Institución</a></li>
        </ul>
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle de la Institución.</h4>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-xs-1" style="background-color:#F2F2F2">
            <strong>Id</strong><br/>
            <strong>Nombre</strong><br/>
            <strong>Tipo</strong>
        </div>
        <div class="col-xs-6">
            {{ entity.id }}<br/>
            {{ entity.nombre }}<br/>
            <td>{{ entity.tipo }}</td>
        </div>
    </div><br/><hr/>
    <div class="row">
        <div class="col-sm-12">
         <ul class="list-inline">
            <li>
                <a class="btn btn-primary btn-group" href="{{ path('institucion') }}" title="Ver Institución">
                   <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>
            </li>
            <li>
                <a class="btn btn-success btn-group" href="{{ path('institucion_edit', { 'id': entity.id }) }}" title="Editar Institución">
                    <span class="glyphicon glyphicon-edit"></span>Editar
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
    </div>
{% endblock %}