{% extends "ControlDocumentoBundle:Default:index.html.twig" %}

{% block title %}CFE-Documentos{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('cfe_proc', {type: 1}) }}" title="Procedimientos">Procedimientos</a></li>
            <li><a href="{{ path('cfe_manual', {type: 2}) }}" title="Manuales">Manuales</a></li>
            <li><a href="{{ path('cfe_perfiles') }}" title="Perfiles">Perfiles</a></li>
            <li class="active"><a href="{{ path('cfe_docum', {type: 6}) }}" title="Documentos">Documentos</a></li>
            <li><a href="{{ path('cfe_regl', {type: 5}) }}" title="Reglamentos">Reglamentos</a></li>
            <li><a href="{{ path('cfe_m_pdf') }}" title="Lista Maestra PDF">Lista Maestra</a></li>
        </ul>
        <br/><br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                <tr>
                    <th>Grupos</th>
                    <th>Clave</th>
                    <th>Rev.</th>
                    <th>Título</th>
                    <th>Aprobado</th>
                    <th>Estado</th>
                    <th>Pdf</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in procedimientos %}
                    <tr>
                        <td>CFE</td>
                        <td>{{ doc.clave }}</td>
                        <td>{{ doc.revision }}</td>
                        <td>{{ doc.titulo }}</td>
                        <td>{{ doc.aprobado|date('Y-m-d') }}</td>
                        <td>{{ doc.condicion.descripcion }}</td>
                        <td><a href="{{ path('servir',{'id': doc.id}) }}" title="PDF"><span  class="glyphicon glyphicon-book"></span></a></td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
    </div>
</div>
{% endblock %}
