{% extends '::base.html.twig' %}

{% block body %}
    {% block header %}
        {% include('ControlDocumentoBundle:Cfe:cfe.html.twig') %}
    {% endblock %}

    <div class="container">
        {% block content %}
            <p align="center">
                <img src="{{ asset('img/homePage.png') }}" title="Sistema de Administración Documental">
            </p>
        {% endblock %}
        <!--MOSTRAR PERFILES POR VENCER           -->
        <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>
            <bold>&nbsp;DOCUMENTOS VENCIDOS Y PRÓXIMOS A VENCER. (Antes del {{ lim |date('d-m-Y') }}.)</bold>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Clave</th>
                <th>Rev.</th>
                <th>Título</th>
                <th>Aprobado</th>
                <th>Vigencia</th>
                <th>Pdf</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in documentos %}
                <tr>
                    <td>{{ entity.clave }}</td>
                    <td>{{ entity.revision }}</td>
                    <td>{{ entity.titulo }}</td>
                    <td>{% if entity.aprobado %}{{ entity.aprobado|date('d-m-Y') }}{% endif %}</td>
                    <td>{% if (entity.vigencia|date('Y')> "now"|date('Y') and (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                        or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')> "now"|date('m') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                        or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')== "now"|date('m') and entity.vigencia|date('d')> "now"|date('d') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                        %}
                            <span class="label label-success">{{ entity.vigencia|date('d-m-Y') }}</span>
                        {% else %}
                            <span class="label label-danger">{{ entity.vigencia|date('d-m-Y') }}</span>
                        {% endif %}
                    </td>
                    <td><a href="{{ path('servir',{'id': entity.id}) }}" title="PDF"><span  class="glyphicon glyphicon-book"></span></a></td>
                    <td>{% if (entity.vigencia|date('Y')> "now"|date('Y') and (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                        or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')> "now"|date('m') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                        or (entity.vigencia|date('Y')== "now"|date('Y') and entity.vigencia|date('m')== "now"|date('m') and entity.vigencia|date('d')> "now"|date('d') and  (entity.condicion=="Vigente" or entity.condicion=="Expirado"))
                        %}
                            <span class="label label-success">PRÓXIMO</span>
                        {% else %}
                            <span class="label label-danger">EXPIRADO</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><!--/.container-->
{% endblock %}
