{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <br/>

            <div class="alert alert-info"><i class="fa fa-exchange"></i>
                {% if t==1 %} Las solicitudes pendientes de autorizar son: {% endif %}
                {% if t==2 %} Los préstamos autorizados por entregar al solicitante son: {% endif %}
                {% if t==3 %} Los préstamos NO autorizados son: {% endif %}
                {% if t==4 %} Los documentos prestados actualmente son: {% endif %}
                {% if t==5 %} Los préstamos cancelados: {% endif %}
                {% if t==6 %} Los documentos devueltos son: {% endif %}
            </div>

        </div>
    </div>
    <div class="row">
    <div class="col-sm-12">

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
    <thead>
    <tr>
        <th>Solicitud</th>
        <th>Estado</th>
        <th>Solicitante</th>
        <th>Especificaciones</th>
        {% if t==4 %}<th>Retorno</th>{%  endif %}
        {% if t==6 %}<th>Entregado</th>{%  endif %}
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>

    {% if app.user.username=='vmguillen' or app.user.username=='lrivera' or app.user.username=='jrodriguezs'  %}

        {% for entity in entities %}
            <tr>
                <td>{% if entity.fechaSolicitud %}{{ entity.fechaSolicitud|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.estado==1 %}
                        <span class="label label-warning">En proceso</span>
                    {% elseif entity.estado==2 %}
                        <span class="label label-success">Autorizado</span>
                    {% elseif entity.estado==3 %}
                        <span class="label label-danger">No Autorizado</span>
                    {% elseif entity.estado==4 %}
                        <span class="label label-warning">Prestado</span>
                    {% elseif entity.estado==5 %}
                        <span class="label label-danger">Cancelado</span>
                    {% elseif entity.estado==6 %}
                        <span class="label label-info">Devuelto</span>
                    {% endif %}
                </td>
                <td>{{ entity.solicitante }}</td>
                <td>{{ entity.expediente }} - No.hojas {{ entity.nuHojas }}- Detalle {{ entity.especificaciones }}</td>
                {% if entity.estado==4 %}
                    <td>{% if entity.fechaRetorno %}
                            {% if entity.fechaRetorno|date('Y-m-d') >= "now"|date('Y-m-d') %}
                                <span class="label label-warning">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% else %}
                                <span class="label label-danger">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
                {% if entity.estado==6 %}
                    <td>{% if entity.fechaRetornoReal %}
                            {{ entity.fechaRetornoReal|date('Y-m-d') }}
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if entity.estado==1 %}
                        {% if  is_granted('ROLE_RH') %}
                            <a href="{{ path('archivo_update', { 'id': entity.id , 't':2 }) }}" title="Autorizar"><i class="fa fa-unlock"></i></a>
                            |
                            <a href="{{ path('archivo_update', { 'id': entity.id , 't':3  }) }}" title="No Autorizar"><i class="fa fa-lock"></i></a>
                            |
                        {% endif %}
                        <a href="{{ path('archivo_update', { 'id': entity.id , 't':5  }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                    {% elseif entity.estado==2 %}
                        {% if  is_granted('ROLE_CONTROL_DOC') %}
                            <a href="{{ path('archivo_update', { 'id': entity.id, 't':4}) }}" title="Entregar"><i class="fa fa-folder-open-o"></i></a>
                            |
                        {% endif %}
                        {% if  is_granted('ROLE_RH') %}
                            <a href="{{ path('archivo_update', { 'id': entity.id , 't':3  }) }}" title="No Autorizar"><i class="fa fa-lock"></i></a>
                            |
                        {% endif %}
                        <a href="{{ path('archivo_update', { 'id': entity.id, 't':1 }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                    {% elseif entity.estado==4 %}
                        {% if  is_granted('ROLE_CONTROL_DOC') %}
                            <a href="{{ path('archivo_update', { 'id': entity.id, 't':6 }) }}" title="Recibir expediente"><i class="fa fa-folder"></i></a>
                            |
                            <a href="{{ path('archivo_update', { 'id': entity.id , 't':2  }) }}" title="Deshacer prestamo"><i class="fa fa-undo"></i></a>
                            |
                            <a href="{{ path('archivo_update', { 'id': entity.id , 't':4  }) }}" title="Renovar"><i class="fa fa-plus-circle"></i></a>
                        {% endif %}
                    {% elseif entity.estado==6 %}
                        <a href="{{ path('archivo_show', { 'id': entity.id }) }}" title="Detalle"><span class="glyphicon glyphicon-eye-open"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}


    {% if app.user.username=='dgalindo' or app.user.username=='lrivera' or app.user.username=='jrodriguezs'  %}
        {% for entity in entitiess %}
            <tr>
                <td>{% if entity.fechaSolicitud %}{{ entity.fechaSolicitud|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.estado==1 %}
                        <span class="label label-warning">En proceso</span>
                    {% elseif entity.estado==2 %}
                        <span class="label label-success">Autorizado</span>
                    {% elseif entity.estado==3 %}
                        <span class="label label-danger">No Autorizado</span>
                    {% elseif entity.estado==4 %}
                        <span class="label label-warning">Prestado</span>
                    {% elseif entity.estado==5 %}
                        <span class="label label-danger">Cancelado</span>
                    {% elseif entity.estado==6 %}
                        <span class="label label-info">Devuelto</span>
                    {% endif %}
                </td>
                <td>{{ entity.solicitante }}</td>
                <td>SOT {{ entity.ot }} - No.hojas {{ entity.nuHojas }}-Detalle {{ entity.especificaciones }}</td>
                {% if entity.estado==4 %}
                    <td>{% if entity.fechaRetorno %}
                            {% if entity.fechaRetorno|date('Y-m-d') >= "now"|date('Y-m-d') %}
                                <span class="label label-warning">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% else %}
                                <span class="label label-danger">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
                {% if entity.estado==6 %}
                    <td>{% if entity.fechaRetornoReal %}
                            {{ entity.fechaRetornoReal|date('Y-m-d') }}
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if entity.estado==1 %}
                        {% if  is_granted('ROLE_JEFE_ADMON') %}
                            <a href="{{ path('sot_update', { 'id': entity.id , 't':2 }) }}" title="Autorizar"><i class="fa fa-unlock"></i></a>
                            |
                            <a href="{{ path('sot_update', { 'id': entity.id , 't':3  }) }}" title="No Autorizar"><i class="fa fa-lock"></i></a>
                            |
                        {% endif %}
                        <a href="{{ path('sot_update', { 'id': entity.id , 't':5  }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                    {% elseif entity.estado==2 %}
                        {% if  is_granted('ROLE_CONTROL_DOC') %}
                            <a href="{{ path('sot_update', { 'id': entity.id, 't':4}) }}" title="Entregar"><i class="fa fa-folder-open-o"></i></a>
                            |
                        {% endif %}
                        {% if  is_granted('ROLE_JEFE_ADMON') %}
                            <a href="{{ path('sot_update', { 'id': entity.id , 't':3  }) }}" title="No Autorizar"><i class="fa fa-lock"></i></a>
                            |
                        {% endif %}
                        <a href="{{ path('sot_update', { 'id': entity.id, 't':1 }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                    {% elseif entity.estado==4 %}
                        {% if  is_granted('ROLE_CONTROL_DOC') %}
                            <a href="{{ path('sot_update', { 'id': entity.id, 't':6 }) }}" title="Recibir expediente"><i class="fa fa-folder"></i></a>
                            |
                            <a href="{{ path('sot_update', { 'id': entity.id , 't':2  }) }}" title="Deshacer prestamo"><i class="fa fa-undo"></i></a>
                            |
                            <a href="{{ path('sot_update', { 'id': entity.id , 't':4  }) }}" title="Renovar"><i class="fa fa-plus-circle"></i></a>
                        {% endif %}
                    {% elseif entity.estado==6 %}
                        <a href="{{ path('sot_show', { 'id': entity.id }) }}" title="Detalle"><span class="glyphicon glyphicon-eye-open"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        {% for entity in entities3 %}
            <tr>
                <td>{% if entity.fechaSolicitud %}{{ entity.fechaSolicitud|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.estado==1 %}
                        <span class="label label-warning">En proceso</span>
                    {% elseif entity.estado==2 %}
                        <span class="label label-success">Autorizado</span>
                    {% elseif entity.estado==3 %}
                        <span class="label label-danger">No Autorizado</span>
                    {% elseif entity.estado==4 %}
                        <span class="label label-warning">Prestado</span>
                    {% elseif entity.estado==5 %}
                        <span class="label label-danger">Cancelado</span>
                    {% elseif entity.estado==6 %}
                        <span class="label label-info">Devuelto</span>
                    {% endif %}
                </td>
                <td>{{ entity.solicitante }}</td>
                <td>Procedimiento {{ entity.procedimiento }} - No.hojas {{ entity.nuHojas }}- Detalle {{ entity.especificaciones }}</td>
                {% if entity.estado==4 %}
                    <td>{% if entity.fechaRetorno %}
                            {% if entity.fechaRetorno|date('Y-m-d') >= "now"|date('Y-m-d') %}
                                <span class="label label-warning">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% else %}
                                <span class="label label-danger">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
                {% if entity.estado==6 %}
                    <td>{% if entity.fechaRetornoReal %}
                            {{ entity.fechaRetornoReal|date('Y-m-d') }}
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if entity.estado==1 %}
                        {% if  is_granted('ROLE_JEFE_ADMON') %}
                            <a href="{{ path('archivos_calidad_update', { 'id': entity.id , 't':2 }) }}" title="Autorizar"><i class="fa fa-unlock"></i></a>
                            |
                            <a href="{{ path('archivos_calidad_update', { 'id': entity.id , 't':3  }) }}" title="No Autorizar"><i class="fa fa-lock"></i></a>
                            |
                        {% endif %}
                        <a href="{{ path('archivos_calidad_update', { 'id': entity.id , 't':5  }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                    {% elseif entity.estado==2 %}
                        {% if  is_granted('ROLE_CONTROL_DOC') %}
                            <a href="{{ path('archivos_calidad_update', { 'id': entity.id, 't':4}) }}" title="Entregar"><i class="fa fa-folder-open-o"></i></a>
                            |
                        {% endif %}
                        {% if  is_granted('ROLE_JEFE_ADMON') %}
                            <a href="{{ path('archivos_calidad_update', { 'id': entity.id , 't':3  }) }}" title="No Autorizar"><i class="fa fa-lock"></i></a>
                            |
                        {% endif %}
                        <a href="{{ path('archivos_calidad_update', { 'id': entity.id, 't':1 }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                    {% elseif entity.estado==4 %}
                        {% if  is_granted('ROLE_CONTROL_DOC') %}
                            <a href="{{ path('archivos_calidad_update', { 'id': entity.id, 't':6 }) }}" title="Recibir expediente"><i class="fa fa-folder"></i></a>
                            |
                            <a href="{{ path('archivos_calidad_update', { 'id': entity.id , 't':2  }) }}" title="Deshacer prestamo"><i class="fa fa-undo"></i></a>
                            |
                            <a href="{{ path('archivos_calidad_update', { 'id': entity.id , 't':4  }) }}" title="Renovar"><i class="fa fa-plus-circle"></i></a>
                        {% endif %}
                    {% elseif entity.estado==6 %}
                        <a href="{{ path('archivos_calidad_show', { 'id': entity.id }) }}" title="Detalle"><span class="glyphicon glyphicon-eye-open"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        {% for entity in entities4 %}
            <tr>
                <td>{% if entity.fechaSolicitud %}{{ entity.fechaSolicitud|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.estado==1 %}
                        <span class="label label-warning">En proceso</span>
                    {% elseif entity.estado==2 %}
                        <span class="label label-success">Autorizado</span>
                    {% elseif entity.estado==3 %}
                        <span class="label label-danger">No Autorizado</span>
                    {% elseif entity.estado==4 %}
                        <span class="label label-warning">Prestado</span>
                    {% elseif entity.estado==5 %}
                        <span class="label label-danger">Cancelado</span>
                    {% elseif entity.estado==6 %}
                        <span class="label label-info">Devuelto</span>
                    {% endif %}
                </td>
                <td>{{ entity.solicitante }}</td>
                <td>Perfil {{ entity.perfil }} - No.hojas {{ entity.nuHojas }}- Detalle {{ entity.especificaciones }}</td>
                {% if entity.estado==4 %}
                    <td>{% if entity.fechaRetorno %}
                            {% if entity.fechaRetorno|date('Y-m-d') >= "now"|date('Y-m-d') %}
                                <span class="label label-warning">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% else %}
                                <span class="label label-danger">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
                {% if entity.estado==6 %}
                    <td>{% if entity.fechaRetornoReal %}
                            {{ entity.fechaRetornoReal|date('Y-m-d') }}
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if entity.estado==1 %}
                        {% if  is_granted('ROLE_JEFE_ADMON') %}
                            <a href="{{ path('presta_perfil_update', { 'id': entity.id , 't':2 }) }}" title="Autorizar"><i class="fa fa-unlock"></i></a>
                            |
                            <a href="{{ path('presta_perfil_update', { 'id': entity.id , 't':3  }) }}" title="No Autorizar"><i class="fa fa-lock"></i></a>
                            |
                        {% endif %}
                        <a href="{{ path('presta_perfil_update', { 'id': entity.id , 't':5  }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                    {% elseif entity.estado==2 %}
                        {% if  is_granted('ROLE_CONTROL_DOC') %}
                            <a href="{{ path('presta_perfil_update', { 'id': entity.id, 't':4}) }}" title="Entregar"><i class="fa fa-folder-open-o"></i></a>
                            |
                        {% endif %}
                        {% if  is_granted('ROLE_JEFE_ADMON') %}
                            <a href="{{ path('presta_perfil_update', { 'id': entity.id , 't':3  }) }}" title="No Autorizar"><i class="fa fa-lock"></i></a>
                            |
                        {% endif %}
                        <a href="{{ path('presta_perfil_update', { 'id': entity.id, 't':1 }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                    {% elseif entity.estado==4 %}
                        {% if  is_granted('ROLE_CONTROL_DOC') %}
                            <a href="{{ path('presta_perfil_update', { 'id': entity.id, 't':6 }) }}" title="Recibir expediente"><i class="fa fa-folder"></i></a>
                            |
                            <a href="{{ path('presta_perfil_update', { 'id': entity.id , 't':2  }) }}" title="Deshacer prestamo"><i class="fa fa-undo"></i></a>
                            |
                            <a href="{{ path('presta_perfil_update', { 'id': entity.id , 't':4  }) }}" title="Renovar"><i class="fa fa-plus-circle"></i></a>
                        {% endif %}
                    {% elseif entity.estado==6 %}
                        <a href="{{ path('presta_perfil_show', { 'id': entity.id }) }}" title="Detalle"><span class="glyphicon glyphicon-eye-open"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if app.user.username=='lrivera' or app.user.username=='jrodriguezs'  %}
        {% for entity in entities5 %}
            <tr>
                <td>{% if entity.fechaSolicitud %}{{ entity.fechaSolicitud|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.estado==1 %}
                        <span class="label label-warning">En proceso</span>
                    {% elseif entity.estado==2 %}
                        <span class="label label-success">Autorizado</span>
                    {% elseif entity.estado==3 %}
                        <span class="label label-danger">No Autorizado</span>
                    {% elseif entity.estado==4 %}
                        <span class="label label-warning">Prestado</span>
                    {% elseif entity.estado==5 %}
                        <span class="label label-danger">Cancelado</span>
                    {% elseif entity.estado==6 %}
                        <span class="label label-info">Devuelto</span>
                    {% endif %}
                </td>
                <td>{{ entity.solicitante }}</td>
                <td>Auditoria/Vigilancia {{ entity.auditoria }} - No.hojas {{ entity.nuHojas }}- Detalle {{ entity.especificaciones }}</td>
                {% if entity.estado==4 %}
                    <td>{% if entity.fechaRetorno %}
                            {% if entity.fechaRetorno|date('Y-m-d') >= "now"|date('Y-m-d') %}
                                <span class="label label-warning">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% else %}
                                <span class="label label-danger">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
                {% if entity.estado==6 %}
                    <td>{% if entity.fechaRetornoReal %}
                            {{ entity.fechaRetornoReal|date('Y-m-d') }}
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if entity.estado==1 %}
                        {% if  is_granted('ROLE_JEFE_ADMON') %}
                            <a href="{{ path('presta_auditoria_update', { 'id': entity.id , 't':2 }) }}" title="Autorizar"><i class="fa fa-unlock"></i></a>
                            |
                            <a href="{{ path('presta_auditoria_update', { 'id': entity.id , 't':3  }) }}" title="No Autorizar"><i class="fa fa-lock"></i></a>
                            |
                        {% endif %}
                        <a href="{{ path('presta_auditoria_update', { 'id': entity.id , 't':5  }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                    {% elseif entity.estado==2 %}
                        {% if  is_granted('ROLE_CONTROL_DOC') %}
                            <a href="{{ path('presta_auditoria_update', { 'id': entity.id, 't':4}) }}" title="Entregar"><i class="fa fa-folder-open-o"></i></a>
                            |
                        {% endif %}
                        {% if  is_granted('ROLE_JEFE_ADMON') %}
                            <a href="{{ path('presta_auditoria_update', { 'id': entity.id , 't':3  }) }}" title="No Autorizar"><i class="fa fa-lock"></i></a>
                            |
                        {% endif %}
                        <a href="{{ path('presta_auditoria_update', { 'id': entity.id, 't':1 }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                    {% elseif entity.estado==4 %}
                        {% if  is_granted('ROLE_CONTROL_DOC') %}
                            <a href="{{ path('presta_auditoria_update', { 'id': entity.id, 't':6 }) }}" title="Recibir expediente"><i class="fa fa-folder"></i></a>
                            |
                            <a href="{{ path('presta_auditoria_update', { 'id': entity.id , 't':2  }) }}" title="Deshacer prestamo"><i class="fa fa-undo"></i></a>
                            |
                            <a href="{{ path('presta_auditoria_update', { 'id': entity.id , 't':4  }) }}" title="Renovar"><i class="fa fa-plus-circle"></i></a>
                        {% endif %}
                    {% elseif entity.estado==6 %}
                        <a href="{{ path('presta_auditoria_show', { 'id': entity.id }) }}" title="Detalle"><span class="glyphicon glyphicon-eye-open"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% for entity in entities6 %}
            <tr>
                <td>{% if entity.fechaSolicitud %}{{ entity.fechaSolicitud|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.estado==1 %}
                        <span class="label label-warning">En proceso</span>
                    {% elseif entity.estado==2 %}
                        <span class="label label-success">Autorizado</span>
                    {% elseif entity.estado==3 %}
                        <span class="label label-danger">No Autorizado</span>
                    {% elseif entity.estado==4 %}
                        <span class="label label-warning">Prestado</span>
                    {% elseif entity.estado==5 %}
                        <span class="label label-danger">Cancelado</span>
                    {% elseif entity.estado==6 %}
                        <span class="label label-info">Devuelto</span>
                    {% endif %}
                </td>
                <td>{{ entity.solicitante }}</td>
                <td>RAP/RAC {{ entity.recomendacion }} - No.hojas {{ entity.nuHojas }}- Detalle {{ entity.especificaciones }}</td>
                {% if entity.estado==4 %}
                    <td>{% if entity.fechaRetorno %}
                            {% if entity.fechaRetorno|date('Y-m-d') >= "now"|date('Y-m-d') %}
                                <span class="label label-warning">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% else %}
                                <span class="label label-danger">{{ entity.fechaRetorno|date('Y-m-d') }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
                {% if entity.estado==6 %}
                    <td>{% if entity.fechaRetornoReal %}
                            {{ entity.fechaRetornoReal|date('Y-m-d') }}
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if entity.estado==1 %}
                        {% if  is_granted('ROLE_JEFE_ADMON') %}
                            <a href="{{ path('presta_recom_update', { 'id': entity.id , 't':2 }) }}" title="Autorizar"><i class="fa fa-unlock"></i></a>
                            |
                            <a href="{{ path('presta_recom_update', { 'id': entity.id , 't':3  }) }}" title="No Autorizar"><i class="fa fa-lock"></i></a>
                            |
                        {% endif %}
                        <a href="{{ path('presta_recom_update', { 'id': entity.id , 't':5  }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                    {% elseif entity.estado==2 %}
                        {% if  is_granted('ROLE_CONTROL_DOC') %}
                            <a href="{{ path('presta_recom_update', { 'id': entity.id, 't':4}) }}" title="Entregar"><i class="fa fa-folder-open-o"></i></a>
                            |
                        {% endif %}
                        {% if  is_granted('ROLE_JEFE_ADMON') %}
                            <a href="{{ path('presta_recom_update', { 'id': entity.id , 't':3  }) }}" title="No Autorizar"><i class="fa fa-lock"></i></a>
                            |
                        {% endif %}
                        <a href="{{ path('presta_recom_update', { 'id': entity.id, 't':1 }) }}" title="Cancelar"><i class="fa fa-trash-o"></i></a>
                    {% elseif entity.estado==4 %}
                        {% if  is_granted('ROLE_CONTROL_DOC') %}
                            <a href="{{ path('presta_recom_update', { 'id': entity.id, 't':6 }) }}" title="Recibir expediente"><i class="fa fa-folder"></i></a>
                            |
                            <a href="{{ path('presta_recom_update', { 'id': entity.id , 't':2  }) }}" title="Deshacer prestamo"><i class="fa fa-undo"></i></a>
                            |
                            <a href="{{ path('presta_recom_update', { 'id': entity.id , 't':4  }) }}" title="Renovar"><i class="fa fa-plus-circle"></i></a>
                        {% endif %}
                    {% elseif entity.estado==6 %}
                        <a href="{{ path('presta_recom_show', { 'id': entity.id }) }}" title="Detalle"><span class="glyphicon glyphicon-eye-open"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    </table>
    </div>
    </div>
{% endblock %}