{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('trainers') }}" title="Ver Perfiles">Instructor</a></li>
            <li class="active"><a href="#" title="Editar Perfil">Editar Instructor</a></li>
        </ul>

        <br/>

        <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
            Edición del Instructor.
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ form(edit_form) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
