{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">

                <li  class="active"><a href="{{ path('trainers') }}" title="Ver Perfiles">Instructor</a></li>
                {% if is_granted('ROLE_SUPER_ADMIN') or  is_granted('ROLE_CONTROL_DOC')  or  is_granted('ROLE_CAPT')  %}
                    <li><a href="{{ path('trainers_new') }}" title="Nuevo Perfil">Nuevo Instructor</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table" id="dtable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>A. Paterno</th>
                    <th>A. Materno</th>
                    <th>Pdf</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('trainers_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.firstName }}</td>
                        <td>{{ entity.paternalSurname }}</td>
                        <td>{{ entity.maternalSurname }}</td>
                        <td><a href="{{ path('servir_trainers',{'id': entity.id}) }}" title="Pdf"><i class="fa fa-file-pdf-o"></i></a></td>
                        <td>
                            <ul class="list-inline">
                                <li>
                                    <a href="{{ path('trainers_show', { 'id': entity.id }) }}">
                                        <span class="glyphicon glyphicon-p"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('trainers_show', { 'id': entity.id }) }}">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </li>
                                <li>|</li>
                                <li>
                                    <a href="{{ path('trainers_edit', { 'id': entity.id }) }}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a href="{{ path('trainers_new') }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo Instructor
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% endblock %}
