{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('trainers') }}" title="Ver Perfiles">Instructor</a></li>
            <li class="active"><a href="#" title="Nuevo Perfil">Nuevo Instructor</a></li>
        </ul>

        <br/>

        <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
            Ingresa aquí los datos del nuevo entrenador.
        </div>
    </div>

    {{ form(form) }}
{% endblock %}
