{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    <h1>Instructor</h1>

    <table class="table" id="dtable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>A. Paterno</th>
                <td>{{ entity.paternalSurname }}</td>
            </tr>
            <tr>
                <th>A. Materno</th>
                <td>{{ entity.maternalSurname }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="list-inline">
    <li>
        <a href="{{ path('trainers') }}" class="btn btn-primary">
            Regresar
        </a>
    </li>
    <li>
        <a href="{{ path('trainers_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
