{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block content %}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li  class="active"><a href="{{ path('provider') }}" title="Ver Proveedores">Proveedores</a></li>
                    {# <li><a href="{{ path('provider_new') }}"  title="Nuevo Proveedor">Nuevos Proveedores</a></li>#}
            </ul>
        </div>
    </div>   
    <br/>
    
    <div class="row">
         <div class="row">
              <div class="row">
                   <div class="row">
                        <div class="row">
                             <div class="row">
                                  <div class="row">
                                       <div class="row">
                                           <div class="row">
                                               <div class="row">
                                                   <div class="row">
                                                       <div class="row">
                                                           <div class="row">
        

        <br/>
        <div class="row">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tipo De Producto</th>
                        <th>Codigo Producto</th>
                        <th>Nombre</th>
                        <th>Certificado</th>
                        <th>Razon Social</th>
                        <th>Fecha De Seleccion</th>
                        <th>Contacto</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Direccion</th>
                        <th>Localidad</th>
                        <th>Impacto Servicio</th>
                        <th>Justificacion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td align="center">{{ entity.id }}</td>
                            <td align="center">{{ entity.productType }}</td>
                            <td align="center">{{ entity.code }}</td>
                            <td align="center">{{ entity.name }}</td>
                            <td align="center">{{ entity.certificado }}</td>
                            <td align="center">{{ entity.companyName }}</td>
                            <td align="center">{% if entity.fechaSeleccion %}{{ entity.fechaSeleccion|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td align="center">{{ entity.contactPerson }}</td>
                            <td align="center">{{ entity.telephone }}</td>
                            <td align="center">{{ entity.email }}</td>
                            <td align="center">{{ entity.address }}</td>
                            <td align="center">{{ entity.location }}</td>
                            <td align="center">{{ entity.evaluation }}</td>
                            <td align="center">{{ entity.comments }}</td>
                            <td>
                                <ul class="list-inline">
                                    <a data-toggle="modal" data-target="#{{entity.id}}"><span class="glyphicon glyphicon-eye-open boton1"></span></a>

                                    <li>
                                        <a href="{{ path('provider_edit', { 'id': entity.id }) }}"title="Editar Proveedor">
                                            <span class="glyphicon glyphicon-edit"></span></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>          
                    {%endfor%}   
                </tbody>
            </table>

        </div>
        {# Modal Mostrar #}    
        {% for entity in entities %}
            <div id="{{entity.id}}" class="modal fade">        
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 align="center" class="modal-title">Ver Proveedor</h4>
                        </div>   
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-3"><br/>
                                    <p align="center">
                                        <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
                                    </p>
                                </div>
                                <div class="col-sm-9"><br/><br/>
                                    <center><h4>Detalle del Proveedor</h4></center>
                                </div>
                            </div><br/>
                            <div class="row">
                                <div class="col-sm-1">

                                </div>
                                <div class="col-xs-2" style="background-color:#F2F2F2">
                                    <strong>Id</strong><br/>
                                    <strong>Tipo</strong><br/>
                                    <strong>Codigo</strong><br/>
                                    <strong>Nombre</strong><br/>
                                    <strong>Certificado</strong><br/>
                                    <strong>Compañia</strong><br/>
                                    <strong>Fecha</strong><br/>
                                    <strong>Contacto</strong><br/>
                                    <strong>Telefono</strong><br/>
                                    <strong>Correo</strong><br/>
                                    <strong>Direccion</strong><br/>
                                    <strong>Localidad</strong><br/>
                                    <strong>Impacto</strong><br/>
                                    <strong>Comentarios</strong>
                                </div>
                                <div class="col-xs-9">                                            
                                    {{ entity.id }}<br/>
                                    {{ entity.productType }}<br/>
                                    {{ entity.code }}<br/>
                                    {{ entity.name }}<br/>
                                    {{ entity.certificado }}<br/>
                                    {{ entity.companyName }}<br/>
                                    {{ entity.fechaSeleccion|date('Y-m-d H:i:s') }}<br/>
                                    {{ entity.contactPerson }}<br/>
                                    {{ entity.telephone }}<br/>
                                    {{ entity.email }}<br/>
                                    {{ entity.address }}<br/>
                                    {{ entity.location }}<br/>
                                    {{ entity.evaluation }}<br/>
                                    {{ entity.comments }}
                                </div>
                            </div>                                                                          
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>

        {% endfor %}
        {# Modal Mostrar #}

        {#<ul class="list-inline">
            <div class="resize">
                <li>
                    <a class="btn btn-success" href="{{ path('provider_new') }}" title="Nuevo Proveedor">
                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo Provedor
                    </a>
                </li>
            </div>
        </ul>#}

        <a type="button" class="btn btn-success boton" title="Nuevo Cliente"><span class="glyphicon glyphicon-plus-sign"></span> Nuevo Proveedor</a>

        <div id="modal" class="modal fade">        
            <div class="modal-dialog">
                <div class="modal-content">                    
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 align="center" class="modal-title">Agregar Nuevo Proveedor</h4>
                    </div>                    
                    <div class="modal-body">
                        {{ render(controller('AcquisitionBundle:Provider:new')) }}                   
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>    

        <style>
            @media screen and (min-width: 10px) {

                #modal .modal-dialog  {width:990px;}
            }
            #modal {
                top: 05%;
                right:0%;
                outline: none;
            }
        </style> 

        {% block javascripts %}
            {%for entity in entities%}
                <script>
                    $("#{{entity.id}}").modal('hide');
                    $(document).ready(function () {
                        $('.boton1').click(function () {
                            $("#{{entity.id}}").modal('hide');
                        });
                    });
                </script>  
            {%endfor%}
            <script>
                $('#modal').modal('hide');
                $(document).ready(function () {
                    $('.boton').click(function () {
                        $('#modal').modal('show');
                    });
                });
            </script>
        {% endblock %}
    {%endblock%}
