{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block body -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

    {#<div class="row">
        <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('provider') }}" title="Proveedores">Proveedores</a></li>
            <li class="active"><a href="{{ path('provider_new') }}" title="Nuevo Proveedor">Nuevos Provedores</a></li>
        </ul>
    </div>
    </div> #}
        
        
    
<div class="row">
    <div class="col-sm-12">
     <ul class="list-inline">
         {{ form(form) }}
         
         {#<li>             
             <a class="btn btn-primary btn-group" href="{{ path('provider') }}">                 
                 <span class="glyphicon glyphicon-chevron-left"></span>Regresar                
             </a>                
         </li>#}        
     </ul>                
    </div>                
</div>
    
{% endblock %}
