{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('provider') }}" title="Ver Proveedores">Proveedores</a></li>
                <li class="active"><a href="#" title="Datos Proveedor">Muestra Proveedor</a></li>
            </ul>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <font face="Agency FB" size=6 color=#0B137A>Datos Del Proveedor</font>
        </div>
    </div><br/>



    <br/>
    <div class="row">
        <table cellpadding="0" border="1" class="table table-striped" id="dtable">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td align="center">{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Producttype</th>
                    <td align="center">{{ entity.productType }}</td>
                </tr>
                <tr>
                    <th>Code</th>
                    <td align="center">{{ entity.code }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td align="center">{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>Certificado</th>
                    <td align="center">{{ entity.certificado }}</td>
                </tr>
                <tr>
                    <th>Companyname</th>
                    <td align="center">{{ entity.companyName }}</td>
                </tr>
                <tr>
                    <th>Fechaseleccion</th>
                    <td align="center">{{ entity.fechaSeleccion|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Contactperson</th>
                    <td align="center">{{ entity.contactPerson }}</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td align="center">{{ entity.telephone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td align="center">{{ entity.email }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td align="center">{{ entity.address }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td align="center">{{ entity.location }}</td>
                </tr>
                <tr>
                    <th>Evaluation</th>
                    <td align="center">{{ entity.evaluation }}</td>
                </tr>
                <tr>
                    <th>Comments</th>
                    <td align="center">{{ entity.comments }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
    <ul class="list-inline">
        <li>
            <a class="btn btn-primary btn-group" href="{{ path('provider') }}"><span class="glyphicon glyphicon-chevron-left"></span>Regresar
            </a>
        </li>
        <li>
            {{ form(delete_form) }}
        </li>
    </ul>
{% endblock %}
