<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li><img class="img-thumbnail" src="{{ asset('img/logo_5.png') }}" alt="Ultra Ingeniría"/></li>
        </ul>
        <ul class="nav navbar-nav navbar-text">
            <li>Documentos Controlados</li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            {% if app.user.username=='lrivera' or app.user.username=='jrodriguezs'  %}
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Prestamo de documentos"><i class="fa fa-exchange"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('archivo_plist', { 't':2 }) }}" title="Prestar">Autorizados</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('archivo_plist', { 't':4 }) }}" title="Prestados">Prestados</a></li>
                    <li><a href="{{ path('archivo_plist', { 't':5 }) }}" title="Cancelados">Cancelados</a></li>
                    <li><a href="{{ path('archivo_plist', { 't':6 }) }}" title="Devueltos">Devueltos</a></li>
                    <li><a href="{{ path('archivo_plist', { 't':3 }) }}" title="No Autorizados">No Autorizados</a></li>
                </ul>
             </li>
            {% endif %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Libros"><i class="glyphicon glyphicon-book"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('libros') }}" title="Libros">Libros</a></li>
                    <li><a href="{{ path('libros_autores') }}" title="Autores">Autores</a></li>
                    <li><a href="{{ path('libros_editoriales') }}" title="Editoriales">Editoriales</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Agendas"><i class="fa fa-phone-square"></i> </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('curricula_agenda', { 'c':3697 }) }}" title="Agenda">Agenda 3697-CFE</a></li>
                    <li><a href="{{ path('curricula_agenda', { 'c':3699 }) }}" title="Agenda">Agenda 3699-PEMEX</a></li>
                    <li><a href="{{ path('curricula_agenda', { 'c':1 }) }}" title="Agenda">Agenda Administrativo</a></li>
                </ul>
            </li>

            <!-- Proveedores -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Proveedores"><i class="fa fa-briefcase"></i> </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('provider') }}" title="Agenda">Proveedores</a></li>
                    <li><a href="{{ path('product-service') }}" title="Agenda">Producto o Servicio</a></li>
                    <li><a href="{{ path('category_provider') }}" title="Agenda">Categoria de Proveedor</a></li>
                </ul>
            </li> <!-- Termina Proveedores -->
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                {% if (app.user.username=="dgalindo") %}
                    <img class="img-thumbnail" src="{{ asset('img/fotos/dgalindo.jpg') }}" TITLE="{{ app.user.username }}" height="40" width="40"/>
                {% elseif (app.user.username=="lrivera") %}
                    <img class="img-thumbnail" src="{{ asset('img/fotos/lrivera.jpg') }}" TITLE="{{ app.user.username }}" height="40" width="40"/>
                {% else %}
                    <a href="#"  title="{{ app.user.username }}"><span class="glyphicon glyphicon-user"></span></a>
                {% endif %}
            </li>
            <li><span class="navbar-text">{{ app.user.username }}</span></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Selecciona"><i class="fa fa-th fa-lg"></i></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">-Calidad-</li>
                    <li><a href="{{ path('cdoc_excelxx') }}" title="Expedientes Numéricos">Lista Maestra Excel</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header"> - Expedientes -</li>
                    <li><a href="{{ path('curricula') }}" title="Expedientes Numéricos">Expedientes Numéricos</a></li>
                    <li><a href="{{ path('curricula_alfa') }}" title="Expedientes Alfa">Expedientes Alfa</a></li>
                    <li><a href="{{ path('perfil_curricula') }}" title="Perfil-Currícula">Perfil-Currícula</a></li>
                    {% if app.user.username=='jrodriguezs' %}
                        <li><a href="{{ path('curso') }}" title="Cursos">Cursos</a></li>
                    {% endif %}

                    <li class="divider"></li>
                    <li class="dropdown-header">-Documentos en LM-</li>

                    <li><a href="{{ path('perfil') }}" title="Perfil">Perfiles</a></li>
                    <li><a href="{{ path('procedimiento') }}" title="Documentos/Procedimientos">Documentos/Procedimientos</a></li>

                    <li class="divider"></li>
                    <li class="dropdown-header">-Otros documentos-</li>

                    <li><a href="{{ path('documento_general') }}" title="Documentos en portada">Documentos en portada</a></li>
                    <li><a href="{{ path('formato_asociado') }}" title="Formatos">Formatos</a></li>
                    <li><a href="{{ path('rh_agenda') }}" title="Programas de Capacitación">Programas de Capacitación</a></li>
                    <li><a href="{{ path('trainers') }}" title="Instructores">Instructores</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">-Calidad-</li>

                    <li><a href="{{ path('agenda') }}" title="Programas anuales">Programas anuales</a></li>
                    <li class="divider"></li>
                    {#<li><a href="{{ path('calidad_auditoria', { 'e':1 }) }}" title="Auditorías">Auditorías Abiertas</a></li>#}
                    {#<li><a href="{{ path('calidad_vigilancia', { 'e':1 }) }}" title="Vigilancias">Vigilancias Abiertas</a></li>#}
                    {#<li><a href="{{ path('calidad_recomendaciones', { 'e':1 }) }}" title="RAP's/RAC's">RAP's/RAC's Abiertas</a></li>#}
                    {#<li class="divider"></li>#}
                    <li><a href="{{ path('calidad_auditoria', { 'e':4 }) }}" title="Auditorías">Auditorías Cerradas</a></li>
                    <li><a href="{{ path('calidad_vigilancia', { 'e':4 }) }}" title="Vigilancias">Vigilancias Cerradas</a></li>
                    <li><a href="{{ path('calidad_recomendaciones', { 'e':4 }) }}" title="RAP's/RAC's">RAP's/RAC's Cerradas</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('calidad_auditoria', { 'e':3 }) }}" title="Auditorías">Auditorías Canceladas</a></li>
                    <li><a href="{{ path('calidad_vigilancia', { 'e':3 }) }}" title="Vigilancias">Vigilancias Canceladas</a></li>
                    <li><a href="{{ path('calidad_recomendaciones', { 'e':3 }) }}" title="RAP's/RAC's">RAP's/RAC's Canceladas</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Selecciona documentos"><i class="glyphicon glyphicon-file lg"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('cdoc_todos',{type:1 }) }}" title="Lista Maestra">Vigentes</a></li>
                    <li><a href="{{ path('cdoc_todos_c',{type:1 }) }}" title="Cancelados">Cancelados</a></li>
                    <li><a href="{{ path('cdoc_todos_o',{type:1 }) }}" title="Obsoletos">Obsoletos</a></li>
                    <li><a href="{{ path('cdoc_todos_cm',{type:1 }) }}" title="Con comentarios">Con comentarios</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Proyectos"><i class="glyphicon fa fa-users"></i></a>
                <ul class="dropdown-menu">
                   <li><a href="{{ path('cdocpartidas') }}" title="Partidas 3681">Partidas 3681</a></li>
                    <li><a href="{{ path('cdocorden_trabajo') }}" title="Órdenes del 3681">Órdenes de trabajo 3681</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('partidas3697') }}" title="Partidas 3697">Partidas 3697</a></li>
                    <li><a href="{{ path('orden_trabajo3697') }}" title="Órdenes del 3697">Órdenes de trabajo 3697</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Reportes"><i class="glyphicon glyphicon-print"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('curricula_puestos', { 'c':3697 }) }}" title="Puestos">Puestos del 3697-CFE</a></li>
                    <li><a href="{{ path('con_certificado', { 'pdf':2 }) }}" title="Personal con calificación">Personal con Evaluación</a></li>
                    <li><a href="{{ path('con_certificado', { 'pdf':1 }) }}" title="Personal con certificado">Personal con Certificado de calificación</a></li>
                    <li><a href="{{ path('sin_certificado') }}" title="Personal Sin Certificado">Personal sin Certificado de calificación</a></li>
                    <li><a href="{{ path('cdoc_vigencias') }}" title="Vigencia">Vigencia de cursos</a></li>
                    <li><a href="{{ path('cdoc_vigenciasprod') }}" title="Vigencia">Vigencia de cursos de procedimientos</a></li>
                    <li><a href="{{ path('cdoc_calificado') }}" title="Calificado">Personal Actualizado (cursos)</a></li>
                    <li><a href="{{ path('cdoc_nocalificado') }}" title="No Calificado">Personal No Actualizado</a></li>
                    <li><a href="{{ path('cdoc_comprobantes') }}" title="Comprobantes Faltantes">Personal con comprobantes faltantes</a></li>
                    <li><a href="{{ path('cdoc_fcursos') }}" title="Cursos Faltantes">Personal con cursos faltantes</a></li>
                    <li><a href="{{ path('curricula_puestosxperfil', { 'c':3697 }) }}" title="Personal por perfil">Personal por perfil 3697-CFE</a></li>
                 </ul>
            </li>
            <li><a href="{{ path('cdoc_index') }}" title="Inicio"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="{{ path('logout_area') }}"><i class="fa fa-power-off fa-lg" title="Salir"></i></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>