{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <div class="alert alert-info"><span class="glyphicon glyphicon-thumbs-up"></span>
                    <bold>&nbsp;Actualización de cursos tomados por el personal</bold>
                </div>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                <tr>
                    <th>No. Control</th>
                    <th>Ap. Paterno</th>
                    <th>Ap. Materno</th>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>

                        <td>{% if entity.numeroControl==0 %}
                                -
                            {% else %}
                                {{ entity.numeroControl }}
                            {% endif %}</td>
                        <td>{{ entity.apellidoPaterno }}</td>
                        <td>{{ entity.apellidoMaterno }}</td>
                        <td>{{ entity.nombre }}</td>
                        <td>
                            <ul class="list-inline">
                                {% if is_granted('ROLE_CONTROL_DOC') %}
                                    <li>
                                        <a href="{{ path('cdoc_cursos_show', { 'id': entity.id }) }}" title="Ver">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cdoc_editcursos', { 'id': entity.id }) }}" title="Editar Cursos">
                                            <span class="fa fa-folder-open-o"></span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
            {% if is_granted('ROLE_ADMIN') %}
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-success" href="{{ path('curricula_new') }}" title="Nueva Curricula">
                            <span class="glyphicon glyphicon-plus-sign"></span> Nueva Curricula
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
