{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-skills').collectionform({'addlink':'#add-skill','column':'col-sm-6'});
        $('#cursos-internos').collectionform({'addlink':'#curso-interno','column':'col-sm-6'});
        $('#cursos-externos').collectionform({'addlink':'#curso-externo','column':'col-sm-6'});
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .row-blue > div {
            background-color: #CEECF5;
            border-color: #0B3861;
            border-style: dotted;
            border-width: 1px;
        }

    </style>
{% endblock %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <div class="alert alert-success"><span class="fa fa-folder-open-o"></span>
                    <bold>&nbsp;Captura de cursos del empleado. </bold> Si deseas modificar datos personales debes ir a <a href="{{ path('curricula') }}" title="Curriculas"><span class="glyphicon glyphicon-edit"></span> Editar curricula.</a>
                </div>
            </ul>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-info">
                <span class="label label-info">No. de Control:</span> {{ entity.numeroControl }} <br/>
                <span class="label label-info">Nombre:</span> {{ entity.nombre }} {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }}
            </div>
        </div>
        <div class="col-sm-6">

        </div>
    </div>
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    <div class="row">
       <div class="col-sm-12">
        <div class="form-group">
            <fieldset>
                <legend>Capacitación específica (Procedimientos)</legend>
                <div class="row row-blue" id="cursos-internos" data-prototype="{{ form_widget(edit_form.cursosInternos.vars.prototype)|e }}">
                    {% for ci in edit_form.cursosInternos %}
                        <div class="col-sm-6">
                            {{ form_row(ci.cursoInterno) }}
                            {{ form_row(ci.fechaRealizacion) }}
                            {{ form_row(ci.fechaVigencia) }}
                            {{ form_row(ci.tipoAdquisicion) }}
                            {{ form_row(ci.file) }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row top-buffer">
                    <div class="col-sm-12">
                        <a href="#" id="curso-interno" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>
                    </div>
                </div>
            </div>
        </fieldset>
       </div>
    </div>
    <br/><hr/><br/>
    <div class="row">
       <div class="col-sm-12">
        <div class="form-group">
            <fieldset>
                <legend>Habilidades/Conocimientos Específicos</legend>
                <div class="container">
                    <div class="row row-blue" id="cursos-externos" data-prototype="{{ form_widget(edit_form.cursosExternos.vars.prototype)|e }}">
                        {% for ce in edit_form.cursosExternos %}
                            <div class="col-sm-6">
                                {{ form_row(ce.cursoExterno) }}
                                {{ form_row(ce.fechaRealizacion) }}
                                {{ form_row(ce.fechaVigencia) }}
                                {{ form_row(ce.tipoAdquisicion) }}
                                {{ form_row(ce.file) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row top-buffer">
                        <div class="col-sm-12">
                            <a href="#" id="curso-externo" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
       </div>
    </div>
        {{ form_errors(edit_form) }}
        {{ form_end(edit_form) }}
        <hr>
    <div class="row">
        <div class="col-sm-12">
        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('curricula') }}" title="Ver Curriculas">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>
            </li>

        </ul>
        </div>
    </div>
{% endblock %}