{% extends "@ControlDocumento/Default/index.html.twig" %}

{% block title %}CDoc:Documentos{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-thumbs-up"></span>
                <bold>&nbsp;VIGENTES.</bold>
            </div>
            <ul class="nav nav-tabs">
                {% if tipo==1  %}
                <li class="active"><a href="{{ path('cdoc_todos', {type: 1}) }}">Procedimientos</a></li>
                {% else %}
                <li><a href="{{ path('cdoc_todos', {type: 1}) }}">Procedimientos</a></li>
                {% endif %}

                {% if tipo==2 %}
                <li class="active"><a href="{{ path('cdoc_todos', {type: 2}) }}">Manuales</a></li>
                {% else %}
                <li><a href="{{ path('cdoc_todos', {type: 2}) }}">Manuales</a></li>
                {% endif %}

                <li><a href="{{ path('cdoc_perfiles') }}">Perfiles</a></li>

                {% if tipo==6 %}
                <li class="active"><a href="{{ path('cdoc_todos', {type: 6}) }}">Documentos</a></li>
                {% else %}
                <li><a href="{{ path('cdoc_todos', {type: 6}) }}">Documentos</a></li>
                {% endif %}

                {% if tipo==5 %}
                <li class="active"><a href="{{ path('cdoc_todos', {type: 5}) }}">Reglamentos</a></li>
                {% else %}
                <li><a href="{{ path('cdoc_todos', {type: 5}) }}">Reglamentos</a></li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN')  %}
                <li><a href="{{ path('cdoc_m_pdf') }}" title="Lista maestra PDF">Lista Maestra</a></li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC')  %}
                    <li><a href="{{ path('cdoc_excelxx') }}">Lista en Excel</a></li>
                {% endif %}
            </ul>
            <br/>
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="maestra">
                <thead>
                <tr>
                    <th>Grupo</th>
                    <th>Clave</th>
                    <th>Rev.</th>
                    <th>Título</th>
                    <th>Aprobado</th>
                    <th>Liberado</th>
                    <th>Distribuido</th>
                    <th>Estado</th>
                    <th>Pdf</th>
                </tr>
                </thead>
                <tbody>
                {% for key, procedimiento in procedimientos %}
                    {% for doc in procedimiento %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ doc.clave }}</td>
                            <td>{% if (doc.clave=="IRGC" or doc.clave=="LPC") %} -
                                {% else %}
                                    {{ doc.revision }}
                                {% endif %}
                            </td>
                            <td>{{ doc.titulo }}</td>
                            <td>{{ doc.aprobado|date('Y-m-d') }}</td>
                            <td>{% if (doc.clave=="P-3697" or doc.clave=="RIFA" or doc.clave=="UPC-16"
                                   or doc.clave=="LPC" or doc.clave=="IRGC" or doc.clave=="LMDC"
                                   or doc.clave=="MDDC" or doc.clave=="UMC-01" or doc.clave=="UMSSPA"
                                   or doc.clave=="UMI-01" or doc.clave=="UIN-19" or doc.clave=="UIN-70"
                                   or doc.clave=="UIN-71" or doc.clave=="UIN-72" or doc.clave=="UIN-73"
                                   or doc.clave=="UIN-74" or doc.clave=="UIN-75" or doc.clave=="UIN-76"
                                   or doc.clave=="UIN-77" or doc.clave=="UGC-15" or doc.clave=="UGC-20"
                                   or doc.clave=="UGP-02" or doc.clave=="UGP-03" or doc.clave=="UGP-04"
                                   or doc.clave=="UGP-05" or doc.clave=="UGP-06" or doc.clave=="UGP-07"
                                   or doc.clave=="UGP-08" or doc.clave=="UGP-09" or doc.clave=="UAD-05"
                                   or doc.clave=="UAD-06" or doc.clave=="UAD-11" or doc.clave=="USST-01"
                                   or doc.clave=="USST-02" or doc.clave=="USST-03" or doc.clave=="USST-05"
                                   or doc.clave=="USST-06" or doc.clave=="USST-07" or doc.clave=="USST-08"
                                   or doc.clave=="USST-09" or doc.clave=="USST-10" or doc.clave=="USST-11"
                                   or doc.clave=="USST-15" or doc.clave=="USST-16" or doc.clave=="UPA-01"
                                   or doc.clave=="REG-AD-01") %}
                                N/A
                                {% else %}
                                   {{ doc.liberado|date('Y-m-d') }}
                                {% endif %}
                            </td>
                            <td>{% if (doc.clave=="RIFA" or doc.clave=="UMI-01" ) %}
                                    N/A
                                {% else %}
                                    {{ doc.transmitido|date('Y-m-d') }}
                                {% endif %}
                                </td>
                            <td>{% if (doc.vigencia|date('Y')> "now"|date('Y') and (doc.condicion.descripcion=="Vigente" or doc.condicion=="Expirado"))
                                or (doc.vigencia|date('Y')== "now"|date('Y') and doc.vigencia|date('m')> "now"|date('m') and  (doc.condicion.descripcion=="Vigente" or doc.condicion.descripcion=="Expirado"))
                                or (doc.vigencia|date('Y')== "now"|date('Y') and doc.vigencia|date('m')== "now"|date('m') and doc.vigencia|date('d')> "now"|date('d') and  (doc.condicion.descripcion=="Vigente" or doc.condicion.descripcion=="Expirado"))
                                %}
                                    {{ doc.condicion.descripcion }}
                                {% else %}
                                        <span class="label label-danger"> Expirado</span>
                                {% endif %}
                            </td>
                            <td><a href="{{ path('servir',{'id': doc.id}) }}" title="Ver"><i class="fa fa-file-pdf-o"></i></a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
