{% extends "@ControlDocumento/Default/index.html.twig" %}

{% block title %}CDoc:Procedimiento{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-danger"><span class="glyphicon glyphicon-thumbs-down"></span>
            <bold>&nbsp;CANCELADOS.</bold>
        </div>
        <ul class="nav nav-tabs">
            {% if tipo==1  %}
                <li class="active"><a href="{{ path('cdoc_todos_c', {type: 1}) }}">Procedimientos</a></li>
            {% else %}
                <li><a href="{{ path('cdoc_todos_c', {type: 1}) }}">Procedimientos</a></li>
            {% endif %}

            {% if tipo==2 %}
                <li class="active"><a href="{{ path('cdoc_todos_c', {type: 2}) }}">Manuales</a></li>
            {% else %}
                <li><a href="{{ path('cdoc_todos_c', {type: 2}) }}">Manuales</a></li>
            {% endif %}

            <li><a href="{{ path('cdoc_perfiles_c') }}">Perfiles</a></li>

            {% if tipo==6 %}
                <li class="active"><a href="{{ path('cdoc_todos_c', {type: 6}) }}">Documentos</a></li>
            {% else %}
                <li><a href="{{ path('cdoc_todos_c', {type: 6}) }}">Documentos</a></li>
            {% endif %}

            {% if tipo==5 %}
                <li class="active"><a href="{{ path('cdoc_todos_c', {type: 5}) }}">Reglamentos</a></li>
            {% else %}
                <li><a href="{{ path('cdoc_todos_c', {type: 5}) }}">Reglamentos</a></li>
            {% endif %}

            {% if tipo==7 %}
                <li  class="active"><a href="{{ path('cdoc_todos_c', {type: 7}) }}">RAP</a></li>
            {% else %}
                <li><a href="{{ path('cdoc_todos_c', {type: 7}) }}">RAP</a></li>
            {% endif %}

            {% if tipo==8 %}
                <li  class="active"><a href="{{ path('cdoc_todos_c', {type: 8}) }}">RAC</a></li>
            {% else %}
                <li><a href="{{ path('cdoc_todos_c', {type: 8}) }}">RAC</a></li>
            {% endif %}

            {% if tipo==9 %}
                <li  class="active"><a href="{{ path('cdoc_todos_c', {type: 9}) }}">Auditorías</a></li>
            {% else %}
                <li><a href="{{ path('cdoc_todos_c', {type: 9}) }}">Auditorías</a></li>
            {% endif %}

            {% if tipo==10 %}
                <li  class="active"><a href="{{ path('cdoc_todos_c', {type: 10}) }}">Vigilancias</a></li>
            {% else %}
                <li><a href="{{ path('cdoc_todos_c', {type: 10}) }}">Vigilancias</a></li>
            {% endif %}
        </ul>
        <br/><br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="maestra">
                <thead>
                <tr>
                    <th>Grupo</th>
                    <th>Clave</th>
                    <th>Rev.</th>
                    <th>Título</th>
                    <th>Aprobado</th>
                    <th>Liberado</th>
                    <th>Distribuido</th>
                    <th>Estado</th>
                    <th>Pdf</th>
                </tr>
                </thead>
                <tbody>
                {% for key, procedimiento in procedimientos %}
                    {% for doc in procedimiento %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ doc.clave }}</td>
                            <td>{{ doc.revision }}</td>
                            <td>{{ doc.titulo }}</td>
                            <td>{{ doc.aprobado|date('Y-m-d') }}</td>
                            <td>{{ doc.liberado|date('Y-m-d') }}</td>
                            <td>{{ doc.transmitido|date('Y-m-d') }}</td>
                            <td>{{ doc.condicion.descripcion }}</td>
                            <td><a href="{{ path('servir',{'id': doc.id}) }}" title="Ver"><i class="fa fa-file-pdf-o"></i></a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
    </div>
</div>
{% endblock %}