{% extends "@ControlDocumento/Default/index.html.twig" %}

{% block title %}CDoc:Perfiles{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info"><span class="glyphicon glyphicon-thumbs-up"></span>
            <bold>&nbsp;VIGENTES.</bold>
        </div>
        <ul class="nav nav-tabs">
            <li><a href="{{ path('cdoc_todos', {type: 1}) }}" title="Ver procedimientos">Procedimientos</a></li>
            <li><a href="{{ path('cdoc_todos', {type: 2}) }}" title="Ver manuales">Manuales</a></li>
            <li  class="active"><a href="{{ path('cdoc_perfiles') }}" title="Ver perfiles">Perfiles</a></li>
            <li><a href="{{ path('cdoc_todos', {type: 6}) }}" title="Ver documentos">Documentos</a></li>
            <li><a href="{{ path('cdoc_todos', {type: 5}) }}" title="Ver reglamentos">Reglamentos</a></li>
            {% if is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_JEFE_ADMON')  %}
            <li><a href="{{ path('cdoc_todos', {type: 7}) }}" title="Ver documentos">RAP</a></li>
            <li><a href="{{ path('cdoc_todos', {type: 8}) }}" title="Ver documentos">RAC</a></li>
            <li><a href="{{ path('cdoc_todos', {type: 9}) }}" title="Ver documentos">Auditorías</a></li>
            <li><a href="{{ path('cdoc_todos', {type: 10}) }}" title="Ver documentos">Vigilancias</a></li>
            {% endif %}
              {% if is_granted('ROLE_SUPER_ADMIN')  %}
                <li><a href="{{ path('cdoc_m_pdf') }}" title="Lista maestra PDF">Lista Maestra</a></li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC')  %}
                <li><a href="{{ path('cdoc_excelxx') }}">Lista en Excel</a></li>
            {% endif %}
        </ul>
        <br/>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="maestra">
                <thead>
                <tr>
                    <th>Grupo</th>
                    <th>Clave</th>
                    <th>Rev.</th>
                    <th>Título (Disciplina)</th>
                    <th>Aprobado</th>
                    <th>Liberado</th>
                    <th>Distribuido</th>
                    <th>Estado</th>
                    {% if is_granted('ROLE_USER')  %}
                    {% else %}
                        <th>Pdf</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for key, procedimiento in procedimientos %}
                    {% for doc in procedimiento %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ doc.clave }}</td>
                            <td>{{ doc.revision }}</td>
                            <td>{{ doc.titulo }} (
                                {% for disciplina in doc.disciplinas %}
                                    {{ disciplina.tituloCorto }}
                                {% endfor %})
                            </td>
                            <td>{{ doc.aprobado|date('Y-m-d') }}</td>
                            <td>N/A</td>
                            <td>{{ doc.transmitido|date('Y-m-d') }}</td>
                            <td>{{ doc.estado.descripcion }}</td>
                            {% if is_granted('ROLE_USER')  %}
                                <td><a href="{{ path('display_pdf',{'id': doc.id}) }}" title="Ver"><i class="fa fa-file-pdf-o"></i></a></td>
                            {% else %}
                                <td><a href="{{ path('display_pdf',{'id': doc.id}) }}" title="Ver"><i class="fa fa-file-pdf-o"></i></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
        </table>
    </div>
</div>
{% endblock %}