{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('curricula') }}" title="Ver Curriculas">Curriculas</a></li>
                <li class="active"><a href="#" title="Detalle de Curricula">Muestra Curricula</a></li>
            </ul>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Cursos internos y externos del personal
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4> </h4>
        </div>
        <br/>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <legend>Datos Generales</legend>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>No. Control</strong><br/>
            <strong>Nombre</strong><br/>

        </div>
        <div class="col-xs-10">
            {{ entity.numeroControl }}<br/>
            {{ entity.nombre }} {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }} <br/>
        </div>

    </div><br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <legend>Competencias Internas</legend>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% for  ci in entity.cursosInternos %}
                <span class="glyphicon glyphicon-ok btn-sm"></span> {{ ci.cursoInterno }} (por {{ ci.tipoAdquisicion }}), realización: {{ ci.fechaRealizacion|date('d-m-Y') }}, vigencia: {{ ci.fechaVigencia|date('d-m-Y') }}.
                {% if ci.pdfCertificado==NULL %}
                    <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay PDF cargado.</span>
                {% else %}
                    <a href="{{ path('servir_cinterno', { 'id': ci.id }) }}" title="Ver">
                        <span class="label label-default"><span class="glyphicon glyphicon-saved"></span>PDF Cargado.</span>
                    </a>
                {% endif %}
                <br/>
            {% endfor %}
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <legend>Competencias Externas</legend>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% for  ce in entity.cursosExternos %}
                <span class="glyphicon glyphicon-ok btn-sm"></span> {{ ce.cursoExterno }}  (por {{ ce.tipoAdquisicion }}), realización: {{ ce.fechaRealizacion|date('d-m-Y') }}, vigencia: {{ ce.fechaVigencia|date('d-m-Y') }}.
                {% if ce.pdfCertificado==NULL %}
                    <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay PDF cargado.</span>
                {% else %}
                    <a href="{{ path('servir_cexterno', { 'id': ce.id }) }}" title="Ver">
                        <span class="label label-default"><span class="glyphicon glyphicon-saved"></span>PDF Cargado.</span>
                    </a>
                {% endif %}
                <br/>
            {% endfor %}
        </div>
    </div>
    <br/>
    <ul class="list-inline">
        <li>
            <a class="btn btn-primary" href="{{ path('curricula') }}" title="Ver Curriculas">
                <span class="glyphicon glyphicon-chevron-left"></span> Regresar
            </a>
        </li>
        <li>
            <a class="btn btn-success" href="{{ path('cdoc_editcursos', { 'id': entity.id }) }}" title="Editar Curricula">
                <span class="glyphicon glyphicon-edit"></span> Editar
            </a>
        </li>
    </ul>
    </div>
    </div>
{% endblock %}