{% block body %}
<title>{% block title %}Lista Maestra Ultra Ingeniería{% endblock %}</title>
{% block stylesheets %}
 <link href="{{ asset('styles/bootstrap.css') }}" rel="stylesheet" />
    <style type="text/css">
        h1{
            text-align:left;
            width:100%;
            font-size:9px;
        }
        h2{
            text-align:left;
            width:100%;
            font-size:9px;
        }
        hr{
            margin-top:14px;
            width:700px;
            margin:0 40px;
        }

        .font{
            font-size:9px;
        }
        thead{
            color:white;
            background-color:#9BA3AB;
            font-weight:normal;
            padding-top: 0px;
            font-size:9px;
        }
        #table{
            float: left;
            height: 200px;
            margin: 24px 38px 0;
            width: 705px;
            overflow:auto;
        }
        tbody{
            font-weight:normal;
            padding-top: 0px;
            font-size:9px;
        }
        th{
            color:white;
            background-color:#9BA3AB;
            font-weight:normal;
            padding-top: 0px;
            font-size:9px;
        }
        td{

            font-weight:normal;
            padding-top: 0px;
            font-size:8px;
        }

    </style>
 {% endblock %}
    {# {{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/factura/css/all.css') }}" #}
    {% set mes="now"|date("m-Y") %}
    <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_5.png') }}"/>
    <h2>Anexo 2. Lista Maestra de Documentos Controlados &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; UTC-01 REV 18</h2>
    <h1>Consultado el {{ "now"|date("d/m/Y") }}</h1>
                <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="6" class="text-center">PERFILES</th>
                    </tr>
                <tr>
                    <th>Clave</th>
                    <th>Rev.</th>
                    <th>Título</th>
                    <th>Disciplina</th>
                    <th>Aprobado  </th>
                    <th>Estado    </th>
                </tr>
                </thead>
                <tbody>
                {% for key, procedimiento in perfiles %}
                    <tr>
                        <th colspan="6" class="text-center">{{ key }}</th>
                    </tr>
                    {% for doc in procedimiento %}
                        <tr>
                        {% set mesdoc=doc.aprobado|date('m-Y') %}
                        {% if mesdoc!=mes %}
                            <td>{{ doc.clave }}</td>
                        {% else %}
                            <td>* {{ doc.clave }}</td>
                        {% endif %}
                            <td>{{ doc.revision }}</td>
                            <td>{{ doc.titulo }}</td>
                            <td>
                                {% for disciplina in doc.disciplinas %}
                                    {{ disciplina.tituloCorto }}
                                {% endfor %}
                            </td>
                            <td> &nbsp;{{ doc.aprobado|date('d-m-Y') }} &nbsp;</td>
                            <td> &nbsp;{{ doc.estado.descripcion }} </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                <tr><th colspan="6" class="text-center"> </th></tr>
                <tr>
                <th colspan="6" class="text-center">MANUALES</th>
                </tr>       
                {% for key, manual in manuales %}
                    <tr>
                        <th colspan="6" class="text-center">{{ key }}</th>
                    </tr>
                    {% for docu in manual %}
                        <tr>
                            {% set mesdoc=docu.aprobado|date('m-Y') %}
                            {% if mesdoc!=mes %}
                            <td>{{ docu.clave }}</td>
                            {% else %}
                            <td>* {{ docu.clave }}</td>
                            {% endif %}
                            <td>{{ docu.revision }}</td>
                            <td>{{ docu.titulo }}</td>
                            <td>{{ docu.disciplina.tituloCorto }} </td>
                            <td> &nbsp;{{ docu.aprobado|date('d-m-Y') }} &nbsp;</td>
                            <td> &nbsp;{{ docu.condicion.descripcion }} </td>
                        </tr>
                    {% endfor %}
                {% endfor %}  
                <tr><th colspan="6" class="text-center"> </th></tr>
                <tr>
                <th colspan="6" class="text-center">DOCUMENTOS</th>
                </tr>       
                {% for key, documento in documentos %}
                    <tr>
                        <th colspan="6" class="text-center">{{ key }}</th>
                    </tr>
                      {% for doco in documento %}
                        <tr>
                            {% set mesdoc=doco.aprobado|date('m-Y') %}
                            {% if mesdoc!=mes %}
                                <td>{{ doco.clave }}</td>
                            {% else %}
                                <td>* {{ doco.clave }}</td>
                            {% endif %}
                            <td>{{ doco.revision }}</td>
                            <td>{{ doco.titulo }}</td>
                            <td>{{ doco.disciplina.tituloCorto }} </td>
                            <td> &nbsp;{{ doco.aprobado|date('d-m-Y') }} &nbsp;</td>
                            <td> &nbsp;{{ doco.condicion.descripcion }} </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                <tr><th colspan="6" class="text-center"> </th></tr>
                <tr>
                <th colspan="6" class="text-center">PROCEDIMIENTOS</th>
                </tr>       
                {% for key, procedimiento in procedimientos %}
                    <tr>
                        <th colspan="6" class="text-center">{{ key }}</th>
                    </tr>
                    {% for docs in procedimiento %}
                    <tr>
                        {% set mesdoc=docs.aprobado|date('m-Y') %}
                        {% if mesdoc!=mes %}
                            <td>{{ docs.clave }}</td>
                        {% else %}
                            <td>* {{ docs.clave }}</td>
                        {% endif %}
                            <td>{{ docs.revision }}</td>
                            <td>{{ docs.titulo }}</td>
                            <td>{{ docs.disciplina.tituloCorto }} </td>
                            <td> &nbsp;{{ docs.aprobado|date('d-m-Y') }} &nbsp;</td>
                            <td> &nbsp;{{ docs.condicion.descripcion }} </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                <tr><th colspan="6" class="text-center"> </th></tr>
                <tr>
                <th colspan="6" class="text-center">REGLAMENTOS</th>
                </tr>       
                {% for key, reglamento in reglamentos %}
                    <tr>
                        <th colspan="6" class="text-center">{{ key }}</th>
                    </tr>
                    {% for dcs in reglamento %}
                    <tr>
                        {% set mesdoc=dcs.aprobado|date('m-Y') %}
                        {% if mesdoc!=mes %}
                            <td>{{ dcs.clave }}</td>
                        {% else %}
                            <td>* {{ dcs.clave }}</td>
                        {% endif %}
                            <td>{{ dcs.revision }}</td>
                            <td>{{ dcs.titulo }}</td>
                            <td>{{ dcs.disciplina.tituloCorto }} </td>
                            <td> &nbsp;{{ dcs.aprobado|date('d-m-Y') }} &nbsp;</td>
                            <td> &nbsp;{{ dcs.condicion.descripcion }} </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
{% endblock %}
{% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <!-- <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->
            <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/knockout-3.0.0.js') }}"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/offcanvas.js') }}"></script>
            <script src="{{ asset('js/bootstrap-select.js') }}"></script>
            <script>
                $('.selectpicker').selectpicker();

                $(document).ready(function(){
                    var $rows = $('#mytable tbody tr');
                    $('#search').keyup(function() {
                        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

                        $rows.show().filter(function() {
                            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                            return !~text.indexOf(val);
                        }).hide();
                    });
                });

                $('#reset').click(function() {
                    $('#mytable tbody tr').show();
                });

            </script>
{% endblock %}

