{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('calidad_auditoria', { 'e':1 }) }}" title="Ver auditoria/vigilancia">Auditoría/Vigilancia</a></li>
                <li class="active"><a href="#"  title="Editar auditoria/vigilancia">Edición</a></li>
            </ul>
        </div>
    </div>
    <br/>


    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(edit_form.clave) }}
            <div class="text-danger">{{ form_errors(edit_form.clave) }} </div>
            {{ form_widget(edit_form.clave) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.tipo) }}
            <div class="text-danger">{{ form_errors(edit_form.tipo) }} </div>
            {{ form_widget(edit_form.tipo) }}
        </div>
        {% if is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-1">
            {{ form_label(edit_form.conteo) }}
            <div class="text-danger">{{ form_errors(edit_form.conteo) }} </div>
            {{ form_widget(edit_form.conteo) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.localizacion) }}
            <div class="text-danger">{{ form_errors(edit_form.localizacion) }} </div>
            {{ form_widget(edit_form.localizacion) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.codigo) }}
            <div class="text-danger">{{ form_errors(edit_form.codigo) }} </div>
            {{ form_widget(edit_form.codigo) }}
        </div>
        {% endif %}
        <div class="col-xs-3">
            {{ form_label(edit_form.area) }}
            <div class="text-danger">{{ form_errors(edit_form.area) }} </div>
            {{ form_widget(edit_form.area) }}
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(edit_form.fechaApertura) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaApertura) }} </div>
            {{ form_widget(edit_form.fechaApertura) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.fechaCierre) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaCierre) }} </div>
            {{ form_widget(edit_form.fechaCierre) }}
        </div>
        {% if is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-xs-2">
            {{ form_label(edit_form.fechaTransmision) }}
            <div class="text-danger">{{ form_errors(edit_form.fechaTransmision) }} </div>
            {{ form_widget(edit_form.fechaTransmision) }}
        </div>
        {% endif %}
        <div class="col-xs-6">
            {{ form_label(edit_form.type) }}
            <div class="text-danger">{{ form_errors(edit_form.type) }} </div>
            {{ form_widget(edit_form.type) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(edit_form.descripcion) }}
            <div class="text-danger">{{ form_errors(edit_form.descripcion) }} </div>
            {{ form_widget(edit_form.descripcion) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(edit_form.originators) }}
            <div class="text-danger">{{ form_errors(edit_form.originators) }} </div>
            {{ form_widget(edit_form.originators) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(edit_form.externalOriginators) }}
            <div class="text-danger">{{ form_errors(edit_form.externalOriginators) }} </div>
            {{ form_widget(edit_form.externalOriginators) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-10">
            {{ form_label(edit_form.file) }}
            <div class="text-danger">{{ form_errors(edit_form.file) }} </div>
            {{ form_widget(edit_form.file) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.estado) }}
            <div class="text-danger">{{ form_errors(edit_form.estado) }} </div>
            {{ form_widget(edit_form.estado) }}
        </div>

    </div>
    <br/><hr/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
