{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
                <li  class="active"><a href="{{ path('calidad_auditoria', { 'e': estado }) }}" title="Ver auditorías/vigilancias">Auditoría/Vigilancia</a></li>
                {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_CAPT') or is_granted('ROLE_JEFE_CALIDAD')) %}
                    {% if estado==1 %}
                    <li><a href="{{ path('calidad_auditoria_new') }}"  title="Nueva auditoría/vigilancia">Nueva Auditoría/Vigilancia</a></li>
                    {% endif %}
                {% endif %}
        </ul>
    </div>
</div>
    <br/>
<div class="row">
    <div class="col-sm-12">

            {% if estado==1  %}
                <div class="alert alert-success">
                    <span class="glyphicon glyphicon-comment"></span><strong>&nbsp;Auditorias Abiertas.</strong>
                </div>
            {% endif %}
            {% if estado==4  %}
                <div class="alert alert-warning">
                    <span class="glyphicon glyphicon-comment"></span><strong>&nbsp;Auditorias Cerradas.</strong>
                </div>
            {% endif %}
            {% if estado==3  %}
                <div class="alert alert-warning">
                    <span class="glyphicon glyphicon-comment"></span><strong>&nbsp;Auditorias Canceladas.</strong>
                </div>
            {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Pendiente</th>
                <th>Área(s)</th>
                <th>Descripción</th>
                {% if ((is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_CAPT')) and estado==1) %}
                <th>Transmisión</th>
                {% endif %}
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.clave }}</td>
                {% if entity.hasPending == true %}
                    <td><span class="label label-warning">Si</span></td>
                {% else %}
                    <td>No</td>
                {% endif %}
                <td>{% for a in entity.area  %}{{ a }} {% endfor %}</td>
                <td>{{ entity.descripcion }}</td>
                {% if ((is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_CAPT')) and estado==1) %}
                <td>{% if entity.fechaTransmision %}{{ entity.fechaTransmision|date('Y-m-d') }}{% endif %}</td>
                {% endif %}
                <td>
                <ul>
                        {% if estado==1 %}
                        <a href="{{ path('calidad_auditoria_show', { 'id': entity.id } ) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_JEFE_CALIDAD') or is_granted('ROLE_CAPT')) %}
                        |
                        <a href="{{ path('calidad_auditoria_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                            {% if entity.pdf==NULL %}
                                | <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay PDF cargado.</span>
                            {% else %}
                                |
                                <a href="{{ path('servir_auditoria', { 'id': entity.id } ) }}"><i class="fa fa-file-pdf-o"></i></a>
                            {% endif %}
                        {% endif %}
                        {% else %}
                        <a href="{{ path('calidad_auditoria_show', { 'id': entity.id } ) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                            {% if entity.pdf==NULL %}
                                | <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay PDF cargado.</span>
                            {% else %}
                                |
                            <a href="{{ path('servir_auditoria', { 'id': entity.id } ) }}"><i class="fa fa-file-pdf-o"></i></a>
                            {% endif %}
                        {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>

    {% endblock %}
