{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('calidad_auditoria', { 'e':1 }) }}" title="Ver auditorías/vigilancias">Auditoría/Vigilancia</a></li>
                <li class="active"><a href="{{ path('calidad_auditoria_new') }}"  title="Nueva auditoría/vigilancia">Nueva Auditoría/Vigilancia</a></li>
            </ul>
        </div>
    </div>
<br/>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-xs-2">
                    {{ form_label(form.clave) }}
                    <div class="text-danger">{{ form_errors(form.clave) }} </div>
                    {{ form_widget(form.clave) }}
                </div>
                <div class="col-xs-2">
                    {{ form_label(form.tipo) }}
                    <div class="text-danger">{{ form_errors(form.tipo) }} </div>
                    {{ form_widget(form.tipo) }}
                </div>
                {% if is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CAPT') %}
                <div class="col-xs-1">
                    {{ form_label(form.conteo) }}
                    <div class="text-danger">{{ form_errors(form.conteo) }} </div>
                    {{ form_widget(form.conteo) }}
                </div>
                <div class="col-xs-2">
                    {{ form_label(form.localizacion) }}
                    <div class="text-danger">{{ form_errors(form.localizacion) }} </div>
                    {{ form_widget(form.localizacion) }}
                </div>
                <div class="col-xs-2">
                    {{ form_label(form.codigo) }}
                    <div class="text-danger">{{ form_errors(form.codigo) }} </div>
                    {{ form_widget(form.codigo) }}
                </div>
                {% endif %}
                <div class="col-xs-3">
                    {{ form_label(form.area) }}
                    <div class="text-danger">{{ form_errors(form.area) }} </div>
                    {{ form_widget(form.area) }}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-2">
                    {{ form_label(form.fechaApertura) }}
                    <div class="text-danger">{{ form_errors(form.fechaApertura) }} </div>
                    {{ form_widget(form.fechaApertura) }}
                </div>
                <div class="col-xs-2">
                    {{ form_label(form.fechaCierre) }}
                    <div class="text-danger">{{ form_errors(form.fechaCierre) }} </div>
                    {{ form_widget(form.fechaCierre) }}
                </div>
                {% if is_granted('ROLE_CONTROL_DOC') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CAPT') %}
                <div class="col-xs-2">
                    {{ form_label(form.fechaTransmision) }}
                    <div class="text-danger">{{ form_errors(form.fechaTransmision) }} </div>
                    {{ form_widget(form.fechaTransmision) }}
                </div>
                {% endif %}
                <div class="col-xs-6">
                    {{ form_label(form.type) }}
                    <div class="text-danger">{{ form_errors(form.type) }} </div>
                    {{ form_widget(form.type) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ form_label(form.descripcion) }}
                    <div class="text-danger">{{ form_errors(form.descripcion) }} </div>
                    {{ form_widget(form.descripcion) }}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12">
                    {{ form_label(form.originators) }}
                    <div class="text-danger">{{ form_errors(form.originators) }} </div>
                    {{ form_widget(form.originators) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ form_label(form.externalOriginators) }}
                    <div class="text-danger">{{ form_errors(form.externalOriginators) }} </div>
                    {{ form_widget(form.externalOriginators) }}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-10">
                    {{ form_label(form.file) }}
                    <div class="text-danger">{{ form_errors(form.file) }} </div>
                    {{ form_widget(form.file) }}
                </div>
                <div class="col-xs-2">
                    {{ form_label(form.estado) }}
                    <div class="text-danger">{{ form_errors(form.estado) }} </div>
                    {{ form_widget(form.estado) }}
                </div>

            </div>
    <br/><hr/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit) }}
        </div>
    </div>
    <hr/>
    {{ form_end(form) }}
{% endblock %}
