{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
                {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  class="active"><a href="{{ path('helpdesk_issue') }}" title="Ver incidencias">Incidencias</a></li>
            <li><a href="{{ path('helpdesk_issue_new') }}"  title="Nueva incidencia">Nueva</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
            <tr>
                <th>Prioridad</th>
                <th>Estado</th>
                <th>Descripcion</th>
                <th>Fecha de incidencia</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.priority }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.issueDate %}{{ entity.issueDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('helpdesk_issue_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('helpdesk_issue_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    {% endblock %}
