{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('helpdesk_issue') }}" title="Ver incidencias">Incidencias</a></li>
            <li class="active"><a href="#"  title="Ver incidencia">Detalle</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ entity.priority }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Issuedate</th>
                <td>{{ entity.issueDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

</div>
</div>
{% endblock %}
