<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li><img class="img-thumbnail" src="{{ asset('img/logo_5.png') }}" alt="Ultra Ingeniría"/></li>
        </ul>
        <ul class="nav navbar-nav navbar-text">

            <li>Sistemas Computacionales</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{ app.user.username }}"><span class="glyphicon glyphicon-user"></span></a>
            </li>
            <li><span class="navbar-text">{{ app.user.username }}</span></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Asignación de equipo"><i class="glyphicon glyphicon-hdd"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('AE') }}" title="Asignación">Asignación de equipos</a></li>
                    <li><a href="{{ path('AE_equipos') }}" title="Equipos">Equipos</a></li>
                    <li><a href="{{ path('AE_tipos') }}" title="Equipos">Tipos de equipos</a></li>
                    <li><a href="{{ path('AE_marcas') }}" title="Marcas">Marcas</a></li>
                </ul>
            </li>
            <li><a href="{{ path('cdoc_todos',{type: 1}) }}" title="Lista Maestra"><i class="glyphicon glyphicon-file lg"></i></a></li>

            <li><a href="{{ path('sistemas_index') }}" title="Inicio"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="{{ path('logout_area') }}" title="Salir"><i class="fa fa-power-off fa-lg"></i></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>