{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  ><a href="{{ path('rh_agenda') }}" title="Programa Anual ">Programa anual</a></li>
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_RH')) %}

                <li class="active"><a href="#"  title="Nueva programación">Nueva programación</a></li>

            {% endif %}
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-11">
    {{ form(edit_form) }}
<br/>
        <a class="btn btn-primary btn-group" href="{{ path('rh_agenda') }}" title="Ver programas">
            <span class="glyphicon glyphicon-chevron-left"></span> Programas
        </a>
    </div>
</div>

{% endblock %}
