{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  ><a href="{{ path('rh_agenda') }}" title="Programa Anual ">Programa anual</a></li>
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_RH')) %}

                <li class="active"><a href="#"  title="Detalle de programación">Detalle de programación</a></li>

            {% endif %}
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-11">

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Evaluationcriteria</th>
                <td>{{ entity.evaluationCriteria }}</td>
            </tr>
            <tr>
                <th>Instructor</th>
                <td>{{ entity.instructor }}</td>
            </tr>
            <tr>
                <th>Begin</th>
                <td>{{ entity.begin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ entity.end|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ entity.comments }}</td>
            </tr>
        </tbody>
    </table>

        <br/>
        <br/>

        <a class="btn btn-primary btn-group" href="{{ path('rh_agenda') }}" title="Ver programas">
            <span class="glyphicon glyphicon-chevron-left"></span> Programas
        </a>

    </div>
</div>
{% endblock %}
