{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('users') }}" title="Ver Usuarios">Usuarios</a></li>
                <li class="active"><a href="#" title="Editar Usuario">Editar Usuario</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Editar datos del usuario.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.username) }}
            <div class="text-danger">{{ form_errors(edit_form.username) }} </div>
            {{ form_widget(edit_form.username) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(edit_form.password) }}
            <div class="text-danger">{{ form_errors(edit_form.password) }}</div>
            {{ form_widget(edit_form.password) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            {{ form_label(edit_form.roles) }}
            <div class="text-danger">{{ form_errors(edit_form.roles) }}</div>
            {{ form_widget(edit_form.roles) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(edit_form.curricula) }}
            <div class="text-danger">{{ form_errors(edit_form.curricula) }}</div>
            {{ form_widget(edit_form.curricula) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ form_label(edit_form.isEnabled) }}
            <div class="text-danger">{{ form_errors(edit_form.isEnabled) }}</div>
            {{ form_widget(edit_form.isEnabled) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(edit_form.submit, { 'label': 'Guardar' }) }}
            {{ form_end(edit_form) }}
        </div>
    </div>
    <hr/>
    <div class="row">
    <div class="col-xs-12">
        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('users') }}" title="Ver Usuarios">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
    </div>
{% endblock %}
