{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li  class="active"><a href="{{ path('users') }}" title="Ver Usuarios">Usuarios</a></li>
                                <li><a href="{{ path('users_new') }}" title="Nuevo Usuario">Nuevo Usuario</a></li>
                            </ul>
        </div>
        <div class="col-sm-12">
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('users_pdf') }}" title="Exportar completo a PDF">
                    <span class="glyphicon glyphicon-file"></span> Usuarios en PDF
                </a>
            </ul>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Usuario</th>
                                <th>Estado</th>
                                <th>Curricula</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                       {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.username }}</td>
                                <td>{% if (entity.isEnabled==1) %}
                                        Activo
                                    {% else %}
                                        Inactivo
                                    {% endif %}</td>
                                <td> {{ entity.curricula }}</td>
                                <td>
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ path('users_show', { 'id': entity.id }) }}" title="Ver Detalle">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('users_edit', { 'id': entity.id }) }}" title="Editar">
                                          <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </li>
                                </ul>
                                </td>
                      {#          <td>&nbsp;</td> #}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
        </div>
        </div>
         <div class="row">
                    <div class="col-sm-12">
                  <br/>

                        <!-- ul class="list-inline">
                        <li -->
                            <a class="btn btn-success" href="{{ path('users_new') }}" title="Nuevo Usuario">
                                <span class="glyphicon glyphicon-plus-sign"></span> Nuevo Usuario
                            </a>
                        <!-- /li>
                    </ul -->
                    </div>
         </div>

    {% endblock %}
