{#     {% extends '::base.html.twig' %}   #}
{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}
{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('users') }}" title="Ver Usuarios">Usuarios</a></li>
                <li class="active"><a href="{{ path('users_new') }}" title="Nuevo Usuario">Nuevo usuario</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí los datos del nuevo usuario.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            {{ form_start(form) }}
            {{ form_label(form.username) }}
            <div class="text-danger">{{ form_errors(form.username) }} </div>
            {{ form_widget(form.username) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(form.password) }}
            <div class="text-danger">{{ form_errors(form.password) }}</div>
            {{ form_widget(form.password) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            {{ form_label(form.roles) }}
            <div class="text-danger">{{ form_errors(form.roles) }}</div>
            {{ form_widget(form.roles) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(form.curricula) }}
            <div class="text-danger">{{ form_errors(form.curricula) }}</div>
            {{ form_widget(form.curricula) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            {{ form_label(form.isEnabled) }}
            <div class="text-danger">{{ form_errors(form.isEnabled) }}</div>
            {{ form_widget(form.isEnabled) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit, { 'label': 'Guardar' }) }}
            {{ form_end(form) }}
        </div>
    </div>


 {#
  <ul class="list-inline">
    <li>
        <a class="btn btn-primary" href="{{ path('users') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Listado
        </a>
    </li>
</ul>
     #}
  </div>

     </div>
{% endblock %}
