{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('users') }}" title="Ver Usuarios">Usuarios</a></li>
                <li class="active"><a href="{{ path('users_show', { 'id': entity.id }) }}" title="Muestra Usuario">Muestra Usuario</a></li>

            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle del usuario</h4>
        </div>
    </div><br/>

    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Id</strong><br/>
            <strong>Usuario</strong><br/>
            <strong>Habilitado</strong><br/>
            <strong>Curricula</strong> </br>
            <strong>Rol</strong>
        </div>
        <div class="col-xs-9">
            {{ entity.id }}<br/>
            {{ entity.username }}<br/>
            {% if (entity.isEnabled==1) %}
                Si
            {% else %}
                No
            {% endif %}<br/>
            {{ entity.curricula }}<br/>
            {% for rols in entity.roles %}
                <span class="glyphicon glyphicon-ok btn-sm"></span>{{ rols.role }}-{{ rols.name }}
            {% endfor %}<br/>


        </div>
    </div><br/><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary btn-group" href="{{ path('users') }}" title="Ver Usuarios">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
                {% if is_granted('ROLE_GERENCIA') %}

                {% else %}

                    <li>
                        <a class="btn btn-success btn-group" href="{{ path('users_edit', { 'id': entity.id }) }}" title="Editar Usuario">
                            <span class="glyphicon glyphicon-edit"></span>Editar
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}