{% block content -%}
    <title>{% block title %}Lista de usuarios{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('styles/bootstrap.css') }}" rel="stylesheet" />
        <style type="text/css">
            h1{
                text-align:center;
                width:100%;
                font-size:12px;
            }
            h2{
                text-align:left;
                width:100%;
                font-size:12px;
            }
            p{
                font-size:10px;
            }


            .font{
                font-size:10px;
            }

            table{
                float: left;
                height: 80px;
                width: 705px;
                overflow:auto;
                font-size: 9px;
                border-left: 1px #000000;
                border-right: 1px #000000;
            }
            td{

                font-weight:normal;
                padding-top: 0px;
                font-size:9px;
            }

        </style>
    {% endblock %}

    <table>
        <tr>
            <td>
                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_5.png') }}" width="100" height="40">
            </td>
            <td colspan="4">

            </td>
        </tr>
    </table>
    <br/><br/><br/>
    <table border="1">
        <tr>
            <td colspan="6"><b>Lista de usuarios en el sistema</b></td>
        </tr>
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Estado</th>
            <th>Curricula</th>
        </tr>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.username }}</td>
                <td>{% if (entity.isEnabled==1) %}
                        Activo
                    {% else %}
                        Inactivo
                    {% endif %}</td>
                <td> {{ entity.curricula }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
