{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li  class="active"><a href="{{ path('documento_general') }}" title="Todos los documentos">Documentos generales</a></li>
                    <li><a href="{{ path('documento_general_new') }}"  title="Nuevo documento">Nuevo documento general</a></li>
            </ul>
        </div>
    </div>
    <br/>
    <br/>

<div class="row">
    <div class="col-sm-12">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Año</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{{ entity.year }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('documento_general_show', { 'id': entity.id }) }}" title="Ver"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </li>
                    <li>
                        <a href="{{ path('documento_general_edit', { 'id': entity.id }) }}" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                    <li>
                        {% if entity.pdf==NULL %}
                            <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay pdf</span>
                        {% else %}
                            <a href="{{ path('servir_documento_general', { 'id': entity.id }) }}" title="Pdf"><i class="fa fa-file-pdf-o"></i></a>
                        {% endif %}
                    </li>

                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
    {% endblock %}
