{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('documento_general') }}" title="Todos los documentos">Documentos generales</a></li>
                <li  class="active"><a href="#" title="Nuevo documento">Nuevo documento general</a></li>
            </ul>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-12">

            {{ form(form) }}


        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('documento_general') }}" title="Todos los documentos">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}
