{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('documento_general') }}" title="Todos los documentos">Documentos generales</a></li>
            <li  class="active"><a href="#" title="Editar documento">Editar documento</a></li>
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-12">

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Título del documento</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Año</th>
                <td>{{ entity.year }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-primary" href="{{ path('documento_general') }}" title="Todos los documentos">
                            <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-success" href="{{ path('documento_general_edit', { 'id': entity.id }) }}" title="Editar">
                            <span class="glyphicon glyphicon-edit"></span> Editar
                        </a>
                    </li>
                </ul>
            </div>
        </div>

{% endblock %}
