<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li><img class="img-thumbnail" src="{{ asset('img/logo_5.png') }}" alt="Ultra Ingeniría" title="Ultra Ingeniería SA de CV"/></li>
        </ul>
        <ul class="nav navbar-nav navbar-text">
            <li>Captura-Garantía de Calidad</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{ app.user.username }}"><span class="glyphicon glyphicon-user"></span></a></li>
            <li><span class="navbar-text">{{ app.user.username }}</span></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-th fa-lg"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('perfil') }}" title="Perfiles">Perfiles</a></li>
                    <li><a href="{{ path('curricula') }}" title="Curriculas">Curriculas</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Reportes"><i class="glyphicon glyphicon-print"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('curricula_puestos', { 'c':3697 }) }}" title="Puestos">Puestos del 3697-CFE</a></li>
                    <li><a href="{{ path('curricula_puestosxperfil', { 'c':3697 }) }}" title="Personal por perfil">Personal por perfil 3697-CFE</a></li>
                    <li><a href="{{ path('curr_personalinac', { 'c':3697 }) }}" title="Personal Inactivo">Personal inactivo 3697-CFE</a></li>
                    <li><a href="{{ path('curr_personalact', { 'c':3697 }) }}" title="Personal Activo">Personal activo 3697-CFE</a></li>
                </ul>
            </li>
            <li><a href="{{ path('cdoc_todos',{type: 1}) }}" title="Lista Maestra"><i class="glyphicon glyphicon-file lg"></i></a></li>
            <li><a href="{{ path('ultra_controldocumento_default_index') }}" title="Inicio"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="{{ path('logout_area') }}"><i class="fa fa-power-off fa-lg" title="Salir"></i></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

</nav>