{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    <h1>Categorization edit</h1>

    {{ form(edit_form) }}

        <ul class="list-inline">
    <li>
        <a href="{{ path('categorization') }}" class="btn btn-default">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
