{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    <h1>Categorization creation</h1>

    {{ form(form) }}

        <ul class="list-inline">
    <li>
        <a href="{{ path('categorization') }}" class="btn btn-default">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
