{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    <h1>Categorization</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            {#<tr>
                <th>Evaluation</th>
                <td>{{ entity.evaluation }}</td>
            </tr>#}
        </tbody>
    </table>

        <ul class="list-inline">
    <li>
        <a href="{{ path('categorization') }}" class="btn btn-default">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('categorization_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
