<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li><img class="img-thumbnail" src="{{ asset('img/logo_5.png') }}" alt="Ultra Ingeniría SA de CV"/></li>
        </ul>
        <ul class="nav navbar-nav navbar-text">
            <li>Jefe de Proyectos</li>
        </ul>
       <ul class="nav navbar-nav navbar-left">
           <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Agendas"><i class="fa fa-phone-square"></i> </a>
               <ul class="dropdown-menu">
                   <li><a href="{{ path('curricula_agenda', { 'c':3697 }) }}" title="Agenda">Agenda 3697-CFE</a></li>
                   <li><a href="{{ path('curricula_agenda', { 'c':3699 }) }}" title="Agenda">Agenda 3699-PEMEX</a></li>
                   <li><a href="{{ path('curricula_agenda', { 'c':1 }) }}" title="Agenda">Agenda Administrativo</a></li>
               </ul>
           </li>

           <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Libros"><i class="glyphicon glyphicon-book"></i></a>
               <ul class="dropdown-menu">
                   <li><a href="{{ path('libros') }}" title="Libros">Libros</a></li>
               </ul>
           </li>

           <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Prestamo de documentos"><i class="fa fa-exchange"></i></a>
               <ul class="dropdown-menu">
                   <li><a href="{{ path('archivos_calidad') }}" title="Prestamo de procedimientos">Mis Procedimientos prestados</a></li>
                   <li><a href="{{ path('presta_perfil') }}" title="Prestamo de perfiles">Mis Perfiles prestados</a></li>
                   <li><a href="{{ path('sot_index') }}" title="Prestamo de Sot's">Mis Sot's prestadas</a></li>
                   <li class="divider"></li>
                   <li><a href="{{ path('archivos_calidad_new') }}" title="Solicitar">Solicitar Procedimiento</a></li>
                   <li><a href="{{ path('presta_perfil_new') }}" title="Solicitar">Solicitar Perfil</a></li>
                   <li><a href="{{ path('sot_new') }}" title="Solicitar">Solicitar SOT</a></li>
               </ul>
           </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                {% if (app.user.username=="imontagner") %}
                <img class="img-thumbnail" src="{{ asset('img/fotos/imontagner.jpg') }}" TITLE="{{ app.user.username }}" height="40" width="40"/>
                {% elseif (app.user.username=="hflores") %}
                    <img class="img-thumbnail" src="{{ asset('img/fotos/hflores.jpg') }}" TITLE="{{ app.user.username }}" height="40" width="40"/>
                {% endif %}
            </li>
            <li><span class="navbar-text">{{ app.user.username }}</span></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Selecciona"><i class="fa fa-th fa-lg"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('curricula') }}" title="Expedientes Numéricos">Expedientes Numéricos</a></li>
                    <li><a href="{{ path('curricula_alfa') }}" title="Expedientes Alfa">Expedientes Alfa</a></li>
                    <li><a href="{{ path('perfil') }}" title="Perfil">Perfiles</a></li>
                    <li><a href="{{ path('jefe_proy_vencimientos') }}" title="Vencimientos">Vencimientos</a></li>

                </ul>
            </li>

            <li><a href="{{ path('cdoc_todos',{type:1 }) }}" title="Lista Maestra"><i class="glyphicon glyphicon-file lg"></i></a></li>
            {% if (app.user.username=="imontagner") %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Proyectos"><i class="glyphicon fa fa-users"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('cdocpartidas') }}" title="Partidas 3681">Partidas 3681</a></li>
                    <li><a href="{{ path('cdocorden_trabajo') }}" title="Órdenes del 3681">Órdenes de trabajo 3681</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('partidas3697') }}" title="Partidas 3697">Partidas 3697</a></li>
                    <li><a href="{{ path('orden_trabajo3697') }}" title="Órdenes del 3697">Órdenes de trabajo 3697</a></li>
                    <li><a href="{{ path('repgeneral') }}" title="Reporte mensual">Reporte mensual Proyecto 3697</a></li>
                </ul>
            </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Reportes"><i class="glyphicon glyphicon-print"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('con_certificado', { 'pdf':1 }) }}" title="Personal con certificado">Personal con Certificado de calificación</a></li>
                        <li><a href="{{ path('sin_certificado') }}" title="Personal Sin Certificado">Personal sin Certificado de calificación</a></li>
                        <li><a href="{{ path('con_certificado', { 'pdf':2 }) }}" title="Personal con calificación">Personal con Evaluación</a></li>
                    </ul>
                </li>
            {% endif %}
            <li><a href="{{ path('ultra_controldocumento_default_index') }}" title="Inicio"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="{{ path('logout_area') }}" title="Salir"><i class="fa fa-power-off fa-lg"></i></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>