{% extends '::base.html.twig' %}
{% block body %}
    {% block header %}
        {% include('ControlDocumentoBundle:JefeProy:jefeproy.html.twig') %}
    {% endblock %}

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <!--MOSTRAR DOCUMENTOS POR VENCER           -->
            <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>
                <bold>&nbsp;CONSULTA DE DOCUMENTOS VENCIDOS Y PRÓXIMOS A VENCER.</bold>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                {{ form(vform) }}
            </div>

        </div>
    </div>
{% endblock %}