{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-training').collectionform({'addlink':'#add-training','column':'col-sm-6'});
        $('#collection-skills').collectionform({'addlink':'#add-skill','column':'col-sm-6'});
        $('#collection-tasks').collectionform({'addlink':'#add-task','column':'col-sm-6'});
        $('#collection-professions').collectionform({'addlink':'#add-profession','column':'col-sm-6'});
        $('#collection-expertise').collectionform({'addlink':'#add-expertise','column':'col-sm-6'});
        $('#collection-notes').collectionform({'addlink':'#add-note','column':'col-sm-6'});
        $('#collection-knowledge').collectionform({'addlink':'#add-knowledge','column':'col-sm-6'});
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .row-blue > div {
            background-color: #CEECF5;
            border-color: #0B3861;
            border-style: dotted;
            border-width: 1px;
        }
    </style>
{% endblock %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CAPT_GC') or is_granted('ROLE_CAPT')  or is_granted('ROLE_CONTROL_DOC')  %}
        <div class="row">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('perfil') }}" title="Ver Perfiles">Perfiles</a></li>
                <li class="active"><a href="#" title="Editar Perfil">Editar Perfil</a></li>
            </ul>

            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Edición del perfil.
            </div>
        </div>
        <p></p>
        {{ form_start(edit_form) }}
        <fieldset>
            <legend>Descripción del puesto</legend>
            <div class="row">
                {{ form_errors(edit_form) }}
                <div class="col-sm-3">
                    {{ form_row(edit_form.fecha_uad) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(edit_form.revision_uad) }}
                </div>
                <div class="col-sm-2 date">
                    {{ form_row(edit_form.aprobado) }}
                </div>
                <div class="col-sm-2">
                    {{ form_row(edit_form.vigencia) }}
                </div>
                <div class="col-sm-2 date">
                    {{ form_row(edit_form.transmitido) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(edit_form.clave) }}
                </div>
                <div class="col-sm-1">
                    {{ form_row(edit_form.revision) }}
                </div>
                <div class="col-sm-8">
                    {{ form_row(edit_form.titulo) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    {{ form_row(edit_form.estado) }}
                </div>
                <div class="col-sm-5">
                    {{ form_row(edit_form.disciplinas) }}
                </div>
                <div class="col-sm-5">
                    <br/>
                    {{ form_errors(edit_form.file) }}
                    {{ form_widget(edit_form.file) }}
                </div>
            </div>
        </fieldset>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(edit_form.submit) }}
            </div>
        </div>
        {{ form_end(edit_form) }}
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-primary" href="{{ path('perfil') }}" title="Ver Perfiles">
                            <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    {% else %}

        <div class="row">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('perfil') }}" title="Ver Perfiles">Perfiles</a></li>
                <li class="active"><a href="#" title="Editar Perfil">Editar Perfil</a></li>
            </ul>

            <br/> <br/> <br/>

            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>
                Usted no tiene los permisos para editar un perfil. <a href="{{ path('perfil') }}" title="Ver Perfiles">Regresar</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
