{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">

                <li  class="active"><a href="{{ path('perfil') }}" title="Ver Perfiles">Perfiles</a></li>
                    {% if is_granted('ROLE_SUPER_ADMIN') or  is_granted('ROLE_CONTROL_DOC')  or  is_granted('ROLE_CAPT')  %}
                    <li><a href="{{ path('perfil_new') }}" title="Nuevo Perfil">Nuevo Perfil</a></li>
                    {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('perfiles_pdf') }}" title="Exportar completo a PDF">
                    <span class="glyphicon glyphicon-file"></span> Perfiles en PDF
                </a>
            </ul>
        </div>
    </div>                         
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Rev.</th>
                        <th>Título</th>
                        <th>Aprobado</th>
                        <th>Vigencia</th>
                        <th>Liberado</th>
                        <th>Transmitido</th>
                        <th>Pdf</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.clave }}</td>
                            <td>{{ entity.revision }}</td>
                            <td>{{ entity.titulo }}</td>
                            <td>{{ entity.aprobado|date('Y-m-d') }}</td>
                            <td>{{ entity.vigencia|date('Y-m-d')}}</td>
                            <td>N/A</td>
                            <td>{{ entity.transmitido|date('Y-m-d') }}</td>
                            <td><a href="{{ path('display_pdf',{'id': entity.id}) }}" title="Pdf"><i class="fa fa-file-pdf-o"></i></a></td>
                            <td>{% if entity.estado=="Obsoleto" %}<span class="label label-warning">{{ entity.estado }}</span>
                                {% elseif entity.estado=="Cancelado" %}
                                    <span class="label label-danger">{{ entity.estado }}</span>
                                    {% else %}
                                        {{ entity.estado }}
                                        {% endif %}
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                <li>
                                                    <a href="{{ path('perfil_show', { 'id': entity.id }) }}" title="Ver Perfil">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                </li>
                                                {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC')) or is_granted('ROLE_CAPT') %}
                                                    <li>
                                                        <a href="{{ path('perfil_edit', { 'id': entity.id }) }}" title="Editar Perfil">
                                                            <span class="glyphicon glyphicon-edit"></span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC')) and entity.estado=="Vigente" %}
                                                    <li>
                                                        <a href="{{ path('perfil_nueva_revision', { 'id': entity.id }) }}" title="Nueva Revisión">
                                                            <i class="fa fa-copy"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <br/>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <ul class="list-inline">
                                        <li>
                                            <a class="btn btn-success" href="{{ path('perfil_new') }}">
                                                <span class="glyphicon glyphicon-plus-sign"></span> Nuevo Perfil
                                            </a>
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </body>
                </html>

                {% endblock %}