{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <h1>Listado de Perfiles</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Documento</th>
            <th>Clave</th>
            <th>Tipo Mime</th>
            <th>Tamaño en bytes</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('perfil_show', { 'id': entity.id }) }}" title="Ver Perfil">{{ entity.id }}</a></td>
                <td>{{ entity.path }}</td>
                <td>{{ entity.clave }}</td>
                <td>{{ entity.mimeType }}</td>
                <td>{{ entity.fileSize }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('servir', { 'id': entity.id }) }}" title="Descargar"><span class="glyphicon glyphicon-download"></span> Descargar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="list-inline">
        <li>
            <a class="btn btn-primary" href="{{ path('perfil_lista', {'id' : area}) }}" title="Ver Perfiles"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
        </li>
    </ul>
{% endblock %}