{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <h1>Listado de Perfiles</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Título del Puesto</th>
            <th>Area</th>
            <th>Tipo de Documento</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('perfil_show', { 'id': entity.id }) }}" title="Ver">{{ entity.id }}</a></td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.area }}</td>
                <td>{{ entity.tipoDocumento }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('perfil_show', { 'id': entity.id }) }}" title="Ver">Detalle</a>
                        </li>
                        <li>
                            <a href="{{ path('perfil_edit', { 'id': entity.id }) }}" title="Editar Perfil">Editar</a>
                        </li>
                        <li>
                            <a href="{{ path('perfil_list_files', { 'id': entity.id }) }}" title="Archivos">Archivos</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-primary" href="{{ path('perfil_new',{'id' : area.id}) }}" title="Nuevo Perfil">
                Crear Perfil
            </a>
        </li>
    </ul>
{% endblock %}