{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-training').collectionform({'addlink':'#add-training','column':'col-sm-6'});
        $('#collection-skills').collectionform({'addlink':'#add-skill','column':'col-sm-6'});
        $('#collection-tasks').collectionform({'addlink':'#add-task','column':'col-sm-6'});
        $('#collection-professions').collectionform({'addlink':'#add-profession','column':'col-sm-6'});
        $('#collection-expertise').collectionform({'addlink':'#add-expertise','column':'col-sm-6'});
        $('#collection-notes').collectionform({'addlink':'#add-note','column':'col-sm-6'});
        $('#collection-knowledge').collectionform({'addlink':'#add-knowledge','column':'col-sm-6'});
    </script>
{% endblock javascripts %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('perfil') }}" title="Ver Perfiles">Perfiles</a></li>
            <li class="active"><a href="#" title="Nuevo Perfil">Nuevo Perfil</a></li>
        </ul>

        <br/>

        <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
            Ingresa aquí los datos del nuevo perfil.
        </div>
    </div>
    <p></p>
    {{ form_start(form) }}
    <fieldset>
        <legend>Descripción del puesto</legend>
        <div class="row">
            {{ form_errors(form) }}
            <div class="col-sm-3">
                {{ form_row(form.fecha_uad) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.revision_uad) }}
            </div>
            <div class="col-sm-2 date">
                {{ form_row(form.aprobado) }}
            </div>
            <div class="col-sm-2 date">
                {{ form_row(form.vigencia) }}
            </div>
            <div class="col-sm-2 date">
                {{ form_row(form.transmitido) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                {{ form_row(form.clave) }}
            </div>
            <div class="col-sm-1">
                {{ form_row(form.revision) }}
            </div>
            <div class="col-sm-8">
                {{ form_row(form.titulo) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                {{ form_row(form.estado) }}
            </div>
            <div class="col-sm-5">
                {{ form_row(form.disciplinas) }}
            </div>
            <div class="col-sm-5">
               <br/>
                {{ form_errors(form.file) }}
                {{ form_widget(form.file) }}
            </div>
        </div>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Actividades</legend>
        <div class="row" id="collection-tasks" data-prototype="{{ form_widget(form.actividades.vars.prototype)|e }}">
            {% for act in form.actividades %}
                <div class="col-sm-6">
                    {{ form_row(act.descripcion) }}
                </div>
            {% endfor %}
        </div>
        <div class="row top-buffer">
            <div class="col-sm-12">
                <a href="#" id="add-task" class="btn btn-primary btn-xs" title="Agregar Actividad"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>

            </div>

        </div>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Escolaridad</legend>
        <div class="row" id="collection-professions" data-prototype="{{ form_widget(form.escolaridad.vars.prototype)|e }}">
            {% for esc in form.escolaridad %}
                <div class="col-sm-6">
                    {{ form_row(esc.profesion) }}
                    {{ form_row(esc.titulo) }}
                    {{ form_row(esc.cedula) }}
                </div>
            {% endfor %}
        </div>
        <div class="row top-buffer">
            <div class="col-sm-12">
                <a href="#" id="add-profession" class="btn btn-primary btn-xs" title="Agregar Escolaridad"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
            </div>
        </div>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Capacitación Especifica</legend>
        <div class="row" id="collection-training" data-prototype="{{ form_widget(form.capacitacion.vars.prototype)|e }}">
            {% for cap in form.capacitacion %}
                <div class="col-sm-6">
                    {{ form_row(cap.capacitacion) }}
                </div>
            {% endfor %}
        </div>
        <div class="row top-buffer">
            <div class="col-sm-12">
                <a href="#" id="add-training" class="btn btn-primary btn-xs" title="Agregar Capacitación"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
            </div>
        </div>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Experiencia Minima</legend>
        <div class="row" id="collection-expertise" data-prototype="{{ form_widget(form.expertise.vars.prototype)|e }}">
            {% for exp in form.expertise %}
                <div class="col-sm-6">
                    {{ form_row(exp.tiempo) }}
                    {{ form_row(exp.meses) }}
                    {{ form_row(exp.descripcion) }}
                </div>
            {% endfor %}
        </div>
        <div class="row top-buffer">
            <div class="col-sm-12">
                <a href="#" id="add-expertise" class="btn btn-primary btn-xs" title="Agregar Experiencia"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
            </div>
        </div>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Habilidades</legend>
        <div class="row" id="collection-skills" data-prototype="{{ form_widget(form.habilidades.vars.prototype)|e }}">
            {% for hab in form.habilidades %}
                <div class="col-sm-6">
                    {{ form_row(hab.curso) }}
                </div>
            {% endfor %}
        </div>
        <div class="row top-buffer">
            <div class="col-sm-12">
                <a href="#" id="add-skill" class="btn btn-primary btn-xs" title="Agregar Curso"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
            </div>
        </div>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Conociemientos Especiales</legend>
        <div class="row" id="collection-knowledge" data-prototype="{{ form_widget(form.conocimientoEspecial.vars.prototype)|e }}">
            {% for hab in form.conocimientoEspecial %}
                <div class="col-sm-6">
                    {{ form_row(hab.curso) }}
                </div>
            {% endfor %}
        </div>
        <div class="row top-buffer">
            <div class="col-sm-12">
                <a href="#" id="add-knowledge" class="btn btn-primary btn-xs" title="Agregar Curso"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
            </div>
        </div>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Notas</legend>
        <div class="row" id="collection-notes" data-prototype="{{ form_widget(form.notas.vars.prototype)|e }}">
            {% for nota in form.notas %}
                <div class="col-sm-6">
                    {{ form_row(nota.seccion) }}
                    {{ form_row(nota.descripcion) }}
                </div>
            {% endfor %}
        </div>
        <div class="row top-buffer">
            <div class="col-sm-12">
                <a href="#" id="add-note" class="btn btn-primary btn-xs" title="Agregar Nota"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
            </div>
        </div>
    </fieldset>
    <br/>
    <div class="row">
        <div class="col-xs-12">
                {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('perfil') }}" title="Ver Perfiles">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}
