{% block content -%}

    <title>{% block title %}Perfil{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('styles/bootstrap.css') }}" rel="stylesheet" />
        <style type="text/css">
            h1{
                text-align:center;
                width:100%;
                font-size:12px;
            }
            h2{
                text-align:left;
                width:100%;
                font-size:12px;
            }
            p{
                font-size:10px;
            }

            hr{
                border: 1.5px solid black;
                margin-top:0.5px;
                margin-bottom: 0.5px;
                width:700px;
            }

            .font{
                font-size:10px;
            }

            table{
                float: left;
                height: 80px;
                width: 705px;
                overflow:auto;
            }
            tbody{
                font-weight:normal;
                padding-top: 0px;
                font-size:9px;
            }
            td{

                font-weight:normal;
                padding-top: 0px;
                font-size:9px;
            }

        </style>
    {% endblock %}

    <table>
    <tr>
        <td>
            <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_5.png') }}" width="100" height="40">
        </td>
        <td colspan="5">
            <br/><h1>RECLUTAMIENTO, SELECCIÓN,<br/>CAPACITACIÓN Y CALIFICACIÓN<br/>DE PERSONAL.</h1>
        </td>
        <td>
            <p align="right">UAD 02 Rev. 13<br/>14/FEBRERO/13</p>
        </td>
    </tr>
    <tr>
       <td colspan="7">
           <hr/>
       </td>
    </tr>
        <tr>
        <td colspan="7">
            <br/><h2>ANEXO 2. DESCRIPCIÓN DEL PUESTO</h2>
        </td>
        </tr>
        <tr>
            <td colspan="7">
                <hr/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                TITULO DEL PUESTO:
            </td>
            <td colspan="4">
                {{ entity.titulo }}
            </td>
            <td colspan="1">
                {{ entity.clave }} Rev.{{ entity.revision }}<br/>{{ entity.aprobado|date('d-m-Y') }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                DEPARTAMENTO:
            </td>
            <td colspan="4">
                {% for dis in entity.disciplinas %}
                    <br/>* {{ dis.titulo }}
                {% endfor %}
            </td>
            <td colspan="1">

            </td>
        </tr>
        <tr>
            <td colspan="2">

            </td>
            <td colspan="2">
                Nombre
            </td>
            <td colspan="2">
                Firma
            </td>
            <td colspan="1">
                &nbsp;&nbsp;&nbsp;&nbsp;Fecha
            </td>
        </tr>
        <tr>
            <td colspan="2">
                PREPARADO POR:
            </td>
            <td colspan="5" rowspan="3">
                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/square.png') }}" width="495" height="38">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                REVISADO POR:
            </td>

        </tr>
        <tr>
            <td colspan="2">
                APROBADO POR:
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <br/>
                <hr/>
                <bold>1. ACTIVIDADES:</bold><br/>
                {% set c=1 %}
                {% for nts in entity.notas %}
                    {% if nts.seccion=="actividades" %}
                        <em>(Nota {{ c }})</em>
                        {% set c=c+1 %}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="1">

            </td>
            <td colspan="6">
                {% for act in entity.actividades %}
                    * {{ act.descripcion }} <br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <br/>
                <hr/>
                <bold>2. REQUISITOS:</bold>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ins>Escolaridad:</ins><br/>
                {% for nts in entity.notas %}
                    {% if nts.seccion=="escolaridad" %}
                        <em>(Nota {{ c }})</em>
                        {% set c=c+1 %}
                    {% endif %}
                {% endfor %}
            </td>
            <td colspan="5">
                {% for req in entity.escolaridad %}
                    * {{ req.profesion}} &nbsp;
                    {% if (req.titulo==1) and (req.cedula==1) %}
                        <small>(Requiere título y cédula.)</small>
                    {% elseif (req.titulo==1) and (req.cedula==0) %}
                        <small>(Requiere título pero no cédula.)</small>
                    {% else %}
                        <small>(No requiere título ni cédula.)</small>
                    {% endif %}<br/>
                {% endfor %}
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2">
                <ins>Capacitación Específica:</ins><br/>
                {% for nts in entity.notas %}
                    {% if nts.seccion=="capacitacion" %}
                        <em>(Nota {{ c }})</em>
                        {% set c=c+1 %}
                    {% endif %}
                {% endfor %}
            </td>
            <td colspan="5">
                {% for cap in entity.capacitacion %}
                    * {{ cap.capacitacion }}<br/>
                {% endfor %}
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2">
                <ins>Experiencia Mínima:</ins><br/>
                {% for nts in entity.notas %}
                    {% if nts.seccion=="experiencia" %}
                        <em>(Nota {{ c }})</em><br/>
                        {% set c=c+1 %}
                    {% endif %}
                {% endfor %}
            </td>
            <td colspan="5">
                {% for expe in entity.expertise %}
                    * {{ expe.tiempo}} años, {{  expe.descripcion }}<br/>
                {% endfor %}
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2">
                <ins>Habilidades / <br/>Conocimientos especiales:</ins><br/>
                {% for nts in entity.notas %}
                    {% if nts.seccion=="habilidades" %}
                        <em>(Nota {{ c }})</em><br/>
                        {% set c=c+1 %}
                    {% endif %}
                {% endfor %}
            </td>
            <td colspan="5">
                {% for hab in entity.habilidades %}
                    * {{ hab.curso}}<br/>
                {% endfor %}
                {% for cone in entity.conocimientoEspecial %}
                    * {{ cone.curso}}<br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <br/>
                <hr/>
                <bold>3. NOTAS:</bold>
            </td>
        </tr>
        <tr>
            <td colspan="1">

            </td>
            <td colspan="6">
                {% for nts in entity.notas %}
                    * {{ nts.descripcion }}<br/>
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}
