{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('perfil') }}" title="Ver Perfiles">Perfiles</a></li>
                <li class="active"><a href="#" title="Detalle de Perfil">Mostrar Perfil</a></li>
            </ul>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-12">
            {% if is_granted('ROLE_ADMIN') %}
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('p_pdf', { 'id': entity.id }) }}" title="Genera archivo PDF">
                    <span class="glyphicon glyphicon-file"></span> Generar PDF
                </a>
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>RECLUTAMIENTO, SELECCIÓN, CAPACITACIÓN Y CALIFICACIÓN DE PERSONAL.</h4>
        </div>
    </div>


    <br/>
        <div class="row">
            <div class="col-sm-12">
                <legend>Descripción del puesto</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1" style="background-color:#F2F2F2">
               <strong>Clave</strong><br/>
               <strong>Rev.</strong><br/>
               <strong>Aprobado</strong>
            </div>
            <div class="col-xs-2">
                {{ entity.clave }}<br/>
                {{ entity.revision }}<br/>
                {{ entity.aprobado|date('d-m-Y') }}
            </div>
            <div class="col-xs-2" style="background-color:#F2F2F2">
                <strong>Titulo</strong><br/>
               <strong>Archivo</strong>
            </div>
            <div class="col-xs-7">
                {{ entity.titulo }}<br/>
               {{ entity.pdf }}
            </div>
        </div><br/>
        <div class="row">
            <div class="col-xs-1" style="background-color:#F2F2F2">
                <strong>Disciplinas</strong><br/>
            </div>
            <div class="col-xs-11">
                {% for dis in entity.disciplinas %}
                   <span class="glyphicon glyphicon-ok btn-sm"></span>{{ dis.titulo }}<br/>
                {% endfor %}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <legend>Actividades</legend>
            </div>
        </div>
        <div class="row">
             <div class="col-sm-12">
                {% for act in entity.actividades %}
                    <span class="glyphicon glyphicon-ok btn-sm"></span>{{ act.descripcion }}<br/>
                {% endfor %}
                 {% set c=1 %}
                 {% for nts in entity.notas %}
                     {% if nts.seccion=="actividades" %}
                         ( Nota {{ c }} )<br/>
                         {% set c=c+1 %}
                     {% endif %}
                 {% endfor %}
             </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-sm-12">
                <legend>Requisitos</legend>

                <h5><em>-Escolaridad</em></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for req in entity.escolaridad %}
                    <span class="glyphicon glyphicon-ok btn-sm"></span>{{ req.profesion}} &nbsp;
                    {% if (req.titulo==1) and (req.cedula==1) %}
                        <small>(Requiere título y cédula.)</small>
                    {% elseif (req.titulo==1) and (req.cedula==0) %}
                        <small>(Requiere título pero no cédula.)</small>
                            {% else %}
                            <small>(No requiere título ni cédula.)</small>
                    {% endif %}
                {% endfor %}
                {% for nts in entity.notas %}
                    {% if nts.seccion=="escolaridad" %}
                        ( Nota {{ c }} )<br/>
                        {% set c=c+1 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <h5><em>-Capacitación Específica</em></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for cap in entity.capacitacion %}
                    <span class="glyphicon glyphicon-ok btn-sm"></span>{{ cap.capacitacion }}<br/>
                {% endfor %}
                {% for nts in entity.notas %}
                    {% if nts.seccion=="capacitacion" %}
                        ( Nota {{ c }} )<br/>
                        {% set c=c+1 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-sm-12">
                <h5><em>-Experiencia mínima</em></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for expe in entity.expertise %}
                    <span class="glyphicon glyphicon-ok btn-sm"></span>{{ expe.tiempo}} años, {{  expe.descripcion }}<br/>
                {% endfor %}

                {% for nts in entity.notas %}
                    {% if nts.seccion=="experiencia" %}
                        ( Nota {{ c }} )<br/>
                        {% set c=c+1 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-sm-12">
                <h5><em>-Habilidades / Conocimientos Especiales</em></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for hab in entity.habilidades %}
                    <span class="glyphicon glyphicon-ok btn-sm"></span>{{ hab.curso}}<br/>
                {% endfor %}
                {% for cone in entity.conocimientoEspecial %}
                    <span class="glyphicon glyphicon-ok btn-sm"></span>{{ cone.curso}}<br/>
                {% endfor %}

                {% for nts in entity.notas %}
                    {% if nts.seccion=="habilidades" %}
                        ( Nota {{ c }} )<br/>
                        {% set c=c+1 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <legend>Notas</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% set c=1 %}
                {% for nts in entity.notas %}
                    ({{ c }}) {{ nts.descripcion }}<br/>
                    {% set c=c+1 %}
                {% endfor %}
            </div>
        </div><br/>
        <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('perfil') }}" title="Ver Perfiles">
                       <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN')  %}
                <li>
                    <a class="btn btn-success btn-group" href="{{ path('perfil_edit', { 'id': entity.id }) }}" title="Editar Perfiles">
                       <span class="glyphicon glyphicon-edit"></span>Editar
                    </a>
                </li>

                {% endif %}
            </ul>
        </div>
        </div>

{% endblock %}
