{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <br/>
        <p class="text-primary">
            <i class="fa fa-folder-open fa-2x"></i> <strong> &nbsp;&nbsp; Proyecto CFE-GCN-2-039-13 (3697)- Reporte Mensual</strong>
        </p>
        <hr/>

        <table class="display" cellspacing="0" width="100%" id="example1">
            <thead>
            <tr>
                <!--o.clave cve, o.tipotarea tt, o.unidadesTotales ut, o.fechaTransmision ft, p.precioUnitario, d.volumen v, p.clavePartida cp-->
                <th>Fecha de transmisión</th>
                <th>Clave SOT</th>
                <th>Detalle</th>
                <th>Precio Unitario</th>
                <th>Volumen</th>
                <th>Importe Total</th>
                <th>Más detalles</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in sots %}
                <tr>
                    <td>{{ entity.ft|date('d-m-Y')}}</td>
                    <td>{{ entity.cve }}</td>
                    <td title="{{ entity.tit }}">Tareas tipo :{{ entity.tt }} <br/> Unidades producidas: {{ entity.ut }} <br/> Partida: {{ entity.cp }} <br/>{{ entity.cs}}</td>
                    <td>$ {{ entity.precioUnitario|number_format(2, '.', ',') }}</td>
                    <td>{{ entity.v }}</td>
                    <td>{% set imp=entity.v*entity.precioUnitario %} $ {{ imp|number_format(2, '.', ',') }}</td>
                    <td>{% if entity.pdf==NULL %}
                            <span class="label label-warning"><span class="glyphicon glyphicon-remove"></span>No hay PDF.</span>
                        {% else %}
                            <a href="{{ path('servir_orden_trabajo', { 'id': entity.ido }) }}" title="Ver">
                                <i class="fa fa-file-pdf-o"></i>
                            </a>
                        {% endif %}
                        &nbsp;|&nbsp;
                        <ul class="list-inline">
                            <li>
                                <a href="{{ path('orden_trabajo_show', { 'id': entity.ido }) }}" title="Ver SOT">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </li>
                </tr>
            {% endfor %}
            </tbody>
        </table>



    </div>
</div>
{% endblock %}