{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('condicion') }}" title="Ver Condiciones">Condiciones</a></li>
                <li  class="active"><a href="#" title="Editar Condición">Editar Condicion</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí una nueva condición.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <br>
            {{ form_start(edit_form) }}

            {{ form_label(edit_form.descripcion) }}
            <div class="text-danger">{{ form_errors(edit_form.descripcion) }} </div>
            {{ form_widget(edit_form.descripcion) }}
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('condicion') }}" title="Ver Condiciones">
                        <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>

    </div>
{% endblock %}
