{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
{% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{{ path('condicion') }}" title="Ver Condiciones">Condiciones</a></li>
                <li><a href="{{ path('condicion_new') }}" title="Nueva Condición">Nueva Condicion</a></li>
            </ul>
        <div class="col-sm-12">
           <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ entity.id }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('condicion_show', { 'id': entity.id }) }}" title="Ver">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('condicion_edit', { 'id': entity.id }) }}" title="Editar">
                        <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <br/>
        <ul class="list-inline">
            <li>
                <a class="btn btn-success" href="{{ path('condicion_new') }}" title="Nueva Condición">
                   <span class="glyphicon glyphicon-plus-sign"></span> Nueva Condición
                </a>
            </li>
        </ul>
</div>
    {% endblock %}
