{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('condicion') }}" title="Ver Condiciones">Condiciones</a></li>
                <li  class="active"><a href="{{ path('condicion_new') }}" title="Nueva Condición">Nueva Condicion</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí una nueva condición.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <br>
            {{ form_start(form) }}

            {{ form_label(form.descripcion) }}
            <div class="text-danger">{{ form_errors(form.descripcion) }} </div>
            {{ form_widget(form.descripcion) }}
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
