{% block usubmit_widget %}
    {% spaceless %}
        {% set type = type|default('submit') %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
            <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
                {% if glyphicon is not empty %}<span class="{{ glyphicon }}"></span>{% endif %} {{ label|trans({}, translation_domain) }}
            </button>
    {% endspaceless %}
{% endblock usubmit_widget %}