{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-detalle').form_project({addlink:'#add-detalle', column:'col-sm-2', trash:'Borrar'});
    </script>
{% endblock %}



{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-mid-12"><h1>QuestionOptions edit</h1>
        </div>
    </div>

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-sm-2">{{ form_row(edit_form.text) }}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">{{ form_row(edit_form.categorization) }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">{{ form_row(edit_form.section) }}</div>
    </div>
    {% form_theme edit_form 'RHBundle:Form:form_extra_field.html.twig' %}
    <div class="row" id="collection-detalle" data-prototype="{{ form_widget(edit_form.options.vars.prototype)|e }}">
        <div class="col-sm-12">
            {% for option in edit_form.options %}
                <div class="row">
                    {{ form_row(option.name) }}
                    {{ form_row(option.value) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-10">
            <a href="#" id="add-detalle" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
        </div>
    </div>
    {{ form_end(edit_form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('question') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
