{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    <h1>QuestionOptions creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('question') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
