{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('etapa_proyecto') }}" title="Ver etapas">Etapas de Proyecto</a></li>
                <li class="active"><a href="#" title="Editar Etapa">Editar Etapa</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Edita los datos de la etapa.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <br>
            {{ form_start(edit_form) }}

            {{ form_label(edit_form.nombre) }}
            <div class="text-danger">{{ form_errors(edit_form.nombre) }} </div>
            {{ form_widget(edit_form.nombre) }}
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('etapa_proyecto') }}" title="Ver etapas">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>

{% endblock %}
