{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
{% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
            <ul class="nav nav-tabs">
                <li  class="active"><a href="{{ path('etapa_proyecto') }}" title="Ver etapas">Etapas de Proyecto</a></li>
                <li><a href="{{ path('etapa_proyecto_new') }}" title="Nueva Etapa">Nueva Etapa</a></li>
            </ul>
   <div class="col-sm-12">
       <br/>
       <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('etapa_proyecto_show', { 'id': entity.id }) }}" title="Ver">
                          <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('etapa_proyecto_edit', { 'id': entity.id }) }}" title="Editar">
                        <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
       <br/>
        <ul class="list-inline">
                <li>
                    <a class="btn btn-success" href="{{ path('etapa_proyecto_new') }}" title="Nueva Etapa">
                        <span class="glyphicon glyphicon-plus-sign"></span> Nueva Etapa
                    </a>
                </li>
         </ul>
    </div>
    {% endblock %}
