{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
     <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('etapa_proyecto') }}" title="Ver etapas">Etapas de Proyecto</a></li>
                <li class="active"><a href="{{ path('etapa_proyecto_new') }}" title="Nueva Etapa">Nueva Etapa</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí una nueva etapa para los proyectos.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <br>
            {{ form_start(form) }}

            {{ form_label(form.nombre) }}
            <div class="text-danger">{{ form_errors(form.nombre) }} </div>
            {{ form_widget(form.nombre) }}
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
