{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('etapa_proyecto') }}" title="Ver etapas">Etapas de Proyecto</a></li>
                <li class="active"><a href="#" title="Detalle de etapa">Muestra Etapa</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle del centro de estudio.</h4>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-xs-1" style="background-color:#F2F2F2">
            <strong>Id</strong><br/>
            <strong>Nombre</strong><br/>
        </div>
        <div class="col-xs-6">
            {{ entity.id }}<br/>
            {{ entity.nombre }}<br/>
        </div>
    </div><br/><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary btn-group" href="{{ path('etapa_proyecto') }}" title="Ver etapas">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
                <li>
                    <a class="btn btn-success btn-group" href="{{ path('etapa_proyecto_edit', { 'id': entity.id }) }}" title="Editar Etapa">
                        <span class="glyphicon glyphicon-edit"></span>Editar
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>

{% endblock %}
