{% extends "ControlDocumentoBundle:Default:index.html.twig" %}



 {% block content %}
 <div class="row">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('libros_editoriales') }}" title="Ver editoriales">Editoriales</a></li>
                                <li class="active"><a href="#" title="Editar editorial">Editar editorial</a></li>
                            </ul>
     </div>


<br>

<div class="row">

 <div class="col-xs-2">
     &nbsp;
        </div>

        <div class="col-xs-7">
    {{ form(edit_form, { 'attr': {'novalidate':'novalidate'} }) }}


    <ul class="list-inline">
        <li>
        <a class="btn btn-primary btn-group" href="{{ path('libros_editoriales') }}">
           <span class="glyphicon glyphicon-chevron-left"></span>Regresar
        </a>
        </li>
        <li>
    {{ form(delete_form) }}
        </li>
        </ul>


            </div>
    </div>



{% endblock %}
