{% extends "ControlDocumentoBundle:Default:index.html.twig" %}



 {% block content %}
    {#<h1>Listado de Editoriales</h1>#}
    <div class="row">
                            <ul class="nav nav-tabs">
                                <li  class="active"><a href="{{ path('libros_editoriales') }}" title="Ver editoriales">Editoriales</a></li>
                                <li><a href="{{ path('libros_editoriales_new') }}" title="Nueva editorial">Nueva editorial</a></li>
                            </ul>
     </div><br/>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Editorial</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('libros_editoriales_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>
                        <a href="{{ path('libros_editoriales_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                 &nbsp;
                        <a href="{{ path('libros_editoriales_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <br/>
            <a class="btn btn-success" href="{{ path('libros_editoriales_new') }}">
                <span class="glyphicon glyphicon-plus-sign"></span>   Nueva editorial
            </a>

    {% endblock %}
