{% extends "ControlDocumentoBundle:Default:index.html.twig" %}



 {% block content %}
    {#<h1>Nueva editorial</h1>#}
<div class="row">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('libros_editoriales') }}" title="Ver editorial">Editorial</a></li>
                                <li class="active"><a href="#" title="Nueva editorial">Nueva editorial</a></li>
                            </ul>
     </div>

<br>

<div class="row">

 <div class="col-xs-2">
     &nbsp;
        </div>

        <div class="col-xs-7">
    {{ form(form, { 'attr': {'novalidate':'novalidate'} }) }}

{#        <ul class="record_actions">
    <li>
        <a href="{{ path('libros_editoriales') }}">
            Back to the list
        </a>
    </li>
</ul>#}


            </div>
    </div>

{% endblock %}
