{% extends "ControlDocumentoBundle:Default:index.html.twig" %}



 {% block content %}
     <div class="row">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('libros_editoriales') }}" title="Ver editoriales">Editoriales</a></li>
                                <li class="active"><a href="#" title="Muesta editorial">Muestra editorial</a></li>
                            </ul>
     </div>
<br>
    <table class="table table-striped record_properties">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ entity.id }}</td>

                <th>Editorial: </th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>

             <ul class="list-inline">
    <li>
        <a class="btn btn-primary btn-group" href="{{ path('libros_editoriales') }}">
          <span class="glyphicon glyphicon-chevron-left"></span>
           Regresar
        </a>
    </li>


    <li>
        <a class="btn btn-success btn-group" href="{{ path('libros_editoriales_edit', { 'id': entity.id }) }}">
           <span class="glyphicon glyphicon-edit"></span>
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

{% endblock %}
