{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-detalle').form_project({addlink:'#add-detalle', column:'col-sm-2', trash:'Borrar'});
    </script>
{% endblock %}

{% block content -%}
    <h1>MetaQuestion edit</h1>

    {{ form_start(edit_form) }}

    <div class="row">
        <div class="col-sm-2">{{ form_row(edit_form.name) }}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">{{ form_row(edit_form.label) }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">{{ form_row(edit_form.type) }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">{{ form_row(edit_form.section) }}</div>
    </div>
    {% form_theme edit_form 'RHBundle:Form:form_extra_field.html.twig' %}
    <div class="row" id="collection-detalle" data-prototype="{{ form_widget(edit_form.scale.vars.prototype)|e }}">
        <div class="col-sm-12">
            {% for scale in edit_form.scale %}
                <div class="row">
                    {{ form_row(scale.name) }}
                    {{ form_row(scale.value) }}
                    {#{{ form_row(scale.metaQuestion) }}#}
                    {#{{ form_row(scale.section) }}#}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-10">
            <a href="#" id="add-detalle" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
        </div>
    </div>

    {{ form_end(edit_form) }}

        <ul class="list-inline">
    <li>
        <a href="{{ path('meta_datos_list',{'id': entity.configuration.id}) }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
