{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body -%}

    <div class="container">
             {# <div class="alert-warning form-signin">{{ error.message }}</div> #}
             {% if error %} 
                 <div id='error' class='alert-warning form-signin'>{{ error.message | trans}}</div> 
             {% endif %} 
        <img class="img-thumbnail" src="{{ asset('img/logo_ultra.png') }}" alt="Ultra Ingeniería"/>

        <form class="form-signin" action="{{ path('login_check') }}" method="post">
            <div class="form-group">
                <div class="input-group">
                   <span class="input-group-addon"><i class="fa fa-user fa-lg"></i></span>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario"/>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                    <input class="form-control" type="password" id="password" name="_password" placeholder="Contraseña"/>
                </div>
            </div>

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </form>
    </div>
{% endblock %}
