{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}

<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  class="active"><a href="{{ path('requirement') }}" title="Requerimientos">Requerimientos</a></li>
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_JEFE_CALIDAD')) %}
                <li><a href="{{ path('requirement_new') }}"  title="Nuevo requerimiento">Nuevo Requerimiento</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-12">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('requirement_show', { 'id': entity.id }) }}" title="Ver"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </li>
                    <li>
                        <a href="{{ path('requirement_edit', { 'id': entity.id }) }}" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
    {% endblock %}
