{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('requirement') }}" title="Requerimientos">Requerimientos</a></li>
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_JEFE_CALIDAD')) %}
            <li class="active"><a href="#"  title="Nuevo requerimiento">Nuevo Requerimiento</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-6">
    {{ form(form) }}
        <br/>
        <br/>
        <a class="btn btn-primary btn-group" href="{{ path('requirement') }}" title="Requerimientos">
            <span class="glyphicon glyphicon-chevron-left"></span> Regresar
        </a>
    </div>
</div>

{% endblock %}
