{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
     {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('requirement') }}" title="Requerimientos">Requerimientos</a></li>
            <li class="active"><a href="#"  title="Ver requerimiento">Ver Requerimiento</a></li>
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-12">
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>
        <br/>
        <br/>
        <a class="btn btn-primary btn-group" href="{{ path('requirement') }}" title="Ver requerimientos">
            <span class="glyphicon glyphicon-chevron-left"></span> Regresar
        </a>
        <a class="btn btn-primary btn-group" href="{{ path('requirement_edit', { 'id': entity.id }) }}" title="Editar requerimiento">
            <span class="glyphicon glyphicon-edit"></span> Editar
        </a>

    </div>
</div>
{% endblock %}
