{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-skills').collectionform({'addlink':'#add-skill','column':'col-sm-6'});
        $('#cursos-internos').collectionform({'addlink':'#curso-interno','column':'col-sm-6'});
        $('#cursos-externos').collectionform({'addlink':'#curso-externo','column':'col-sm-6'});
    </script>
{% endblock javascripts %}
{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('curricula') }}" title="Ver Curriculas">Curriculas</a></li>
                <li class="active"><a href="#" title="Editar Curriculas">Editar Curricula</a></li>
            </ul>
    </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success">
                <span class="glyphicon glyphicon-comment"></span>
                Captura de datos generales del personal.
            </div>
        </div>
    </div>
    <br/>
        {{ form_start(edit_form) }}

        <div class="row">
            {{ form_errors(edit_form) }}
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(edit_form.numeroControl) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(edit_form.curp) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_row(edit_form.nombre) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_row(edit_form.apellidoPaterno) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_row(edit_form.apellidoMaterno) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_row(edit_form.genero) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_row(edit_form.estadoCivil) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_row(edit_form.fechaNacimiento) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_row(edit_form.nacionalidad) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_row(edit_form.imss) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_row(edit_form.cartilla) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_row(edit_form.telefono) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    {{ form_row(edit_form.celular) }}
                </div>
            </div>
        </div><hr/>

        {{ form_end(edit_form) }}
        <hr>
    <div class="row">
        <div class="col-sm-12">
        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('curricula') }}" title="Ver Curriculas">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>
            </li>

        </ul>
    </div>
    </div>
{% endblock %}