<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li><img class="img-thumbnail" src="{{ asset('img/logo_5.png') }}" alt="Ultra Ingeniría"/></li>
        </ul>
        <ul class="nav navbar-nav navbar-text">
            <li>Recursos Humanos</li>
        </ul>
        {#<ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Prestamo de documentos"><i class="fa fa-exchange"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('archivo_plist', { 't':1 }) }}" title="Autorizar">Autorizar</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('archivo') }}" title="Prestamo de procedimientos">Mis Prestamos</a></li>
                    <li><a href="{{ path('archivo_new') }}" title="Solicitar">Solicitar documento</a></li>
                </ul>
            </li>
        </ul>#}
        <ul class="nav navbar-nav navbar-right">
            <li>
                {% if (app.user.username=="vmguillen") %}
                    <img class="img-thumbnail" src="{{ asset('img/fotos/vmguillen.jpg') }}" TITLE="{{ app.user.username }}" height="40" width="40"/>
                {% else %}
                    <a href="#"  title="{{ app.user.username }}"><span class="glyphicon glyphicon-user"></span></a>
                {% endif %}
            </li>
            <li><span class="navbar-text">{{ app.user.username }}</span></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Selecciona"><i class="fa fa-th fa-lg"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('curricula') }}" title="Curriculas">Curriculas</a></li>
                    <li><a href="{{ path('curricula_alfa') }}" title="Expedientes Alfa">Expedientes Alfa</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Reportes"><i class="glyphicon glyphicon-print"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('curricula_puestos', { 'c':3697 }) }}" title="Puestos">Puestos del 3697-CFE</a></li>
                    <li><a href="{{ path('curricula_personal', { 'c':3697 }) }}" title="Personal">Personal en 3697-CFE</a></li>
                    <li><a href="{{ path('curricula_puestosxperfil', { 'c':3697 }) }}" title="Personal por perfil">Personal por perfil 3697-CFE</a></li>
                    <li><a href="{{ path('curr_personalinac', { 'c':3697 }) }}" title="Personal Inactivo">Personal inactivo 3697-CFE</a></li>
                    <li><a href="{{ path('curr_personalact', { 'c':3697 }) }}" title="Personal Activo">Personal activo 3697-CFE</a></li>
                    <li><a href="{{ path('cdoc_vigencias') }}" title="Vigencia">Vigencia de cursos</a></li>
                    <li><a href="{{ path('cdoc_vigenciasprod') }}" title="Vigencia">Vigencia de cursos de procedimientos </a></li>
                    <li><a href="{{ path('cdoc_comprobantes') }}" title="Comprobantes Faltantes">Personal con comprobantes faltantes</a></li>
                    <li><a href="{{ path('cdoc_fcursos') }}" title="Cursos Faltantes">Personal con cursos faltantes</a></li>
                </ul>
            </li>
            <li><a href="{{ path('cdoc_todos',{type:1 }) }}" title="Lista Maestra"><i class="glyphicon glyphicon-file lg"></i></a></li>
            <li><a href="{{ path('rhum_index') }}" title="Inicio"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="{{ path('logout_area') }}" title="Salir"><i class="fa fa-power-off fa-lg"></i></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
