{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('curricula') }}" title="Ver Curriculas">Curriculas</a></li>
                <li class="active"><a href="#" title="Detalle de Curricula">Muestra Curricula</a></li>
            </ul>
        </div>
    </div>
    <br/>
        <div class="row">
            <div class="col-sm-3"><br/>
                <p align="center">
                    <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70" title="Ultra Ingeniería SA de CV">
                </p>
            </div>
            <div class="col-sm-9"><br/><br/>
                <h4>Datos generales de: {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }} {{ entity.nombre }}</h4>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <legend>Datos Generales</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2" style="background-color:#F2F2F2">
                <strong>Id</strong><br/>
                <strong>No. Control</strong><br/>
                <strong>CURP</strong><br/>
                <strong>Fecha de nacimiento</strong><br/>
                <strong>Teléfono</strong><br/>
                <strong>Celular</strong>
            </div>
            <div class="col-xs-2">
                {{ entity.id }}<br/>
                {{ entity.numeroControl }}<br/>
                {{ entity.curp }}<br/>
                {{ entity.fechaNacimiento|date('d-m-Y') }} <br/>
                {{ entity.telefono }}<br/>
                {{ entity.celular }}
            </div>
            <div class="col-xs-2" style="background-color:#F2F2F2">
                <strong>Nombre</strong><br/>
                <strong>Género</strong><br/>
                <strong>Estado Civil</strong><br/>
                <strong>Nacionalidad</strong><br/>
                <strong>Cartilla</strong><br/>
                <strong>IMSS</strong>
            </div>
            <div class="col-xs-6">
                {{ entity.nombre }} {{ entity.apellidoPaterno }} {{ entity.apellidoMaterno }} <br/>
                {% if entity.genero=="H" %} Hombre {% else %} Mujer {% endif %} <br/>
                {{ entity.estadoCivil}}<br/>
                {{ entity.nacionalidad }}<br/>
                {{ entity.cartilla }}<br/>
                {{ entity.imss }}
            </div>
        </div><br/>
        <br/>
    <div class="row">
        <div class="col-sm-12">
        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('curricula') }}" title="Ver Curriculas">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>
            </li>
            <li>
                <a class="btn btn-success" href="{{ path('rhum_edit', { 'id': entity.id }) }}" title="Editar Curricula">
                     <span class="glyphicon glyphicon-edit"></span> Editar
                </a>
            </li>

        </ul>
    </div>
    </div>
{% endblock %}
