{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}

<div class="row">
    <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="{{ path('AE_equipos') }}" title="Equipos">Equipos</a></li>
                                <li><a href="{{ path('AE_equipos_new') }}" title="Nuevo">Nuevo equipo</a></li>
                            </ul>
     </div>
</div>
    <br/>
<div class="row">
    <div class="col-sm-12">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Número de serie</th>
                <th>Estado</th>
                <th>Detalle</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('AE_equipos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tipoequipoId }}</td>
                <td>{{ entity.marcaId }}</td>
                <td>{{ entity.modelo }}</td>
                <td>{{ entity.serie }}</td>
                <td>{{ entity.estado }}</td>
                <td>Service Tag.{{ entity.servicetag }} <hr> {{ entity.comentario }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('AE_equipos_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </li>
                    <li>
                        <a href="{{ path('AE_equipos_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    <br/>
<div class="row">
    <div class="col-sm-12">
    <ul class="list-inline">
        <li>
            <a class="btn btn-success" href="{{ path('AE_equipos_new') }}">
                 <span class="glyphicon glyphicon-plus-sign"></span> Nuevo equipo
            </a>
        </li>
    </ul>
</div>
</div>
    {% endblock %}
