{% extends "ControlDocumentoBundle:Default:index.html.twig" %}

 {% block content %}
    <div class="row">
          <ul class="nav nav-tabs">
              <li><a href="{{ path('AE_equipos') }}" title="Equipos">Equipos</a></li>
              <li class="active"><a href="{{ path('AE_equipos_new') }}" title="Nuevo equipo">Nuevo equipo</a></li>
          </ul>
    </div>
     <br>

    <div class="row">

 <div class="col-xs-2">
     &nbsp;
  </div>

        <div class="col-xs-7">
            {{ form(form, { 'attr': {'novalidate':'novalidate'} }) }}
        </div>

    </div>

{% endblock %}