{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('AE_equipos') }}" title="Ver equipos">Equipos</a></li>
                <li class="active"><a href="#" title="Muesta equipo">Muestra equipo</a></li>
            </ul>
        </div>
    </div>
    <br>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id: {{ entity.id }}</th>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Tipo:</th>
                <td> {{ entity.tipoequipoId }}</td>
            </tr>
            <tr>
                <th>Marca:</th>
                <td> {{ entity.marcaId }}</td>
            </tr>
            <tr>
                <th>Modelo:</th>
                <td>{{ entity.modelo }}</td>
            </tr>
            <tr>
                <th>Número de serie:</th>
                <td>{{ entity.serie }}</td>
            </tr>
           <tr>
                <th>Estado:</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Etiqueta de servicio (service tag):</th>
                <td>{{ entity.servicetag }}</td>
            </tr>
            <tr>
                <th>Comentario:</th>
                <td>{{ entity.comentario }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
    <li>
                    <a class="btn btn-primary btn-group" href="{{ path('AE_equipos') }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Regresar
                    </a>
            </li>
       <li>
                    <a class="btn btn-success btn-group" href="{{ path('AE_equipos_edit', { 'id': entity.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                        Editar
                    </a>
</ul>
{% endblock %}
