{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    <h1>FormacionAcademica list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Certificado</th>
                <th>Inicio</th>
                <th>Termino</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('formacion_academica_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.certificado }}</td>
                <td>{% if entity.inicio %}{{ entity.inicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.termino %}{{ entity.termino|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('formacion_academica_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('formacion_academica_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('formacion_academica_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
