{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var $sport = $('#institucion');
        // When sport gets selected ...
        $sport.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            var data = {};
            data[$sport.attr('name')] = $sport.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $pro = $('#profesion');
                    $pro.next().remove();
                    $pro.replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('#profesion')

                    );
                    $('.selectpicker').selectpicker();
                    // Position field now displays the appropriate positions.
                }
            });
        });
    </script>
{% endblock %}

{% block content -%}
    <h1>FormacionAcademica creation</h1>

    {{ form_start(form) }}

    {{ form_label(form.institucion) }}
    {{ form_widget(form.institucion,{ 'id': 'institucion' }) }}
    {{ form_errors(form.institucion) }}

    {{ form_label(form.profesion) }}
    {{ form_widget(form.profesion,{ 'id': 'profesion' }) }}
    {{ form_errors(form.profesion) }}

    {{ form_end(form) }}

    {#{{ form(form) }}#}

        <ul class="record_actions">
    <li>
        <a href="{{ path('formacion_academica') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
