{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    <h1>FormacionAcademica</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Certificado</th>
                <td>{{ entity.certificado }}</td>
            </tr>
            <tr>
                <th>Inicio</th>
                <td>{{ entity.inicio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Termino</th>
                <td>{{ entity.termino|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('formacion_academica') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('formacion_academica_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
