{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  ><a href="{{ path('rh_agenda') }}" title="Ver programacion anual">Programa Anual</a></li>
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_RH')or is_granted('ROLE_CONTROL_DOC')) %}
                <li class="active"><a href="#"  title="Nuevo programa">Nuevo programa</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-6">

    {{ form(form) }}

        <br/>
        <br/>

        <a class="btn btn-primary btn-group" href="{{ path('rh_agenda') }}" title="Ver auditorías/vigilancias">
            <span class="glyphicon glyphicon-chevron-left"></span> Regresar
        </a>

    </div>
</div>
{% endblock %}
