{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li ><a href="{{ path('rh_agenda') }}" title="Ver programa anual">Programa Anual</a></li>
                <li class="active"><a href="#"  title="Programación anual">Calendario de Programación Anual</a></li>
            </ul>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    {% if is_granted('ROLE_RH') %}
        <ul class="pull-right">
            <a class="btn btn-info btn-xs" href="{{ path('rh_agenda_programpdf', { 'id': entity.id }) }}" title="Genera archivo PDF">
                <span class="glyphicon glyphicon-file"></span> Generar PDF
            </a>
        </ul>
    {% endif %}
    <br/>
    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <b>{{ entity.name }}<br/>
                PROYECTO: {{ entity.name }}  FECHA: {{ entity.created|date('Y-m-d') }}
            </b>
            <br/>
            <hr/>
            <table  class="table table-bordered">
                <thead>
                <tr class="active">
                    <th>No.</th>
                    <th>Nombre</th>
                    <th>Ene</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>Abr</th>
                    <th>May</th>
                    <th>Jun</th>
                    <th>Jul</th>
                    <th>Ago</th>
                    <th>Sep</th>
                    <th>Oct</th>
                    <th>Nov</th>
                    <th>Dic</th>
                    <th>Instructor</th>
                    <th>Evaluación</th>
                    <th>Disciplina</th>
                    <th>Modificar</th>
                </tr>
                </thead>
                <tbody>
                {% for event in entity.events %}
                    <tr>
                        <td>
                            {{ event.id }}
                        </td>

                        <td>
                            {{ event.name }}
                        </td>

                        {% for month in range(1,12) %}
                            {% if event.begin|date('m') == month %}
                                <td>
                                    {% if event.status.name=="PROGRAMADO" %}
                                        <img class="img-thumbnail" src="{{ asset('img/programado.png') }}" alt="Programado" title="Programado" width="35" height="35" />
                                    {% endif %}
                                    {% if event.status.name=="REALIZADO" %}
                                        <img class="img-thumbnail" src="{{ asset('img/realizado.png') }}" alt="Realizado" title="Realizado" width="35" height="35" />
                                    {% endif %}
                                </td>
                            {% else %}
                                <td> </td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ event.instructor }}</td>
                        <td>{{ event.evaluationCriteria }}</td>
                        <td>{{ event.discipline }}</td>
                        <td>
                                <a href="{{ path('rh_event_edit', { 'id': event.id }) }}" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
            <hr/>
            <b>REGISTRO DE REVISIONES</b>
            <br/>
            {{ entity.comments }}
            <hr/>
            <b>Elaboró:</b> {{ entity.createdBy }}
            <br/>
            <b>Vo.Bo.:</b> {% for apr in entity.approvalBy %} - {{ apr.apellidoPaterno }} {{ apr.apellidoMaterno }} {{ apr.nombre }} {% endfor %}
            <br/>
            <b>Revisó:</b> {{ entity.revisedBy }}
            <br/>
            <b>Aprobó:</b> {{ entity.approvedBy }}
            <br/>
        </div>
    </div>
{% endblock %}