{% block content -%}

    <title>{% block title %}Programa Anual de Capacitación{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('styles/bootstrap.css') }}" rel="stylesheet" />
        <style type="text/css">
            h1{
                text-align:center;
                width:100%;
                font-size:12px;
            }
            h2{
                text-align:left;
                width:100%;
                font-size:10px;
            }
            p{
                font-size:10px;
            }

            hr{
                border: 1px solid black;
                margin-top:0px;
                margin-bottom: 0px;
                margin-left: 0px;
                width:220px;
            }

            .font{
                font-size:10px;
            }

            table{
                font-size:9px;
                float: left;
                overflow:auto;
                border-collapse: collapse;
            }

            td{
                border: 1px solid black;
                font-weight:normal;
                padding-top: 0px;
            }
            th{
                border: 1px solid black;
                font-weight:bold;
                background-color: #d8d8d8;
                padding-top: 0px;
            }

        </style>
    {% endblock %}

    {# {{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/factura/css/all.css') }}" #}
    <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_5.png') }}"/>
    <h1>{{ entities.name }}<br/><br/>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FECHA: {{ entities.created|date('Y-m-d') }}
    </h1>
    <br/>
    <br/>
    <table  class="table table-bordered">
        <thead>
        <tr class="active">
            <th>No.</th>
            <th>Nombre</th>
            <th>Ene</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Abr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Ago</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dic</th>
            <th>Instructor</th>
            <th>Evaluación</th>
            <th>Disciplina</th>
        </tr>
        </thead>
        <tbody>
        {% for event in entities.events %}
            <tr>
                <td>
                    {{ event.id }}
                </td>

                <td>
                    {{ event.name }}
                </td>

                {% for month in range(1,12) %}
                    {% if event.begin|date('m') == month %}
                        <td>
                            {% if event.status.name=="PROGRAMADO" %}
                                <img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/programado.png') }}" alt="Programado" title="Programado" width="35" height="35" />
                            {% endif %}
                            {% if event.status.name=="REALIZADO" %}
                                <img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/realizado.png') }}" alt="Realizado" title="Realizado" width="35" height="35" />
                            {% endif %}
                        </td>
                    {% else %}
                        <td> </td>
                    {% endif %}
                {% endfor %}
                <td>{{ event.instructor }}</td>
                <td>{{ event.evaluationCriteria }}</td>
                <td>{{ event.discipline }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/><br/><br/>    <br/><br/><br/>
    <table >
        <thead>
        <tr><th colspan="2">
                SIMBOLOGÍA:
            </th>
         </tr>
        </thead>
        <tbody>
        <tr>
        <td> PROGRAMADO: <img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/programado.png') }}" alt="Programado" title="Programado" width="15" height="15" /> </td>
        <td> REALIZADO: <img class="img-thumbnail" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/realizado.png') }}" alt="Realizado" title="Realizado" width="15" height="15" /> </td>
        </tr>
        </tbody>
    </table>

    <br/><br/><br/>

    <h2>Elaboró
    <br/><br/><br/><hr/>{{ entities.createdBy }}
    <br/><br/><br/>Vo.Bo.{% for apr in entities.approvalBy %} <br/><br/><br/><hr/>{{ apr.apellidoPaterno }} {{ apr.apellidoMaterno }} {{ apr.nombre }} {% endfor %}
    <br/><br/><br/>Revisó<br/><br/><hr/>{{ entities.revisedBy }}
    <br/><br/><br/>Aprobó<br/><br/> <hr/>{{ entities.approvedBy }}
    </h2> <br/>

{% endblock %}