{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li ><a href="{{ path('rh_agenda') }}" title="Ver programacion anual">Programa Anual</a></li>
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_RH')) %}
                <li class="active"><a href="#"  title="Detalle programa">Detalle Programa</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-12">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Revision</th>
                <td>{{ entity.revision }}</td>
            </tr>
            <tr>
                <th>Título</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Inicia</th>
                <td>{{ entity.begin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Termina</th>
                <td>{{ entity.end|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Creado por:</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Registro de revisiones</th>
                <td>{{ entity.comments }}</td>
            </tr>
        </tbody>
    </table>
        <br/>
        <br/>
        <a class="btn btn-primary btn-group" href="{{ path('rh_agenda') }}" title="Ver auditorías/vigilancias">
            <span class="glyphicon glyphicon-chevron-left"></span> Regresar
        </a>
        <a class="btn btn-primary btn-group" href="{{ path('rh_agenda_edit', { 'id': entity.id }) }}" title="Editar programa">
            <span class="glyphicon glyphicon-edit"></span> Editar
        </a>

    </div>
</div>

{% endblock %}
