{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('contratacion') }}" title="Ver Contrato">Contratos</a></li>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_RH') %}
                <li  class="active"><a href="#" title="Editar Contrato">Editar Contrato</a></li>
            {% endif %}
        </ul>
    </div>
</div>
    <br/>
    <br/>
        <div class="row">
            <div class="col-xs-7">
                {{ form_start(edit_form) }}
                {{ form_label(edit_form.curricula) }}
                <div class="text-danger">{{ form_errors(edit_form.curricula) }} </div>
                {{ form_widget(edit_form.curricula) }}
            </div>
            <div class="col-xs-5">
                {{ form_label(edit_form.puesto) }}
                <div class="text-danger">{{ form_errors(edit_form.puesto) }} </div>
                {{ form_widget(edit_form.puesto) }}
            </div>
        </div>
    <br/>
        <div class="row">
            <div class="col-xs-2">
                {{ form_label(edit_form.inicio) }}
                <div class="text-danger">{{ form_errors(edit_form.inicio) }} </div>
                {{ form_widget(edit_form.inicio) }}
            </div>
            <div class="col-xs-2">
                {{ form_label(edit_form.vigencia) }}
                <div class="text-danger">{{ form_errors(edit_form.vigencia) }} </div>
                {{ form_widget(edit_form.vigencia) }}
            </div>
            <div class="col-xs-2">
                {{ form_label(edit_form.regimen) }}
                <div class="text-danger">{{ form_errors(edit_form.regimen) }} </div>
                {{ form_widget(edit_form.regimen) }}
            </div>
            <div class="col-xs-2">
                {{ form_label(edit_form.disciplina) }}
                <div class="text-danger">{{ form_errors(edit_form.disciplina) }} </div>
                {{ form_widget(edit_form.disciplina) }}
            </div>
            <div class="col-xs-2">
                {{ form_label(edit_form.categoria) }}
                <div class="text-danger">{{ form_errors(edit_form.categoria) }} </div>
                {{ form_widget(edit_form.categoria) }}
            </div>
            <div class="col-xs-2">
                {{ form_label(edit_form.estado) }}
                <div class="text-danger">{{ form_errors(edit_form.estado) }} </div>
                {{ form_widget(edit_form.estado) }}
            </div>
        </div>
        <br/><hr/>
        <div class="row">
                <div class="col-xs-2">
                    {{ form_label(edit_form.baja) }}
                    <div class="text-danger">{{ form_errors(edit_form.baja) }} </div>
                    {{ form_widget(edit_form.baja) }}
                </div>
                <div class="col-xs-10">
                    {{ form_label(edit_form.motivo) }}
                    <div class="text-danger">{{ form_errors(edit_form.motivo) }} </div>
                    {{ form_widget(edit_form.motivo) }}
                </div>
        </div>
    <br/>
        <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
        </div><hr/>

        <ul class="list-inline">
            <li>
                <a href="{{ path('contratacion') }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>
            </li>
        </ul>
</div>
</div>
{% endblock %}
