{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li  class="active"><a href="{{ path('contratacion') }}" title="Ver Contrato">Contratos</a></li>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_RH') %}
                <li><a href="{{ path('contratacion_new') }}" title="Nueva Contrato">Nuevo Contrato</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Puesto</th>
                <th>Inicio</th>
                <th>Vigencia</th>
                <th>Régimen</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.curricula.apellidoPaterno }} {{ entity.curricula.apellidoMaterno }} {{ entity.curricula.nombre  }}</td>
                <td>{{ entity.puesto }}</td>
                <td>{% if entity.inicio %}{{ entity.inicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.vigencia %}{{ entity.vigencia|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.regimen }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                    <ul class="list-inline">


                        <li>
                            <a href="{{ path('contratacion_show', { 'id': entity.id }) }}" title="Ver">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </li>
                        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_RH') %}
                            <li>
                                <a href="{{ path('contratacion_edit', { 'id': entity.id }) }}" title="Editar curricula">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </li>
                        {% endif %}
                        </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
    {% endblock %}
