{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('contratacion') }}" title="Ver Contrato">Contratos</a></li>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_RH') %}
            <li  class="active"><a href="{{ path('contratacion_new') }}" title="Nueva Contrato">Nuevo Contrato</a></li>
            {% endif %}
        </ul>
    </div>
</div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-7">
            {{ form_start(form) }}
            {{ form_label(form.curricula) }}
            <div class="text-danger">{{ form_errors(form.curricula) }} </div>
            {{ form_widget(form.curricula) }}
        </div>
        <div class="col-xs-5">
            {{ form_label(form.puesto) }}
            <div class="text-danger">{{ form_errors(form.puesto) }} </div>
            {{ form_widget(form.puesto) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(form.inicio) }}
            <div class="text-danger">{{ form_errors(form.inicio) }} </div>
            {{ form_widget(form.inicio) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.vigencia) }}
            <div class="text-danger">{{ form_errors(form.vigencia) }} </div>
            {{ form_widget(form.vigencia) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.regimen) }}
            <div class="text-danger">{{ form_errors(form.regimen) }} </div>
            {{ form_widget(form.regimen) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.disciplina) }}
            <div class="text-danger">{{ form_errors(form.disciplina) }} </div>
            {{ form_widget(form.disciplina) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.categoria) }}
            <div class="text-danger">{{ form_errors(form.categoria) }} </div>
            {{ form_widget(form.categoria) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.estado) }}
            <div class="text-danger">{{ form_errors(form.estado) }} </div>
            {{ form_widget(form.estado) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(form) }}
        </div>
    </div><hr/>
    <ul class="list-inline">
        <li>
            <a href="{{ path('contratacion') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-chevron-left"></span> Regresar
            </a>
        </li>
    </ul>
</div>
</div>
{% endblock %}
