{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('contratacion') }}" title="Ver Contrato">Contratos</a></li>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_RH') %}
                    <li  class="active"><a href="#" title="Detalle Contrato">Detalle</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Puesto</strong><br/>
            <strong>Inicio</strong><br/>
            <strong>Vigencia</strong><br/>
            <strong>Régimen</strong><br/>
            <strong>Baja</strong><br/>
            <strong>Motivo</strong>
        </div>
        <div class="col-xs-9">
            {{ entity.puesto }}-{{ entity.estado }}<br/>
            {{ entity.inicio|date('Y-m-d') }}<br/>
            {{ entity.vigencia|date('Y-m-d') }}<br/>
            {{ entity.regimen }}<br/>
            {{ entity.curricula }}<br/>
            {{ entity.baja|date('Y-m-d') }}<br/>
            {{ entity.motivo }}
        </div>
    </div><br/>
    <hr/>
<div class="row">
    <div class="col-sm-12">
    <ul class="list-inline">
        <li>
            <a href="{{ path('contratacion') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-chevron-left"></span> Regresar
            </a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
