{% extends 'form_table_layout.html.twig' %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="list-unstyled">
                {% for error in errors %}
                    <div class="alert alert-danger alert-dismissible small" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>{{ error.message }}</strong>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row -%}

    <td>
        {{- form_label(form) -}}
    </td>
    <td>
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </td>

{%- endblock form_row %}