{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div {% if div_column is not empty %} class="{{ div_column }}" {% endif %} >
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}