{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                Agenda de personal {% if contrato=='ULTRA' %} del personal administrativo {% else %}del {{ contrato }}{% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
                    <p class="text-muted text-justify">
                        <span class="glyphicon glyphicon-chevron-right small"></span>
                        Recuerda que las claves de las ubicaciones en las extensiones son: LV-Laguna Verde, DB-Dos Bocas, U-Ultra, P-Pemex y T-Tamsa.
                    </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if is_granted('ROLE_RH') or is_granted('ROLE_JEFE_PROY')  %}
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('agenda_pdf', { 'c':3697 }) }}" title="Exportar completo PDF">
                    <span class="glyphicon glyphicon-file"></span> Exportar completo a PDF
                </a>
            </ul>
            {% endif %}
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                <tr>
                    {% if is_granted('ROLE_RH') %}
                        <th>No. Control</th>
                    {% endif %}
                    <th>Ap. Paterno</th>
                    <th>Ap. Materno</th>
                    <th>Nombre</th>
                    {% if is_granted('ROLE_RH') or is_granted('ROLE_JEFE_PROY')  %}
                        <th>Teléfono(s)</th>
                        <th>Correos</th>
                        <th>Extensión</th>
                    {% else %}
                        <th>Correo</th>
                        <th>Extensión</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for cv in entities %}
                    {% if cv.nc!=0 %}
                    <tr>
                        {% if is_granted('ROLE_RH') %}
                        <td>{{ cv.nc }}</td>
                        {% endif %}
                        <td>{{ cv.app }}</td>
                        <td>{{ cv.apm }}</td>
                        <td>{{ cv.nom }}</td>
                        {% if is_granted('ROLE_RH') or is_granted('ROLE_JEFE_PROY')  %}
                            <td>{{ cv.tel }} , {{ cv.tel1 }} Cel.{{ cv.cel }}</td>
                            <td>{{ cv.mail }} , {{ cv.mailu }}</td>
                            <td>{{ cv.ext }}</td>
                        {% else %}
                            <td>{{ cv.mailu }}</td>
                            <td>{{ cv.ext }}</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}