{% block content -%}
    <title>{% block title %}Agenda{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('styles/bootstrap.css') }}" rel="stylesheet" />
        <style type="text/css">
            h1{
                text-align:center;
                width:100%;
                font-size:12px;
            }
            h2{
                text-align:left;
                width:100%;
                font-size:12px;
            }
            p{
                font-size:10px;
            }

            hr{
                border: 1.5px solid black;
                margin-top:0.5px;
                margin-bottom: 0.5px;
                width:700px;
            }

            .font{
                font-size:10px;
            }

            table{
                float: left;
                height: 80px;
                width: 705px;
                overflow:auto;
                font-size: 9px;
                border-left: 1px #000000;
                border-right: 1px #000000;
            }
            td{

                font-weight:normal;
                padding-top: 0px;
                font-size:9px;
            }

        </style>
    {% endblock %}
    <table>
        <tr>
            <td>
                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_5.png') }}" width="100" height="40">
            </td>
            <td colspan="4">

            </td>
        </tr>
    </table>
    <br/><br/><br/>
    <table>
    <thead><tr>
        <th>DOCUMENTOS COMPROBANTES PENDIENTES DE<br/>
            <bold> {{ cv.apellidoPaterno }} {{ cv.apellidoMaterno }} {{ cv.nombre }}-{{ cv.numerocontrol }}</bold><br/></th>
        </tr>
    <tr>
        <th>-En el puesto <bold>{% for perfil in perfiles %} {{ perfil.clave }} Rev.{{ perfil.revision }} {{ perfil.titulo }} {% endfor %}</th>
    </tr>
    </thead>
    </table>
    <table>
        <thead>
        <tr><th>
        <bold>&nbsp;{% for perfil in perfiles %}{% for disciplina in perfil.disciplinas %}{{ disciplina.titulo }}{% endfor %}{% endfor %}</bold>
        </th></tr>
        </thead>
    </table>
    <table  border="1">
                <thead>
                <th>Clave</th>
                <th>Título</th>
                <th>Rev./Vigencia</th>
                </thead>
                <tbody>
                <tr><th colspan="3">CAPACITACIÓN ESPECÍFICA (Procedimientos) </th></tr>
                {% for curso in cursos_internos %}
                    <tr>
                        <td>{{ curso.clave }}</td>
                        <td>{{ curso.titulo}}</td>
                        <td>{{ curso.revision }}</td>
                    </tr>
                {% endfor %}
                <tr><th colspan="3">CONOCIMIENTOS ESPECIALES (Cursos) </th></tr>
                {% for curso in cursos_externos %}
                    <tr>
                        <td></td>
                        <td>{{ curso.nombre}}</td>
                        <td>--</td>
                    </tr>
                {% endfor %}
                <tr><th colspan="3">COMPROBANTES NO VIGENTES </th></tr>
                {% for cursonv in cursos_externos_no_vigentes %}
                    <tr>
                        <td></td>
                        <td>{{ cursonv.cursoExterno.nombre}}</td>
                        <td>{{ cursonv.fechaVigencia|date('d-m-Y')}}</td>
                    </tr>
                {% endfor %}
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CONTROL_DOC') %}
                    {% for cursoinv in cursos_internos_no_vigentes %}
                        <tr>
                            <td>{{ cursoinv.cursoInterno.clave }}</td>
                            <td>{{ cursoinv.cursoInterno.titulo}}-Rev.{{ cursoinv.cursoInterno.revision }}</td>
                            <td>{{ cursoinv.fechaVigencia|date('d-m-Y')}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
    </table>
{% endblock %}