{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                Personal {{ b }} del contrato 3697-CFE
            </div>
            {% if b =='activo' %}
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('curr_personalactpdf', { 'c':3697 }) }}" title="Exportar completo PDF">
                    <span class="glyphicon glyphicon-file"></span> Exportar completo a PDF
                </a>
            </ul>
            {% else %}
                <ul class="pull-right">
                    <a class="btn btn-info btn-xs" href="{{ path('curr_personalinacpdf', { 'c':3697 }) }}" title="Exportar completo PDF">
                        <span class="glyphicon glyphicon-file"></span> Exportar completo a PDF
                    </a>
                </ul>
            {% endif %}
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>No. Control</th>
                    <th>Ap. Paterno</th>
                    <th>Ap. Materno</th>
                    <th>Nombre</th>
                    <th>Puesto</th>
                </tr>
                </thead>
                <tbody>
                <!--Verifico si el puesto ya esta dado de baja-->
                {% set cont=1 %}
                {% for cv in entities %}
                    {% if cv.numeroControl!=0 %}
                       <tr>
                            <td>{{  cont }}</td>
                            <td>{{ cv.numeroControl }}</td>
                            <td>{{ cv.apellidoPaterno }}</td>
                            <td>{{ cv.apellidoMaterno }}</td>
                            <td>{{ cv.nombre }}</td>
                            <td>{% for p in cv.curriculas %}{{ p.perfil.titulo }}
                                    -Del {{ p.fechaalta|date('d-m-Y') }} al {{ p.fechabaja|date('d-m-Y') }}<br/>{% endfor %}</td>
                        </tr>
                    {% set cont=cont+1 %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

