{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
            Personal en el contrato 3697-CFE
        </div>
        <ul class="pull-right">
            <a class="btn btn-info btn-xs" href="{{ path('personal_pdf', { 'c':3697 }) }}" title="Exportar completo PDF">
                <span class="glyphicon glyphicon-file"></span> Exportar completo a PDF
            </a>
        </ul>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
        <tr>
        <th>#</th>
        <th>No. Control</th>
        <th>Ap. Paterno</th>
        <th>Ap. Materno</th>
        <th>Nombre</th>
        </tr>
        </thead>
        <tbody>

    {% set cont=1 %}
    {% for cv in entities %}
        <tr>
        <td>{{  cont }}</td>
        <td>{% if cv.nc==0 %}
                    -
                {% else %}
                    {{ cv.nc }}
                {% endif %}</td>
        <td>{{ cv.app }}</td>
        <td>{{ cv.apm }}</td>
        <td>{{ cv.nom }}</td>
        </tr>
        {% set cont=cont+1 %}
    {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
