{% block content -%}
    <title>{% block title %}Personal{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('styles/bootstrap.css') }}" rel="stylesheet" />
        <style type="text/css">
            h1{
                text-align:center;
                width:100%;
                font-size:12px;
            }
            h2{
                text-align:left;
                width:100%;
                font-size:12px;
            }
            p{
                font-size:10px;
            }

            .font{
                font-size:10px;
            }

            table{
                float: left;
                height: 80px;
                width: 705px;
                overflow:auto;
                font-size: 9px;
                border-left: 1px #000000;
                border-right: 1px #000000;
            }
            td{

                font-weight:normal;
                padding-top: 0px;
                font-size:9px;
            }

        </style>
    {% endblock %}

    <table>
        <tr>
            <td>
                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_5.png') }}" width="100" height="40">
            </td>
            <td colspan="4">

            </td>
        </tr>
    </table>
    <br/><br/><br/>
    <table border="1">
        <tr>
            <td colspan="5"><b>Lista de empleados</b></td>
        </tr>
        <tr>
        <td><b>#<b/></td>
        <td><b>No. Control<b/></td>
        <td><b>Ap. Paterno<b/></td>
        <td><b>Ap. Materno<b/></td>
        <td><b>Nombre<b/></td>
        </tr>
        {% set cont=1 %}
        {% for cv in entities %}
            <tr>
                <td>{{  cont }}</td>
                <td>{% if cv.nc==0 %}
                        -
                    {% else %}
                        {{ cv.nc }}
                    {% endif %}</td>
                <td>{{ cv.app }}</td>
                <td>{{ cv.apm }}</td>
                <td>{{ cv.nom }}</td>

            </tr>
            {% set cont=cont+1 %}
        {% endfor %}
    </table>
{% endblock %}
