{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
            Personas en el perfil {{ perfil.clave }}-{{ perfil.titulo }} Rev. {{ perfil.revision }}
        </div>
    </div>
</div>
<div class="row">
     <div class="col-sm-12">
                <br/>
                <ul class="pull-right">
                    <a class="btn btn-info btn-xs" href="{{ path('curr_perporperpdf',{'p':perfil.id}) }}" title="Exportar completo a PDF">
                        <span class="glyphicon glyphicon-file"></span> Exportar a PDF
                    </a>
                </ul>
     </div>
</div>
<div class="row">
    <div class="col-sm-12">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
    <thead>
    <tr>
        <th>Num. Control</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
    </tr>
    </thead>
    <tbody>
    {% for p in personas %}
        {% if p.numeroControl!=0 %}
    <tr>
        <td>{{ p.numeroControl }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.apellidoPaterno }}</td>
        <td>{{ p.apellidoMaterno }}</td>
        {% endif %}
    {% endfor %}
    </tr>
    </tbody>
    </table>

    </div>
</div>
{% endblock %}