{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                Personal con
                {% if b==0 %}Curso POE {% endif %}
                {% if b==1 %}Curso PNOE {% endif %}
                {% if b==2 %}PNOE Evaluación de Equilibrio Emocional {% endif %}
                {% if b==3 %}PNOE Examen Médico {% endif %}
                {% if b==4 %}POE Examen Espirométrico {% endif %}
                {% if b==5 %}POE Evaluación Equilibrio Emocional {% endif %}
                {% if b==6 %}POE Examen Médico {% endif %}
                vencido o por vencer dentro de 2 meses en el contrato 3697-CFE
            </div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                        <thead>
                        <tr>
                            <th colspan="4">Datos generales</th>
                            <th colspan="3">Vigencia</th>
                        </tr>
                <tr>
                    <th>No. de Control</th>
                    <th>Nombre</th>
                    <th>Ap. Paterno</th>
                    <th>Ap. Materno</th>
                    <th>Día</th>
                    <th>Mes</th>
                    <th>Año</th>
                </tr>
                </thead>
                <tbody>
                {% for cv in entities %}
                    {% if cv.nco!=0 %}
                    <tr>
                        <td>{{ cv.nco }}</td>
                        <td>{{ cv.nom }}</td>
                        <td>{{ cv.apa }}</td>
                        <td>{{ cv.ama }}</td>
                        <!-- <td>{{ cv.ccve }}  {{ cv.des }}</td> -->
                        <td>{% if cv.fv|date('m')<= "now"|date("m") %}<span class="label label-danger">{{ cv.fv|date('d') }}</span>
                        {% else %}
                            {{ cv.fv|date('d')}}
                        {% endif %}
                        </td>
                        <td>{% if cv.fv|date('m')<= "now"|date("m") %}<span class="label label-danger">{{ cv.fv|date('m') }}</span>
                            {% else %}
                                {{ cv.fv|date('m')}}
                            {% endif %}
                        </td>
                        <td>{% if cv.fv|date('m')<= "now"|date("m") %}<span class="label label-danger">{{ cv.fv|date('Y') }}</span>
                            {% else %}
                                {{ cv.fv|date('Y')}}
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
