{% block content -%}
    <title>{% block title %}Puestos{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('styles/bootstrap.css') }}" rel="stylesheet" />
        <style type="text/css">
            h1{
                text-align:center;
                width:100%;
                font-size:12px;
            }
            h2{
                text-align:left;
                width:100%;
                font-size:12px;
            }
            p{
                font-size:10px;
            }

            hr{
                border: 1.5px solid black;
                margin-top:0.5px;
                margin-bottom: 0.5px;
                width:700px;
            }

            .font{
                font-size:10px;
            }

            table{
                float: left;
                height: 80px;
                width: 705px;
                overflow:auto;
                font-size: 9px;
                border-left: 1px #000000;
                border-right: 1px #000000;
            }
            td{

                font-weight:normal;
                padding-top: 0px;
                font-size:9px;
            }

        </style>
    {% endblock %}

    <table>
        <tr>
            <td>
                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/logo_5.png') }}" width="100" height="40">
            </td>
            <td colspan="4">

            </td>
        </tr>
    </table>
    <br/><br/><br/>
    <table border="1">
        <tr>
            <td colspan="7"><b>Puestos del personal en el proyecto 3697 - CFE</b></td>
        </tr>
        <tr>
            <th>#</th>
            <th>No. Control</th>
            <th>Nombre</th>
            <th>Disciplina</th>
            <th>No. Perfil</th>
            <th>Rev.</th>
        </tr>
        </thead>
        <tbody>
        {% set cont=1 %}
        {% for cv in entities %}
            {% if cv.nc!=0 %}
            <tr>
                <td>{{ cont }}</td>
                <td>{{ cv.nc }}</td>
                <td>{{ cv.app }} {{ cv.apm }} {{ cv.nom }}</td>
                <td>{{ cv.dis }}</td>
                <td>{{ cv.cve }} {{ cv.tit }}</td>
                <td>{{ cv.rev }}</td>
                {% set cont=cont+1 %}
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
