{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                Personal organizado por perfil del contrato 3697-CFE
            </div>
            <ul class="pull-left">
                <a class="btn btn-success btn-xs" href="{{ path('curr_pxdisciplina', { 'id':2 }) }}" title="Ver por disciplinas">
                    <span class="glyphicon glyphicon-th-large"></span> Disciplinas del contrato
                </a>
            </ul>
            <table class="display" cellspacing="0" width="100%" id="maestra">
                <thead>
                <tr>
                    <th>Puesto</th>
                    <th>No. Control</th>
                    <th>Ap. Paterno</th>
                    <th>Ap. Materno</th>
                    <th>Nombre</th>
                    <th>Disciplina</th>
                </tr>
                </thead>
                <tbody>
                {% for cv in entities %}
                    {% if cv.nc!=0 %}
                    <tr>
                        <td>{{ cv.cve }} - {{ cv.tit }} Rev. {{ cv.rev }}</td>
                        <td>{{ cv.nc }}</td>
                        <td>{{ cv.app }}</td>
                        <td>{{ cv.apm }}</td>
                        <td>{{ cv.nom }}</td>
                        <td>{{ cv.dis }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div>
    <div class="row">
        <div class="col-sm-12">
        <br/>
        <div class="alert alert-warning"><span class="glyphicon glyphicon-list-alt"></span>
            Buscar personas de perfil.
        </div>
            {{ form(eform) }}
     </div>
    </div>
{% endblock %}