{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                Puestos del personal del contrato 3697-CFE
            </div>
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('puestos_pdf', { 'c':3697 }) }}" title="Exportar completo PDF">
                    <span class="glyphicon glyphicon-file"></span> PDF Ordenado por perfil
                </a>
                <a class="btn btn-info btn-xs" href="{{ path('puestos__ordenados_pdf', { 'c':3697 }) }}" title="Exportar completo PDF">
                    <span class="glyphicon glyphicon-file"></span> PDF Ordenado por No. Control
                </a>
            </ul>
            <ul class="pull-left">
                <a class="btn btn-success btn-xs" href="{{ path('curr_pxdisciplina', { 'id':2 }) }}" title="Ver por disciplinas">
                    <span class="glyphicon glyphicon-th-large"></span> Disciplinas del contrato
                </a>
            </ul>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                <tr>
                    <th>No. Control</th>
                    <th>Ap. Paterno</th>
                    <th>Ap. Materno</th>
                    <th>Nombre</th>
                    <th>Disciplina</th>
                    <th>No. Perfil</th>
                    <th>Rev.</th>
                </tr>
                </thead>
                <tbody>

                {% set cont=1 %}
                {% for cv in entities %}
                    {% if cv.nc!=0 %}
                    <tr>
                        <td>{% if cv.nc==0 %}
                                -
                            {% else %}
                                {{ cv.nc }}
                            {% endif %}</td>
                        <td>{{ cv.app }}</td>
                        <td>{{ cv.apm }}</td>
                        <td>{{ cv.nom }}</td>
                        <td>{{ cv.dis }}</td>
                        <td>{{ cv.cve }}</td>
                        <td>{{ cv.rev }}</td>
                    </tr>
                    {% set cont=cont+1 %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

