{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info"><span class="glyphicon glyphicon-list-alt"></span>
                Disciplinas del contrato 3697-CFE
            </div>
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('pxdisciplina_pdf') }}" title="Exportar completo PDF">
                    <span class="glyphicon glyphicon-file"></span> Exportar completo a PDF
                </a>
            </ul>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
                <thead>
                <tr>
                    <th>Disciciplina</th>
                    <th>Área</th>
                </tr>
                </thead>
                <tbody>

                {% set cont=1 %}
                {% for entity in r %}
                        <tr>
                        <td>{{ entity.titulo }}</td>
                        <td>{{ entity.area }}</td>
                        </tr>
                    {% set cont=cont+1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}