{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){

            var $dis = $('#disciplina');

            $dis.on('change',function() {
                // ... retrieve the corresponding form.
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected sport value.
                var data = {};
                data[$dis.attr('name')] = $dis.val();
                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url : '{{ path('sot_new') }}',
                    type: $form.attr('method'),
                    data : data,
                    success: function(html) {
                        // Replace current position field ...
                        $pro = $('#sot');
                        $pro.next().remove();
                        $pro.replaceWith(
                                // ... with the returned one from the AJAX response.
                                $(html).find('#sot')

                        );
                        $('.selectpicker').selectpicker();
                    }
                });
            });

        });
    </script>
{% endblock %}

{% block content -%}
    <div class="row">
        <div class="col-sm-12">
            <br/>

            <div class="alert alert-info"><i class="fa fa-exchange"></i>
                Solicitud de préstamo de documentos.
            </div>

        </div>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-6">
            {{ form_label(form.disciplina) }}
            <div class="text-danger">{{ form_errors(form.disciplina) }} </div>
            {{ form_widget(form.disciplina,{'id': 'disciplina'}) }}
        </div>
        <div class="col-xs-6">
            {{ form_label(form.ot) }}
            <div class="text-danger">{{ form_errors(form.ot) }} </div>
            {{ form_widget(form.ot,{'id':'sot'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(form.nuHojas) }}
            <div class="text-danger">{{ form_errors(form.nuHojas) }} </div>
            {{ form_widget(form.nuHojas) }}
        </div>
        <div class="col-xs-10">
            {{ form_label(form.especificaciones) }}
            <div class="text-danger">{{ form_errors(form.especificaciones) }} </div>
            {{ form_widget(form.especificaciones) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.submit, { 'label': 'Guardar' }) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}