{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('disciplina') }}" title="Ver Disciplinas">Disciplinas</a></li>
                <li class="active"><a href="#" title="Editar Disciplina">Editar Disciplina</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Edición de la disciplina.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.titulo) }}
            <div class="text-danger">{{ form_errors(edit_form.titulo) }} </div>
            {{ form_widget(edit_form.titulo) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(edit_form.tituloCorto) }}
            <div class="text-danger">{{ form_errors(edit_form.tituloCorto) }}</div>
            {{ form_widget(edit_form.tituloCorto) }}
        </div>
        <div class="col-xs-6">
            {{ form_label(edit_form.area) }}
            <div class="text-danger">{{ form_errors(edit_form.area) }}</div>
            {{ form_widget(edit_form.area) }}
            <a class="btn btn-info btn-xs" href="{{ path('area_new') }}" title="Agregar área">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>

    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('disciplina') }}" title="Ver Disciplinas">
                        <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>

    </div>


{% endblock %}
