{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{{ path('disciplina') }}" title="Ver Disciplinas">Disciplinas</a></li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="{{ path('disciplina_new') }}" title="Nueva Disciplina">Nueva Disciplina</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
                <br/>
                <ul class="pull-right">
                    <a class="btn btn-info btn-xs" href="{{ path('disciplinas_pdf') }}" title="Exportar completo a PDF">
                        <span class="glyphicon glyphicon-file"></span> Disciplinas en PDF
                    </a>
                </ul>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
      <br/>
       <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
            <tr>
                <th>Contrato</th>
                <th>Id</th>
                <th>Área</th>
                <th>Título</th>
                <th>Título Corto</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>Contrato: {{ entity.contrato }}</td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.area }}</td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.tituloCorto }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('disciplina_show', { 'id': entity.id }) }}" title="Ver">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path('disciplina_edit', { 'id': entity.id }) }}" title="Edit">
                        <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </li>
                 {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
       <br/>
        <ul class="list-inline">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li>
                <a class="btn btn-success" href="{{ path('disciplina_new') }}" title="Nueva Disciplina">
                    <span class="glyphicon glyphicon-plus-sign"></span> Nueva Disciplina
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    </div>
    {% endblock %}
