{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('disciplina') }}" title="Ver Disciplinas">Disciplinas</a></li>
            <li class="active"><a href="{{ path('disciplina_new') }}" title="Nueva Disciplina">Nueva Disciplina</a></li>
        </ul>
        <br/>

        <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
            Ingresa aquí los datos de la nueva disciplina.
        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ form_start(form) }}
        {{ form_label(form.titulo) }}
        <div class="text-danger">{{ form_errors(form.titulo) }} </div>
        {{ form_widget(form.titulo) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        {{ form_label(form.tituloCorto) }}
        <div class="text-danger">{{ form_errors(form.tituloCorto) }}</div>
        {{ form_widget(form.tituloCorto) }}
    </div>
    <div class="col-xs-6">
        {{ form_label(form.area) }}
        <div class="text-danger">{{ form_errors(form.area) }}</div>
        {{ form_widget(form.area) }}
        <a class="btn btn-info btn-xs" href="{{ path('area_new') }}" title="Agregar área">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </div>

</div>
<br/>
<div class="row">
    <div class="col-xs-12">
        {{ form_row(form.submit, { 'label': 'Guardar' }) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
