{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('contrato') }}" title="Ver Contratos">Contratos</a></li>
                <li  class="active"><a href="#" title="Editar Contratos">Editar Contrato</a></li>
            </ul>
            <br/>

            <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
                Ingresa aquí los datos del nuevo contrato.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(edit_form) }}
            {{ form_label(edit_form.titulo) }}
            <div class="text-danger">{{ form_errors(edit_form.titulo) }} </div>
            {{ form_widget(edit_form.titulo) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            {{ form_label(edit_form.tituloCorto) }}
            <div class="text-danger">{{ form_errors(edit_form.tituloCorto) }}</div>
            {{ form_widget(edit_form.tituloCorto) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.numeroInterno) }}
            <div class="text-danger">{{ form_errors(edit_form.numeroInterno) }}</div>
            {{ form_widget(edit_form.numeroInterno) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(edit_form.numeroExterno) }}
            <div class="text-danger">{{ form_errors(edit_form.numeroExterno) }}</div>
            {{ form_widget(edit_form.numeroExterno) }}
        </div>
        <div class="col-xs-1">
            {{ form_label(edit_form.abierto) }}
            <div class="text-danger">{{ form_errors(edit_form.abierto) }}</div>
            {{ form_widget(edit_form.abierto) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(edit_form.etapa) }}
            <div class="text-danger">{{ form_errors(edit_form.etapa) }}</div>
            {{ form_widget(edit_form.etapa) }}
            <a class="btn btn-info btn-xs" href="{{ path('etapa_proyecto_new') }}" title="Agregar Etapa">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(edit_form.cliente) }}
            <div class="text-danger">{{ form_errors(edit_form.cliente) }}</div>
            {{ form_widget(edit_form.cliente) }}
            <a class="btn btn-info btn-xs" href="{{ path('cliente_new') }}" title="Agregar Cliente">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>

    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            {{ form_end(edit_form) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary" href="{{ path('contrato') }}" title="Ver Contratos">
                        <span class="glyphicon glyphicon-chevron-left"></span>Regresar
                    </a>
                </li>
                <li>{{ form(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
