{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
{% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li  class="active"><a href="{{ path('contrato') }}" title="Ver Contratos">Contratos</a></li>
                {% if is_granted('ROLE_ SUPER_ADMIN') %}
                <li><a href="{{ path('contrato_new') }}" title="Nuevo Contrato">Nuevo Contrato</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <ul class="pull-right">
                <a class="btn btn-info btn-xs" href="{{ path('contratos_pdf') }}" title="Exportar completo a PDF">
                    <span class="glyphicon glyphicon-file"></span> Contratos en PDF
                </a>
            </ul>
        </div>
    </div>
<div class="row">
    <div class="col-sm-12">
   <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="dtable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Título Corto</th>
                <th>No. Interno</th>
                <th>No. Externo</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
           {% if entity.numeroInterno!=3692 %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ entity.id }}</td>
                <td><small>{{ entity.titulo }}</small></td>
                <td>{{ entity.tituloCorto }}</td>
                <td>{{ entity.numeroInterno }}</td>
                <td><small>{{ entity.numeroExterno }}</small></td>
                <td  class="text-center">
                    {% if (entity.abierto==1) %}
                        Abierto
                    {% else %}
                        Cerrado
                    {% endif %}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('contrato_show', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-eye-open" title="Ver"></span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path('contrato_edit', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit" title="Editar"></span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br/>
       {% if is_granted('ROLE_SUPERADMIN') %}
        <ul class="list-inline">
        <li>
            <a class="btn btn-success" href="{{ path('contrato_new') }}" title="Nuevo contrato">
                <span class="glyphicon glyphicon-plus-sign"></span> Nuevo Contrato
            </a>
        </li>
    </ul>
       {% endif %}
   </div>
    {% endblock %}
