{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('contrato') }}" title="Ver Contratos">Contratos</a></li>
            <li  class="active"><a href="{{ path('contrato_new') }}" title="Nuevo Contrato">Nuevo Contrato</a></li>
        </ul>
        <br/>

        <div class="alert alert-info"><span class="glyphicon glyphicon-comment"></span>
            Ingresa aquí los datos del nuevo contrato.
        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ form_start(form) }}
        {{ form_label(form.titulo) }}
        <div class="text-danger">{{ form_errors(form.titulo) }} </div>
        {{ form_widget(form.titulo) }}
    </div>
</div>
    <div class="row">
        <div class="col-xs-4">
            {{ form_label(form.tituloCorto) }}
            <div class="text-danger">{{ form_errors(form.tituloCorto) }}</div>
            {{ form_widget(form.tituloCorto) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.numeroInterno) }}
            <div class="text-danger">{{ form_errors(form.numeroInterno) }}</div>
            {{ form_widget(form.numeroInterno) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.numeroExterno) }}
            <div class="text-danger">{{ form_errors(form.numeroExterno) }}</div>
            {{ form_widget(form.numeroExterno) }}
        </div>
        <div class="col-xs-1">
            {{ form_label(form.abierto) }}
            <div class="text-danger">{{ form_errors(form.abierto) }}</div>
            {{ form_widget(form.abierto) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.etapa) }}
            <div class="text-danger">{{ form_errors(form.etapa) }}</div>
            {{ form_widget(form.etapa) }}
            <a class="btn btn-info btn-xs" href="{{ path('etapa_proyecto_new') }}" title="Agregar Etapa">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(form.cliente) }}
            <div class="text-danger">{{ form_errors(form.cliente) }}</div>
            {{ form_widget(form.cliente) }}
            <a class="btn btn-info btn-xs" href="{{ path('cliente_new') }}" title="Agregar Cliente">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>

    </div>
<br/>
<div class="row">
    <div class="col-xs-12">
        {{ form_row(form.submit, { 'label': 'Guardar' }) }}

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
