{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    {% include 'ControlDocumentoBundle:Default:msg.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('contrato') }}" title="Ver Contratos">Contratos</a></li>
                <li  class="active"><a href="#" title="Detalle de Contrato">Mostrar Contrato</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"><br/>
            <p align="center">
                <img src="{{ asset('img/logo_ultra.png') }}" width="180" height="70">
            </p>
        </div>
        <div class="col-sm-9"><br/><br/>
            <h4>Detalle del contrato</h4>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-xs-2" style="background-color:#F2F2F2">
            <strong>Id</strong><br/>
            <strong>Título</strong>
        </div>
        <div class="col-xs-9">
            {{ entity.id }}<br/>
            {{ entity.titulo }}
        </div>
    </div>
    <div class="row">
    <div class="col-sm-1">

    </div>
    <div class="col-xs-2" style="background-color:#F2F2F2">
        <strong>Título Corto</strong><br/>
        <strong>No. Interno</strong><br/>
        <strong>No. Externo</strong><br/>
        <strong>Estado</strong>
    </div>
    <div class="col-xs-9">
        {{ entity.tituloCorto }}<br/>
        {{ entity.numeroInterno }} <br/>
        {{ entity.numeroExterno }} <br/>
        {% if (entity.abierto==1) %}
            Abierto
        {% else %}
            Cerrado
        {% endif %}
    </div>
    </div>

    <br/><hr/>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary btn-group" href="{{ path('contrato') }}" title="Ver Contratos">
                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                    </a>
                </li>
                {% if is_granted('ROLE_GERENCIA') %}

                {% else %}

                    <li>
                        <a class="btn btn-success btn-group" href="{{ path('contrato_edit', { 'id': entity.id }) }}" title="Editar Contrato">
                            <span class="glyphicon glyphicon-edit"></span>Editar
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
