{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#collection-detalle').form_project({addlink:'#add-detalle', column:'col-sm-2', trash:'Borrar'});
    </script>
{% endblock %}

{% block content -%}
    <h1>Editar Configuración</h1>

    {{ form_start(edit_form) }}

    <div class="row">
        <div class="col-sm-2">{{ form_row(edit_form.name) }}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">{{ form_row(edit_form.description) }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">{{ form_row(edit_form.section) }}</div>
    </div>
    {% form_theme edit_form 'RHBundle:Form:form_extra_field.html.twig' %}
    <div class="row" id="collection-detalle" data-prototype="{{ form_widget(edit_form.metaQuestions.vars.prototype)|e }}">
        <div class="col-sm-12">
            {% for question in edit_form.metaQuestions %}
                <div class="row">
                    {{ form_row(question.name) }}
                    {{ form_row(question.label) }}
                    {{ form_row(question.type) }}
                    {{ form_row(question.section) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-10">
            <a href="#" id="add-detalle" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign btn-xs"></span> Agregar</a>
        </div>
    </div>

    {{ form_end(edit_form) }}

        <ul class="list-inline">
    <li>
        <a class="btn btn-default" href="{{ path('configuracion') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
