{% extends 'ControlDocumentoBundle:Default:index.html.twig' %}

{% block content -%}
    <h1>Configuration creation</h1>

    {{ form(form) }}

        <ul class="list-inline">
    <li>
        <a href="{{ path('configuracion') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
